@charset "UTF-8";
body {
	background: #FAFAF4 url(../images/bg_head.png) no-repeat 10px top;
}
.container {
	background: url(../images/bg_head.png) no-repeat right top;
	width: 96%;
	min-width: 920px;
	margin: 0px 2% 0px 20px;
	padding-right: 10px;
}
#content {
	background: #F0F0F0 url(../images/bg_app_sidebar.png) repeat-x left top;
}
.header {
	background: url(../images/bg_header_tile.png) repeat-x left top;
}
.branding {
	margin-top: 6px;
}
.navigation {	
	float: left;
}
.contentMain {
	background: #FFF;
	float: right;
	min-width: 540px;
	width: 72%;
	padding-left: 2%;
	padding-right: 2%;
}
.footer {
	background: url(../images/bg_foot_tile.png) repeat-x left top;
}

.contentSide {
	width: 20%;
	padding: 20px 2%;
}
.section {
	border-bottom: 2px solid #FFF;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.contentSide h2 {
	font: normal normal 1em Verdana, Arial, Helvetica, sans-serif;
	color: #3977AC;
	padding-left: 20px;
	background: url(../images/img_bullet_blue.png) no-repeat left center;
}
.contentSide h3 {
	font-size: 11px;
	font-weight: normal;
	border: none;
	margin-bottom: 0px;
}

.contentSide ul {
	margin: 5px 0px 15px;
	padding: 0px;
}
.contentSide li {
	list-style-type: none;
	margin: 0px 0px 8px;
}
.contentSide li a:link, .contentSide li a:visited, .contentSide li {
	color: #666;
	font-size: 11px;
	line-height: 1em;
}

.contentSide ul.wizard, .contentSide ul.sideNav {
	margin-left: 20px;
}
.contentSide ul.wizard li {
	list-style-image: url(../images/img_circle.png);
	margin: 8px 0px;
}
.contentSide ul.wizard li.current {
	list-style-image: url(../images/img_circle_on.png);
}
.contentSide ul.wizard li.complete {
	list-style-image: url(../images/icn_check.png);
}

.contentSide ul.sideNav li {
	list-style-image: url(../images/img_arrow_right.png);
	margin: 8px 0px;
}

.chooseavatar {
	background: url(../images/favorite.png) no-repeat left center;
	display: block;
	padding: 2px;
	padding-left: 26px;
}

.contentSide input {
	margin: 0px;
}
.contentSide .textField {
	width: 10em;
	margin-right: 5px;
}

.textSize {
	float: right;
	margin-top: 26px;
}
.textSize ul, .textSize li {
	padding: 0px;
	margin: 0px;
	display: inline;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}
.textSize .larger {
	font-size: 1.7em;
}
.textSize a:link, .textSize a:visited {
	color: #333;
	text-decoration: none;
	padding: 0px 2px;
}
.textSize a:hover, .textSize a:active {
	color: #FFF;
	background: #333;
}

.instructions {
	border: solid 1px #D6E1EE;
	background: #F9FAFD;
	padding: 5px;
	margin: 10px 0px 10px;
}
.subjective {
	background-color: #CCFFCE;
	border: 1px solid #3BFF0D;
	padding: 5px;
	margin: 1em 0 .5em 0;
}

h1 {
	margin: 20px 0px 15px;
}
pre {
	font: normal normal 1em Verdana, Arial, Helvetica, sans-serif;	
	font-size: 1em;
	font-style: normal;
}
h2 {
	font-style: normal;
}
h3, th {
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	color: #333;
	border: none;
	border-bottom: #333 solid 1px;
	padding: 0px;
}
table {
	width: 100%;
	border-collapse: collapse;
	background: url(../images/bg_gradient_down.png) repeat-x left top;
	margin-bottom: 20px;
}
th {
	background: #FFF;
}
tr:hover td {
	background: #DFE8F3;
}
td {
	vertical-align: top;
	padding: 3px;
	border: none;
}
.indent {
	padding-left: 1em;
}
form {
	padding: 0px;
	margin: 0px;
}
form ul {
	padding: 0px;
	margin: 0px;
}
form li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
fieldset {
	border: none;
	margin-bottom: 20px;
	padding: 0px;
	background: url(../images/bg_gradient_down.png) repeat-x left top;
}
fieldset h3 {
	margin-top: 0px;
	background: transparent;
}

.contentMain form li {
	margin: 0px 0px 10px 24px;
}
.contentMain form li ul {
	background: transparent;
	margin-top: 5px;
	padding: 5px 10px 10px;
}
.contentMain form li li {
	margin-left: 20px;
	margin-bottom: 10px;
}
.contentMain .item {
	margin-top: 5px;
	margin-bottom: 15px;
}
.contentMain label input {
	margin-top: 5px;
	margin-left: 10px;
}
.contentMain li label {
	margin-bottom: 0px;
}
.contentMain li label input {
	margin-left: -20px;
	margin-right: 4px;
}
.contentMain th {
	padding-top: 1em;
}
.inline {
	margin-left: 30px;
}
.zip {
	background-color: rgb(255,255,160);
	color: black;
}
.formActions {
	border-top: solid 1px #C6C6C6;
	padding: 10px 0px 5px 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.buttonband{
	padding: 10px 0px;
}
.tutorial {
	background: url(../images/icn_help.png) no-repeat left center;
	display: block;
	padding: 2px;
	padding-left: 26px;
}
.blankform {
	background: url(../images/icn_pdf.png) no-repeat left center;
	display: block;
	padding: 2px;
	padding-left: 26px;
}

.pageNav {
	height: 26px;
	border-bottom: solid 2px #666;
	padding: 0px;
	margin: 0px;
}
.pageNav li {
	list-style-type: none;
	float: left;
	padding-left: 8px;
	margin-right: 5px;
	background: url(../images/img_tab_left_off.png) no-repeat left top;
	height: 26px;
}
.pageNav li a:link, .pageNav li a:visited, .pageNav li a:hover, .pageNav li a:active {
	color: #666;
	text-decoration: none;
	display: block;
	padding: 6px 8px 6px 0px;
	background: url(../images/img_tab_right_off.png) no-repeat right top;
}
.pageNav li a:hover {
	color: #000;
}
.pageNav li.selected {
	background: #FFF url(../images/img_tab_left_on.png) no-repeat left top;
	height: 28px;
}
.pageNav li.selected a:link, .pageNav li.selected a:visited, .pageNav li.selected a:hover, .pageNav li.selected a:active {
	color: #000;
	background: url(../images/img_tab_right_on.png) no-repeat right top;
}

.utilNav a:link, .utilNav a:visited, .utilNav a:hover, .utilNav a:active {
	background: url(../images/img_arrow_back.png) no-repeat left center;
	padding-left: 15px;
	color: #3977AC;
}

.trial {
	padding: 0px 10px 20px;
	margin-bottom: 20px;
	background: url(../images/bg_gradient_up.png) repeat-x left bottom;
}
.trial h2 {
	margin: 0px;
}
.description {
	font-style: italic;
}
.information {
	width: 68%;
	float: left;
}
.information p {
	margin: 0px 0px 1em;
}
.information h3 {
	border: none;
	margin: 0px;
}
.information ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px;
}
.information u {
	text-decoration: none;
	font-weight: bold;
}
.summary {
	width: 26%;
	padding: 2%;
	margin-top: 2em;
	float: right;
	background: #FFF;
	border: solid 1px #CCC;
}
.summary ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.summary li {
	padding-top: 2px;
	padding-left: 24px;
	margin-bottom: 6px;
}
.summary img {
	position: absolute;
	margin-top: -2px;
	margin-left: -24px;
}
.trial .actions {
	float: none;
	clear: both;
}
.study {
	font-weight: bold;
	padding-top: 2em;
}
.off {
	background: none;
}
.off h2 {
	color: #999;
}
.off .information {
	color: #999;
	width: 100%;
}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft {
	background-color: #F6F6E2;
}
.learnmore {
	color: #3977AC;
	text-decoration: underline;
	cursor: pointer;
}
.hintpc {
	background: url(../images/bg_hint.png) repeat-x left top;
	border: 1px solid #348017;
	padding: 5px;	
	margin: 1em 0 .5em 0;	
}
.hint {
	background: url(../images/bg_hint.png) repeat-x left top;
	border: 1px solid #c0ffc0;
	margin: .5em;
}
.hint p {
	line-height: 1.2em;
	padding: 0.5em;
	margin: 0px;
}
.savelabel {
	width: 16em;
	display: block;
	float: left;
}
.actions li {
	margin-bottom: .5em; 
}
.sitelink {
	display: block;
	margin-top: 0.5em;
}
.avatarcreatetd {
	border:1px;
	solid #000;
	padding:0.5em;
}
.avatarcreateth {
	border:1px;
	solid #000;
	padding:0em;
	font-weight:bold;
	padding:0em;
	text-align:left;
}
.avatarDiv {
	border-top: solid 1px #C6C6C6;
	padding: 5px 0px 5px 0px;
	margin-top: 0.0em;
	margin-bottom: 5px;
}
