@charset "UTF-8";
/* CSS Document */

.contentSide h2 {
	margin-left: 22px;
	padding-left: 0px;
}
.contentSide li {
	list-style-image: none;
}
.contentSide form li {
	margin-bottom: 0px;
}
.textSize {
	margin-top: 5px;
}

.pageNav li {
	margin-bottom: -4px;
}
.pageNav li.selected {
	position: relative;
}

.summary li {
	list-style-type: none;
}