/*
/// <summary>  
///  Contains global Styles for the BCT site.
/// </summary>
/// <history>
///  <change author="Konrad Kyc" copyright="2011 © Vantagesoft.ca" date="2011-10-03">Creation</change>
/// </history>
*/

html { overflow-y: scroll; }
html { overflow: -moz-scrollbars-both; }

html, body 
{
    height: 100%;     
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    font-family: Arial;
    color: #666666;
}

img
{
	border: 0px;	
}

a, a:link, a:visted
{
    text-decoration: none;
}

h1
{
    font-family: Georgia;
    font-size: 46px;
    color: #ffff00;   
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 em
{
    color: #ffffff;
    font-size: 30px;
    font-style: italic;    
}

ul, ol
{
    margin: 5px 0px 0px 0px;    
    padding: 0px 0px 0px 20px;
}

li
{
    margin: 0px;
    padding: 0px 0px 5px 0px;
}

.EmphasizedLink
{
    margin-top: 5px;    
}

.EmphasizedLink a, .EmphasizedLink a:link, .EmphasizedLink a:visited
{
    font-weight: bold;
    text-decoration: none;
    color: #58bad4;
}

.EmphasizedLink a:hover
{
    color: #38899e;
    text-decoration: none;
}

.IconLink
{
    margin: 2px 0px 2px 0px;
}

.IconLink span
{
    display: block;    
}

.IconLink a, .IconLink a:link, .IconLink a:visited
{
    font-weight: normal;
    text-decoration: none;
    color: #818181;
}

.IconLink a:hover
{
    color: #38899e;
}

.IconLinkIcon
{
    float: left;
    width: 20px;
}

.IconLinkIconText
{
    float: left;    
}

.LearnMoreLink
{
    display: block;
    background-image: url(../images/Global-LearnMore.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 25px;
    margin: 8px 0px 0px 0px;
}

.LearnMoreLink span
{
    display: none;    
}

.SiteFrame
{
    background-image: url(../images/Global-BG.gif);
    background-repeat: repeat-y;
    width: 950px;
    margin: 0px auto;
    padding: 0px 28px 0px 30px;
}

.SiteFrameBottom
{
    background-image: url(../images/Global-BGBottom.gif);
    background-repeat: no-repeat;
    margin: 0px auto;
    width: 1008px;
    height: 8px;
}

.SiteHeader
{
    background-color: #85c919;
}

.LogoContainer
{
    float: left;
    width: 324px;
}

.MenuContainer
{
    width: 626px;
    height: 107px;
    float: left;
}

.HeadMenuContainer
{
    float: right;
    height: 59px;
    padding-right: 5px;
}

.MainMenuContainer
{
    height: 48px;    
}


.Separator
{
    background-image: url(../images/Global-DashedBG.gif);
    background-repeat: repeat-x;
    background-position: left center;
    background-color: #ffffff;
    height: 23px;
    padding: 8px 20px 0px 20px;
    font-family: Arial;
    font-size: 11px;
    color: #a8a8a8;
}

.Separator a, .Separator a:link, .Separator a:visited
{
    font-size: 11px;
    color: #a8a8a8;
    text-decoration: none;    
}

.Separator a:hover
{
    text-decoration: underline;    
}

.SeparatorSmall
{
    background-image: url(../images/Global-DashedSmallBG.gif);
    background-repeat: repeat-x;
    height: 9px;
    margin: 5px 0px 5px 0px;
    font-family: Arial;
    font-size: 1px;
}

.SeparatorDashed
{
    background-image: url(../images/Global-DashedSeparator.gif);
    background-repeat: repeat-x;
    background-position: left center;
    height: 40px;
    margin: 0px 18px 0px 18px;
}

.SeparatorDashed-Short
{
    height: 10px;
    margin: 0px;
}

.SeparatorDashed-Medium
{
    height: 20px;
    margin: 0px;
}

.SeparatorSolid-Medium
{
    height: 15px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #e3e1bb;
}

.SeparatorBlank
{
    height: 10px;    
}

.ContentContainer {}

.ContentColumnLeft
{
    float: left;
    width: 230px;
    padding: 0px;
    font-family: Arial;
    font-size: 12px;
}

.ContentColumnRight
{
    float: left;
    width: 710px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}

.ContentPageHeader
{
    background-image: url(../images/PageHeader-BG.jpg);
    background-repeat: no-repeat;
    width: 710px;
    height: 103px;
    margin: 0px 0px 10px 0px;
    padding: 50px 0px 0px 0px;
}

.ContentPageHeader-Alternate1
{
    background-image: url(../images/PageHeader-BG2.jpg);
}

.ContentPageHeader-Alternate2
{
    background-image: url(../images/PageHeader-BG3.jpg);
}

.ContentPageHeader-Alternate3
{
    background-image: url(../images/PageHeader-BG4.jpg);
}

.ContentPageHeader-Alternate4
{
    background-image: url(../images/PageHeader-BG5.jpg);
}

.ContentFramedBox
{
    border: 1px solid #e3e1bb;    
    padding: 25px 18px 25px 18px;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    color: #818181;
}

.ContentFramedBox h2, .ContentHeaderTextInfoBox h2
{
    font-family: Georgia;
    font-size: 18px;
    font-weight: normal;
    color: #508045;
    padding: 0px;
    margin: 0px;
}

.ContentFramedBox h2
{
    margin: 0px 0px 3px 0px;
}

.ContentFramedBox h3, .ContentHeaderTextInfoBox h3
{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 15px 0px 0px 0px;
}

.ContentFramedBox p
{
    margin: 5px 0px 15px 0px;    
}


.ContentFramedBox a, .ContentFramedBox a:link, .ContentFramedBox a:visited
{
    color: #818181;
    text-decoration: underline;    
}

.ContentFramedBox a:hover
{
    color: #545454;    
}

.ContentFramedBox span.EmphasizedLink a, .ContentFramedBox span.EmphasizedLink a:link, .ContentFramedBox span.EmphasizedLink a:visited
{
    color: #58bad4;
    text-decoration: none;
}

.ContentFramedBox span.EmphasizedLink a:hover
{
    color: #38899e;
    text-decoration: none;    
}

.ContentHeaderTextInfoBox li
{
    padding: 0px;    
}

.ContentFramedBoxColumn1
{
    float: left;
    width: 440px;
    margin-right: 25px;
}

.ContentFramedBoxColumn2
{
    float: left;
    width: 200px;
}

.ContentFramedBoxHalfColumn1
{
    float: left;
    width: 325px;
    margin: 0px 25px 0px 0px;
}

.ContentFramedBoxHalfColumn2
{
    float: left;
    width: 320px;
    margin: 0px 0px 0px 0px;
}

.ContentHeaderTextInfoBoxHeaderLeft, .ContentFramedBoxHeaderLeft
{
    float: left;    
}

.ContentHeaderTextInfoBoxHeaderLinkRight
{
    float: right;    
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}

.ContentFramedBoxHeaderRight
{
    float: right;
    width: 140px;
}

.ContentHeaderTextInfoBoxHeaderLinkRight a, .ContentHeaderTextInfoBoxHeaderLinkRight a:link, .ContentHeaderTextInfoBoxHeaderLinkRight a:visited
{
    display: block;
    color: #58bad4;
    background-image: url(../images/Global-BackButtonBG.gif);
    background-position: right 0px;
    background-repeat: no-repeat;
    padding-right: 25px;
    text-decoration: none;
}

.ContentHeaderTextInfoBoxHeaderLinkRight a:hover
{
    color: #38899e;
    background-position: right -30px;
    text-decoration: none;
}

.ContentHeaderText
{
    font-family: Georgia;
    font-size: 22px;
    line-height: 27px;
    color: #818181    
}

.ContentHeaderTextInfoBox
{
    background-color: #eeedcc;    
    padding: 25px 18px 25px 18px;
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #818181;    
}

.ThreeColumnContainer
{
    margin: 20px 0px 0px 0px;    
}

.ContentOneThirdColumn
{
    float: left;
    width: 223px;
}

.ContentOneThirdColumnWithBorders
{
    border-left: 1px solid #f2f2f2; 
    border-right: 1px solid #f2f2f2;
}

.BlueText
{
    color: #58bad4;
}

.StrongBlueText
{
    color: #58bad4;
    font-weight: bold;    
}

.StrongBlueText a
{
    margin: 6px 0px 0px 0px;
    display: block;
}

.ExpandableItemMargin
{
    margin-top: 10px;    
}

.ExpandableItemHeader
{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #58bad4;
    cursor: pointer;
    background-image: url(../images/Global-IconCollapsed.gif);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding: 0px 0px 0px 20px;
}

.ExpandableItemHeader-Expanded
{
    background-image: url(../images/Global-IconExpanded.gif);    
}

.ExpandableItemHeader:hover
{
    color: #38899e;
}

.ExpandableItemTextContainer
{
    padding: 0px 0px 0px 20px;
}

.ExpandableItemText
{
    display: none;
    margin-top: 10px;
}

.ExpandableItemTextContainer div.ExpandableItemText
{
    margin-top: 0px;
}

.EmphasizedBlueLargeLink
{
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #58bad4;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

a.EmphasizedBlueLargeLink, a.EmphasizedBlueLargeLink:link, a.EmphasizedBlueLargeLink:visited
{
    text-decoration: none;
    color: #58bad4;
}

a.EmphasizedBlueLargeLink:hover
{
    color: #38899e;
}

.Footer
{
    border-top: 2px solid #e3e1bb;
    padding: 30px 0px 15px 0px;
    color: #b3b3b3;
    font-family: Arial;
    font-size: 11px;
    line-height: 15px;
}

.Footer h3
{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 17px 0px;
    padding: 0px;
}

.Footer a, .Footer a:link, .Footer a:visited
{
    color: #b3b3b3;
    text-decoration: none;  
}

.Footer a:hover
{
    text-decoration: underline;    
}

.FooterConnect
{
    float: left;
    width: 212px;
    padding-left: 26px;
}

.FooterSocial
{
    margin: 10px 0px 0px 0px;
}

.FooterSocial div
{
    float: left;
    margin-right: 7px;        
}

.FooterSocialText
{
    padding: 5px 5px 0px 0px;
}

.FooterSiteMap
{
    float: left;
    width: 460px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-left: 25px;
}

.FooterSiteMapColumn
{
    float: left;
    width: 152px;    
}

.FooterSiteMapMenuItem
{
    font-weight: bold;
}

.FooterSiteMapSubMenuItem
{
    padding-left: 5px;
}

.FooterSiteMapSubMenuLastItem
{
    margin-bottom: 7px;   
}

.FooterCopyright
{
    float: left;
    width: 200px;
    padding: 36px 0px 0px 25px;
}

.FooterDesignCredit
{
    margin-top: 60px;    
}

.ButtonBlue
{
    background-image: url(../images/Global-ButtonCornerBG.gif);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #58bad4;
    height: 30px;
    margin-bottom: 2px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
}

.ButtonBlue:hover
{
    background-image: url(../images/Global-ButtonCornerBG-Over.gif);
}

.ButtonBlue a, .ButtonBlue a:link, .ButtonBlue a:visited
{
    color: #ffffff;
    text-decoration: none;
}

.ButtonBlue a:hover
{
    color: #99f1fe;
    text-decoration: none;
}

.ButtonBlue span
{
    display: block;
    height: 12px;
    padding: 8px 10px 10px 10px;
}

.ButtonBlueLarge
{
    background-image: url(../images/Global-BlueButtonBG.png);
    background-repeat: no-repeat;
    background-position: 0px -73px;
    width: 153px;
    height: 67px;
    cursor: pointer;
    font-family: Verdana;
    font-size: 14px;
    line-height: 20px;
}

.ButtonBlueLarge:hover
{
    background-position: 0px 0px;
}

.ButtonBlueLarge a, .ButtonBlueLarge a:link, .ButtonBlueLarge a:visited
{
    color: #ffffff;
    text-decoration: none;
}

.ButtonBlueLarge a:hover
{
    color: #99f1fe;
    text-decoration: none;
}

.ButtonBlueLarge span
{
    display: block;
    width: 136px;
    height: 27px;
    padding: 23px 10px 10px 8px;
    text-align: center;
}

.ButtonBlueLargeRightFloat
{
    float: right;
    width: 153px;
}


.ButtonAdd
{
    height: 22px;
    font-family: Arial;
    font-size: 12px;
    cursor: pointer;
    background-image: url(../images/Global-AddButtonBG.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 0px 0px 0px 30px;
    margin: 5px 10px 5px 3px;
}

.ButtonAdd:hover
{
    background-position: 0px -28px;    
}


.HomeContentColumnLeft
{
    float: left;
    width: 290px;
    height: 410px;
    background-color: #cfebf5;  
    padding: 10px;
    font-family: Arial;
    font-size: 12px;
}

.HomeContentColumnRight
{
    float: left;
    width: 630px;
    height: 430px;
    margin-left: 10px;  
    background-color: #71c6cf;
    position: relative;
    overflow: hidden;
}

.HomeContentColumnLeft h1
{
    font-family: Georgia;
    font-size: 24px;
    color: #666666;
    font-weight: normal;
    margin: 20px 0px 5px 0px;
    text-align: left;
}

.HomeContentColumnLeft h2
{
    font-family: Georgia;
    font-size: 18px;
    color: #666666;
    font-weight: normal;
    margin: 25px 0px 0px 0px;
    padding: 15px 8px 0px 8px;
    border-top: 1px solid #ffffff;
}

.HomeContentColumnLeftText
{
    padding: 0px 8px 0px 8px;
    font-size: 14px;
}

.HomeContentColumnLeftTextSmall
{
    padding: 0px 8px 0px 8px;
    font-size: 11px;
}

.HomeContentColumnLeftLinks
{
    margin-top: 17px;    
}

.HomeContentColumnLeftCol1
{
    float: left;
    width: 139px;
    margin: 20px 10px 0px 0px;    
}

.HomeContentColumnLeftCol2
{
    float: left;
    width: 139px;
    margin: 20px 0px 0px 0px;
}

.HomeColumnSmallContainer
{
    float: left;
    width: 310px;    
}

.HomeColumnSmallMargin
{
    margin-right: 10px;    
}

.HomeColumnSmall
{
    height: 162px;
    padding: 25px 20px 25px 20px;
    background-color: #f6f5df; 
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;  
}

.HomeColumnSmall h1
{
    font-family: Georgia;
    font-size: 24px;
    font-weight: normal;
    color: #5f8d18; 
    margin: 0px 0px 10px 0px;
    padding: 0px;  
    text-align: left;
}

.HomeColumnSmallParagraph
{
    margin: 0px 0px 10px 0px;    
}

.HomeColumnSmallLeft
{
    float: left;
    width: 140px;
    margin-right: 5px;   
}

.HomeColumnSmallRight
{
    float: left;
    width: 125px;    
}

.HomeBlueButton
{
    position: relative;    
}

.HomeBlueOverlay
{
    position: absolute;
    left: -18px;
    top: -6px;
    display: none;
    z-index: 100;
    -moz-box-shadow: 0 0 3px 3px #BBB;
    -webkit-box-shadow: 0 0 3px 3px #BBB;
    box-shadow: 0 0 3px 3px #BBB;
}

.HomeBlueOverlayHeader
{
    background-image: url(../images/Home/Overlay-BGTop.gif);
    background-repeat: no-repeat;
    width: 325px;
    height: 35px;
    color: #fffb89;
    font-weight: bold;
    position: relative;
}

.HomeBlueOverlayHeader span
{
    display: block;
    border-bottom: 1px solid #afe4ef;
    padding: 14px 20px 5px 20px;
    margin: 0px 8px 0px 8px;
}

.HomeBlueOverlayBody
{
    background-image: url(../images/Home/Overlay-BG.gif);
    background-repeat: repeat-y;
    width: 269px;
    color: #1d7890;
    padding: 12px 28px 12px 28px;
}

.HomeBlueOverlayBody a:link, a:visited
{
    color: #1d7890;
    font-weight: bold;
    text-decoration: underline;
}

.HomeBlueOverlayFooter
{
    background-image: url(../images/Home/Overlay-BGBottom.gif);
    background-repeat: no-repeat;
    width: 325px;
    height: 33px;   
}

.HomeBlueOverlayClose
{
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(../images/Home/Overlay-CloseBG.gif);
    background-position: 0px 0px;
    width: 19px;
    height: 19px;
    cursor: pointer;  
}

.HomeBlueOverlayClose:hover
{
    background-position: 0px -26px;
}

.HomeBlueOverlayMoreLink
{
    padding: 0px 0px 0px 28px;    
}

.HomeBlueOverlayMoreLink a, .HomeBlueOverlayMoreLink a:link, .HomeBlueOverlayMoreLink a:visited
{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.HomeBlueOverlayMoreLink a:hover
{
    color: #99f1fe;
    text-decoration: none;
}

.POVSlide
{
    position: relative;    
}

.POVSlideText
{
    position: absolute;
    width: 300px;
    color: #12596c;
    font-family: Arial;
    font-size: 17px;    
    line-height: 23px;
}

.POVImageNavigationContainer
{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 630px;
}

.POVImageNavigation
{
    margin: 0px auto;
    width: 150px;
}

.POVImageNavigationItem
{
    background-image: url(../images/Home/POV-Indicator.gif); 
    float: left;
    margin-right: 6px;        
    cursor: pointer;
    width: 30px;
    height: 18px;
}

.POVImageNavigationItem-Selected, .POVImageNavigationItem:hover
{
    background-image: url(../images/Home/POV-IndicatorSelected.gif);     
}


.LeftYellowBoxHeader
{
    background-image: url(../images/Global-LeftYellowBoxHeaderBG.gif);
    background-repeat: no-repeat;
    width: 190px;
    min-height: 18px;
    font-family: Georgia;
    font-size: 18px;
    color: #818181;
    padding: 25px 20px 17px 20px;
}

.LeftYellowBox
{
    background-image: url(../images/Global-LeftYellowBoxBG.gif);
    background-repeat: repeat-y;
    width: 230px;    
}

.LeftYellowBoxFooter
{
    background-image: url(../images/Global-LeftYellowBoxFooterBG.gif);
    background-repeat: no-repeat;
    width: 230px;  
    height: 34px;  
}

.LeftYellowBoxText
{
    padding: 0px 18px 1px 18px;
    color: #818181;
}

.LeftYellowBoxText h2
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #818181;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.LeftYellowBoxText h3
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #818181;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.ImageTextComboColumnImage
{
    float: left;
    width: 70px;    
}

.ImageTextComboColumnText
{
    float: left;
    width: 142px;
    margin: 0px;
    color: #818181;
    font-family: Arial;
    font-size: 12px;
    line-height: normal;
}

.ImageTextComboColumnText h3
{
    font-weight: bold; 
    font-family: Arial;
    font-size: 12px;
    margin: 0px 0px 3px 0px;   
}

.LargeContentText
{
    font-family: Georgia;
    font-size: 24px;
    line-height: 28px;
    color: #689a1b;
}

.MatchToTrialItem
{
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #f2f2f2;    
}

.MatchToTrialDescription
{
    float: left;
    width: 510px;
}

.MatchToTrialDescription h3
{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.MatchToTrialDescription span.EmphasizedLink
{
    margin: 0px;   
}

.AdditionalResourceItem div.IconLink
{
    margin-top: 10px;
}

.TrialStudyType
{
    padding: 0px 0px 20px 0px;
    border-bottom: 2px solid #f2f2f2;        
}

.TrialListItem
{
    padding: 0px 0px 0px 20px;
    font-size: 12px;
}

.TrialListItemTitle
{
    font-weight: bold;    
}

.BCTMatchingToolTypeColumn
{
    float: left;
    width: 330px;    
}

.BCTMatchingToolTypeColumn1
{
    margin-right: 10px;    
}

.BCTMatchingToolTypeColumn2
{
    margin-right: 0px;
}

.BCTMatchingToolTypeColumn h3
{
    height: 26px;
    background-color: #eeedcc;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #818181;
    padding: 7px 0px 0px 15px;
    margin-bottom: 10px;
}

.BCTMatchingToolTypeColumn1 h3
{
    background-image: url(../images/FindATrial/FlowerColumnBG-01.gif);
    background-repeat: no-repeat;
}

.BCTMatchingToolTypeColumn2 h3
{
    background-image: url(../images/FindATrial/FlowerColumnBG-02.gif);
    background-repeat: no-repeat;
}

.MatchingToolListItem
{
    padding: 0px 0px 0px 15px;
    font-size: 14px;
}

.MatchingToolListItem a, .MatchingToolListItem a:link, .MatchingToolListItem a:visited, .MatchingToolListItem a:hover
{
    text-decoration: none;
}

.InputTextBox
{
    height: 17px;
    background-color: #f2f2e9;
    color: #aeab75;
    border: 1px solid #e3e1bb;
    font-size: 12px;
    padding: 0px 5px 3px 5px;
    margin-left: 3px;
}

.SlideShowSlide div.InputTextBoxColumn1 input.InputTextBox, .SlideShowSlide div.InputTextBoxColumn2 input.InputTextBox
{
    width: 175px;
}

.InputTextBoxZipCode
{
    width: 60px;
}

.LeftYellowBox input.InputTextYourEmailAddress
{
    width: 175px;
    margin: 5px 0px 5px 0px;
}

.InputTextArea
{
    background-color: #f2f2e9;
    color: #aeab75;
    border: 1px solid #e3e1bb;
    font-size: 12px;
    padding: 10px;
    margin-left: 3px;
}

.InputTextAreaSpreadTheWordMessage
{
    width: 290px;
    height: 120px;
    margin-bottom: 10px;
}

.InputTextAreaMessage
{
    width: 370px;
    height: 120px;
    margin-bottom: 10px;
}


.InputTextSubject
{
    width: 375px;   
}

.ContentFramedBoxHalfColumn2 input
{
    width: 137px;
}

.InputTextBoxColumn1
{
    float: left;
    width: 152px;
    margin: 0px 10px 3px 0px;    
}

.InputTextBoxColumn2
{
    float: left;
    width: 152px;
    margin: 0px 0px 3px 0px;
}

.SlideShowSlide div.InputTextBoxColumn1, .SlideShowSlide div.InputTextBoxColumn2
{
    width: 190px;
}

.LogisticsHeader
{
    border-bottom: 1px solid #e3e1bb;
}

.LogisticsItem
{
    border-bottom: 1px solid #e3e1bb; 
    padding: 3px 0px 3px 0px;  
}

.LogisticsItemIcon
{
    float: left;
    width: 20px;
}

.LogisticsItemText
{
    float: left;
    width: 170px;
    margin-left: 5px;
}

.BCTSignature
{
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    margin: 10px 0px 0px 0px;    
}

.SpreadTheWordMessageLimit
{
    text-align: right;
    font-style: italic;
    font-size: 12px; 
    margin: 5px 0px 0px 0px;
}

.ImageCaption
{
    background-color: #f0f0d4;
    padding: 10px 20px 10px 20px;
    margin: 5px 0px 0px 0px;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    color: #818181;
}

.CalloutBox
{
    background-color: #eeedcc;
    padding: 5px 20px 20px 20px;
    margin: 15px 0px 0px 0px;   
}

.ImageFloatingLeft
{
    float: left;  
}

.CalloutBox img.ImageFloatingLeft
{
    margin: 10px 15px 10px 0px;
}


.PersonalStoryTitle
{
    float: left;
    margin-bottom: 10px;
}

.PersonalStoryTitleName
{
    font-family: Georgia;
    font-size: 18px;    
}

.PersonalStoryTitleStage
{
    font-family: Arial;
    font-size: 12px;
}

.PersonalStoryTitleCity
{
    font-family: Arial;
    font-size: 12px;
}

.PersonalStoryTopLink
{
    float: right;
    width: 20px;
}

.PersonalStoryTopLink a, .PersonalStoryTopLink a:link, .PersonalStoryTopLink a:visited
{
    text-decoration: none;
    color: #58bad4;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.PersonalStoryTopLink a:hover
{
    color: #38899e;
}

.PersonalStory img.ImageFloatingLeft
{
    margin: 5px 5px 0px 0px;    
}

.FAQItem
{
    margin: 0px 0px 15px 0px;    
}

.FAQItem div.EmphasizedLink a, .FAQItem div.EmphasizedLink a:link, .FAQItem div.EmphasizedLink a:visited
{
    text-decoration: none;
    color: #58bad4;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.FAQItem div.EmphasizedLink a:hover
{
    color: #38899e;
}

.SlideShowContainer
{
    background-image: url(../images/SlideShow/BG.jpg);
    background-repeat: no-repeat;
    width: 949px;
    height: 465px;
    position: relative;
}

.SlideShowPreviousButton
{
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0px;
    top: 210px;
    padding: 10px 10px 10px 0px;
    background-color: #ffffff;
    background-image: url(../images/FancyBox/PreviousButton-BG.gif);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    cursor: pointer;
}

.SlideShowPreviousButton:hover
{
    background-position: 0px -31px;
}

.SlideShowNextButton
{    
    width: 19px;
    height: 19px;
    position: absolute;
    right: 0px;
    top: 210px;
    padding: 10px 0px 10px 10px;
    background-color: #ffffff;
    background-image: url(../images/FancyBox/NextButton-BG.gif);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    cursor: pointer;
}

.SlideShowNextButton:hover
{
    background-position: 10px -31px;
}

.SlideShowSlide
{
    display: none;    
}

.SlideShowSlideFull
{
    font-family: Georgia;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    width: 949px;
    height: 465px;
    display: table-cell;
    vertical-align: middle
}

.SlideShowSlideLeft
{
    float: left;
    width: 300px;
    height: 345px;
    border-right: 1px solid #ffffff;
    margin: 30px 0px 0px 0px;
    font-family: Georgia;
    font-size: 24px;
    color: #ffffff;
    padding: 60px 40px 0px 60px;
}

.SlideShowSlideRight
{
    float: left;
    padding: 40px 0px 0px 35px;
    margin: 30px 0px 0px 0px;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
}

.SlideShowPortalLeftColumn
{
    float: left;
    border: 1px solid #e3e1bb;
    width: 268px;
    height: 438px;
    padding: 25px 20px 0px 20px;
    margin: 0px 10px 0px 0px;
    text-align: left;
    font-family: Arial;
    font-size: 12px;
}

.SlideShowPortalContainer
{
    float: left;
    position: relative;
    width: 390px;
    height: 405px;
    background-image: url(../images/SlideShow/BG-Portal.jpg);
    background-repeat: no-repeat;
    text-align: left;
    font-family: Arial;
    font-size: 14px;
    color: #666666;
    padding: 60px 120px 0px 120px;
}

.SlideShowPortalLeftColumn h1
{
    font-family: Georgia;
    font-size: 24px;
    color: #666666;
    text-align: left;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.SlideShowPortalSlideIntro
{
    padding: 0px 90px 0px 90px;    
}

.SlideShowPortalSlideIntro h1
{
    text-align: left;    
}

.SlideShowPortalContainer h2
{
    font-family: Georgia;
    font-size: 24px;
    color: #ffffff; 
    font-weight: normal;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.SlideShowPortalContainer h3
{
    font-family: Arial;
    font-size: 12px;
    color: #ffffff; 
    font-weight: normal;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    font-style: italic;
}

.PointBlockNumber
{
    float: left;
    width: 36px;
    height: 42px;
    text-align: center;
    background-color: #cbffdb;
    font-family: Georgia;
    font-size: 36px;
    color: #88cfd8;
    margin: 0px 5px 5px 0px; 
}

.PointBlockText
{
    float: left;
    width: 315px;
    height: 27px;
    background-color: #c0eaef;
    font-family: Arial;
    font-size: 12px;
    color: #666666;
    padding: 15px 17px 0px 17px; 
}

.PointBlockNumberYellow
{
    background-color: #e7f7a6;
}

.PointBox
{
    float: left;
    width: 75px;
    height: 70px;
    background-color: #e7f7a6;
    color: #666666;
    font-family: Arial;
    font-size: 12px;    
    margin: 20px 2px 2px 0px;
    padding: 10px;
    text-align: center;
}

/* These classes are for the large blue buttons with forms on the GetStarted pages */
.ContentButtonBlue
{
}
.ContentBlueOverlay
{
        left: -180px;
}
.ContentOverlayHeaderSpan span
{
    text-align: left;
    width: auto;
}



