﻿/*
/// <summary>  
///  Contains IE Overriding Styles
/// </summary>
/// <history>
///  <change author="Konrad Kyc" copyright="2011 © Vantagesoft.ca" date="2011-01-19">Creation</change>
/// </history>
*/

img
{
	vertical-align: bottom;
}

.SubMenuTop
{
    background-image: url(../images/Menu/SubMenuItem-BGTop.gif);
}

.SubMenuTop-Right
{
    background-image: url(../images/Menu/SubMenuItem-BGTopRight.gif);
}

ul.SubMenuList
{
    background-image: url(../images/Menu/SubMenuItem-BG.gif);
    z-index: 1000;
}

.SubMenuBottom
{
    background-image: url(../images/Menu/SubMenuItem-BGBottom.gif);
}

.MainMenuList
{
    z-index: 3000;    
}

.PointBlockNumber 
{
    margin: 0px 5px 0px 0px;
}

