<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:q="http://quantumleaphealth.org/jsf"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:s="http://jboss.com/products/seam/taglib">
	
<head>
	<title><ui:insert name="title" /> - BreastCancerTrials.org</title>
	
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/Print.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/Menu.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/Global.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/legacyStyles.css" />
	
	<link rel="icon" type="image/png" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/images/favicon.png" />

	<ui:insert name="styles" />

	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/JQuery.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/Common.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/JQuery.Fancybox-1.3.4.js"></script>	
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
	
	<ui:insert name="javascripts" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="robots" content="all, index, follow" />
	<meta name="*" content="cache" />
	<meta name="revisit-after" content="14 days" />
	<meta name="resource-type" content="document" />
	<meta name="rating" content="general" />
	<meta name="google-site-verification" content="E9Wyjwp8ipM5nd2qKv5ru9mRuKixe0Hpykk4n3kuUC8" />
	<meta name="msvalidate.01" content="83E0B6FA18A9D68C99FBC823241CF127" />

	<script type="text/javascript">
	//<![CDATA[	
	function flipLogin(loggedIn, Url) 
	{
		// take care of the cookie first
		if (loggedIn == true)
		{
	        var expirationDate = new Date();
	        expirationDate.setTime(expirationDate.getTime() + (1*60*60*1000)); // 1 hour from now
	        
			document.cookie = 'loggedin=true; path=/; expires=' + expirationDate.toGMTString();
		}
		else
		{
			document.cookie = 'loggedin=false; path=/;';
		}
						
		var loginElement = document.getElementById('logintext');
		var loginLink = document.getElementById('login');
		if (loginElement == null || loginLink == null)
		{
			return;
		}
				
		if (loggedIn == true)
		{	
			loginElement.innerHTML = "Log-Out";	
			loginLink.href = Url + "/bct_nation/logged_out.seam";
		}
		else
		{
			loginElement.innerHTML = "Log-In";
			loginLink.href = Url + "/bct_nation/login.seam";
		}			
	}

	function doPrint()
	{
		var iFrame = document.getElementById('form_history_iframe');
		if (iFrame == null)
		{
			window.focus();
			window.print();
			return false;
		}
		else
		{
			window.frames['form_history_iframe'].focus();
			window.frames['form_history_iframe'].print();
			return false;
		}
	}
	// ]]>
	</script>

</head>

<body onload="flipLogin(#{patientInterface.loggedIn ? 'true': 'false'}, '${q:getFetchURL(request.serverName, request.serverPort)}');">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQ5KLJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&#38;l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQ5KLJ');</script>
<!-- End Google Tag Manager -->
<div class="SiteFrame">
<div class="container">
	<div class="header">
		<ui:include src="navigator_logged_out_header.xhtml"></ui:include>
	</div>
	
	<div class="Separator" style="height: 28px;"> 
		<table class="noHover" width="100%">
			<tr class="noHover">
				<ui:insert name="breadCrumbs">
				<td class="noHover" align="left" width="99%">
					<s:link view="/home.xhtml" styleClass="noHover">#{bundle['Home']}&#xa0;&#xa0;</s:link>
				</td>
				</ui:insert>
				
				<ui:fragment rendered="#{patientInterface.loggedIn}">
				<td class="noHover" align="right" style="white-space: nowrap">
					<ui:fragment rendered="#{request.serverName != 'www.breastcancertrials.org'}">
						<ui:fragment rendered="#{patientInterface.locale.language eq &#34;en&#34;}">
							<s:link action="#{patientInterface.switchToSpanish}">#{bundle['language.spanish']}</s:link>&#xa0;|&#xa0;
						</ui:fragment>
						<ui:fragment rendered="#{patientInterface.locale.language ne &#34;en&#34;}">
							<s:link action="#{patientInterface.revertToEnglish}">#{bundle['language.english']}</s:link>&#xa0;|&#xa0;
						</ui:fragment>
					</ui:fragment>						
				</td>		
				</ui:fragment>
				
				<td class="noHover" align="right">
<!-- 				
				    <a href="#">Text Size</a>&#xa0;&#xa0;<a href="#" onclick="sizeTextSmaller('contentMain');">A</a>&#xa0;&#xa0;<a href="#" style="font-size:125%;" onclick="sizeTextLarger('contentMain');">A</a>&#xa0;&#xa0;&#xa0;&#xa0;
-->				    
					<a class="noHover" href="#" onclick="doPrint();return false;"><h:graphicImage url="/images/print_article.gif" alt="Click to print page" title="Click to print page" /></a>

				</td>
				<td class="noHover" align="right">
					<a class="noHover" href="#" onclick="doPrint();return false;">&#xA0;Print</a>
				</td>
			</tr>
		</table>
	</div>

	<div id="content">
		<div class="contentMain" id="contentMain">
			<div class="ContentContainer">
				<div class="ContentColumnLeft">
					<ui:insert name="contentLeft">
						<div class="SeparatorBlank">&nbsp;</div>
					</ui:insert>
				</div>
				<div class="ContentColumnRight"><ui:insert name="contentMain"/></div>	
			</div>	
		</div>
	</div>	

    <div style="clear: both;" class="ClearFF"></div>
    <div class="Separator">&nbsp;</div>
	<div>
		<ui:include src="http://127.0.0.1:8889/BCT/FooterInclude.lbi.html"></ui:include>
	</div>
</div>

</div>

<ui:insert name="javascriptsPageOnload">
	<script type="text/javascript"><!--
	
		// Event Handler which is called at the Page Load
        BCT.PageOnLoad = function () {
			var contentRightHeight = $(".ContentColumnRight").height();
			$(".ContentColumnLeft").css("height", contentRightHeight + "px");
		}
	--></script>
</ui:insert>

</body></html>
