<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="navigator_template.xhtml">

<ui:define name="title">Navigator Login</ui:define>

<ui:define name="contentLeft">
	<img src="/BCTIncludes/images/Extras/Girl-flower-long.gif"></img>
</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate3">
      <h1>Member Login</h1>
    </div>
    
    <div id="ContentFramedBox" class="ContentFramedBox" style="height: 250px;">
       	<h:form id="login" prependId="false">
       	
       	<p>
			<h:outputLabel for="username" styleClass="savelabel">E-mail:</h:outputLabel>&#xA0;&#xA0;
			<h:inputText id="username" value="#{navigatorInterface.navigator.principal}" size="34" maxlength="64"
				required="true" requiredMessage="Please enter your e-mail address"
				validatorMessage="Your email address must be at least 6 and at most 64 characters long">
				<f:validateLength minimum="6" maximum="64" />
			</h:inputText>
			<h:message for="username" errorClass="errortext" />
		</p>
		
		<p>
			<h:outputLabel for="password" styleClass="savelabel">Password:</h:outputLabel>&#xA0;&#xA0;
			<h:inputSecret id="password" value="#{navigatorInterface.navigator.credentials}" size="15" maxlength="20"
				validatorMessage="Your password must be at least 6 and at most 20 characters long">
				<f:validateLength minimum="6" maximum="20" />
			</h:inputSecret>
			<h:message for="password" errorClass="errortext" />
		</p>
       	
		<div class="formActions">
			<h:commandButton action="#{navigatorInterface.login}" value="Navigator Login Now" />
			<h:messages globalOnly="true" errorClass="errortext" />
			&#xA0;
		</div>
		</h:form>
   	</div>
</ui:define>
</ui:composition>
