<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="../newtemplate.xhtml">

<ui:define name="title">Navigator Login Preferences</ui:define>

<ui:define name="contentLeft">
	<ui:include src="/navigator/navigator_sidebar.xhtml"><ui:param name="suppress_reset" value="true" /></ui:include>
</ui:define>

<ui:define name="contentMain">
	<!--  Header -->
    <div class="ContentPageHeader">
  		<h1><em>my</em> Account</h1>
  	</div>
  	
  	<!-- Content -->
     <div class="ContentFramedBox">
       	<h:form id="changepreferences" prependId="false">
		<div class="formActions">
			<ui:include src="/navigator/navigator_email_edit.xhtml" />
			<ui:include src="/navigator/navigator_security_edit.xhtml" />
			<h:commandButton action="#{navigatorSecurityInterface.update}" value="Save" />
			&#xA0;
			<s:button action="#{navigatorSecurityInterface.cancelUpdate}" value="Cancel" />
			<h:messages globalOnly="true" errorClass="errortext" />
			&#xA0;
		</div>
		</h:form>
		
		<p><s:link view="/navigator/navigator_welcome.xhtml">Return to the navigator menu.</s:link></p>
	</div>
</ui:define>
</ui:composition>