<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="navigator_logged_out_template.xhtml">

<ui:define name="title">Navigator Logged out</ui:define>

<ui:define name="contentLeft">
	<div class="SeparatorBlank">&#xa0;</div>
</ui:define>

<ui:define name="contentMain">
    <!-- Content -->
   	<div class="ContentPageHeader ContentPageHeader-Alternate4">
   		<h1><em>you are</em> Logged out</h1>
   	</div>
   	
     <div class="ContentFramedBox">
		<p class="instructions">
			You have logged out of the BCT Navigator.
			If this is not your computer you should close this window.
			If you do not close the window, others may be able to see sensitive information by clicking the <em>Back</em> button. 
		</p>
		<p><s:link view="/home.xhtml">Home Page</s:link></p>
	</div>
</ui:define>
</ui:composition>