<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
  	<p>
		<span class="savelabel">Choose a Password:</span>
		<span>
		<h:inputSecret id="password" value="#{navigatorSecurityInterface.navigator.credentials}" size="34" maxlength="20"
			required="true" requiredMessage="Please enter a password"
			validatorMessage="Your password must be at least 6 and at most 20 characters long">
			<f:validateLength minimum="6" maximum="20" />
		</h:inputSecret>&#xA0;&#xA0;<span class="hinttext">between 6 and 20 characters</span>
		<h:message for="password" errorClass="errortext item" />
		</span>
	</p>
  	<p>
		<span class="savelabel">Verify Password:</span>
		<span>
		<h:inputSecret id="credentials" value="#{navigatorSecurityInterface.credentials}" size="34"
			required="true" requiredMessage="Please enter the password a second time"
			validator="#{patientInterface.validateCredentials}">
		</h:inputSecret>
		<h:message for="credentials" errorClass="errortext item" />
		</span>
	</p>
  	<p>
		<span class="savelabel">Secret question:</span>
		<span>
		<h:inputText id="secretQuestion" value="#{navigatorSecurityInterface.navigator.secretQuestion}" size="34" maxlength="64"
			required="true" requiredMessage="Please enter a secret question in case you forget your password"
			validatorMessage="Your secret question must be at least 10 and at most 64 characters long">
			<f:validateLength minimum="10" maximum="64" />
		</h:inputText>&#xA0;&#xA0;<span class="hinttext">between 10 and 64 characters</span>
		<h:message for="secretQuestion" errorClass="errortext item" />
		</span>
	</p>
  	<p>
		<span class="savelabel">Secret answer:</span>
		<span>
		<h:inputText id="secretAnswer" value="#{navigatorSecurityInterface.navigator.secretAnswer}" size="34" maxlength="20"
			required="true" requiredMessage="Please enter an answer to your secret question in case you forget your password"
			validatorMessage="Your secret answer must be at least 3 and at most 20 characters long">
			<f:validateLength minimum="3" maximum="20" />
		</h:inputText>&#xA0;&#xA0;<span class="hinttext">between 3 and 20 characters</span>
		<h:message for="secretAnswer" errorClass="errortext item" />
		</span>
	</p>
	<p><em>
		In the event that you forget your password, your secret question and answer will verify your identity.
	</em></p>
</ui:composition>