<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				xmlns:q="http://quantumleaphealth.org/jsf"
				template="navigator_template.xhtml">

<ui:define name="title">Create New Client</ui:define>

<ui:define name="javascripts">
	<script type="text/javascript"><!--
	//<![CDATA[	
	
		function checkEthnicityForSelected(raceEthnicity)
		{
			for (var i = 0; i < raceEthnicity.length; i++)
			{
				if ($(raceEthnicity[i]).is(':checked'))
				{
					return true;
				}
			}
			return false;
		}
			
		function onSaveEthnicityCheck()
		{
			var raceEthnicity = ["#race0", "#race1", "#race2", "#race3", "#race4", "#race5", "#race6", "#race7"];
			var hispanicQuestion = ["#hispanicQuestion1", "#hispanicQuestion2", "#hispanicQuestion3"];

			
			var OKClicked=true;
			if (!checkEthnicityForSelected(raceEthnicity))
			{
				OKClicked = confirm("Have you forgotten to answer the \"Racial Background\" question? If you do not select an answer, we will show you all trials seeking individuals of specific racial backgrounds.");
			}
			
			if (OKClicked && !checkEthnicityForSelected(hispanicQuestion))
			{
				return confirm("Have you forgotten to answer the \"Latino/Hispanic heritage?\" question? If you do not select an answer, we will show you trials seeking individuals of Latino Heritage."); 
			}
		}
	
	  	function toggleSharedFields()
	  	{
			if ($('input:radio[name=notShared]:checked').val() == 'false')
			{
				$('#clientLoginFields').fadeOut(1500);
				$('#alertNewTrialsEnabled').attr('disabled', 'true');
			}		
			else if ($('input:radio[name=notShared]:checked').val() == 'true')
			{
				$('#clientLoginFields').fadeIn(1500);
				$('#alertNewTrialsEnabled').removeAttr('disabled');
			}		
	  	}
	  	
		$(document).ready(function()
        {
		   	$('#createClient').submit(function(){
				return onSaveEthnicityCheck();
       		});
        
        	$('#createClient').attr('autocomplete', 'off');
        	
        	toggleSharedFields();
           	$('#notShared').click(function()
            	{
            		toggleSharedFields();      
               	});                     
       	});
		
		// ]]>--></script>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="navigator_sidebar.xhtml"></ui:include>
</ui:define>

<ui:define name="contentMain">
    <div class="ContentPageHeader ContentPageHeader-Alternate4">
              <h1><em>create</em> New Client</h1>
    </div>
    
    <div class="ContentFramedBox">
    
	<p></p>
	<h:form id="createClient" prependId="false" autocomplete="off">
		<h:messages globalOnly="true" errorClass="errortext" />
		<ui:include src="/navigator/navigator_client_create_fields.xhtml"></ui:include>      	
      	<div class="formActions">
			<h:commandButton action="#{createClientInterface.saveNewClient}" value="Save" />
			&#xA0;
			<s:button action="#{createClientInterface.cancelNewClient}" value="Cancel" />
			&#xA0;
		</div>
    </h:form>
    
</div>
</ui:define>
</ui:composition>
