<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				xmlns:q="http://quantumleaphealth.org/jsf"
				template="../newtemplate.xhtml">

<ui:define name="title">Edit Existing Client</ui:define>

<ui:define name="javascripts">
	<script type="text/javascript"><!--
	//<![CDATA[	

	  	function toggleSharedFields()
	  	{
			if ($('input:radio[name=notShared]:checked').val() == 'false')
			{
				$('#clientLoginFields').fadeOut(1500);
				$('#alertNewTrialsEnabled').attr('disabled', 'true');
				$('#alertNewTrialsEnabled').removeAttr('checked');
			}		
			else if ($('input:radio[name=notShared]:checked').val() == 'true')
			{
				$('#clientLoginFields').fadeIn(1500);
				$('#alertNewTrialsEnabled').removeAttr('disabled');
			}		
	  	}
	  	
		$(document).ready(function()
        {
                $('#editClient').attr('autocomplete', 'off');
                var shared = $('#notShared\\:0').attr('checked'); 
             	if (shared == false)
               	{
                	$('#clientLoginFields').css('display','none');	
    				$('#alertNewTrialsEnabled').attr('disabled', 'true');
                }

               	$('#notShared').click(function()
                {
                	toggleSharedFields();      
                 });                     
        });
		
		// ]]>--></script>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="navigator_sidebar.xhtml"></ui:include>
</ui:define>

<ui:define name="contentMain">
    <div class="ContentPageHeader ContentPageHeader-Alternate4">
              <h1><em>edit</em> Client</h1>
    </div>
    
    <div class="ContentFramedBox">
    
	<p></p>
	<h:form id="editClient" prependId="false" autocomplete="off">
        
		<ui:include src="/navigator/navigator_client_edit_fields.xhtml"></ui:include>      	
      	<div class="formActions">
			<h:commandButton action="#{editClientInterface.updateClient}" value="Save" />
			&#xA0;
			<s:button action="#{editClientInterface.cancelNewClient}" value="Cancel" />
			<s:button action="#{editClientInterface.deleteClient}" value="Delete client record" style="color: red; font-weight:bold;"></s:button>
			<h:messages globalOnly="true" errorClass="errortext" />
			&#xA0;
		</div>
    </h:form>
    
</div>
</ui:define>
</ui:composition>
