<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
	  			xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	  			xmlns:c="http://java.sun.com/jstl/core"
		        xmlns:q="http://quantumleaphealth.org/jsf"
		        template="/public/new_public_template.xhtml">

<ui:define name="title">Browse Patient Profile Trials For Sample Patient Profile #{avatarProfileInterface.patient.principal}</ui:define>

<ui:define name="contentMain">
    <div class="ContentPageHeader ContentPageHeader-Alternate2">
      	<h1><em>browse by</em> Tumor Type</h1>
    </div>

	<div id="noavatardefined" style="#{avatarProfileInterface.principal eq 'avatarNotSet' ? 'display:block': 'display:none'}">
		<p class="errortext">
			<h:outputText value="An Avatar for this Personal Situation has not yet been defined.  There will be one in our final Version." />
		</p>			
	</div>

	<div id="notavatar" style="#{!avatarProfileInterface.patient.specialUserProfile and avatarProfileInterface.principal ne 'avatarNotSet'? 'display:block': 'display:none'}">
		<p class="errortext">
			<h:outputText value="#{bundle['Not_An_Avatar']}" />
		</p>			
	</div>
 	
	<div id="isanavatar" class="ContentFramedBox" style="#{avatarProfileInterface.patient.specialUserProfile ? 'display:block;font-size: 12px; border:none; padding-top: 0px;': 'display:none;'}">
      <div>
      <table width="100%">
          <tbody>
            <tr>
              <td align="left" width="55%">
 				<form id="zip" name="zip" method="get" action="/bct_nation/public/public_browse_trials.seam" enctype="application/x-www-form-urlencoded">
                  	<div class="BrowseTrialsTestHeader" style="display:inline"><h3 style="display:inline">Sort by zipcode:&#xA0;&#xA0;</h3></div>&nbsp;&nbsp;&nbsp;
                  	
					<input type="text" id="Ecom_ReceiptTo_Postal_PostalCode" name="Ecom_ReceiptTo_Postal_PostalCode" value="#{avatarProfileInterface.postalCode}" title="Enter a zip code to search by" size="5" maxlength="5" style="margin-left:0px; margin-right:10px; width:5em;" />
             		<input type="submit" name="go" value="go" onclick="return validatePostalCode('Ecom_ReceiptTo_Postal_PostalCode', 'errormessages');" />
                  	<input type="submit" name="reset" value="reset" title="clear form" onclick="return clearZipForm();" />

                   	<input type="hidden" value="2" name="groupedByProximity" id="groupedByProximity" />
                  	
                  	<div id="errormessages" class="errortext" style="display:none"></div>
					<h:inputHidden id="pid" name="pid" value="#{avatarProfileInterface.patient.principal}" escape="false" />
                </form>
			  </td>
              <td align="left"><div id="email_form_link" class="ExpandableItemHeader">Email this page</div></td>
              <td align="left">
			    <table>
					<tr>
					<td class="BrowseTrialsTestHeader"><h3 style="display:inline">Share</h3></td>
					<td><div><a href="https://twitter.com/BCTrials" target="_blank"><img src="../images/Global-Twitter.gif" alt="Twitter"/></a></div></td>
                    <td><div><a href="http://www.facebook.com/pages/BreastCancerTrialsorg/58924814273/" target="_blank"><img src="../images/Global-Facebook.gif" alt="Facebook"/></a></div></td>
					</tr>
			    </table>
              </td>
            </tr>
          </tbody>
        </table>

        <ui:include src="../email_link.xhtml">
        	<ui:param name="linktype" value="trials" />
            <ui:param name="pagetype" value="public_trials_page" />
            <ui:param name="pid" value="#{param['pid']}" />
        </ui:include>
 
      </div>
      
      	<div class="AvatarDescriptionHeader">
     		<i>#{avatarProfileInterface.patient.avatarProfileDescription}</i>
      	</div>	

		<p>
			Last updated:&#xA0; 
			<h:outputText value="#{avatarProfileInterface.avatarTrialListLastUpdated}" ><s:convertDateTime dateStyle="long" /></h:outputText>
		</p>
		
     	<ui:fragment rendered="#{avatarProfileInterface.getAvatarTrialList().size() gt 1 }">
        	<div>Jump to:
            	<ui:repeat value="#{ avatarProfileInterface.getAvatarTrialList() }" var="avatarTrialGroup">
                	<ui:fragment rendered="#{avatarTrialGroup.getTrials().size() > 0 }">
                    	&#xA0;<a href="##{avatarTrialGroup.getLabel()}">#{bundle[avatarTrialGroup.getLabel()]} (#{avatarTrialGroup.getTrials().size()})</a>
                  	</ui:fragment>
             	</ui:repeat>
          	</div>
            <br />
        </ui:fragment>

     	<ui:fragment rendered="#{avatarProfileInterface.getAvatarTrialList().size() gt 0 }">
     	
        <div class="ContentFramedBox">	
		<ui:repeat value="#{ avatarProfileInterface.getAvatarTrialList() }" var="avatarTrialGroup">
		<div id="trial" style="#{avatarTrialGroup.getTrials().size() gt 0 ? 'display:block; font-size: 12px;': 'display:none' }">
		
		 	<ui:fragment rendered="#{avatarProfileInterface.getAvatarTrialList().size() gt 1}">
			<a name="#{avatarTrialGroup.getLabel()}" />
			<div class="ContentHeaderText">
				#{bundle[avatarTrialGroup.getLabel()]}
			</div>
			<br/>
			</ui:fragment>	

			<ui:repeat value="#{avatarTrialGroup.getTrials() }" var="prox">
				<div class="trial" >
				<h2 id="n#{prox.trial.id}"><h:outputText value="#{prox.trial.name}" /></h2>
		        
				<div id="u#{prox.trial.id}" style="display:none">
					<a class="jslink" onclick="$('[id=u#{prox.trial.id}]').fadeOut(1500);$('[id=t#{prox.trial.id}]').fadeIn(1500);" title="Click to unshrink">Show again</a>
				</div>
				
				<div id="t#{prox.trial.id}">
					<div class="information">
						<p class="description"><h:outputText value="#{prox.trial.title}" /></p>
						<h3>Summary</h3>
						<p>#{prox.trial.purpose}<ui:fragment rendered="#{prox.trial.phase.toString() ne 'NA'}"><br />This is a Phase #{bundle[q:concat('label.phase.', prox.trial.phase)]} trial</ui:fragment></p>
						<div id="d#{prox.trial.id}" style="display:none">
							<h3>What's involved:</h3>
							<p><s:formattedText value="#{prox.trial.treatmentPlan}" /></p>
							<h3>Additional procedures:</h3>
							<p><h:outputText value="#{prox.trial.procedures}" /></p>
							<h3>Trial length:</h3>
							<p><h:outputText value="#{prox.trial.duration}" /></p>
							<h3>Post-trial follow-up:</h3>
							<p><h:outputText value="#{prox.trial.followup}" /></p>
							<h3>Sponsor:</h3>
							<p><h:outputText value="#{prox.trial.sponsor}" /></p>
							<h3>More information</h3>
							<p>View eligibility criteria and additional trial information: 
								<span style="#{prox.trial.primaryID != null ? 'display:' : 'display:none'}">&#xA0;&#xA0;&#xA0;<a href="#{bundle['NCTLinkBaseURL']}#{prox.trial.primaryID}" target="_blank">#{bundle['label.NCTLink']}</a></span></p>
							<p>Related links:<ui:repeat value="#{prox.trial.link}" var="externalLink">&#xA0;&#xA0;&#xA0;<a href="#{externalLink.url}" target="_blank">#{externalLink.label}</a></ui:repeat></p>
						</div>
					</div>
					<div class="summary"><ul style="margin-left: 0px">
					    <div id="novisitsrequired" style="#{prox.trial.secondaryType == 'NOVISITSREQUIRED' ? 'display:' : 'display:none'}">
					    	<li style="list-style-type: none;" class="time"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" title="[Participation Time]" /> <h:outputText value="#{prox.trial.burden}" /></li>						    
							<li style="list-style-type: none;" class="location"><h:graphicImage url="/images/icn_car.png" alt="No Visits Required for this Trial" title="[No Visits Required]" />
								<h:outputText value="#{bundle['label.secondary.novisitsrequired']}" />&#xA0;
							</li>							    								    							    	
						</div>	

					    <div id="visitsrequired" style="#{!prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'}">
					    	<li style="list-style-type: none;" class="time"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" title="[Participation Time]" /> <h:outputText value="#{prox.trial.burden}" /></li>						    
							<li style="list-style-type: none;" class="location"><h:graphicImage url="/images/icn_car.png" alt="Participating research sites" title="[Participating research sites]" />
							 	<ui:fragment rendered="#{prox.known and (prox.distance ge 0)}">Nearest research site: #{prox.site.city}, #{prox.site.politicalSubUnitName};&#xA0;
									<h:outputText value="#{prox.distance}"><f:convertNumber maxFractionDigits="0" /></h:outputText> miles from&#xA0;<h:outputText value="#{avatarProfileInterface.postalCode}"><f:convertNumber pattern="00000" /></h:outputText>;&#xA0;
								</ui:fragment>
								
								<div>
									<ui:fragment rendered="#{!prox.known and (prox.distance le 0)}">
										Research sites:
										#{prox.trial.trialSite.size()} #{prox.trial.trialSite.size() == 1 ? 'site' : 'sites'} total
										<span class="sitelink">
					 						<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites">
					 							<f:param name="trialId" value="#{prox.trial.id}" />
					 							<f:param name="trialName" value="#{prox.trial.name}" />
					 							Contact information
					 						</s:link>
					 					</span>
									</ui:fragment>
								
							 		<ui:fragment rendered="#{(!prox.known) and prox.available}"><br /><a class="jslink" onclick="window.scrollTo(0,0); fzip();">Enter zip code to see nearest sites</a></ui:fragment>
							 	
							 		<ui:fragment rendered="#{prox.distance gt 0}">
										<span class="sitelink">
					 						<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites">
					 							<f:param name="trialId" value="#{prox.trial.id}" />
					 							<f:param name="trialName" value="#{prox.trial.name}" />
					 							#{bundle['label.viewlocations']}
					 						</s:link>
										</span>
									</ui:fragment>
								</div>
							 </li>
						 </div>

					</ul></div>
					
					<div class="actions">
						<div id="s#{prox.trial.id}">
							<a class="jslink" onclick="$('[id=s#{prox.trial.id}]').slideUp(1500);$('[id=d#{prox.trial.id}]').slideDown(1500);$('[id=h#{prox.trial.id}]').slideDown(1500);_gaq.push(['_trackEvent', 'What\'s Involved', 'Click', '#{avatarProfileInterface.patient.avatarProfileDescription}',, false]);" title="Click to see details">#{bundle['label.showdetails']}</a>
							<h:outputText value="&#160;&#160;&#160;"/>
							
							<span>
								<span class="sitelink">
									<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial">
						 				<f:param name="trialId" value="#{prox.trial.id}" />
						 				<f:param name="trialName" value="#{prox.trial.name}" />
						 				Contact information
						 			</s:link>
								</span>
							</span>
						</div>
						
						<div id="h#{prox.trial.id}" style="display:none">
							<a class="jslink" onclick="$('[id=d#{prox.trial.id}]').slideUp(1500);$('[id=h#{prox.trial.id}]').slideUp(1500);$('[id=s#{prox.trial.id}]').slideDown(1500);" title="Click to hide details">#{bundle['label.hidedetails']}</a>&#xA0;&#xA0;
							<a href="#n#{prox.trial.id}" onclick="$('[id=t#{prox.trial.id}]').fadeOut(1500);$('[id=u#{prox.trial.id}]').slideDown(1500);" title="Click to shrink trial information" class="indent">Not interested</a> 
						</div>
					</div>
				</div>
			</div>
			</ui:repeat>
		</div> <!--  end of trial div -->
		</ui:repeat>
		</div>
		</ui:fragment>
		
	</div> <!--  End of isAn Avatar div -->
                 
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="public_browse_trials_categories.xhtml"></ui:include>
</ui:define>

<ui:define name="javascriptsPageOnload">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
	
	<script type="text/javascript"><!--
    // Event Handler which is called at the Page Load
    BCT.PageOnLoad = function () {
		$("#email_form_link").click(function() {
			_gaq.push(['_trackEvent', 'Email', 'click', 'Email this page',, false]);
			$("#email_link").slideToggle(1500);
		});
	}    
	--></script>	
 </ui:define>
</ui:composition>
