<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
	  	xmlns:f="http://java.sun.com/jsf/core"
	  	xmlns:c="http://java.sun.com/jstl/core"
		xmlns:s="http://jboss.com/products/seam/taglib"
		xmlns:q="http://quantumleaphealth.org/jsf"
        xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
		template="/public/new_public_template.xhtml">

<ui:define name="title">#{bundle['avatarListTitle']}</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">	
		<h1>#{bundle['avatarListTitle']}</h1>
	</div>	
	<h:form>
	<div style="overflow:auto;height:700px;width:95%;border-bottom: solid 1px #C6C6C6;">
		<h:dataTable  id="avatarProfiles" value="#{avatars}" var="avatar">
			<h:column>
				<table>
				<tr>
					<td style="width:20%;"><strong>Sample Patient ID:</strong></td>		
					<td align="left">#{avatar.principal}</td>
				</tr>
				<tr>
					<td><strong>Avatar Patient Title:</strong></td>
					<td align="left">#{avatar.avatarProfileTitle}</td>
				</tr>
				<tr>
					<td><strong>Avatar Patient Description:</strong></td>
					<td align="left">#{avatar.avatarProfileDescription}</td>
				</tr>
				<tr>
					<td colspan="2" align="left"><hr></hr></td>
				</tr>
				</table>
			</h:column>
					
		</h:dataTable>
	</div>
	</h:form>
	
	<div class="ContentPageHeader ContentPageHeader-Alternate3">	
		<h1>Read-only Profiles</h1>
	</div>	
	<h:form>
	<div style="overflow:auto;height:700px;width:95%;border-bottom: solid 1px #C6C6C6;">
		<h:dataTable  id="readonlyProfiles" value="#{readonlyusers}" var="readonly">
			<h:column>
				<table>
				<tr>
					<td style="width:20%;"><strong>Sample Patient ID:</strong></td>		
					<td align="left">#{readonly.principal}</td>
				</tr>
				<tr>
					<td><strong>Read-only Patient Title:</strong></td>
					<td align="left">#{readonly.avatarProfileTitle}</td>
				</tr>
				<tr>
					<td><strong>Read-only Patient Description:</strong></td>
					<td align="left">#{readonly.avatarProfileDescription}</td>
				</tr>
				<tr>
					<td colspan="2" align="left"><hr></hr></td>
				</tr>
				</table>
			</h:column>
		</h:dataTable>
	</div>
	</h:form>

</ui:define>

<ui:define name="contentSide">
	<!-- no side panel for this view -->
</ui:define>

</ui:composition>
