<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Making Your Decision</ui:define>

<ui:define name="contentMain">
	<h1>Making Your Decision</h1>
	<p>
		Entering a clinical trial is not a decision you should make lightly. 
		You may find that there are many good reasons for joining a specific trial. 
		But there are also reasons why you may decide a specific trial is not right for you.
	</p>
	<p>
		The only person who can decide whether a clinical trial is right for you, is you. 
		Before you make the decision to enter a trial you should:
	</p>
	<h3>Learn All About The Trial</h3>
	<p>
		Before you decide to join any clinical trial, you should know as much as you possibly can about it. 
		In fact, you should be so familiar with the trial that you could explain to any of your friends or family members precisely what will happen, 
		what the risks and benefits are, and any costs for which you might be responsible. 
		To be sure you know all you need to know, you might want to review 
		&#xA0;<s:link view="/trials/questions.xhtml">Questions For My Doctor</s:link> and 
		&#xA0;<s:link view="/start/site.xhtml">What to Ask the Research Site</s:link>.
	</p>
	<h3>Understand Informed Consent</h3>
	<p>
		The research team will give you an informed consent document that summarizes what will take place during the clinical trial. 
		This document also explains your rights as a trial participant. 
		Signing this document indicates that you fully understand all aspects of the trial and that you consent to take part. 
		You should not sign this document until you have had all of your questions about the trial answered to your satisfaction. 
		You will receive a copy of the informed consent document for your own files.
	</p>
	<p>
		<em>Remember</em>:
		Just because you have signed the informed consent form does not mean you have to stay in the trial. 
		At any point you can tell the research staff that you have decided this trial is not right for you 
		and that you no longer want to participate in their study.
	</p>
	<p>You can learn more about Informed Consent on these websites:</p>
	<ul>
		<li>National Cancer Institute <a target="_blank" href="http://www.cancer.gov/clinicaltrials/conducting/informed-consent-guide/page1">A Guide to Understanding Informed Consent</a></li>
		<li>American Cancer Society <a target="_blank" href="http://www.cancer.org/docroot/ETO/content/ETO_1_2X_Informed_Consent.asp">Informed Consent</a></li>
	</ul>
	<h3>Understand What Clinical Trials Are Designed to Do</h3>
	<p>
		Enrolling in a clinical trial may give you access to new treatments or procedures that are not otherwise available. 
		But there is no guarantee that these treatments or procedures <em>will</em> be better than those that are already the standard of care. 
		They might be; but they might not be. 
		The clinical trial is taking place to explore that question and your participation is helping researchers find the answer.
	</p>
	<p>
		It is possible that you will get a treatment that will prove to be more beneficial than what is currently available. 
		But you might not. 
		However, whether or not you individually benefit, your participation will collectively benefit our efforts 
		to improve breast cancer care and treatment and that's what clinical trials are designed to do.
	</p>
</ui:define>
</ui:composition>
