<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Imaging Reports</ui:define>

<ui:define name="contentMain">
	<h1>Imaging Reports</h1>
	<p>The most common imaging tests performed on breast cancer patients are:</p><dl>
		<dd><strong>Mammography</strong><br />
			Mammography uses a low-dose x-ray to provide an image of the breasts. A radiologist interprets the results.
		</dd>
		<dd><strong>Ultrasound</strong><br />
			Ultrasound uses high-energy sound waves to create echo patterns that form a picture - called a sonogram - of body tissue.
		</dd>
		<dd><strong>Bone Scan</strong><br />
			A bone scan is a nuclear scanning test that is used to detect whether the cancer has metastasized (spread) to the bone. 
			Bone scan results must be interpreted along with your symptoms and the results of other tests, such as x-rays, CT, MRI, blood tests, or a biopsy. 
			A bone scan is not the same as a bone density test or DEXA scan, which is used to assess bone health.
		</dd>
		<dd><strong>Computer Tomography</strong><br />
			Computer Tomography (CT) uses a thin x-ray beam to create digital images of the body. 
			CT may be used to diagnose whether the cancer has spread to the spine, bones, abdomen, pelvis or head. 
			Sometimes a CT will be done at the same time as a PET scan.
		</dd>
		<dd><strong>Magnetic Resonance Imaging (MRI)</strong><br />
			MRI uses a strong magnet to produce an image of a specific area of the body. 
			MRI may be used to obtain additional images of the breast tumor. 
			It is also often used to diagnose whether the cancer has spread to other areas, such as the brain or spine.
		</dd>
		<dd><strong>Positron Emission Tomography (PET) Scan</strong><br />
			PET scans tell how your body's cells are functioning and can detect the signals of actively growing cancer cells. 
			In contrast, a CT scan provides a detailed picture of your internal organs that reveals the location, size, and shape of any cancerous growths. 
			A PET scan may be performed at the same time as a CT scan. 
			PET scans may be used to stage a cancer or to look for cancer cells that may have metastasized (spread).
		</dd>
	</dl>
	<h2>Commonly Used Terms in Imaging Reports</h2>
	<p>
		Below you will find some of the terms commonly used in imaging reports. 
		<strong>You do not need to understand these terms to complete your BCT.org Health History.</strong>
	</p>
	<ul>
		<li><strong>Breast Imaging Reporting and Data System (BIRADS) classification</strong> - 
			a number that indicates the radiologist's overall impression. 
			The BIRADS scale goes from one to five; the higher the number the greater the possibility that cancer is present.</li>
		<li><strong>Calcification</strong> - small calcium deposits in the breast tissue that can be seen by mammography.</li>
		<li><strong>Foci</strong> - a small groups of cells that appear different from the surrounding tissue.</li>
		<li><strong>Hot Spot</strong> - an area of accumulation seen on a bone scan. 
			A hot spot may be caused by cancer in the bone. 
			It might also be caused by a fracture that is healing, a bone infection, arthritis, or a disease of abnormal bone metabolism</li>
		<li><strong>Lesion</strong> - an area of abnormal tissue. It can be benign (noncancerous) or malignant (cancerous).</li>
		<li><strong>Lymphadenopathy</strong> - disease or swelling of the lymph nodes</li>
		<li><strong>Microcalcifications</strong> - tiny calcifications in the breast tissue usually seen only on a mammogram. 
			When clustered, it can be a sign of ductal carcinoma in situ (DCIS).</li>
		<li><strong>Palpable</strong> - used to describe cancer that can be felt by touch. 
			If your doctor felt a lump, she or he will want the radiologist's impression of that area, which will be referred to as the "palpable abnormality."</li>
		<li><strong>Parenchyma</strong> - the breast tissue. 
			If it is described as dense, then it may be difficult for the radiologist to see what is there.</li>
		<li><strong>Quadrant</strong> - the breast is divided into four sections/quadrants: 
			upper/outer quadrant (armpit), upper-inner quadrant, lower-inner quadrant, and lower/outer quadrant.</li>
	</ul>
	<h3>Additional Sources of Information</h3>
	<ul>
		<li><a target="_blank" href="http://www.radiologystudents.com">Dictionary of Radiology Terms</a><br />
			A comprehensive glossary of radiology terminology.</li>
		<li><a target="_blank" href="http://www.cancer.gov/dictionary/">NCI Dictionary of Cancer Terms</a><br /> 
			Contains more than 4,000 terms related to cancer and medicine</li>
	</ul>
</ui:define>
</ui:composition>
