<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Medical Reports</ui:define>

<ui:define name="contentMain">
	<h1>Medical Reports</h1>
	<p>
		Your medical reports include information you will need to complete your BCT.org Health History. 
		They also include information you may need to provide to a trial coordinator.
	</p>
	<h2>Using the Matching Tool</h2>
	<p>
		The BCT.org Health History Questionnaire will ask you questions about the tumor's characteristics. 
		The answers to these questions are contained in your pathology report.
	</p>
	<ul>
		<li>
			<strong>How to Read Your Pathology Report</strong><br />
			The pathology report explains precisely what the pathologist saw when she/he looked at the tumor's tissue under a microscope, and the type of cancer that has been diagnosed.&#xA0; 
			<s:link view="/start/pathology.xhtml">Learn more</s:link>.
		</li>
	</ul>
	<p>
		The Questionnaire will also ask you about the cancer's stage.
	</p>
	<ul>
		<li>
			<strong>Cancer Staging</strong><br />
			Some of your medical reports may refer to the cancer's stage. Breast cancer staging ranges from Stage 0 to Stage IV. 
			Your physician will determine the cancer's stage based on the tumor's size and how far the cancer has spread.&#xA0; 
			<s:link view="/start/staging.xhtml">Learn more</s:link>.
		</li>
	</ul>
	<h2>After You Have Found a Trial That Interests You</h2>
	<p>
		When you speak with the trial coordinator, you should be prepared to discuss findings from any of your imaging tests, 
		as the coordinator may need this information to determine your eligibility for a specific trial.
	</p>
	<ul>
		<li>
			<strong>Imaging Tests</strong><br />
			The most common imaging tests are mammography, ultrasound, bone scans, CT, MRI, and PET scans. 
			You should inform the trial coordinator if any of your reports indicate an abnormal finding. 
			These abnormal findings will be described in the report. 
			Normal findings are typically indicated by use of term "unremarkable."&#xA0; 
			<s:link view="/start/imaging.xhtml">Learn more</s:link>.
		</li>
	</ul>
	<div class="getStarted"><s:link view="/terms.xhtml">Match to Trials Now</s:link></div>
</ui:define>
</ui:composition>
