<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Cancer Staging</ui:define>

<ui:define name="contentMain">
	<h1>Cancer Staging</h1>
	<p>
		Breast cancer staging ranges from Stage 0 to Stage IV. 
		The tumor's size (T), the status of the nodes (N), and the extent of metastasis (M) are used to classify the tumor's stage.
	</p>
	<ul>
		<li>T - the letter stands for tumor size<br />
			<dl>
				<dd>T1 = 0-2cm</dd> 
				<dd>T2 = 2-5cm</dd> 
				<dd>T3 = greater than 5cm</dd> 
				<dd>T4 = ulcerating through the skin or stuck to the chest wall</dd>
			</dl>
			(Note: 2cm = 3/4 inch; 5cm = 2 inches)
		</li>
		<li>N - nodes<br />
			<dl>
				<dd>N-0 = no nodes are palpable (meaning no nodes can be felt by the hands)</dd> 
				<dd>N-1a = the surgeon feels axillary (in the armpit area) nodes but thinks they are negative (meaning no cancer cells have spread to the nodes)</dd> 
				<dd>N-1b = the surgeon feels axillary nodes and they're positive (meaning the cancer has spread to the nodes)</dd> 
				<dd>N-2 = the axillary nodes are large and matted together or there is a positive internal mammary node (internal nodes are inside the chest)</dd> 
				<dd>N-3 = the nodes that are positive are near the collarbone or there are internal and axillary nodes</dd> 
			</dl>
		</li>
		<li>M - metastasis<br />
			<dl>
				<dd>M-0 = no metastasis</dd> 
				<dd>M-1 = metastasis present</dd> 
				<dd>M-x = the doctor is not able to determine if there is metastasis</dd> 
			</dl>
		</li>
	</ul>
	<p>Stage 0 - noninvasive LCIS or DCIS  Stage I-the tumor is T1 (0-2cm) and N-0 (no nodes)</p> 
	<p>Stage IIA - either a small tumor with positive lymph nodes or a tumor 2-5cm (T2) with negative lymph nodes</p>
	<p>Stage IIB - a tumor 2-5cm (T2) with positive lymph nodes or a tumor larger than 5cm (T3) with negative lymph nodes</p>
	<p>Stage III - a large tumor with positive lymph node; also referred to as locally advanced</p>
	<p>Stage III - a tumor larger than 5cm (T3) and/or that has spread to the lymph nodes or surrounding tissue</p>
	<p>Stage IIIB - a tumor of any size that has spread to the skin, chest wall, or internal mammary lymph nodes</p>
	<p>Stage IIIC - a tumor of any size that has spread to nodes near the collarbone or to both internal and axillary nodes</p>
	<p>Stage IV - a tumor of any size that has metastasized (spread) to different site</p>
</ui:define>
</ui:composition>
