<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Use Our Matching Tool</ui:define>

<ui:define name="contentMain">
	<h1>Use Our Matching Tool</h1>
	<p>
		BCT.org's unique, easy-to-use Matching Tool can provide you with a personalized list of the clinical trials listed on our website for which you are most likely to qualify.
	</p>
	<p>
		BCT.org contains a broad range of breast cancer clinical trials. 
		The trials included on BCT.org address all aspects of breast cancer care: 
		screening and detection, prevention, treatment, and quality of life.
	</p>
	<p>
		Depending on your health concern or your interest, you may be interested in:
	</p>
	<ul>
		<li>Screening or detection trials that are looking at new ways to find breast cancer early</li>
		<li>Prevention trials that are exploring ways to stop breast cancer from occurring.</li>
		<li>Treatment trials that are exploring new methods of providing radiation; investigating new chemotherapy treatments, combinations, or regimens; 
			or studying new hormonal therapies and biological agents.</li>
		<li>Quality of life trials that are investigating the long-term affects of cancer treatments 
			as well as what can be done to improve the overall quality of life of both individuals 
			living with metastatic disease and cancer survivors.</li>
	</ul>
	<h2>BCT.org Tips</h2>
	<h3>Before You Get Started</h3><ol>
		<li><s:link view="/tutorial/index.xhtml">Take a Tour</s:link> to familiarize yourself with how BCT.org works.</li>
		<li>Read&#xA0;<s:link view="/start/how.xhtml">How BCT.org Works</s:link> and&#xA0;<s:link view="/about/faq.xhtml">BCT.org: Frequently Asked Questions</s:link> before you begin.</li>
		<li>Review&#xA0;<s:link view="/start/history.xhtml">Your Breast History</s:link> to ensure you have all of the information you need to complete the Health History Form.</li>
	</ol>
	<h3>After You Have Identified a Clinical Trial That Interests You</h3><ol>
		<li>Print out and use&#xA0;<s:link view="/trials/questions.xhtml">Questions to Ask Your Doctor</s:link> 
			to start a conversation about the clinical trial with your primary care physician or breast cancer specialist</li>
		<li>Print out and use&#xA0;<s:link view="/start/site.xhtml">What to Ask the Research Site</s:link> 
			in any conversations you have on the phone or in person with members of the research team.</li>
		<li>Review&#xA0;<s:link view="/trials/finance.xhtml">Financial &amp; Insurance Concerns</s:link> before you sign up for a trial.</li>
	</ol>
	<p>
		If you need additional assistance, or if you have technical problems with our site, 
		&#xA0;<s:link view="/contact.xhtml">contact us by email</s:link> or 
		phone at <em>(415) 476-5777.</em>
	</p>
	<p>
		Ready to get started?
	</p>
	<div class="getStarted"><s:link view="/terms.xhtml">Match to Trials Now</s:link></div>
</ui:define>
</ui:composition>
