<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:q="http://quantumleaphealth.org/jsf"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:s="http://jboss.com/products/seam/taglib">
	
<head>
	<title><ui:insert name="title" /> - BreastCancerTrials.org</title>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" type="text/css" rel="stylesheet"/>
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/Print.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/Menu.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/Global.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/legacyStyles.css" />
	<link media="all" rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/AvonPfizer.css" />
	
	<link rel="icon" type="image/png" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/images/favicon.png" />

	<ui:insert name="styles" />

	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/JQuery.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/Common.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/js/JQuery.Fancybox-1.3.4.js"></script>	
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
	
	<ui:insert name="javascripts" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="robots" content="all, index, follow" />
	<meta name="*" content="cache" />
	<meta name="revisit-after" content="14 days" />
	<meta name="resource-type" content="document" />
	<meta name="rating" content="general" />
	<meta name="google-site-verification" content="E9Wyjwp8ipM5nd2qKv5ru9mRuKixe0Hpykk4n3kuUC8" />
	<meta name="msvalidate.01" content="83E0B6FA18A9D68C99FBC823241CF127" />

</head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQ5KLJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&#38;l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQ5KLJ');</script>
<!-- End Google Tag Manager -->
	<div id="content">
		<div class="contentMain" id="contentMain">
			<div class="ContentContainer">
				<div style="background-color:white;"><ui:insert name="contentMain"/></div>	
			</div>	
		</div>
	</div>	
	<ui:insert name="javascriptsPageOnload" />

</body></html>
