<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:c="http://java.sun.com/jstl/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
				template="avonpfizertemplate.xhtml">

<ui:define name="title">View Trials for Metastatic Advanced Breast Cancer</ui:define>

<ui:define name="styles">
	<meta name="description" content="See All Trials: early and advanced breast cancer, Her2-positive breast cancer, triple negative breast cancer, estrogen-positive breast cancer, complementary and alternative medicine…"/>
	<meta name="keywords" content="advanced breast cancer, HER2-positive"/>
</ui:define>

<ui:define name="breadCrumbs">
 	<td class="noHover" align="left" width="99%">
		<s:link view="/home.xhtml" styleClass="noHover" propagation="none">Home&#xa0;&#xa0;</s:link>
		<ui:fragment rendered="#{userProxy.userPatientLoggedIn and not userProxy.navigatorLoggedIn}">
			<s:link view="/account.xhtml" styleClass="noHover">/&#xa0;&#xa0;#{bundle['My_Account']}&#xa0;&#xa0;</s:link>
		</ui:fragment>
		/&#xa0;&#xa0;Find a Trial&#xa0;&#xa0;/&#xa0;&#xa0;<strong>See All Trials</strong>
	</td>
</ui:define>

<ui:define name="contentMain">
      <div>
        <table width="100%">
          <tbody>
            <tr style="height:0px;">
            <td style="height:0px;">
          	<table width="100%">
              <tr>
              	<td align="left"><img src="/BCTIncludes/images/Screener416.png" /></td>
	            <td align="right" style="padding:0px;height:0px;">
	            	<a id="backToSender" href="#{param['comefrom']}" style="font-family: Arial; font-size: 13px; float: right; padding-left: 15px; padding-right: 15px;">Back&#xA0;to&#xA0;Metastatic&#xA0;Trial&#xA0;Search</a>
	           	</td>
              </tr>
            </table>
            </td>
            </tr>
           
         	<tr style="height:0px;">
            <td style="height:0px;">
           		<table width="100%">
           		<tr>
            	<td align="left" width="50%">
				<form id="zipForm" name="zipForm" method="get" action="/bct_nation/AvonPfizer/results.seam" enctype="application/x-www-form-urlencoded">
					<h3 class="BrowseTrialsZipSearchHeader">Sort by zip code:&#xA0;&#xA0;</h3>
               		<input type="text" id="zip" name="zip" value="#{avonPfizer.zip}" title="Enter a zip code to search by" size="5" maxlength="5" style="margin-left:0px; margin-right:10px; width:5em;" />
                	<input type="submit" name="go" id="zipGo" value="go" title="start search" onclick="return true;" />
                	<div id="errormessages" class="errortext" style="display:none"></div>
					<input type="hidden" name="categoryString" value="#{param['categoryString']}"></input>
					
					<ui:repeat value="#{avonPfizer.attributes}" var="attr">
						<input type="hidden" name="attributes" value="#{attr}"></input>
					</ui:repeat>	

					<input type="hidden" name="yob" value="#{param['yob']}"></input>
					
					<input type="hidden" name="female" value="#{param['female']}"></input>
					
					<input type="hidden" name="male" value="#{param['male']}"></input>
					
					<input type="hidden" name="comefrom" value="#{param['comefrom']}"></input>
					
					<ui:repeat value="#{avonPfizer.newattributes}" var="newattr">
						<input type="hidden" name="newattributes" value="#{newattr}"></input>
					</ui:repeat>	
					
					<input type="hidden" name="NoEvidenceOfDisease" value="#{param['NoEvidenceOfDisease']}"></input>
					
              	</form>
	  			</td>
            	<td align="right" style="padding:0px;height:0px;">
            		<a href="#" id="print_link" onclick="window.print();" style="font-family: Arial; font-size: 13px; float: right; padding-left: 15px; padding-right: 15px;"><img src="/BCTIncludes/images/print_article.gif" alt="Print this page"/></a>
            		<div id="email_form_link" class="ExpandableItemHeader" style="display:inline;float: right;">Email this page</div>
            	</td>
        		</tr>
        		</table>
        	</td>
        	</tr>	
          </tbody>
        </table>
        
 	  </div>

	  <div class="AvonPfizerDescription">
	    <div class="AvatarDescriptionHeader">
     		<i>#{avonPfizer.historyDescription}</i>
      	</div>	
      	
      	<p>
      		You have matched to <span class="BrowseTrialsZipSearchHeader">#{avonPfizer.trialMatchCount} trials</span>
      	</p>
      	<p>
			Last updated:&#xA0; 
			<h:outputText value="#{avonPfizer.lastModified}" ><s:convertDateTime dateStyle="long" /></h:outputText>
			<h:outputText value="Powered by BreastCancerTrials.org" style= "float:right;font-style: italic;padding-right: 15px;" />
		</p>

		<ui:fragment rendered="#{avonPfizer.isProximitySearch()}">
        	<div style="padding-right: 15px;">Toggle:
		    	<h:commandButton value="Group View" action="#{avonPfizer.toggleProximitySearchView}" disabled="#{not avonPfizer.isListView()}" />
				<h:commandButton value="List View" action="#{avonPfizer.toggleProximitySearchView}" disabled="#{avonPfizer.isListView()}"/>
	    	</div>
    	</ui:fragment>			
      	<ui:fragment rendered="#{avonPfizer.getTrialGroups().size() gt 1 }">
        	<div style="padding-right: 15px;">Jump to:
            	<ui:repeat value="#{ avonPfizer.getTrialGroups() }" var="trialProximityGroup">
                   <ui:fragment rendered="#{trialProximityGroup.size() > 0}">
                   		&#xA0;<a href="##{trialProximityGroup.getTrialTypeName()}">#{bundle[trialProximityGroup.getTrialTypeName()]} (#{trialProximityGroup.size()})</a>
                	</ui:fragment>
             	</ui:repeat>
          	</div>
            <br />
        </ui:fragment>
   	</div>     

   <!-- Content -->
	<div class="ContentFramedBox" style="height:1200px;overflow-y:scroll;">
 			<ui:repeat value="#{avonPfizer.getTrialGroups()}" var="trialProximityGroup">
				<ui:fragment rendered="#{trialProximityGroup.size() > 0}">
					<div class="ContentHeaderText">
						<a name="#{trialProximityGroup.getTrialTypeName()}" />
						<h:outputText value="#{bundle[trialProximityGroup.getTrialTypeName()]}"></h:outputText>
					</div>
					<br/>
				</ui:fragment>
				<ui:repeat value="#{trialProximityGroup}" var="prox">
				    <div class="trial">
		        <h2 id="n#{prox.trial.id}"><h:outputText value="#{prox.trialName}" escape="false" /></h2>
		        
		        <div id="u#{prox.trial.id}" style="display:none">
					<a class="jslink" onclick="$('[id=u#{prox.trial.id}]').fadeOut(1500);$('[id=t#{prox.trial.id}]').fadeIn(1500);" title="Click to unshrink">Show again</a>
				</div>
				
		       	<div id="t#{prox.trial.id}">
					<div class="information">
						<p class="description"><h:outputText value="#{prox.trialTitle}" escape="false"/></p>
						<h3>Summary</h3>
						<p><h:outputText value="#{prox.trialPurpose}" escape="false"/><ui:fragment rendered="#{prox.trial.phase.toString() ne 'NA'}"><br />This is a Phase #{bundle[q:concat('label.phase.', prox.trial.phase)]} trial</ui:fragment></p>
						<div id="d#{prox.trial.id}" style="display:none">
							<h3>What's involved:</h3>
							<ui:fragment rendered="#{not empty prox.trialTreatmentPlan}"><h:outputText value="#{prox.trialTreatmentPlan}" escape="false"/></ui:fragment>
							<h3>Additional procedures:</h3>
							<p><h:outputText value="#{prox.trialProcedures}" escape="false"/></p>
							<h3>Trial length:</h3>
							<p><h:outputText value="#{prox.trialDuration}" escape="false"/></p>
							<h3>Post-trial follow-up:</h3>
							<p><h:outputText value="#{prox.trialFollowup}" escape="false"/></p>
							<h3>Sponsor:</h3>
							<p><h:outputText value="#{prox.trialSponsor}" escape="false"/></p>
							<h3>More information</h3>
							<p>View eligibility criteria and additional trial information: 
								<span style="#{prox.trial.primaryID != null ? 'display:' : 'display:none'}">&#xA0;&#xA0;&#xA0;<a href="#{bundle['NCTLinkBaseURL']}#{prox.trial.primaryID}" target="_blank">#{bundle['label.NCTLink']}</a></span></p>
							<p>Related links:<ui:repeat value="#{prox.trial.link}" var="externalLink">&#xA0;&#xA0;&#xA0;<a href="#{externalLink.url}" target="_blank">#{externalLink.label}</a></ui:repeat></p>
						</div>
					</div>
					<div class="summary"><ul style="margin-left: 0px">
					    <div id="novisitsrequired" style="#{prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'}">
					    	<li style="list-style-type: none;" class="time">
					    		<table>
					    		<tr>
					    		<td style="vertical-align:top">
					    			<h:graphicImage url="/images/icn_time.png" alt="Participation Time" style="Position:relative;" title="[Participation Time]" />
					    		</td>
					    		<td> 
					    			<h:outputText value="#{prox.trialBurden}" escape="false"/>
					    		</td>
					    		</tr>
					    		</table>
					    	</li>						    
							<li style="list-style-type: none;" class="location">
								<table>
					    		<tr>
					    		<td style="vertical-align:top">
									<h:graphicImage url="/images/icn_car.png" alt="No Visits Required for this Trial" style="Position:relative;" title="[No Visits Required]" />
								</td>
								<td>	
									<h:outputText value="#{bundle['label.secondary.novisitsrequired']}" />&#xA0;
								</td>
								</tr>
								</table>	
							</li>							    								    							    	
						</div>	
						
					    <div id="visitsrequired" style="#{!prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'}">
					    	<li style="list-style-type: none;" class="time">
					    		<table>
					    		<tr>
					    			<td style="vertical-align:top"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" style="Position:relative;" title="[Participation Time]" /></td> 
					    			<td><h:outputText value="#{prox.trialBurden}" escape="false"/></td>
					    		</tr>
					    		</table>						    
					    	</li>
							<li style="list-style-type: none;" class="location">
								<table>
								<tr>
								<td style="vertical-align:top">
									<h:graphicImage url="/images/icn_car.png" alt="Participating research sites" style="Position:relative;border-image:none;border:none;" title="[Participating research sites]" />
								</td>
								<td>	
							 	<ui:fragment rendered="#{prox.known and (prox.distance ge 0)}">Nearest research site: #{prox.site.city}, #{prox.site.politicalSubUnitName};&#xA0;
									<h:outputText value="#{prox.distance}"><f:convertNumber maxFractionDigits="0" /></h:outputText> miles from&#xA0;<h:outputText value="#{avonPfizer.zip}"><f:convertNumber pattern="00000" /></h:outputText>;&#xA0;
								</ui:fragment>

								<div>
									<ui:fragment rendered="#{!prox.known and (prox.distance le 0)}">
										Research sites:
										#{prox.trial.trialSite.size()} #{prox.trial.trialSite.size() == 1 ? 'site' : 'sites'} total
										<span class="sitelink">
						 					<s:link view="/AvonPfizer/avonpfizer_public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites" target="_blank">
						 						<f:param name="trialId" value="#{prox.trial.id}" />
						 						<f:param name="trialName" value="#{prox.trial.name}" />
						 						Contact information
						 					</s:link>
						 				</span>
									</ui:fragment>
							
						 			<ui:fragment rendered="#{(!prox.known) and prox.available}"><br /><a class="jslink" onclick="window.scrollTo(0,0); avonZip();">Enter zip code to see nearest sites</a></ui:fragment>
						 			<ui:fragment rendered="#{prox.distance gt 0}">
						 				<span class="sitelink">
						 					<s:link view="/AvonPfizer/avonpfizer_public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites" target="_blank">
						 						<f:param name="trialId" value="#{prox.trial.id}" />
						 						<f:param name="trialName" value="#{prox.trial.name}" />
						 						#{bundle['label.viewlocations']}
						 					</s:link>
						 				</span>
									</ui:fragment>
								</div>
								</td>
								</tr>
								</table>
							 </li>
						 </div>
					</ul></div>
					
					<div class="actions">
						<div id="s#{prox.trial.id}">
							<a class="jslink" onclick="$('[id=s#{prox.trial.id}]').slideUp(1500);$('[id=d#{prox.trial.id}]').slideDown(1500);$('[id=h#{prox.trial.id}]').slideDown(1500);" title="Click to see details">#{bundle['label.showdetails']}</a>
							<h:outputText value="&#160;&#160;&#160;"/>
							<span>
								<span class="sitelink">
		 							<s:link view="/AvonPfizer/avonpfizer_public_trialsite.xhtml" title="Click to see the research sites for this trial" target="_blank">
	 									<f:param name="trialId" value="#{prox.trial.id}" />
					 					<f:param name="trialName" value="#{prox.trial.name}" />
				 						Contact information
					 				</s:link>
								</span>
							</span>
						</div>
						<div id="h#{prox.trial.id}" style="display:none">
							<a class="jslink" onclick="$('[id=d#{prox.trial.id}]').slideUp(1500);$('[id=h#{prox.trial.id}]').slideUp(1500);$('[id=s#{prox.trial.id}]').slideDown(1500);" title="Click to hide details">#{bundle['label.hidedetails']}</a>&#xA0;&#xA0;
							<a href="#n#{prox.trial.id}" onclick="$('[id=t#{prox.trial.id}]').fadeOut(1500);$('[id=u#{prox.trial.id}]').slideDown(1500);" title="Click to shrink trial information" class="indent">Not interested</a> 
						</div>
					</div>
				</div>
		    </div>
		
		</ui:repeat>
		</ui:repeat>
 	
 	</div>
</ui:define>

<ui:define name="javascriptsPageOnload">
	<script type="text/javascript">
	//<![CDATA[
	
	$( document ).ready(function() {

		$("#email_form_link").click(function() {
			
			var url = [location.protocol, '//', location.host, location.pathname].join('');
			
   			var subject = 'Clinical Trials from Metastatic Trial Search';
   			// three carriage returns windows-style before the url to reduce confusion.
			var emailBody = 'I thought you might be interested in these trials from Metastatic Trial Search. Click on the link below, or copy and paste it into your browser to view the trials.%0D%0A%0D%0A%0D%0A' +  (url + encodeURIComponent(document.location.search)); 

			window.location = 'mailto:?subject=' + subject + '&body=' + emailBody;
		});

		$("#backToSender").click(function() {

			var baseURL = $("#backToSender").attr('href');
			$("#backToSender").attr('href', baseURL + document.location.search);
		});
			
	});
	
	// ]]>
	</script>
 </ui:define>
        
</ui:composition>
