<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">How Clinical Trials Have Improved Breast Cancer Care</ui:define>

<!-- Objective/Findings styles -->
<ui:define name="styles">
<style type="text/css">
h4 { color: #3977AC; margin-top: 1em; }
.objs, .fnds { margin: 0px 0px 0px 0px; }
.fnds { font-style: italic; }
</style>
</ui:define>

<ui:define name="contentMain">
	<h1>How Clinical Trials Have Improved Breast Cancer Care</h1>
	<p>
		If you asked your oncology team why they were recommending a certain type of chemotherapy regimen, radiation dose, or surgical procedure, 
		you'd probably get an answer that includes these three words: clinical trial results.
	</p>
	<p>
		The first randomized breast cancer clinical trial began in 1958. 
		This trial, which was overseen by the newly established <strong>National Surgical Adjuvant Breast and Bowel Project</strong> (<a target="_blank" href="http://www.nsabp.pitt.edu">NSABP</a>), 
		enrolled more than 800 women. 
		Half had a radical mastectomy; the other half had a radical mastectomy and received a very small dose of the drug thiotepa. 
		The drug caused some side effects, but it provided the first evidence that chemotherapy could decrease recurrence in some patients. 
	</p>
	<p>
		Since then, clinical trials have advanced every aspect of breast cancer care. 
		Below is a timeline of some of the most important trials. 
		In each of these trials participants were randomly assigned (randomized) to a specific treatment group. 
		Randomized trials are the gold standard of cancer research.
	</p>

	<h4>1971-The NSABP B-04 clinical trial begins.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of a radical mastectomy (removing the breast, chest wall muscle, and underarm lymph nodes), 
		to a total mastectomy (removal of the breast and lymph nodes), or a total mastectomy followed by radiation.
	</p>
	<p class="fnds">
		Findings: A total mastectomy is as effective as a radical mastectomy in reducing distant recurrence and prolonging survival. 
		Twenty-five year follow-up findings (released in 2002) continue to show no survival difference.
	</p>

	<h4>1976-The NSABP B-06 clinical trial begins.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of a lumpectomy along with removal of the underarm lymph nodes and radiation to a total mastectomy.
	</p>
	<p class="fnds">
		Findings: A lumpectomy with lymph node removal and radiation is as effective at reducing distant recurrence and prolonging survival as a regular mastectomy or radical mastectomy.
	</p>

	<h4>1982-The NSABP B-14 clinical trial begins.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of tamoxifen to a placebo in women who are estrogen receptor (ER)-positive and node-negative who have had surgery, radiation, and chemotherapy.
	</p>
	<p class="fnds">
		Findings: Tamoxifen reduces the risk of recurrence. This study then went on to find that there is no benefit to staying on tamoxifen for longer than five years.
	</p>

	<h4>1988-The NSABP B-18 trial begins.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the benefit of chemotherapy prior to surgery (neoadjuvant treatment) to chemotherapy given after surgery (adjuvant treatment) in women with large tumors.
	</p>
	<p class="fnds">
		Findings: In 80 percent of patients, neoadjuvant chemotherapy increased the number of women able to have a lumpectomy. Neoadjuvant therapy does not improve survival.
	</p>

	<h4>1991-The NSABP B-24 trial begins.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of lumpectomy, radiation, and tamoxifen to lumpectomy, radiation, and a placebo in women with ductal carcinoma in situ (DCIS). 
	</p>
	<p class="fnds">
		Findings: Tamoxifen can prevent the development of invasive breast cancer in women with DCIS. 
	</p>

	<h4>1992-The NSABP-P-1 trial begins. This is the first breast cancer prevention trial.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of five years of tamoxifen to five years of a placebo in women at high risk for developing the disease.
	</p>
	<p class="fnds">
		Findings: Tamoxifen reduces the incidence of breast cancer by about 50 percent in high-risk women.
	</p>

	<h4>1995-Phase III clinical trial of Herceptin in metastatic setting begins.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of chemotherapy and Herceptin to chemotherapy alone in women with metastatic HER2-positive breast cancer.
	</p>
	<p class="fnds">
		Findings: Herceptin in combination with chemotherapy slows cancer progression, increases tumor shrinkage, and increases survival.
	</p>

	<h4>Mid-1990s-Multiple high-dose chemotherapy and blood cell transplant trials begin.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of high-dose chemotherapy followed by blood cell transplant to a standard chemotherapy treatment for various stages of breast cancer. 
	</p>
	<p class="fnds">
		Findings: High-dose chemotherapy followed by blood cell transplant does not improve survival.
	</p>

	<h4>1996-Anastrazole, Tamoxifen, Alone or Together (ATAC) Trial begins. 
		This is the largest ever adjuvant treatment trial for postmenopausal women and the first trial to compare an aromatase inhibitor (AI) to tamoxifen.
	</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of five years of anastrozole (Arimidex) alone, to five years of tamoxifen alone, or five years of anastrozole and tamoxifen together.
	</p>
	<p class="fnds">
		Findings: Anastrazole is more effective than tamoxifen. 
		Combining anastrazole with tamoxifen is less effective than taking tamoxifen or anastrazole alone. 
		This study is followed by other AI studies that lead to the recommendation, in 2004, 
		that all women with hormone-sensitive tumors have adjuvant treatment that includes an AI.
	</p>

	<h4>1999-NSABP-P2/STAR trial begins. This is the second breast cancer prevention trial.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of five years of raloxifene to five years of tamoxifen in high-risk women.
	</p>
	<p class="fnds">
		Findings: Raloxifene, like tamoxifen, reduces breast cancer risk by about 50 percent in high-risk women.
	</p>

	<h4>2000-NSABP-B-31 and North Central Cancer Treatment Group (NCCTG) N9831 clinical trials begin.</h4>
	<p class="objs">
		<strong>Objective:</strong> Compare the effectiveness of doxorubicin (Adriamycin) and cyclophosphamide (Cytoxan) 
		followed by paclitaxel (Taxol) and Herceptin to the same chemotherapy combination and a placebo in women with HER2-positive, 
		node-positive breast cancer.
	</p>
	<p class="fnds">
		Findings: Herceptin combined with chemotherapy reduces the risk of recurrence in women with early-stage disease. 
	</p>
</ui:define>
</ui:composition>
