<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Questions For My Doctor</ui:define>

<ui:define name="contentMain">
	<h1>Questions For My Doctor</h1>
	<p>
		Your doctor and the other members of your medical team can help you weigh the risks and benefits of participating in a clinical trial. 
		However, the decision to enter a clinical trial is totally up to you. 
	</p>
	<p>
		Remember: You should feel free to ask any question or bring up any concern with your doctor or with members of the research staff. 
	</p>
	<p>
		If you find that your doctor is, in general, unreceptive to the idea of clinical trials, 
		or has concerns about your entering a specific clinical trial, 
		you may want to consider seeing another doctor for a second opinion.
	</p>
	<p>
		These are some of the questions you may want to ask your doctor about a trial she or he has suggested or in which you are interested.
	</p>

	<h2>The Clinical Trial</h2><ul>
		<li>What do you know about this trial?</li>
		<li>What should I ask the trial coordinator?</li>
		<li>Do you have other patients who have enrolled in this trial?</li>
		<li>Are there other trials besides from this one that I should consider?</li>
		<li>What would my treatment be if I didn't enter the trial?</li>
	</ul>
	<h2>Risk and Benefits</h2><ul>
		<li>What are the possible short-term benefits?</li>
		<li>What are the possible long-term benefits?</li>
		<li>What side effects might I experience?</li>
		<li>Are there treatments to alleviate side effects?</li>
		<li>Are there any potential long-term risks?</li>
		<li>How do the potential benefits compare to other treatment options?</li>
		<li>How will the trial and its possible side effects affect my daily life?</li>
	</ul>
	<h2>Trial Participation Requirements and Care</h2><ul>
		<li>What tests, procedures, and treatments will I have during the trial?</li>
		<li>How do these tests, procedures, and treatments differ from those I would have if I didn't take place in this trial?</li>
		<li>Where will these tests, procedures, and treatments be done?</li>
		<li>Will I still see you - my own doctor - on a regular basis?</li>
		<li>Who will monitor my care and safety?</li>
	</ul>
	<h2>Tips for Talking to Your Doctor</h2><ul>
		<li>Consider having a friend or family member with you to take notes or help ask questions.</li>
		<li>Consider recording the conversation so you can review the answers at a later date.</li>
		<li>Prepare your questions in advance, and write down your doctor's answers.</li>
		<li>Tell your doctor if you are having trouble understanding an explanation, description, or unfamiliar word.</li>
	</ul>

	<p>You may also want to review&#xA0;<s:link view="/start/site.xhtml">What to Ask the Research Site.</s:link></p>

	<blockquote><p>
		Some of the information on this page used or adapted with permission from 
		<a target="_blank" href="http://www.cancertrialshelp.org">"Questions to Ask Your Doctor"</a> 
		by the Coalition of Cancer Cooperative Groups.
	</p></blockquote>


</ui:define>
</ui:composition>
