<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Why Take Part?</ui:define>

<ui:define name="contentMain">
	<h1>Why Take Part?</h1>
	<p>
		Clinical trials contribute to the overall knowledge and progress against breast cancer. 
		Virtually all of today's standard treatments for preventing, screening, diagnosing, and treating breast cancer began in clinical trials. 
		In addition, many people treated for breast cancer are now living longer thanks to the knowledge gained through clinical trials.
	</p>
	<p>
		BCT.org believes that every breast cancer patient should have the opportunity to ask 
		<em>"What clinical trials are available for me?"</em> 
		as they explore their options for care. 
		We also believe that every person who is diagnosed with breast cancer or who is interested in new methods for detecting breast cancer 
		should ask her or himself: 
		<em>Should I take part in a trial?</em>
	</p>
	<h2>Unfounded Fears</h2>
	<p>
		Patients' fears about experimental treatments, placebos, unnecessary testing, and cost of care often keep them from even considering a trial, 
		let alone enrolling in one. 
		Many of these fears are unfounded. But they are so strong and so common that they can actually slow down the pace of cancer research. 
		Why? If researchers don't have breast cancer patients who are interested in enrolling in clinical trials, they can't study new treatments. 
		And unless they have data from good studies, the Food and Drug Administration will not approve new cancer treatments.
	</p>
	<h2>Who Benefits</h2>
	<p>
		Trial participants receive either the standard of care
		- the most effective known treatment or screening procedure available
		- or they may receive a new medication, a new combination of medications, or a new screening procedure under study. 
		In many cases, the new medication or screening procedure has been shown in earlier trials to be as effective or more effective than the standard treatments or screening approaches.
	</p>
	<p>
		This means that you <em>may</em> personally benefit from the treatment you receive. But it doesn't mean that you will. 
		The new treatment or screening procedure may not be better than the standard of care. 
		Or, the researchers may find that only a select group of people benefit from the new treatment - and you may not be one of them.
	</p>
	<p>
		So, while there are good reasons to enroll in a trial, there are also good reasons to decide that a trial might not be right for you at this point in time. 
		BCT.org is not here to convince you to enroll in a trial. 
		Our goal is to educate patients about breast cancer trials, and help them find the trials that might be right for them.
	</p>

	<blockquote><p>
		Some of the information on this page used or adapted with permission from 
		<a target="_blank" href="http://www.cancertrialshelp.org">"Learn About Cancer Clinical Trials"</a>
		by the Coalition of Cancer Cooperative Groups.
	</p></blockquote>
</ui:define>
</ui:composition>
