<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:s="http://jboss.com/products/seam/taglib">
<head>
	<title><ui:insert name="title" /> - BreastCancerTrials.org</title>

	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/reset-fonts-grids/reset-fonts-grids.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/base/base-min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/menu/assets/skins/sam/menu.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/screen.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/application.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/screening/screening.css" media="screen" />
	
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_main.js"></script>
	<ui:insert name="javascripts" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="robots" content="all, index, follow" />
	<meta name="*" content="cache" />
	<meta name="revisit-after" content="14 days" />
	<meta name="resource-type" content="document" />
	<meta name="rating" content="general" />
</head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQ5KLJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&#38;l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQ5KLJ');</script>
<!-- End Google Tag Manager -->
	<div class="container">
		<div class="header">
			<s:link tabindex="2" view="/home.xhtml" styleClass="branding"><h:graphicImage url="/images/logo_bct.gif" alt="BreastCancerTrials.org Logo" title="BreastCancerTrials.org Logo" /></s:link>
			<br/>&#xA0;
			<h1>&#xA0;&#xA0;<ui:insert name="title" /></h1>
		</div>
	
		<div class="contentMain" id="contentMain"><ui:insert name="contentMain" /></div>

		<div class="contentSide"><ui:insert name="contentSide" /></div>

		<div class="footer">
			<p>&copy; 2002-2010 BreastCancerTrials.org (v@BCT-NATION-VERSION@) All rights reserved.<br />
				All artwork on this site was donated by the <acronym title="University of California, San Francisco">UCSF</acronym> Art for Recovery Program</p>
		</div>
		<a href="#" class="skipToContent" tabindex="20">Return to the Top</a>
	</div>
</body>
</html>