<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
		        xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
				template="template-nonav.xhtml">

<ui:define name="javascripts-app">
	<script type="text/javascript">
	//<![CDATA[	
	function clearZipForm() 
	{
		var errorDiv     = document.getElementById( 'errormessages' );
		document.forms.zip.elements['Ecom_ReceiptTo_Postal_PostalCode'].value = ''; 
        // clear the errors.
        errorDiv.innerHTML = '';
        errorDiv.style.display = 'none';
        return false;
	}
	// ]]>
	</script>
</ui:define>

<ui:define name="title">
	#{param['titleline1']}
</ui:define>

<ui:define name="styles">
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/primarycategory.css" />
</ui:define>

<!-- ScriptAculoUs library (http://script.aculo.us/) -->
<ui:define name="javascripts">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/prototype.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/effects.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/phase.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
</ui:define>

<ui:define name="contentMain">
	<b>Brought to you by 
		<a href="/bct_nation/home.seam?utm_source=BCT&amp;utm_medium=website&amp;utm_campaign=Primary_button">BreastCancerTrials.org</a>
		&nbsp;<a onclick="$('[id=broughtbyBCT-hint]').toggle(1500);" class="jslink" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
	</b>
	<div id="broughtbyBCT-hint" class="hint" style="display: none;">
		<p><h:outputText value="#{bundle['BroughtByBCT_hint']}" escape="false"/>
		<br /><a class="jslink" onclick="$('[id=broughtbyBCT-hint]').fadeOut(1500);">#{bundle['Close_Learn_More']}</a></p>
	</div>
	<br />

	<ui:fragment> <!-- rendered="#{trialProximityGroup.getTrialTypeName() eq param['category'] or trialBrowser.trials.groupedByProximity eq 2 }"> -->
		<p class="instructions">
			These #{newTrialBrowser.getCategoryCount( param['categorystring'] )} clinical trials, were last updated on&#xA0; 
			<h:outputText value="#{engine.lastModified}" ><s:convertDateTime dateStyle="long" /></h:outputText>.
			We add new trials on a regular basis.  Check back to review our new listings.
		</p>

		<div class="section">
			<h:form id="zip" prependId="false">
				<b>Sort by zipcode:</b><h:inputText name="Ecom_ReceiptTo_Postal_PostalCode" id="Ecom_ReceiptTo_Postal_PostalCode" value="#{newTrialBrowser.postalCode}" size="5" maxlength="5" style="margin-left:45px; margin-right:10px; width:5em;" styleClass="zip" />
				<div class="errortext" id="errormessages" style="display:none"></div>
				
				<a4j:commandButton type="submit" value="go" reRender="trialList" onclick="browseTrialsValidatePostalCode( 'Ecom_ReceiptTo_Postal_PostalCode', 'errormessages' );" /> 
				<input type="reset" name="reset" value="reset" title="clear form" onclick="return clearZipForm();" />
				
				<!--  pass parameters back to page if reloaded -->
				<input id="categorystring" name="categorystring" type="hidden" value="#{param['categorystring']}"/>
				<input id="category" name="category" type="hidden" value="#{param['category']}"/>
				<input id="titleline1" name="titleline1" type="hidden" value="#{param['titleline1']}"/>
			</h:form>
		</div>
		
		<a4j:outputPanel id="trialList">
		<h1 style="border-top: solid #676799 2px;"/>
	 	<ui:repeat value="#{newTrialBrowser.trialList}" var="prox">
		<div class="trial">
			<h2 id="n#{prox.trial.id}"><h:outputText value="#{prox.trial.name}" /></h2>
			<div id="u#{prox.trial.id}" style="display:none">
				<a class="jslink" onclick="Effect.PhaseOut('u#{prox.trial.id}');$('[id=t#{prox.trial.id}]').fadeIn(1500);" title="Click to unshrink">Show again</a>
			</div>
			<div id="t#{prox.trial.id}">
				<div class="information">
					<p class="description"><h:outputText value="#{prox.trial.title}" /></p>
					<h3>Summary</h3>
					<p>#{prox.trial.purpose}<ui:fragment rendered="#{prox.trial.phase.toString() ne 'NA'}"><br />This is a Phase #{bundle[q:concat('label.phase.', prox.trial.phase)]} trial</ui:fragment></p>
					<div id="d#{prox.trial.id}" style="display:none">
						<h3>What's involved:</h3>
						<p><s:formattedText value="#{prox.trial.treatmentPlan}" /></p>
						<h3>Additional procedures:</h3>
						<p><h:outputText value="#{prox.trial.procedures}" /></p>
						<h3>Trial length:</h3>
						<p><h:outputText value="#{prox.trial.duration}" /></p>
						<h3>Post-trial follow-up:</h3>
						<p><h:outputText value="#{prox.trial.followup}" /></p>
						<h3>Sponsor:</h3>
						<p><h:outputText value="#{prox.trial.sponsor}" /></p>
						<h3>More information</h3>
						<p>View eligibility criteria and additional trial information: 
							<span style="#{prox.trial.primaryID != null ? 'display:' : 'display:none'}">&#xA0;&#xA0;&#xA0;<a href="#{bundle['NCTLinkBaseURL']}#{prox.trial.primaryID}" target="_blank">#{bundle['label.NCTLink']}</a></span></p>
						<p>Related links:<ui:repeat value="#{prox.trial.link}" var="externalLink">&#xA0;&#xA0;&#xA0;<a href="#{externalLink.url}" target="_blank">#{externalLink.label}</a></ui:repeat>></p>
					</div>
				</div>
				<div class="summary"> <!-- class="summary"> -->
				<ul style="margin-left: 0px">
	    			<div id="novisitsrequired" style="#{prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'};text-align:left">
	    			<li style="list-style-type: none;" class="time"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" title="[Participation Time]" /> <h:outputText value="#{prox.trial.burden}" /></li>						    
					<li style="list-style-type: none;" class="location"><h:graphicImage url="/images/icn_car.png" alt="No Visits Required for this Trial" title="[No Visits Required]" />
						<h:outputText value="#{bundle['label.secondary.novisitsrequired']}" />&#xA0;
					</li>							    								    							    	
					</div>
					<div id="visitsrequired" style="#{!prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'}">
				    	<li style="list-style-type: none;" class="time"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" title="[Participation Time]" /> <h:outputText value="#{prox.trial.burden}" /></li>						    
						<li style="list-style-type: none;" class="location"><h:graphicImage url="/images/icn_car.png" alt="Participating research sites" title="[Participating research sites]" />
					 	<ui:fragment rendered="#{prox.known and (prox.distance ge 0)}">Nearest research site: #{prox.site.city}, #{prox.site.politicalSubUnitName};&#xA0;
							<h:outputText value="#{prox.distance}"><f:convertNumber maxFractionDigits="0" /></h:outputText> miles from&#xA0;<h:outputText value="#{trialBrowser.postalCode}"><f:convertNumber pattern="00000" /></h:outputText>;&#xA0;
						</ui:fragment>
						
						<div>
							<ui:fragment rendered="#{!prox.known and (prox.distance le 0)}">
								Research sites:
								#{prox.trial.trialSite.size()} #{prox.trial.trialSite.size() == 1 ? 'site' : 'sites'} total
								<span class="sitelink">
						 		<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites" target="_blank">
						 			<f:param name="trialId" value="#{prox.trial.id}" />
						 			<f:param name="trialName" value="#{prox.trial.name}" />
						 			Contact information
						 		</s:link>
						 		</span>
							</ui:fragment>
							
						 	<ui:fragment rendered="#{(!prox.known) and prox.available}"><br /><a class="jslink" onclick="window.scrollTo(0,0); fzip();">Enter zip code to see nearest sites</a></ui:fragment>
						 	<ui:fragment rendered="#{prox.distance gt 0}">
						 		<span class="sitelink">
						 			<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites" target="_blank">
						 				<f:param name="trialId" value="#{prox.trial.id}" />
						 				<f:param name="trialName" value="#{prox.trial.name}" />
						 				#{bundle['label.viewlocations']}
						 			</s:link>
						 		</span>
							</ui:fragment>
						</div>
						 </li>
					</div>
				</ul>
				</div>
				<div class="actions">
					<div id="s#{prox.trial.id}">
						<a class="learnmoreabouttrial" onclick="Effect.PhaseOut('s#{prox.trial.id}');Effect.PhaseIn('d#{prox.trial.id}');$('[id=h#{prox.trial.id}]').fadeIn(1500);_gaq.push(['_trackEvent', 'What\'s Involved', 'Click', 'Old Quickview: #{bundle[newTrialBrowser.getCategoryGoogleAnalyticsCode(newTrialBrowser.getCategoryString())]}',, false]);" title="Click to see details">#{bundle['label.showdetails']}</a>
						<h:outputText value="&#160;&#160;&#160;"/>
					
						<span>
							<span class="sitelink">
								<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial">
						 			<f:param name="trialId" value="#{prox.trial.id}" />
						 			<f:param name="trialName" value="#{prox.trial.name}" />
						 			Contact information
						 		</s:link>
							</span>
						</span>
					</div>
					<div id="h#{prox.trial.id}" style="display:none">
						<a class="learnmoreabouttrial" onclick="Effect.PhaseOut('d#{prox.trial.id}');Effect.PhaseOut('h#{prox.trial.id}');$('[id=s#{prox.trial.id}]').fadeIn(1500);" title="Click to hide details">#{bundle['label.hidedetails']}</a>
						<span class="indent"><a class="notinterested" href="#n#{prox.trial.id}" onclick="Effect.PhaseOut('t#{prox.trial.id}');$('[id=u#{prox.trial.id}]').fadeIn(1500);" title="Click to shrink trial information">Not interested</a></span> 
					</div>
				</div>
			</div>
		</div>
		</ui:repeat>

	</a4j:outputPanel>	
	</ui:fragment>
	
</ui:define>

<ui:define name="contentSide">
	<ul class="sideNav">
		<li class="complete" style="padding-bottom:1em">
			<a href="${facesContext.externalContext.requestContextPath}/quickviews.seam" title="#{bundle['quickviews.outside.linktext']}" style="color: #3977AC;">#{bundle['quickviews.outside.linktext']}</a><br/><br/>
		</li>
		<li class="complete" style="padding-bottom:1.5em">
			<a href="${facesContext.externalContext.requestContextPath}/browse_trials.seam" title="#{bundle['quickviews.outside.browsetext']}" style="color: #3977AC;">#{bundle['quickviews.outside.browsetext']}</a>
	 	</li>
	 	<li class="complete" style="padding-bottom:1.5em">
			<ui:include src="../email_link.xhtml">
				<ui:param name="linktype" value="email_link" />
				<ui:param name="pagetype" value="quickviews_page" />
				<ui:param name="categoryString" value="#{param['categorystring']}" />
			</ui:include>
    	</li>
	</ul>	
</ui:define>

</ui:composition>
