<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Patient Privacy Policy Details</ui:define>

<ui:define name="contentMain">
	<h1>Patient Privacy Policy Details</h1>
	<h2>Privacy Safeguards for BreastCancerTrials.org Members with Online Health Histories</h2><ul>
		<li><em>Password-protected records:</em>
			When you save your Health History for the first time, we will ask you to select a user name and password. 
			From then on, only an individual with that user name and password can access your record.
		</li> 
		<li><em>Control of Health History:</em>
			You have complete control over which research sites can view your Health History, and you can delete your Health History at any time. 
		</li> 
		<li><em>Policies for Research Sites:</em>
			BCT.org will not allow any site to view your record without your explicit permission and you can withdraw consent at any time. 
			BCT.org requires research personnel at participating trial sites to accept our privacy policy before they can access your Health History. 
			Our&#xA0; 
			<s:link view="/rs/privacy.xhtml">privacy policy for research site personnel</s:link>
			is consistent with the HIPAA Medical Privacy Rule.
		</li>
		<li><em>Emails configured for privacy:</em>
			We use "bctrials.org" as our sender name and "message from BCT.org" for the subject line.
		</li> 
	</ul>
	<h2>Privacy Safeguards for Guests</h2>
	<p>
		A "guest" is someone that uses the matching tool without saving his/her information under a user name and password. 
		If you use BCT.org as a guest your personal health history will be deleted when you end your session.
	</p>
	<h2>Additional Privacy Concerns for BreastCancerTrials.org Members and Guests</h2><ul>
		<li><strong>Website Cookies:</strong>
			Cookies are small files that websites place on your computer to collect information about how you are using their website. 
			Cookies cannot read your hard drive or access information stored on your computer. 
			Our cookies cannot reveal anything about you because they do not store any personal information such as your name, email address, or health information. 
			If you turn the "cookies" feature off, you will not be able to use our matching tool.
		</li>
		<li><strong>Electronic Security:</strong>
			Our website follows the security guidelines of the United States Health Insurance Portability and Accountability Act of 1996 (HIPAA). 
			All BCT.org data is transmitted, stored, and processed in a secure environment.
		</li>
		<li><strong>Summary Data:</strong>
			BCT.org pools non-identifiable information from Health History records (such as tumor type and treatment history) to create summary reports that we use to improve our service. 
			Our summary reports do not contain data that could be traced back to you personally. 
			We will not sell or share summary reports with any individual or organization. 
		</li>
	</ul>
</ui:define>
</ui:composition>
