<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<!-- Each question is on its own line -->
<ui:define name="styles">
<style type="text/css">
.jslink { display: block; }
</style>
</ui:define>

<!-- ScriptAculoUs library (http://script.aculo.us/) -->
<ui:define name="javascripts">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/prototype.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/effects.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/phase.js"></script>
</ui:define>

<ui:define name="title">Privacy Policy Frequently Asked Questions</ui:define>

<ui:define name="contentMain">
	<h1>Privacy Policy Frequently Asked Questions</h1>

	<a class="jslink" onclick="$('[id=ans101]').toggle(1500);">
		What is the most important thing I should know about your privacy policy?
	</a>
	<div class="answer" id="ans101" style="display: none;">
		BCT.org will never share or sell any personal health information that can be directly connected to you with any individual or organization without your explicit permission.
	</div>
	<a class="jslink" onclick="$('[id=ans102]').toggle(1500);">
		How does the federal privacy rule (HIPAA) apply to or affect BCT.org?
	</a>
	<div class="answer" id="ans102" style="display: none;">
		In 1996, the US government established national standards to protect the privacy of personal health information, through the 
		<a target="_blank" href="http://www.hhs.gov/ocr/hipaa/">Health Insurance Portability and Accountability Act</a> (HIPAA). 
		The people and organizations that are required by law to adhere to HIPAA privacy standards include health care providers 
		who send patient information electronically, health care clearinghouses, and health plans.  
		BCT.org does not fit into any of these categories, which means we are not required by law to comply with HIPAA. 
		However, we have chosen to adhere to HIPAA standards because we firmly believe in patient privacy.
	</div>
	<a class="jslink" onclick="$('[id=ans103]').toggle(1500);">
		Who has access to the Health History I save on your website?
	</a>
	<div class="answer" id="ans103" style="display: none;"><ul>
		<li>
			You. When you register with BCT.org, you create a username and password, which allows you to control who can update or view your Health History.
		</li>
		<li>
			Trial sites you have explicitly selected through SecureCONNECT. 
			These sites, which belong to the BCT.org Network, have research staff who are able to log onto BCT.org to view a Health History.
		</li>
	</ul></div>
	<a class="jslink" onclick="$('[id=ans104]').toggle(1500);">
		Do I have to create a Health History to look for trials for which I might be eligible?
	</a>
	<div class="answer" id="ans104" style="display: none;">
		No. The Browse Our Trials feature allows you to look for trials without filling out a Health History Form or providing any personal information. 
		Using Browse Our Trials allows you to search for trials that are geographically close to you, or to look for certain types of trials. 
		However, to use BCT.org's personalized Matching Tool, you must complete a Health History Form.
	</div>
	<a class="jslink" onclick="$('[id=ans105]').toggle(1500);">
		Can I get a personalized list of trials without saving my Health History?
	</a>
	<div class="answer" id="ans105" style="display: none;">
		Yes. You can use our Matching Tool without saving your Health History. 
		You also don't need to save your Health History to view your trial matches, print your trial list, or save your list on your computer as a PDF document. 
		However, if you don't save your Health History all of your health information will be permanently deleted when you leave the BCT.org website. 
		This means you will need to create another Health History the next time you return to BCT.org.
	</div>
	<a class="jslink" onclick="$('[id=ans106]').toggle(1500);">
		What do you mean when you describe SecureCONNECT as "secure?"
	</a>
	<div class="answer" id="ans106" style="display: none;">
		SecureCONNECT allows BCT.org members to quickly and easily let research sites know they are interested in a specific trial. 
		When you "send" a message to a research site, BCT.org does two things: 
		it stores your message on our secure computers and at the same time sends the research site an email 
		letting them know that a BCT.org member has expressed interest in one of their trials. 
		The email will not reveal anything about you to the research site, including your name. 
		To view your message and Health History, an authorized staff person at the research site will have to log onto BCT.org. 
		Only authorized personnel are permitted to view BCT.org patient histories.
	</div>
	<a class="jslink" onclick="$('[id=ans107]').toggle(1500);">
		How does BCT.org monitor who can view my Health History when I use SecureCONNECT?
	</a>
	<div class="answer" id="ans107" style="display: none;">
		A program manager at each research site provides BCT.org with the email addresses of staff who are authorized to use BCT.org.  
		Each of these staff members is bound by our Terms and Conditions.
		Only staff for whom BCT.org has a valid email address can log on to BCT.org.
	</div>
	<a class="jslink" onclick="$('[id=ans108]').toggle(1500);">
		How does BCT.org protect my privacy when it sends me emails about new trials or other messages?
	</a>
	<div class="answer" id="ans108" style="display: none;">
		To protect your privacy, any email you receive from BCT.org will be sent from the address 'bctrials.org' with the subject line message 'from BCT.org.' 
		The words 'breast cancer' and 'clinical trial' are never used in the address or the subject line.
	</div>
	<a class="jslink" onclick="$('[id=ans109]').toggle(1500);">
		Can I delete my Health History, and what happens if I do?
	</a>
	<div class="answer" id="ans109" style="display: none;">
		You can decide to delete your Health History from BCT.org at any time. You can do this by logging in and then clicking "Delete my information". 
		When you delete your Health History, we will ask if we can use non-identifiable data, 
		such as tumor type and stage in the summary reports we create about the type of patients who use BCT.org. 
		If you agree, we will keep the non-identifiable data but erase all of your personal information from our computer system. 
		If you do not want us to use these data, we will delete it along with all your personal information.
	</div>
	<a class="jslink" onclick="$('[id=ans110]').toggle(1500);">
		Can you explain what non-identifiable summary data is in more detail?
	</a>
	<div class="answer" id="ans110" style="display: none;">
		Health information is considered non-identifiable when any information that has the potential to identify the person connected to that data has been removed. 
		BCT.org makes records non-identifiable by removing any and all information that could connect you to the data. 
		We use this data to generate summary reports about BCT.org users that tells us, for example, 
		how many patients who use our service are over or under 60, how many have had genetic testing, or how many have metastatic disease.
	</div>
	<a class="jslink" onclick="$('[id=ans111]').toggle(1500);">
		Does BCT.org ever do anything with my Health History other than match me to trials?
	</a>
	<div class="answer" id="ans111" style="display: none;">
		BCT.org will only share your Health History with research sites of your choosing. 
		We will never share or sell your Health History with any other individual or organization.
	</div>
	<a class="jslink" onclick="$('[id=ans113]').toggle(1500);">
		How does BCT.org use summary data?
	</a>
	<div class="answer" id="ans113" style="display: none;">
		The BCT.org team uses summary data to evaluate our site and to report on its usage to potential users, 
		funding agencies, clinical trial sponsors, clinical trial investigators, and members of the research community. 
		We sometimes use summary data in our marketing materials, scientific papers, grant applications, and internal BCT.org progress reports. 
		For example, we may use a statistic in a report that describes how many patients found at least one trial for which they might be eligible. 
		None of this summary data can ever be traced back to the individual users of our website.
		We will not share or sell summary data with any individual or organization.
	</div>
	<a class="jslink" onclick="$('[id=ans114]').toggle(1500);">
		Is there any reason you might release my Health History to a third party?
	</a>
	<div class="answer" id="ans114" style="display: none;">
		The only circumstance in which we might release your health information to a third party without your permission is 
		to comply with a valid legal requirement, such as a law, regulation, search warrant, subpoena or court order, 
		or to prevent the serious injury or death of an individual.
	</div>
	<a class="jslink" onclick="$('[id=ans115]').toggle(1500);">
		Is my Health History secure on BCT.org computers and during the transmission process from my computer to BCT.org?
	</a>
	<div class="answer" id="ans115" style="display: none;">
		Our website follows the security guidelines of the United States Health Insurance Portability and Accountability Act of 1996 (HIPAA). 
		All BCT.org data is transmitted, stored, and processed in a secure environment.
	</div>
	<a class="jslink" onclick="$('[id=ans116]').toggle(1500);">
		Where can I learn more about my health privacy rights?
	</a>
	<div class="answer" id="ans116" style="display: none;">
		To learn more about health privacy, we suggest the following websites:
		<ul>
			<li><a target="_blank" href="http://www.healthprivacy.org">Health Privacy Project</a></li>
			<li><a target="_blank" href="http://www.patientprivacyrights.org">PatientPrivacyRights</a></li>
			<li><a target="_blank" href="http://www.Privacyrights.org">Privacy Rights Clearinghouse</a></li>
			<li><a target="_blank" href="http://www.hhs.gov/ocr/hipaa/">HIPAA</a></li>
		</ul>
	</div>
</ui:define>
</ui:composition>
