<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Patient Privacy Policy</ui:define>

<ui:define name="contentMain">
	<h1>Patient Privacy Policy</h1>
	<h2>Overview</h2>
	<p>
		BreastCancerTrials.org (BCT.org) considers it our utmost responsibility to protect your privacy. 
	</p>
	<p>
		Becoming a BCT.org Member allows you to save your Health History on our secure computers and to use SecureCONNECT and our Trial Alert Service. 
		BCT.org Members have complete control over what is contained in their Health History and with whom it can be shared. 
		BCT.org will never share your personal health information with any individual or organization without your explicit permission. 
		By personal health information, we mean any information that is protected by the&#xA0; 
		<a target="_blank" href="http://www.hhs.gov/ocr/hipaa/consumer_summary.pdf">U.S. Government Medical Privacy Rule (HIPAA)</a>.
		This includes your name, email address, mailing address, telephone number, and date of birth. 
		Although BCT.org is not explicitly covered by HIPAA, we adhere to all of its guidelines.
	</p>
	<p>
		To learn more about the individuals who are using our service, BCT.org creates summary reports 
		by combining non-identifiable data - such as tumor type and tumor stage - from your record with that of other patients. 
		Our summary reports are for BCT.org use only and will not be shared with any individual or organization.
	</p>
	<p>
		BCT.org Members can delete their personal Health History from BCT.org at any time. 
		If you choose to delete your information, you will be asked whether you would like to contribute your non-identifiable data to our summary reports. 
		If you choose "Donate" your personal Health History will still be fully deleted. 
		All that will remain in our system is your non-identifiable data.
	</p>
	<p>
		We encourage all BCT.org users to contribute non-identifiable data to our summary reports, but participation is voluntary.
	</p>

	<h2>For More Information</h2>
	<ul>
		<li><s:link view="/privacy/details.xhtml">Privacy Policy Details</s:link></li>
		<li><s:link view="/privacy/faq.xhtml">Privacy Policy Frequently Asked Questions</s:link></li>
	</ul>
</ui:define>
</ui:composition>
