@charset "UTF-8";
body {
	font-size: 75%;
	background: #FAFAF4;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.container {
	font: 1em/1.5em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
	width: 920px;
	margin: 0px auto;
	background: url(bg_content.png) repeat-y center;
}
.header {
	height: 111px;
	background: url(bg_head.png) no-repeat top center;
}
.branding {
	float: left;
	width: 200px;
	margin: 10px 0px 0px 30px;
}
.branding a:link, .branding a:visited, .branding a:hover, .branding a:active, .branding img {
	border: none;
	text-decoration: none;
}
#content {
	width: 100%;
	clear: both;
}
.contentHead {
	background: url(bg_blue.png) no-repeat bottom center;
	padding-bottom: 20px;
}
.contentHead li {
	list-style-image: url(img_bullet_yellow.png);
}
.contentHead .contentMain li {
	margin-bottom: 10px;
}
.contentHead .contentMain li a:link, .contentHead .contentMain li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	color: #996;
}
.contentHead .contentMain li a:hover, .contentHead .contentMain li a:active {
	color: #663;
}
.contentMain {
	float: right;
	width: 540px;
	padding: 20px 40px;
}
.contentSide {
	float: left;
	width: 280px;
	padding: 0px 0px 0px 10px;
}
.contentHead .contentSide {
	width: 220px;
	padding: 20px 30px;
	margin: 0px;
	background: none;
}
.contentBody .contentSide {
	background: none;
}
.contentSide .highlight {
	background: url(bg_sidebar.png) no-repeat right bottom;
	padding: 20px 20px 40px 20px;
}
.contentSide li {
	list-style-image: url(img_arrow_blue.png);
}
.contentSide a:link, .contentSide a:visited {
	font-size: 1.2em;
	text-decoration: none;
}
.contentSide a:hover, .contentSide a:active {
	color: #06C;
	text-decoration: underline;
}
.contentSide em {
	display: block;
	clear: both;
	margin-bottom: 1.5em;
}
.footer {
	text-align: center;
	font-size: 0.9em;
	line-height: 14px;
	color: #666;
	clear: both;
	background: #FAFAF4 url(bg_foot.png) no-repeat center top;
	padding-top: 25px;
}

a:link {
	color: #3977AC;
}
a:visited {
	color: #1C3C55;
}
a:hover, a:active {
	color: #996;
}

.navigation {
	float: right;
	height: 20px;
	width: 590px;
	margin-top: 70px;
	display: block;
}
.navigation ul, .navigation li {
	list-style-type: none;
	padding: 0px;
}

.bd {
	padding: 0px;
	margin: 0px;
}
.nav {
}
.nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px 0px;
}
.nav li {
	padding: 0px 0px 0px 10px;
	margin: 0px 2px;
	float: left;
	height: 31px;
}
.nav li a {
	padding: 10px 10px 5px 0px;
}
.nav li:hover {
	background: url(bg_nav_left.png) no-repeat left top;
}
.nav li ul {
	margin: 0px;
	padding: 5px 10px 5px 0px;
}
.nav li li {
	margin: 0px;
	padding: 0px 0px 5px;
	float: none;
	height: auto;
}
.nav a:link, .nav a:visited {
	font: 1.2em Georgia, "Times New Roman", Times, serif;
	color: #666;
	text-decoration: none;
	display: block;
}
.nav li:hover a:link, .nav li:hover a:visited {
	background: url(bg_nav_right.png) no-repeat right top;
}
.nav li:hover li a:link, 
.nav li:hover li a:visited, 
.nav li:hover li a:hover, 
.nav li:hover li a:active,
.nav li li a:link, 
.nav li li a:visited, 
.nav li li a:hover, 
.nav li li a:active {
	background: none;
	padding: 0px;
}
.nav li:hover>a:link, .nav li:hover>a:visited {
	color: #996;
}
.nav li li a:link, .nav li li a:visited, .nav li li:hover a:link, .nav li li:hover a:visited {
	font: 1em Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	background: none;
	display: inline;
}
.nav li li:hover a:hover, .nav li li:hover a:active {
	color: #000;
}
.nav li .bd {
	background: url(bg_subnav_left.png) no-repeat left bottom;
	padding-left: 10px;
}
.nav li ul {
	background: url(bg_subnav_right.png) no-repeat right bottom;
}

h1,h2,h3 {
	margin:1em 0 0.75em 0;
}
h1 {
	font: italic 2.2em/1em Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #3977AC;
}
h2 {
	font: italic 1.6em/1em Georgia, "Times New Roman", Times, serif;
	color: #666;
}
h2 a:link, h2 a:visited {
	color: #996;
	text-decoration: none;
}
h2 a:hover, h2 a:active {
	color: #663;
}
h3 {
	font-size: 1.2em;
	font-weight: normal;
	color: #666;
}
h4 {
	font-size: 1.2em;
	font-weight: normal;
	color: #999;
}
h5, h6 {
	font-size: 1em;
	color: #999;
	font-weight: normal;
}
dl {
	margin: 0px;
}
dt, dt a:link, dt a:visited, dt a:hover, dt a:active {
	font: italic 1em/1em Georgia, "Times New Roman", Times, serif;
	color: #996;
	text-decoration: none;
}
dt {
	font-size: 1.6em
}
dd {
	margin: 0px 0px 1em;
}
blockquote {
	font: italic 1.1em/1.2em Georgia, "Times New Roman", Times, serif;
	color: #666;
}

a.skipToContent:link, a.skipToContent:visited {
	font: bold 1px Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-decoration: none;
	padding: 5px 0px;
	display: block;
	height: 15px;
	margin-bottom: -25px;
	position: relative;
}
a.skipToContent:hover, a.skipToContent:active {
	font-size: 1em;
	background: #3977AC;
}

.getStarted {
	float: right;
	background: url(bg_btn160.png) no-repeat center;
	padding: 6px 16px;
}
.getStarted a:link, .getStarted a:visited, .getStarted a:hover, .getStarted a:active {
	font: italic 1.3em Georgia, "Times New Roman", Times, serif;
	color: #996;
	text-decoration: none;
	padding-right: 14px;
	background: url(img_arrow_yellow.png) no-repeat right center;
}

.patientArt {
	text-align: center;
	padding: 40px 20px 20px;
}
.patientArt p {
	font-size: 0.9em;
	font-style: italic;
	line-height: 1em;
	color: #666;
	padding: 5px;
}

.stretcher {
	width: 100%;
	clear: both;
	height: 1px;
}
acronym, abbr {
	cursor: auto;
}
a acronym, a abbr {
	cursor: pointer;
	border: none;
}
.question {
	text-decoration: underline;
	cursor: pointer;
}
.answer {
	margin-bottom: 1em;
}
.errortext {
	background-color: #FFCCCC;
	border: 1px solid #F00;
	padding: 5px;
	margin: 1em 0 .5em 0;
}
