﻿<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/rs/newtemplate-rs.xhtml">

<ui:define name="title">Research Sites/Trial Sponsors</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate1">
		<h1 class="defaultStyleH1">Research Sites</h1>
	</div>	
	
	<div id="ContentFramedBox" class="ContentFramedBox">
		<h2>BCT Research Network members</h2>
			<s:link view="/rs/login.xhtml">SecureCONNECT:</s:link> View BCT referred Health Summaries<br />
			<a href="SecureCONNECTHowToV5FINAL.pdf" target="_guide">User Guide for SecureCONNECT</a><br /><br />
			<a class="jslink" title="Edit Contact Information" onclick="window.open('/contact/','contact','resizable=yes,scrollbars=no,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no');">Research Site Admin Tool:</a> 
				Edit trial contact information (Group Admins only)<br />
			<a href="AdminPortalHowTo_Final_V4.pdf" target="_guide">User Guide for Admin Tool</a><br />
		<h2>Join the BCT Research Network</h2>
			<s:link view="/contact.xhtml">Contact Us</s:link> to learn more. Membership is free of charge.<br /><br /><br />
	</div>
			
	<div class="ContentPageHeader ContentPageHeader-Alternate2">
		<h1 class="defaultStyleH1">Trial Sponsors</h1>
	</div>
		
	<div id="ContentFramedBox" class="ContentFramedBox">
		<h2>List a trial on BCT</h2>
		<s:link view="/contact.xhtml">Contact Us</s:link> to learn more. BCT is free of charge.<br />
		<s:link view="/browse_trials.xhtml">View</s:link> BCT trial summaries<br />
		<s:link view="/rs/privacy.xhtml">Our Privacy Policy</s:link><br />
	</div>
</ui:define>
</ui:composition>
