<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/rs/newtemplate-rs.xhtml">

<ui:define name="title">How to Join</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate4">
		<h1>How to Join the BCT Research Site Network</h1>
	</div>	
	<div id="ContentFramedBox" class="ContentFramedBox">
	<p>
		It is easy to join the BCT Research Site Network
	</p>
	<p style="text-align: center;">
		<em>Simply provide contact information for your trials and be willing to respond to BCT-referred patients</em>
	</p>

	<h2>Process for Joining the Network</h2>
	<ol>
	<li>
		<strong>Identify staff contact (s) to BCT:</strong>
		Depending upon how your site is organized, we can support single or multiple programs 
		(e.g., Med. Oncology. vs. Rad. Oncology. We will need a liaison for each. <br />
		<p style="margin-left: 5em;"><h:graphicImage url="/images/join.png" alt="Join BCT Network" title="Join BCT Network" /></p>
	</li>
	<li>
		<strong>Review trials for posting in BCT:</strong>
		We generate the list of Cancer.gov trials for your site with current contact information. 
		Mark trials within your area for review.
	</li>
	<li>
		<strong>Update Cancer.gov Contact Information and Accrual Status:</strong>
		As a trusted surrogate, Cancer.gov will accept our updates for one-stop service.
	</li>
	<li>
		<strong>Provide a BCT SecureCONNECT contact:</strong> 
		One person can be assigned to multiple trials.
	</li>
	<li>
		<strong>Per trial, list BCT contact information for patients:</strong>
		Please provide the best phone number/and or email for quick and easy access. 
		It can be different from that in Cancer.gov
	</li>
	<li>
		<strong>List other HIPAA-trained staff that can logon to BCT:</strong>
		This is helpful, if one staff member receives all SecureCONNECT emails. 
		Referral emails do not contain personal information and can be forwarded to other staff.
	</li>
	<li>
		<strong>Add investigator-initiated trials:</strong> 
		We are happy to include these, if they are registered in Cancer.gov or ClinicalTrials.gov. 
		Simply provide us with a protocol/consent form and we will do the rest. 
		In lieu of the protocol we will accept a copy of the eligibility criteria, study calendar, and consent form, providing we have somebody to whom we can address questions. 
		We will treat your protocols with the utmost confidence. 
		It is easy to register trials in Cancer.gov through their <a href="http://pdqupdate.cancer.gov/u/submission" target="_blank">online portal</a>.
	</li>
	</ol>

	<h2>Maintenance of Your BCT Site Account</h2>
	<ul>
	<li>
		<strong>Respond to BCT Quarterly Reports</strong> 
		to update trial and staff information. 
		We also ask for status updates of BCT-referred patients in a HIPAA-compliant manner.
	</li>
	<li>
		<strong>Ensure that BCT patients are responded to within 3 business days.</strong> 
		We will alert you if there are SecureCONNECT referrals that have been "unopened" after 3 business days.
	</li>
	<li>
		<strong>Ensure protection of Patient Privacy</strong>
		in accordance with your site's HIPAA policies as well as those&#xA0;
		<s:link view="/rs/privacy.xhtml">stipulated for BCT</s:link>.
	</li>
	</ul>

	<p>
		For further assistance, please call 415-476-5777.
	</p>
	</div>
</ui:define>
</ui:composition>
