<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/rs/newtemplate-rs.xhtml">

<ui:define name="title">SecureCONNECT Logged out</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate4">
		<h1>SecureCONNECT Logged out</h1>
	</div>	
	<div id="ContentFramedBox" class="ContentFramedBox">
	<p class="instructions">
		You have logged out of SecureCONNECT.
		If this is not your computer you should close this window.
		If you do not close the window, others may be able to see your and your patients' information by clicking the <em>Back</em> button. 
	</p>
	<p>
		<s:link view="/rs/login.xhtml">Log in again</s:link>&#xa0;-&#xa0;
		<s:link view="/rs/index.xhtml">Research Site landing page</s:link>&#xa0;-&#xa0;
		<s:link view="/contact.xhtml" title="Click to send a message">Contact Us</s:link>&#xa0;-&#xa0;
		<s:link view="/home.xhtml">Home Page</s:link>
	</p>
	</div>
</ui:define>
</ui:composition>
