<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
			xmlns:ui="http://java.sun.com/jsf/facelets"
			xmlns:h="http://java.sun.com/jsf/html"
  			xmlns:f="http://java.sun.com/jsf/core"
		  	xmlns:c="http://java.sun.com/jstl/core"
			xmlns:s="http://jboss.com/products/seam/taglib"
	        xmlns:q="http://quantumleaphealth.org/jsf"
			template="/rs/template-iframe.xhtml">

<ui:define name="title">#{screenerInterface.invitation.patientName} - #{screenerInterface.invitation.trialSite.trial.primaryID}</ui:define>

<ui:define name="contentMain">
	<div id="disposition_div">
		<h2>Record patient accrual decision</h2>
		<h:form id="disposition" prependId="false"><input type="hidden" name="invitationId" value="#{screenerInterface.invitation.id}" target="_parent"/>
			<q:selectBooleanSet id="dispositionBits" value="#{screenerInterface.dispositionBits}" onclick="ar(this,'3,4');"><ul>
				<li><label><f:selectItem itemValue="0" id="dispositionBits0" />Screening</label></li>
				<li><label><f:selectItem itemValue="1" id="dispositionBits1" /><h:outputText value="#{bundle['disposition.ENROLLED']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 1)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label></li>
				<li><label><f:selectItem itemValue="2" id="dispositionBits2" /><h:outputText value="#{bundle['disposition.UNREACHABLE']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 2)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label></li>
				<li><label><f:selectItem itemValue="3" id="dispositionBits3" /><h:outputText value="#{bundle['disposition.DECLINED']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 3)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label>
					<ul id="dispositionBits3_d" class="indent" style="#{q:isSelected(screenerInterface.dispositionBits, 3) ? 'display:block' : 'display:none'}">
						<q:selectBooleanSet id="declined" value="#{screenerInterface.patientDisposition.declined}" multiple="true">
						<li><label><f:selectItem itemValue="1" id="declined1" /><h:outputText value="#{bundle['declined.1']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="2" id="declined2" /><h:outputText value="#{bundle['declined.2']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="3" id="declined3" /><h:outputText value="#{bundle['declined.3']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="4" id="declined4" /><h:outputText value="#{bundle['declined.4']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="0" id="declined0" /><h:outputText value="#{bundle['declined.0']}" escape="false" /></label></li>
					</q:selectBooleanSet></ul>
				</li>
				<li><label><f:selectItem itemValue="4" id="dispositionBits4" /><h:outputText value="#{bundle['disposition.INELIGIBLE']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 4)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label>
					<ul id="dispositionBits4_d" class="indent" style="#{q:isSelected(screenerInterface.dispositionBits, 4) ? 'display:block' : 'display:none'}">
						<q:selectBooleanSet id="ineligible" value="#{screenerInterface.patientDisposition.ineligible}" multiple="true">
						<li><label><f:selectItem itemValue="1" id="ineligible1" /><h:outputText value="#{bundle['ineligible.1']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="2" id="ineligible2" /><h:outputText value="#{bundle['ineligible.2']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="3" id="ineligible3" /><h:outputText value="#{bundle['ineligible.3']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="4" id="ineligible4" /><h:outputText value="#{bundle['ineligible.4']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="5" id="ineligible5" /><h:outputText value="#{bundle['ineligible.5']}" escape="false" /></label></li>
						<li><label><f:selectItem itemValue="0" id="ineligible0" /><h:outputText value="#{bundle['ineligible.0']}" escape="false" /></label></li>
					</q:selectBooleanSet></ul>
				</li>
			</ul></q:selectBooleanSet>
			<div class="formActions">
				<h:commandButton action="#{screenerInterface.updateDisposition}" value="Save" />
				&#xA0;
				<s:link view="/rs/my_invitations.xhtml"><f:param name="invitationId" value="0" target="_parent"/>Cancel</s:link>
			</div>
		</h:form>
		<div class="instructions">
			Once you record the accrual decision this patient will not appear on your list of patients.
			This information will be reported back to BreastCancerTrials.org in a de-identified, aggregate report. 
			If you have any questions about this, please&#xa0;
			<s:link view="contact.xhtml" title="Click to send BCT a message" target="_parent">Contact Us</s:link>.
		</div>
	</div>
</ui:define>
</ui:composition>
