<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
			xmlns:ui="http://java.sun.com/jsf/facelets"
			xmlns:h="http://java.sun.com/jsf/html"
  			xmlns:f="http://java.sun.com/jsf/core"
		  	xmlns:c="http://java.sun.com/jstl/core"
			xmlns:s="http://jboss.com/products/seam/taglib"
	        xmlns:q="http://quantumleaphealth.org/jsf"
			template="/rs/template-iframe.xhtml">

<ui:define name="title">#{screenerInterface.invitation.patientName} - #{screenerInterface.invitation.trialSite.trial.primaryID}</ui:define>

<ui:define name="javascripts-app">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/tabview/tabview-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_tab.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
</ui:define>

<ui:define name="contentMain">
	<div id="my_history_content">
	
	<div class="utilNav" style="margin-bottom: 2em;"><s:link view="/rs/my_invitations.xhtml" title="Click to go back to list of patients" target="_parent">Return to patient list</s:link></div>
	<h1>#{screenerInterface.invitation.patientName}</h1>
	<h2>Contact: #{screenerInterface.invitation.patientContact}</h2>
	<ui:fragment rendered="#{! empty screenerInterface.invitation.message}"><h2>Message from #{screenerInterface.invitation.patientName} on&#xa0;<h:outputText value="#{screenerInterface.invitation.created}" ><s:convertDateTime /></h:outputText>: #{screenerInterface.invitation.message}</h2></ui:fragment>
	<p><s:link view="/contact.xhtml" title="Click to send BCT a message" target="_parent"><strong>Contact Us</strong></s:link> with questions/suggestions</p>
	<div id="tabcontainer">
		<ul class="yui-nav pageNav">
			<li class="selected"><a href="#history_div">Health History</a></li>
			<li><a href="#disposition_div">Status</a></li>
			<li><a href="#invitation_div">Screening Tool (beta)</a></li>
		</ul>
	    <div class="yui-content">
			<div id="history_div">
	 			<object type="application/pdf" data="pdf_history.seam?#{manager.conversationIdParameter}=#{conversation.id}" width="100%" height="600px"><p>Your browser is not able to display the Health History. Please contact BCT for instructions.</p></object>
			</div>
			
			<div id="disposition_div">
				<h2>Record patient accrual decision</h2>
				<h:form id="disposition" prependId="false" action="/rs/my_invitations.seam" target="_parent">
					<input type="hidden" name="invitationId" value="#{screenerInterface.invitation.id}" target="_parent"/>
					<q:selectBooleanSet id="dispositionBits" value="#{screenerInterface.dispositionBits}" onclick="ar(this,'3,4');"><ul>
						<li><label><f:selectItem itemValue="0" id="dispositionBits0" />Screening</label></li>
						<li><label><f:selectItem itemValue="1" id="dispositionBits1" /><h:outputText value="#{bundle['disposition.ENROLLED']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 1)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label></li>
						<li><label><f:selectItem itemValue="2" id="dispositionBits2" /><h:outputText value="#{bundle['disposition.UNREACHABLE']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 2)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label></li>
						<li><label><f:selectItem itemValue="3" id="dispositionBits3" /><h:outputText value="#{bundle['disposition.DECLINED']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 3)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label>
							<ul id="dispositionBits3_d" class="indent" style="#{q:isSelected(screenerInterface.dispositionBits, 3) ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="declined" value="#{screenerInterface.patientDisposition.declined}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="declined1" /><h:outputText value="#{bundle['declined.1']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="2" id="declined2" /><h:outputText value="#{bundle['declined.2']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="3" id="declined3" /><h:outputText value="#{bundle['declined.3']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="4" id="declined4" /><h:outputText value="#{bundle['declined.4']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="0" id="declined0" /><h:outputText value="#{bundle['declined.0']}" escape="false" /></label></li>
							</q:selectBooleanSet></ul>
						</li>
						<li><label><f:selectItem itemValue="4" id="dispositionBits4" /><h:outputText value="#{bundle['disposition.INELIGIBLE']}" escape="false" />&#xa0;<h:outputText value="#{screenerInterface.invitation.dispositionDate}" rendered="#{q:isSelected(screenerInterface.dispositionBits, 4)}"><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></label>
							<ul id="dispositionBits4_d" class="indent" style="#{q:isSelected(screenerInterface.dispositionBits, 4) ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="ineligible" value="#{screenerInterface.patientDisposition.ineligible}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="ineligible1" /><h:outputText value="#{bundle['ineligible.1']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="2" id="ineligible2" /><h:outputText value="#{bundle['ineligible.2']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="3" id="ineligible3" /><h:outputText value="#{bundle['ineligible.3']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="4" id="ineligible4" /><h:outputText value="#{bundle['ineligible.4']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="5" id="ineligible5" /><h:outputText value="#{bundle['ineligible.5']}" escape="false" /></label></li>
								<li><label><f:selectItem itemValue="0" id="ineligible0" /><h:outputText value="#{bundle['ineligible.0']}" escape="false" /></label></li>
							</q:selectBooleanSet></ul>
						</li>
					</ul></q:selectBooleanSet>
					<div class="formActions">
						<h:commandButton action="#{screenerInterface.updateDisposition}" value="Save" />
						&#xA0;
						<s:link view="/rs/my_invitations.xhtml" target="_parent"><f:param name="invitationId" value="0"/>Cancel</s:link>
					</div>
				</h:form>
				<div class="instructions">
					Once you record the accrual decision this patient will not appear on your list of patients.
					This information will be reported back to BreastCancerTrials.org in a de-identified, aggregate report. 
					If you have any questions about this, please&#xa0;
					<s:link view="/contact.xhtml" title="Click to send BCT a message" target="_parent">Contact Us</s:link>.
				</div>
			</div>
			
			<div id="invitation_div">
				<h2>Eligibility Criteria for #{screenerInterface.invitation.trialSite.trial.primaryID}: #{screenerInterface.invitation.trialSite.trial.name}</h2>
				<div class="instructions">
					We are still working on making this feature user-friendly, if you would like to give us input, we would appreciate it.&#xa0;
					
					<s:button title="Click to send BCT a message" value="Contact Us" onclick="window.open('${facesContext.externalContext.requestContextPath}/contact.seam', '_parent');"/>
				</div>
				<table cellpadding="5" cellspacing="0" border="1" width="100%">
					<tr style="background-color: #CCC2FE;"><td colspan="3"><strong>Eligibility Inclusions</strong> (<b>&#x221a;</b> exact match)</td></tr>
					<tr valign="top"><td style="width:5%">&#xa0;</td><td style="width:48%"><strong>Study Criteria</strong></td><td style="width:47%"><strong>Patient-reported data</strong></td></tr>
					<c:forEach items="#{screenerInterface.profile.criteria}" var="criterion"><c:if test="#{criterion.result.toString() eq 'Green'}">
						<tr valign="top">
						<c:choose><c:when test="#{empty criterion.qualifier}">
							<td>&#x221a;</td><td>#{criterion.text}</td>
						</c:when><c:otherwise>
							<td>&#xa0;</td><td>#{criterion.text}<br /><em>Unscreened condition: #{criterion.qualifier}</em></td>
						</c:otherwise></c:choose>
						<td><c:forEach items="#{criterion.characteristicResults}" var="characteristicResult">
							<div>#{characteristicResult.characteristic}</div>
						</c:forEach></td>
						</tr>
					</c:if></c:forEach>
					<tr style="background-color: #CCC2FE;"><td colspan="3"><strong>Eligibility Alerts</strong></td></tr>
					<tr valign="top"><td>&#xa0;</td><td><strong>Study Criteria</strong></td><td><strong>Patient-reported data</strong></td></tr>
					<c:forEach items="#{screenerInterface.profile.criteria}" var="criterion"><c:if test="#{criterion.result.toString() ne 'Green'}">
						<tr valign="top">
						<c:choose><c:when test="#{criterion.warning}">
							<td class="errortext">!</td>
						</c:when><c:otherwise>
							<td>&#xa0;</td>
						</c:otherwise></c:choose>
						<td>#{criterion.text}<br /><em>#{criterion.qualifier}</em></td>
						<td><c:forEach items="#{criterion.characteristicResults}" var="characteristicResult">
							<div style="#{criterion.warning and (characteristicResult.result.toString() eq 'Red' or characteristicResult.result.toString() eq 'Orange') ? 'color: red' : ''}">#{characteristicResult.characteristic}</div>
						</c:forEach></td>
						</tr>
					</c:if></c:forEach>
				</table>
			</div>
		</div>
	</div>
	</div>
</ui:define>
</ui:composition>
