<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
			  	xmlns:c="http://java.sun.com/jstl/core"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
				template="/rs/newtemplate-rs-nosidebar.xhtml">

<ui:define name="title">Patient List for #{q:getFullName(screenerInterface.screener)}</ui:define>

<ui:define name="contentMain">
	<div id="framediv">    
		<iframe id="form_history_iframe" width="105%" height="900px" onload="hideProgress();" src="my_invitations_content.seam" scrolling="auto" frameborder="0" marginheight="0px">
			<p>Your browser does not support iframes.  We cannot display your health history.</p>
		</iframe>
	</div>
</ui:define>
</ui:composition>
