<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
			  	xmlns:c="http://java.sun.com/jstl/core"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
				template="/rs/template-iframe.xhtml">

<ui:define name="title">Patient List for #{q:getFullName(screenerInterface.screener)}</ui:define>

<ui:define name="contentMain">
	<h1>Patient List for #{q:getFullName(screenerInterface.screener)}</h1>
	<div>
		<s:link view="/rs/my_invitations.xhtml" action="#{screenerInterface.refreshInvitations}" title="Click to refresh the list" target="_parent">Refresh this list</s:link>
		<br /><s:link view="/rs/edit.xhtml" title="Click to change your password and security preferences" target="_parent">Change your password</s:link>
		<br /><s:link view="/contact.xhtml" title="Click to send BCT a message" target="_parent">Contact Us</s:link>
		<br />Review <a href="SecureCONNECT.pdf" target="guide">How to Use SecureCONNECT</a>
	</div>
	<s:div styleClass="instructions" rendered="#{empty screenerInterface.invitations}">
		Currently, there are no patients who
		have invited your research site(s) to view their health history
		for a particular clinical trial. 
	</s:div>
	<table style="background-image: none; width=900px;"><ui:repeat value="#{screenerInterface.invitations}" var="groupInvitations">
		<tr><td colspan="4"><h2><h:outputText value="#{groupInvitations.getScreenerGroup().name}" /></h2>
		Click on the patient's name to see their history and to record the outcome of his/her trial accrual.
		</td></tr>
		<ui:repeat value="#{groupInvitations}" var="siteInvitations">
			<tr><td colspan="4"><h3><h:outputText value="#{siteInvitations.getSite().name}" /></h3></td></tr>
			<ui:repeat value="#{siteInvitations}" var="trialInvitations">
				<tr><td colspan="4" class="study"><h:outputText value="#{trialInvitations.getTrial().primaryID}" /> -&#xa0;<h:outputText value="#{trialInvitations.getTrial().title}" /></td></tr>
				<tr valign="top"><td><strong>Patient Name</strong></td><td><strong>Date Patient Contacted Research Site</strong></td><td><strong>First viewed by Research Site</strong></td></tr>
				<ui:repeat value="#{trialInvitations}" var="invitation">
					<tr valign="top">
						<td><s:link view="/rs/my_history.xhtml" title="Click to see this patient's information" target="_parent"><f:param name="invitationId" value="#{invitation.id}" />#{invitation.patientName}</s:link></td>
						<td><h:outputText value="#{invitation.created}" ><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></td>
						<td><h:outputText value="#{invitation.viewed}" ><s:convertDateTime type="both" dateStyle="medium" timeStyle="full" /></h:outputText></td>
					</tr>
				</ui:repeat>
			</ui:repeat>
		</ui:repeat>
	</ui:repeat></table>
</ui:define>
</ui:composition>
