<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/rs/newtemplate-rs.xhtml">

<ui:define name="title">Forgot Password</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate4">
		<h1>Forgot Password</h1>
	</div>	
    <div id="ContentFramedBox" class="ContentFramedBox">
	<p class="instructions">
		Please answer the secret question that you gave us when you first logged in.
		If you have never logged in or you forgot the answer to your secret question,
		please call (415) 476-5777 for assistance.
	</p>
	<h:form id="forgot" prependId="false">
		<p>
			<h:outputLabel for="username" style="width: 16em; display: block; float: left;">E-mail:</h:outputLabel>
			<em><h:outputText id="username" value="#{screenerInterface.screener.principal}" /></em>
		</p>
		<p>
			<h:outputLabel for="secretQuestion" style="width: 16em; display: block; float: left;">Secret question:</h:outputLabel>
			<em><h:outputText id="secretQuestion" value="#{screenerInterface.screener.secretQuestion}" /></em>
		</p>
		<p>
			<h:outputLabel for="secretAnswer" style="width: 16em; display: block; float: left;">Secret answer:</h:outputLabel>
			<h:inputSecret id="secretAnswer" value="#{screenerInterface.screener.secretAnswer}" size="10" maxlength="20"
				required="true" requiredMessage="Please enter the answer to your secret question"
				validatorMessage="Your secret answer must be at least 3 and at most 20 characters long">
				<f:validateLength minimum="3" maximum="20" />
			</h:inputSecret>
			<h:message for="secretAnswer" errorClass="errortext" />
			<br />Forgot your secret answer: Call (415) 476-5777 for assistance
		</p>
		<div class="formActions">
			<h:commandButton action="#{screenerInterface.login}" value="Reset password" />
			&#xA0;
			<s:button action="#{screenerInterface.logout}" value="Do not reset password" />
			&#xA0;
			<s:button view="/rs/login.xhtml" title="Click to return to Login Page" value="Back to Login" />
			<h:messages globalOnly="true" errorClass="errortext" />
		</div>
	</h:form>
	</div>
</ui:define>
</ui:composition>
