<p:document xmlns:p="http://jboss.com/products/seam/pdf"
            xmlns:s="http://jboss.com/products/seam/taglib"
    		xmlns:ui="http://java.sun.com/jsf/facelets"
  			xmlns:f="http://java.sun.com/jsf/core"
		  	xmlns:c="http://java.sun.com/jstl/core"
			xmlns:q="http://quantumleaphealth.org/jsf"
	        pageSize="LETTER" title="Breast Cancer Health Summary"
	        creator="BreastCancerTrials.org" author="BreastCancerTrials.org">
    <f:facet name="header">
        <p:font size="10" style="italic">
            <p:footer borderWidthTop="1" borderColorTop="blue" borderWidthBottom="0" alignment="center">
            	BreastCancerTrials.org - Health history for 
            	<p:text value=" #{screenerInterface.invitation.patientName} " />
            	dated
            	<p:text value=" " />
            	<p:text value="#{screenerInterface.invitation.userPatient.patientHistoryLastModified}">
            		<s:convertDateTime type="both" dateStyle="full" timeStyle="full" />
            	</p:text>
            	<p:text value=" - Page " />
            	<p:pageNumber />
            </p:footer>
        </p:font>
    </f:facet>

	<ui:include src="/pdf_summary.xhtml"><ui:param name="title" value="#{screenerInterface.invitation.patientName}" /><ui:param name="history" value="#{screenerInterface.history}" /><ui:param name="patientHistoryLastModified" value="#{screenerInterface.invitation.userPatient.patientHistoryLastModified}" /></ui:include>

	<p:table columns="2" widths="1 2" widthPercentage="100" spacingBefore="10" headerRows="1"><f:facet name="defaultCell"><p:cell border="0" /></f:facet>
		<p:cell colspan="2" border="2"><p:font size="16">Contact</p:font></p:cell>
		<p:cell colspan="2">#{screenerInterface.invitation.patientContact}</p:cell>
		<p:cell colspan="2" rendered="#{not empty screenerInterface.invitation.message}"><p:paragraph>Message from #{screenerInterface.invitation.patientName} on&#xa0;<p:text value="#{screenerInterface.invitation.created}" ><s:convertDateTime type="both" dateStyle="full" timeStyle="full" /></p:text>: #{screenerInterface.invitation.message}</p:paragraph></p:cell>
	</p:table>
</p:document>