<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-app.xhtml">

<!-- Content: contentMain uses full width and logout is right-aligned -->
<ui:define name="content">
	<s:link view="/rs/logged_out.xhtml" styleClass="textSize">logout</s:link>
	<ui:insert name="contentMain" />
</ui:define>
</ui:composition>
