<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Tutorial</ui:define>

<ui:define name="contentMain">
	<h1>Tutorial</h1>
	<p>
		For easier viewing, adjust the tutorial window to make it as large as possible.
	</p>
	<p>
		Note: This tutorial shows you how to use our matching service to find clinical trials.
		The Message Service it refers to is now called SecureConnect.
	</p>
	<a class="jslink" title="View our tutorial" onclick="window.open('/tutorial/index.htm','tutorial','resizable=no,scrollbars=no,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no');">View our Tutorial</a>
</ui:define>
</ui:composition>
