<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Contact Us</ui:define>

<ui:define name="contentMain">
	<h1>Contact Us</h1>
	<p>
		If you would like more information about BreastCancerTrials.org, 
		have a specific question we can answer,
		or would like to make a comment,  
		we would love to hear from you!
	</p>
	<h2>Mailing address</h2>	
	<p>
		BreastCancerTrials.org<br />
		2186 Geary Boulevard, Suite 103<br />
		San Francisco, CA 94115<br />
		(415) 476-5777<br />
	</p>	
	<p>You may also submit questions and comments through our online form:</p>
	<h:form prependId="false">
		<p>
			<h:outputLabel for="from">Email address (required)</h:outputLabel>
			<br />
			<h:inputText id="from" value="#{simpleMessage.from}" size="34" maxlength="64"
				required="true" requiredMessage="Please enter your email address so we can respond to your message"
				validatorMessage="Your email address must be at least 6 and at most 64 characters long">
				<f:validateLength minimum="6" maximum="64" />
			</h:inputText>
			<br /><h:message for="from" styleClass="errortext" />
		</p>
		<p>
			<h:outputLabel for="name">Name (optional)</h:outputLabel>
			<br />
			<h:inputText id="name" value="#{simpleMessage.name}" size="34" maxlength="64"
				validatorMessage="Your name must be at least 6 and at most 64 characters long, or leave blank for anonymous">
				<f:validateLength minimum="6" maximum="64" />
			</h:inputText>
			<h:message for="name" styleClass="errortext" />
		</p>
		<p>
			<h:outputLabel for="body">Comments/Question</h:outputLabel>
			<br />
			<h:inputTextarea id="body" value="#{simpleMessage.body}" cols="60" rows="10" style="width: 100%;"
				required="true" requiredMessage="Please enter your comments / question in the box above"
				validatorMessage="Your message must be at least 2 characters long">
				<f:validateLength minimum="2" />
			</h:inputTextarea>
			<br />
			<h:message for="body" styleClass="errortext" />
		</p>
		<div class="formActions">
			<h:commandButton id="send" action="#{messageSender.send}" value="Send Message" />
			&#xA0;
			<h:commandButton id="reset" type="reset" value="Reset" />
		</div>
		<h:messages styleClass="errortext item" globalOnly="true" />
	</h:form>
</ui:define>
</ui:composition>
