<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				template="/template-secondary.xhtml">

<ui:define name="title">Message Sent</ui:define>

<ui:define name="contentMain">
	<h1>Message Sent</h1>
	<p>
		Thank you for contacting BreastCancerTrials.org.
		<ui:fragment rendered="#{not empty simpleMessage.from}"> 
			We will respond to your message within 1 business day.
			<em>To ensure that our messages arrive in your email InBox, please adjust your email account's spam filter to accept messages sent by <strong>bctrials.org</strong>.</em>
		</ui:fragment>
	</p>
	<p>
		The BCT Team
	</p>
</ui:define>
</ui:composition>
