<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				template="/template-secondary.xhtml">

<ui:define name="title">Donate</ui:define>

<ui:define name="contentMain">
	<h1>Donate to BreastCancerTrials.org</h1>
	<p>
		BreastCancerTrials.org relies on the generous support of donors, both large and small, to maintain our high-quality service and make it available to users free of charge. 
		We do not sell advertising nor do we derive income from the sale of personalized or de-identified patient data.
	</p>
	<p>
		BreastCancerTrials.org is a program of Quantum Leap Healthcare Collaborative, a nonprofit, public-benefit corporation. 
		All gifts to BreastCancerTrials.org are allowable as a tax deduction. Our tax identification number is 20-4284925.
	</p>
	<p>
		We appreciate all donations including those in honor of or in memory of someone special to you.
	</p>
	<p>
		To make a donation, complete our <a href="donate.pdf" target="_donate">donor form</a> 
		and enclose a check made payable to BreastCancerTrials.org. Mail your donation to this address:
	</p>
	<p>
		<b>BreastCancerTrials.org</b><br />
		2186 Geary Boulevard, Suite 103<br />
		San Francisco, CA 94115<br />
	</p>
	<h3>Matching Gifts</h3>
	<p>
		Your company may have a matching gift program that could double or even triple your donation. 
		Check with your HR department or office manager for forms and/or additional information.
	</p>
</ui:define>
</ui:composition>
