<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">About Us</ui:define>

<ui:define name="contentMain">
	<h1>About Us</h1>
	<p>
		BreastCancerTrials.org is a non-profit service that is dedicated to providing accurate information about breast cancer clinical trials.
		Our patient-centered website includes trials funded by the National Cancer Institute, public research foundations, and the pharmaceutical/biotechnology industry.
	</p>
	<p>
		Our goal is to help you gain insight into the clinical trials process and make it easier and faster for you to find the clinical trials that are right for you.
	</p>
	<ul>
		<li><s:link view="/about/message.xhtml">Message to Patients</s:link><br />
			Welcome to our website.
		</li>
		<li><s:link view="/about/story.xhtml">Our Story</s:link><br />
			Founded by patients and live since 2005.
		</li>
		<li><s:link view="/about/faq.xhtml">FAQ</s:link><br />
			Frequently asked questions.
		</li>
		<li><s:link view="/about/staff.xhtml">Staff &amp; Advisors</s:link><br />
			BCT.org is a program of <a href="http://www.quantumleaphealth.org/" target="_blank">Quantum Leap Healthcare Collaborative</a>.
		</li>
		<li><s:link view="/about/sponsors.xhtml">Partners &amp; Sponsors</s:link><br />
			We are very grateful to those organizations and individuals who have provided important support for BreastCancerTrials.org.
		</li>
		<li><s:link view="/about/network.xhtml">Research Site Network</s:link><br />
			Members of the Research Site Network work in partnership with BreastCancerTrials.org to make it easier for you to contact them about their trials.
		</li>
		<li><s:link view="/contact.xhtml">Contact Us</s:link><br />
			We would love to hear from you!
		</li>
		<li><s:link view="/about/donate.xhtml">Donate</s:link><br />
			BreastCancerTrials.org relies on the generous support of donors, both large and small, to maintain our high-quality service and make it available to users free of charge.
		</li>
		<li><s:link view="/about/terms_conditions.xhtml">Terms &amp; Conditions</s:link><br />
			By using this website you agree that you have read, understand, and accept our Terms &amp; Conditions.
		</li>
	</ul>
</ui:define>
</ui:composition>
