<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Message to Patients</ui:define>

<ui:define name="contentMain">
	<h1>Message to Patients</h1>
	<p>Welcome to our website, BreastCancerTrials.org.</p>
	<p>
		We are pleased that you have taken the time to learn more about the role 
		clinical trials play in advancing breast cancer care and our unique Matching Tool, 
		which can help identify the trials that might be right for you.
	</p>
	<p>
		Most people are not aware that there are hundreds of clinical trials 
		now underway that are helping researchers develop new methods 
		for preventing, detecting, and treating breast cancer and improving cancer patients' quality of life. 
		But that's really not too surprising. 
		Breast cancer clinical trials aren't the kind of thing you typically think about 
		until you have a cancer diagnosis. 
		And they aren't always easy to find.
	</p>
	<p>That's why we're here.</p>
	<p>
		BreastCancerTrials.org understands how overwhelming the demands of a breast cancer diagnosis can be 
		&#x2014; whether you are high-risk, newly diagnosed, facing a recurrence, managing metastatic disease, or a long-term survivor. 
		We also know that breast cancer patients who seek out clinical trials want to be able 
		to turn to a trusted source in the cancer community who can provide information, support, and assistance.
	</p>
	<p>That's what BreastCancerTrials.org is, and that's what we do.</p>
	<p>
		This website, which contains a broad range of breast cancer trials, 
		was inspired by two patient advocates who recognized that breast cancer patients needed 
		an easier, more efficient way to identify the clinical trials that might be right for them. 
	</p>
	<p>
		To be sure, a clinical trial is not right for everyone. 
		But there is little doubt within the cancer community that everyone will benefit 
		if patients considering trial participation become the norm rather than the exception.
	</p>
	<p>
		Thank you for visiting BreastCancerTrials.org. 
		Whether or not you choose to take part in a trial, we hope you will inform others 
		about our website and the critical role clinical trials play in improving and expanding 
		the treatment options that will help breast cancer patients not only survive, but thrive.
	</p>
	<p>The BreastCancerTrials.org Team</p>
</ui:define>
</ui:composition>
