<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Upcoming Features</ui:define>

<ui:define name="contentMain">
	<h1>Upcoming Features</h1>
	<p>
		Dear Visitor:
	</p>
	<p>
		Welcome to BreastCancerTrials.org. 
		We hope you will explore our website and try our new clinical trial matching service.
	</p>
	<p>
		Currently you can use BCT.org to:
	</p>
	<ul>
		<li>Learn about clinical trials and how you can participate</li>
		<li>Browse our trial listings</li>
		<li>Match to trials personalized to your situation by creating a detailed Health History</li>
		<li>View summary information and contact personnel for each trial</li>
	</ul>
	<p>
		Over the next few months we will be adding new trials on a regular basis. 
		We welcome you to check back frequently. 
		We will also be rolling out our Message and Trial Alert services, which will make it easier for you to learn about new trials and connect with research sites.
	</p>
	<p>
		Your feedback is important to us. 
		Sending us your suggestions will help us improve our website in a way that is most useful to patients seeking clinical trials. 
	</p>
	<p>
		Thank you for visiting. 
		Please feel free to contact us by phone at 415-476-5777 or&#xA0;
		<s:link view="/contact.xhtml">email</s:link>. 
		If you have used our service before August 1, 2008, contact us to retrieve your data.
	</p>
	<p>
		Sincerely yours,<br />
		The BreastCancerTrials.org Team
	</p>
</ui:define>
</ui:composition>
