<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	    		xmlns:h="http://java.sun.com/jsf/html"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Sponsors, Partners, Collaborators, and Supporters</ui:define>

<ui:define name="contentMain">
	<h1>Sponsors, Partners, Collaborators, and Supporters</h1>

	We gratefully acknowledge <strong>our sponsors</strong> 
	whose generous support makes it possible to operate BreastCancerTrials.org as a free service for all individuals affected by breast cancer.<br />

	<h2>Our Major Sponsor</h2><br />
	
	<table border="0" width="100%" style="border:none;margin-bottom:0em">
		<tr valign="top">
			<td style="border:0px;padding:0em">
				<a href="http://www.safewayfoundation.org/index.htm" target="_new"><h:graphicImage url="/images/safeway.gif" alt="The Safeway Foundation" title="The Safeway Foundation" /></a>
			</td>
			<td style="border:0px;padding:0em">
				&nbsp;
			</td>
		</tr>
	</table>

	<h2>Sponsors who have funded initial and/or ongoing development of our nationwide service:</h2>
	<ul>
		<li><a href="http://www.amgen.com/citizenship/apply_for_grant.html" target="_new">The Amgen Healthcare Institute</a></li>
		<li><a href="http://www.calendow.org/" target="_new">The California Endowment</a></li>
		<li>Family, Friends and the Estate of Joan Schreiner</li>
		<li>Michael and Pepper Jackson</li>
		<li><a href="http://ww5.komen.org/" target="_new">Susan G. Komen for the Cure</a></li>
	</ul>

	<h2>Partners who contribute technical and operational support:</h2>
	<ul>
		<li><a href="http://www.quantumleaphealth.org/" target="_new">QuantumLeap Healthcare Collaborative</a></li>
		<li><a href="http://www.ucsfbreastcarecenter.org/" target="_new">UCSF Carol Franc Buck Breast Care Center</a></li>
		<li><a href="http://www.bccoe.org/" target="_new">UCSF Center of Excellence for Breast Cancer Care</a></li>
		<li><a href="http://coe.ucsf.edu/coe/" target="_new">UCSF National Center of Excellence in Women's Health</a></li>
		<li><a href="http://www.ucdmc.ucdavis.edu/pathology" target="_new">Pathology Informatics Section, Department of Pathology and Laboratory Medicine UC Davis Health System</a></li>
		<li><a href="http://ncicb.nci.nih.gov/" target="_new">NCI Center for Biomedical Informatics and Information Technology</a></li>
		<li><a href="http://www.cancer.gov/aboutnci/oce" target="_new">NCI Office of Communications and Education (Cancr.gov)</a></li>
		<li><a href="http://www.athenacarenetwork.org/" target="_new">The Athena Breast Health Network</a></li>
	</ul>

	<h2>Collaborators with whom we work to educate individuals about breast cancer research and encourage participation:</h2>
	<ul>
		<li><a href="http://ww5.komen.org/" target="_new">Susan G. Komen for the Cure</a></li>
		<li><a href="http://www.armyofwomen.org/" target="_new">Love/Avon Army of Women</a></li>
	</ul>

	<h2>Supporters who help raise awareness about BreastCancerTrials.org and/or with whom we exchange content about breast cancer:</h2>
	<ul>
		<li><a href="http://www.astrazeneca.com/" target="_new">AstraZeneca International</a></li>
		<li><a href="http://www.breastcancer.org/" target="_new">BreastCancer.org</a></li>
		<li><a href="http://www.cancertrialshelp.org/" target="_new">Coalition of Cancer Cooperative Groups</a></li>
		<li><a href="http://www.dslrf.org/" target="_new">Dr. Susan Love Research Foundation</a></li>
		<li><a href="http://www.canceradvocacy.org/" target="_new">National Coalition of Cancer Survivors</a></li>
		<li><a href="http://www.nccc.org/site/c.foJNIXOyEpH/b.2577075/k.BE87/Home.htm" target="_new">Northern California Cancer Center</a></li>
		<li><a href="http://www.nueva-vida.org/index2.htm" target="_new">Nueva Vida</a></li>
		<li><a href="http://www.pink-link.org/news.php" target="_new">Pink-Link</a></li>
		<li><a href="http://www.avoncompany.com/women/" target="_new">The Avon Foundation for Women</a></li>
		<li><a href="http://www.breastcancerwatch.org/" target="_new">Zero Breast Cancer</a></li>
	</ul>

	<p>
		BreastCancerTrials.org is based on a successful regional pilot that was conducted in the San Francisco Bay Area between 2005-2008. 
		The BreastCancerTrials.org pilot was launched by UCSF and the National Cancer Institute and involved a consortium of investigators, research sites, patient advocates, and breast cancer funding agencies. 
	</p>
	<h1>The BreastCancerTrials.org Regional Pilot</h1>
	<p><strong>
		Funding and In-Kind Support
	</strong></p>
	<ul>
		<li>Department of Defense Breast Cancer Research Program (DAMD17-03-1-0481; Principal Investigator: Laura Esserman MD, MBA)</li>
		<li>NCI Center for Biomedical Informatics and Information Technology (caBIG)</li>
		<li>NCI Office of Communications and Education (Cancer.gov)</li>
		<li>California Breast Cancer Research Program (9DB-0070; Principal Investigators: John Park MD and Morton Lieberman Ph.D)</li>
		<li>UCSF Mount Zion Health Systems</li>
		<li>The Cancer League, Inc.</li>
		<li>The Breast Cancer Fund</li>
	</ul>
	<p>
		<strong>Research Sites:</strong>
		Alta Bates Summit Medical Center, 
		Bay Area Tumor Institute, 
		California-Pacific Medical Center, 
		Camino Medical Group, 
		California Cancer Care, 
		John Muir Health, 
		Kaiser Northern California, 
		Mills-Peninsula Hospital, 
		USCF Helen Diller Family Comprehensive Cancer Center, 
		UC Davis Cancer Center
	</p>
</ui:define>
</ui:composition>
