<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Staff &amp; Advisors</ui:define>

<ui:define name="contentMain">
	<h1>Staff &amp; Advisors</h1>
	<p>BCT.org is a program of <a href="http://www.quantumleaphealth.org/" target="_blank">Quantum Leap Healthcare Collaborative</a></p>
	<ul>
		<li><a href="#exec">Executive Steering Committee</a></li>
		<li><a href="#staff">Staff</a></li>
	</ul>

	<hr />
	<h2><a name="exec">Executive Steering Committee</a></h2>
	<h3>Alan Hu, MBA<br />President, Quantum Leap Healthcare Collaborative</h3>
	<p>
		Alan Hu is a high-tech executive with almost 30 years of experience at several technology companies. 
		As part of his 15 years at IBM, he was on the team that crafted the IBM Global Services strategy and took it to market in 1987.  
		Today, this business unit accounts for over 50% of IBM's business.   
		In 1985, Alan was sponsored by IBM as a Sloan Fellow at the Stanford Business School, earning a Master's degree in business.
	</p>
	<p>
		Alan joined Sun Microsystems in 1992 and started up the company's service business in more than 200 countries worldwide. 
		In 1994, Alan was recruited to be VP of Information Systems at HealthCare Delivery Systems, 
		a new subsidiary of McKesson Corp focused on the then new world of bio-tech pharmaceutical distribution. 
		In 1996, Alan became an angel investor and Vice President at WebLogic, a Java software startup, subsequently acquired by BEA Systems (BEAS). 
		After the sale of the company, Alan co-founded Collabria and served as the company's Chief Executive Officer. 
		Collabria offered Internet-based collaboration solutions in the print and graphic arts supply chain. 
		This software was subsequently acquired by Hewlett Packard in 2001 and incorporated into its high-end printing systems.
	</p>
	<p>
		Currently, Alan is President of QuantumLeap Healthcare, a non-profit foundation established to manage technology transfer from research into the marketplace. 
		QLHCC is currently deploying a national clinical trials matching portal to assist women with breast cancer in finding and enrolling in advanced pharmaceutical research programs.
	</p>

	<h3>Sue Dubman, MA</h3>
	<p>
		Sue Dubman has over 20 years experience in life sciences and health care. 
		Sue first began working with the BCT.org team while she was Director of Biomedical Informatics Applications at the National Cancer Institute (NCI). 
		While at the NCI, in addition to leading technology development for the BCT.org pilot in collaboration with UCSF, 
		Sue helped architect and lead several key informatics programs that are widely recognized for their potential to change the way research is done, 
		drugs are developed and how patients and providers interact with the health care enterprise. 
		These include CRIX, caBIG<sup>TM</sup>, and BRIDG.
	</p>
	<p>
		Currently Sue is spearheading implementation of clinical data standards for Genzyme Corporation, serving in a chief data officer role. 
		This includes accountability to ensure effective rollout of data standards on an end-to-end basis throughout the clinical data lifecycle 
		as well as ensuring future system and data architecture support a high degree of data interchange and reusability. 
		Prior to Genzyme, Sue was Vice President of IT and Informatics for Theravance, a start up biotech, 
		as well as Vice President of IT and Informatics for a wholly owned, oncology focused subsidiary of Bristol-Myers Squibb.
	</p>
	<p>
		Considered a thought leader in life sciences and health care IT and Informatics, Ms. Dubman and her teams have been the recipient of many awards and honors 
		including Computerworld Honors in the Science Category, the CIO-100 Award for innovation, the Infoworld 100 Award, Aberdeen Group's Top 10 CRM Systems Award, 
		Networld/Interop's Best New Product Award, Network World's User Excellence Award, NCI's Scientific Achievement Merit Award, 
		and the Service to America Award in the Science category. 
	</p>
	<p>
		Ms. Dubman sits on several boards including CDISC, CRIX International, and QuantumLeap Healthcare, 
		a non-profit foundation set up to support the development and implementation of innovative ways to deliver health care. 
		Sue completed work towards her Ph.D. at Brown University in population sciences and received her M.A. and B.A from the University of Missouri, 
		where she also taught statistics and computer science courses. 
	</p>

	<h3>Laura Esserman, MD, MBA</h3>
	<p>
		Dr. Esserman is a surgeon and breast cancer oncology specialist practicing at the UCSF Breast Care Center where she is also Director. 
		She has led many cross-disciplinary projects and trials. 
		As the PI of a Department of Defense-funded Center of Excellence (COE) grant, she has brought together health care and industry partners to resolve the challenges of improving quality patient care.
	</p>
	<p>
		Dr. Esserman has led many multidisciplinary projects. 
		For her leadership of the I SPY TRIAL, a collaboration among three cooperative groups, NCI Center for Bioinformatics and SPORE program, she received the 2005 SPORE Investigator of the Year Award. 
		As PI of a Department of Defense-funded Center of Excellence grant, she has brought together an extraordinary multidisciplinary group of investigators and health care and industry partners 
		to work on important problems of improving the quality of care delivered to women with breast cancer. 
		The breadth of collaborators in this proposal demonstrates her ability to galvanize people to come together to create solutions that serve as models for improved health care delivery in the U.S. 
	</p>

	<h3>Sue Foley, CFA</h3>
	<p>
		Susan is an investment professional with over 24 years experience in the institutional investment management business. 
		Previously a partner of the investment firm, Harris Bretall Sullivan and Smith, LLC (1989-2006) Harris Bretall was recently purchased by Federated Investors of Pennsylvania. 
		Harris Bretall was a large capitalization growth stock manager with over $7 billion dollars in assets under management of public and private institutions: corporations, 
		endowments and foundations and individual investors. 
		Susan led the portfolio management group, sat on the investment policy committee and was the lead portfolio manager on the Technology Communications &amp; Entertainment Portfolio.
	</p>
	<p>
		Susan is a Chartered Financial Analyst, Chartered Investment Counselor and member of both the Security Analyst's of San Francisco and of AIMR. 
		In the past she has been associated with the National Association of Business Economists. 
		She has served on both private corporate boards and charitable organizations including: National Charity League, Menlo School and the Breast Cancer Center for UCSF. 
	</p>
	<p>
		Sue is a breast cancer survivor and patient advocate.
	</p>

	<h3>Michael Hogarth, MD</h3>
	<p>
		Dr. Hogarth is an Associate Professor in both the Department of Internal Medicine and the Department Pathology in the UC Davis School of Medicine. 
		Dr. Hogarth received his medical degree from UT-Southwestern (Dallas, TX) in 1991 and trained in Internal Medicine at UC Davis Medical Center, completing this training in 1995.  
		He undertook a Medical Informatics Fellowship in the UC Davis Department of Pathology completing this in 1997.  
		In 1998, he joined the faculty of the UC Davis School of Medicine faculty in both the Department of Internal Medicine and the Department of Pathology and Laboratory Medicine.  
		Dr. Hogarth is currently the director of Medical Informatics for the UC Davis Comprehensive Cancer Center and Associate Director of the UC Davis Academic Information Systems group.   
		Dr. Hogarth is Board Certified in Internal Medicine and practices medicine as an attending physician in Internal Medicine. 
		He is also a member of the Computer Science graduate group at UC Davis and is the Chair of the Faculty Committee on Information Technology.  
		He currently teaches in the UC Davis Health Informatics graduate program and the UC Davis Master's of Public Health program.  
		His research interests include oncology information systems, open source software in healthcare, and public health informatics. 
		Dr. Hogarth actively participates in the National Cancer Institute's caBIG initiative, the Health Level - 7 (HL-7) data standards organization, and the National Association of Public Health Statistics and Information Systems (NAPHSIS). 
	</p>
	<p>
		Dr. Hogarth's web site: <a href="http://www.hogarth.org" target="_blank">http://www.hogarth.org</a>
	</p>

	<h3>Joanne Tyler, MS</h3>
	<p>
		Joanne Tyler, along with Joan Schreiner, was one of the two patient founders of BreastCancerTrials.org.  
		A dedicated patient advocate, she participated in Project Lead and worked with Joan to develop the clinical trial matching service, which evolved into BreastCancerTrials.org. 
		Joanne was an active member of the UCSF/NCI development team and currently serves as an advisor to both the BreastCancerTrials.org Executive Steering Committee and Staff.
	</p>
	<p>
		Joanne earned her bachelor's degree in Psychology from Stanford University, and a Master of Library Science from the University of California at Berkeley.  
		Prior to working on BreastCancerTrials.org, she was a research and reference librarian, and later worked in the field of educational research.
	</p>

	<hr />
	<h2><a name="staff">Staff</a></h2>
	<h3>Elly Cohen, PhD: Program Director</h3>
	<p>
		Elly Cohen has been associated with BreastCancerTrials.org almost from its beginning, guiding it from "idea" to regional Bay Area pilot, and most recently to nationwide service. 
		She is a Senior Analyst with the University of California San Francisco (UCSF) Center of Excellence for Breast Cancer Care and a Program Director with Quantum Leap Healthcare Collaborative. 
		In addition, Elly participates in workshops designed to increase patient awareness about clinical trials and national efforts to create standards for clinical trial eligibility criteria.
	</p>
	<p>
		Elly earned a bachelor's degree in Biology from Brooklyn College and a PhD in Pathology from Cornell University. 
		Earlier in her career, she was a research neurobiologist and Adjunct Assistant Professor of Anatomy at UCSF. 
		Elly has published papers in developmental neurobiology and the neurobiology of pain. 
	</p>
	<p>
		Elly is a breast cancer survivor.
	</p>
	
	<h3>Jeff Belkora, PhD: Director of Evaluation and Decision Services</h3>
	<p>
		Jeff Belkora joined the BCT.org team in July 2009 to develop decision support services 
		for BCT.org visitors considering clinical trial participation, and to evaluate the 
		effectiveness of BCT.org in advancing its mission. Jeff is an Assistant Professor of 
		Surgery in the Institute for Health Policy Studies at UCSF, and Director of Decision 
		Services at the UCSF Breast Care Center. Since his days as a graduate student at Stanford 
		University, Jeff has been involved in community-based initiatives to promote people becoming 
		more informed about and involved in their medical decisions, including decisions about 
		clinical trial participation.
	</p>
	<p>
		Jeff earned a Bachelor of Science in Applied Mathematics at Brown University, a Master's 
		degree in Statistics and a PhD in Engineering at Stanford University. After Stanford, he 
		spent five years in the software industry before returning joining the UCSF faculty. He 
		has published papers, book chapters, training manuals, and web-based tools in the areas of 
		decision support, shared decision making, and risk communication. His public interest website 
		is at <a href="http://www.guidesmith.org/" target="_blank">http://www.guidesmith.org/</a>.
	</p>
	
	<h3>Thomas Bechtold, MBA: Director of Information Technology</h3>
	<p>
		Tom Bechtold joined the BCT.org team in 2006 as Director of Information Technology. 
		Prior to working at BCT.org, Tom managed technology projects for over 20 years. 
		While earning his bachelor's degree in Engineering in Computer Science, he contributed to computer programming textbooks and developed accounting software. 
		After graduation, he was a member of the 80386 microprocessor design team at Intel Corporation.
	</p>
	<p>
		In 1994, Tom received his MBA from Dartmouth College. 
		He then joined Sun Microsystems, first in educational marketing, and later in consulting services. 
		During his tenure at Sun, Tom managed web development and server integration products at several Fortune-500 companies, including Nike, Disney, Wells Fargo, American Express, and Unihealth. 
		Tom is the Director of Information Technology for Quantum Leap Healthcare Collaborative.
	</p>

	<h3>Mary Lou Ernest, RN, MS, NP: Senior Clinical Consultant</h3>
	<p>
		Mary Lou Ernest reviews clinical trial protocols for BCT.org. She has been a nurse for more than 38 years, and has spent 20 of those years caring for cancer patients. 
		In addition, Mary Lou spent 10 years coordinating oncology clinical trials for biological therapies, including interferon, BCG, and interleukin. 
		Missing patient care, Mary Lou returned to school to get her degree as a Nurse Practitioner. 
		She has specialized in breast cancer care for the past 11 years.
	</p>
	<p>
		Mary Lou obtained her associate's degree in Nursing at St. Mary's College in Minneapolis, and her bachelor's degree in Nursing from Incarnate Word College in San Antonio, Texas. 
		She earned her master's of science degree as a Clinical Nurse Specialist in oncology and a post-master's certificate as a geriatric nurse practitioner at UCSF.
	</p>

	<h3>Julia Pederson, BA: Program Associate</h3>
	<p>
		Julia joined BCT.org in 2007 as a premedical intern after graduating from Harvard College with a concentration in Biology and a certificate in Health Policy. 
		She actively assists both the clinical and technology teams. While at Harvard, Julia competed on the Varsity Women's Track and Field Team. 
		Julia is interested in pursuing a career in medicine, and hopes to devote herself to improving care by developing patient-centered programs such as BCT.org. 
		Julia also spends part of her time providing Consultation Planning and Decision Support to patients coming to physician visits at UCSF.
	</p>

	<h3>Jenna Daly, MSW: Technical Writer</h3>
	<p>
		Jenna Daly is an oncology social worker and medical technical writer. 
		A graduate of the Columbia School of Social Work, she most recently provided counseling and resource coordination at Memorial Sloan-Kettering Cancer Center to patients and their families.  
		Prior to working at Memorial Sloan-Kettering, she worked as a technical writer and project manager on health-related Internet software in San Francisco and New York City.
	</p>

	<h3>Bethany Hornthal: Communications</h3>
	<p>
		Bethany Hornthal is a communications and marketing strategist who has worked for clients in both the for-profit and not-for-profit sectors.  
		Bethany is currently working on a variety of projects at UCSF, including advising members of the faculty and staff 
		at the Carol Franc Buck Breast Care Center in the areas of marketing, communications, and development strategy.  
		She is also working as an Account Manager for a new partnership developed between Safeway Corporation and the Breast Care Center. 
		Bethany's work in the for-profit sector has included serving as an Advertising Agency Account Executive for A&amp;W Beverages. 
		She has also provided communications consulting services to a number of Silicon Valley companies.
	</p>

	<h3>Laurie Isenberg: Marketing</h3>
	<p>
		Laurie Isenberg spent 15 years in strategic marketing for the Dun &amp; Bradstreet Corporation and was co-founder of SPINS, the first marketing research firm for the natural consumer products industry.  
		She has spent the last eight years working in strategic branding and marketing for Prophet and- other consulting firms, helping start-up Internet and blue chip companies with their launch and re-positioning plans. 
		For the past three years, Laurie has served in an advisory capacity and as a patient advocate for the UCSF Center of Excellence for Breast Cancer Care.	
	</p>

	<h3>Michael Moore, MSN: User Interface Designer</h3>
	<p>
		Michael Moore is a user interaction design consultant with over 20 years experience in software development, primarily in the electronic medical record, clinical data repository, and bio-pharmaceutical domains. 
		Past clients include Genentech, Intuit, Fast Track Systems, iKnowMed, Tolven Healthcare Innovations, Korn/Ferry International, and UCSF. 
		Prior to his work in software development, Michael worked as a nurse. 
		He earned a master's degree in Nursing Administration from UCSF.
	</p>

	<h3>Sue Rochman, MA: Medical Writer</h3>
	<p>
		Sue Rochman has worked as a freelance health and medical writer for more than 15 years. 
		She is the medical editor for the Dr. Susan Love Research Foundation's breast cancer website and a contributing writer for CR, 
		the consumer publication published by the American Association for Cancer Research. 
		Her work also has appeared in The Advocate, Ms., Current Health2, and HIV Plus. 
		Sue earned her bachelor's degree from the University of California San Diego and her master's degree from Syracuse University. 
		She was the winner of a 2007 Award for Excellence in Health Care Journalism from the Association of Health Care Journalists.
	</p>

	<h3>Susan Colen: Program Associate</h3>
	<p>
		Susan joined BreastCancerTrials.org in 2009 as a Program Associate.
		She manages the daily operations, as well as provides support to patients, research staff, and other users of the website.
		Susan was formerly a consultant providing project management, research and writing support to such firms as NAS Consulting, Population Research Systems, Mercer Human Resource Consulting, and UCSF.
		Previously, she owned a Graphic Design and Production business serving non-profit and arts organizations.
		She has a B.S. in Industrial Engineering and Operations Research and has completed training in UC Berkeley Extension's Clinical Research Conduct and Management program.
	</p>
	
	<h3>Erin McCreary, BA: Program Associate</h3>
	<p>
		Erin joined BreastCancerTrials.org in 2009 after graduating from Harvard College. She assists with daily operations by helping to post new trials to the site and by 
		corresponding with patients and research sites. She is also helping to develop decision support services through BCT.org for patients interested in participating in 
		clinical trials. In addition to her work with BCT.org, Erin also provides Consultation Planning and Decision Support to patients with physician appointments at the 
		UCSF Breast Care Center. Erin is interested in pursuing a career in medicine. While at Harvard, she studied Psychology and was the Volunteer Director for the 
		Harvard Square Homeless Shelter in Cambridge, MA.
	</p>
</ui:define>
</ui:composition>
