<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Our Story</ui:define>

<ui:define name="contentMain">
	<h1>Our Story</h1>
	<p>
		BreastCancerTrials.org owes its existence to two breast cancer patients turned advocates, Joan Schreiner and Joanne Tyler. 
		The two San Francisco Bay Area women met in 1996, when a breast surgeon put them in touch with one another. 
		They clicked, and first a friendship &#x2014; and then a website &#x2014; was born.
	</p>
	<p>
		Joan's experience with metastatic disease allowed her to see firsthand how difficult it was to find clinical trials while dealing with the day-to-day demands of her illness. 
		As she searched for and ultimately found a trial in which she participated, she began to think about what might make the process easier for others. 
		Before long, she envisioned an easy-to-use website that could help breast cancer patients find trials that might be right for them. 
		Joanne was drawn to the idea and together they pledged to make it a reality.
	</p> 
	<p>
		From the onset, Joan and Joanne wanted their service to be nonprofit and free of charge to patients. 
		They found an enthusiastic partner in the 
		UCSF Center of Excellence for Breast Cancer Care, an integral program of the 
		<a target="_blank" href="http://www.ucsfbreastcarecenter.org">Carol Franc Buck Breast Care Center</a>, 
		and affiliated with the 
		<a href="http://www.coe.ucsf.edu/coe/" target="_blank">UCSF National Center of Excellence in Womens' Health</a> 
		and the 
		<a target="_blank" href="http://cancer.ucsf.edu">UCSF Helen Diller Family Comprehensive Cancer Center</a>.
		Joan and Joanne began working with three UCSF breast cancer specialists, Drs. Laura Esserman, John Park, and Debu Tripathy, 
		who quickly realized the potential a clinical trials service held for investigators and patients alike.
	</p>
	<p>
		Three critical alliances accelerated the development of BreastCancerTrials.org (BCT.org). 
		The <a target="_blank" href="http://www.cancer.gov">National Cancer Institute</a> (NCI) provided resources to improve BCT.org's technology; 
		the <a target="_blank" href="http://www.cbcrp.org">California Breast Cancer Research Program</a> awarded BCT.org a grant to evaluate how users experienced the matching service; 
		and the <a target="_blank" href="http://cdmrp.army.mil/bcrp/">Department of Defense Breast Cancer Research Program</a>,
		through a <a target="_blank" href="http://www.bccoe.org/">Center of Excellence</a> award to Dr. Esserman and the UCSF Breast Care Center, 
		provided project management. 
		These partnerships allowed BCT.org to launch a regional pilot in Northern California, sponsored by the NCI and UCSF, in June 2005.
	</p>
	<p>
		The response to the pilot proved that BCT.org was on the right track.
		In just over a year, more than 700 patients had registered on the website to find trials,
		prompting a collaborative team at the UCSF Center of Excellence for Breast Cancer Care to expand the pilot into a nationwide service. 
		Funding for this work was made possible by the Amgen Healthcare Institute; the Joan Schreiner Estate and Memorial Fund; and Michael and Pepper Jackson. 
		The Safeway Foundation helped us achieve another critical milestone. 
		Thanks to their generous sponsorship, BreastCancerTrials.org launched in July 2008 as a program of Quantum Leap Healthcare Collaborative, a nonprofit public benefit company.
		Although our reach has expanded, we remain committed to our core mission: 
		helping patients learn about trials so that those who consider trial participation become the norm rather than the exception.
	</p>
	<p>
		Sadly, Joan did not live to see BreastCancerTrials.org evolve into a nationwide service. 
		After a 12-year battle with the disease, Joan died of breast cancer in December 2005 shortly after the launch of the regional pilot. 
		Undoubtedly, she would have been thrilled to see how many people have gone on to benefit from her initial idea: 
		a place where breast cancer patients could learn about how clinical trials advance breast cancer care, 
		find the trials they might qualify for, and determine whether a clinical trial is right for them.
	</p>
</ui:define>
</ui:composition>
