<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Dictionary</ui:define>

<ui:define name="contentMain">
	<h1>Dictionary of Frequently Used Terms</h1>
	<p class="instructions" style="text-align: center">
		<a href="#A">A</a>
		<a href="#B">B</a>
		<a href="#C">C</a>
		<a href="#D">D</a>
		<a href="#E">E</a>
		F
		<a href="#G">G</a>
		<a href="#H">H</a>
		<a href="#I">I</a>
		J
		K
		<a href="#L">L</a>
		<a href="#M">M</a>
		<a href="#N">N</a>
		<a href="#O">O</a>
		<a href="#P">P</a>
		<a href="#Q">Q</a>
		<a href="#R">R</a>
		<a href="#S">S</a>
		<a href="#T">T</a>
		U
		<a href="#V">V</a>
		W
		X
		Y
		Z
	</p>

	<p>
		<a name="A"><b>Adjuvant therapy:</b></a> 
		Treatments received <b><i>after surgery</i></b> to prevent recurrence. 
		Often starts immediately after surgery, but can occur months (or years) afterward, 
		and may include chemotherapy, radiation therapy, hormone therapy, or biological therapy
	</p>

	<p>
		<b>Adverse events (Safety):</b>
		An unexpected medical problem that happens during treatment with a drug or other therapy.
		Adverse events do not have to be caused by the drug or therapy, and they may be mild, moderate, or severe <a href="#nci">*</a>
	</p>

	<p>
		<b>Anti-angiogenesis therapy:</b>
		Prevention of the growth of new blood vessels <a href="#nci">*</a>
	</p>

	<p>
		<b>Antibody therapy:</b>
		Treatment with an antibody, a substance that can directly kill specific
		tumor cells or stimulate the immune system to kill tumor cells <a href="#nci">*</a>
	</p>

	<p>
		<b>Anti-hormone therapy:</b>
		Treatment with drugs, surgery, or radiation in order to block the production or action of a hormone (e.g., estrogen, progesterone). 
		Anti-hormone therapy may be used in cancer treatment because certain hormones are able to stimulate the growth of some types of tumors <a href="#nci">*</a>
	</p>

	<p>
		<b>Aromatase inhibitor:</b>
		A drug that prevents the formation of estradiol, a female hormone, by interfering with an aromatase enzyme. 
		Aromatase inhibitors are used as a type of hormone therapy for postmenopausal women who have hormone-dependent breast cancer <a href="#nci">*</a>
	</p>

	<p>
		<b>Axillary lymph nodes:</b>
		Lymph nodes located in the armpit (axilla) next to the tumor
	</p>

	<p>
		<a name="B"><b>Biological therapy:</b></a>
		Treatment to stimulate or restore the ability of the immune system to fight cancer,
		infections, and other diseases. 
		Also used to lessen certain side effects that may be caused by some cancer treatments. 
		Also called immunotherapy, biotherapy, or biological response modifier (BRM) therapy <a href="#nci">*</a>
	</p>

	<p>
		<b>Bisphosphonate therapy:</b>
		Commonly used to treat osteoporosis, treatment may also be used to reduce bone loss and weakness
		associated with metastases or cancer treatment, particularly aromatase inhibitors
	</p>

	<p>
		<a name="C"><b>Chemotherapy:</b></a>
		Cancer treatment comprised of systemic drugs intended to stop cancer cells from dividing and growing. 
		They act on the whole body to get rid of cancer cells not only in the tumor area, 
		but also any cells that may have moved to other areas of the body
	</p>

	<p>
		<b>Chemo-immunotherapy:</b>
		Chemotherapy combined with immunotherapy.
		Chemotherapy uses different drugs to kill or slow the growth of cancer cells;
		immunotherapy uses treatments to stimulate or restore the ability of the immune system to fight cancer <a href="#nci">*</a>
	</p>

	<p>
		<b>Clinical trial:</b>
		A type of research study that tests how well new medical approaches work in people. 
		These studies test new methods of screening, prevention, diagnosis, or treatment of a disease. 
		Also called a clinical study <a href="#nci">*</a>
	</p>

	<p>
		<b>Complementary and Alternative Medicine (CAM):</b>
		Forms of treatment that are used in (addition to (complementary) or instead of (alternative) standard treatments.
		These practices generally are not considered standard medical approaches.
		Standard treatments go through a long and careful research process to prove they are safe and effective, 
		but less is known about most types of CAM. 
		CAM may include dietary supplements, megadose vitamins, herbal preparations, 
		special teas, acupuncture, massage therapy, magnet therapy, spiritual healing, and meditation <a href="#nci">*</a>
	</p>

	<p>
		<b>Control group:</b>
		The group that does not receive the new treatment being studied. 
		This group is compared to the group that receives the new treatment, to see if the new treatment works <a href="#nci">*</a>
	</p>

	<p>
		<b>Controlled clinical trial:</b>
		A clinical study that includes a comparison (control) group. 
		The comparison group receives a placebo, another treatment, or no treatment at all <a href="#nci">*</a>
	</p>

	<p>
		<a name="D"><b>Double-blinded:</b></a>
		A clinical trial in which neither the medical staff nor the person knows which of several possible therapies the person is receiving <a href="#nci">*</a>
	</p>

	<p>
		<b>Ductal Carcinoma In Situ (DCIS):</b>
		also called <i>Stage 0 breast cancer;</i> 
		diagnosis indicates abnormal cells lining the breast ducts that carry milk to the nipple.
		These abnormal cells are confined to the milk duct, and have not been identified in neighboring, or nearby, tissue
	</p>

	<p>
		<a name="E"><b>Efficacy:</b></a>
		Effectiveness. In medicine, the ability of an intervention (for example, a drug or surgery) to produce the desired beneficial effect <a href="#nci">*</a>
	</p>

	<p>
		<b>Estrogen receptors:</b>
		A type of protein present on some breast cancer cells to which estrogen attaches. 
		Breast cancer cells that grow in response to the attached estrogen are called 
		<i>Estrogen Receptor positive (ER+)</i>
	</p>

	<p>
		<a name="G"><b>Gene therapy:</b></a>
		Treatment that alters a gene. 
		In studies of gene therapy for cancer, researchers are trying to improve the body's natural
		ability to fight the disease or to make the cancer cells more sensitive to other kinds of therapy <a href="#nci">*</a>
	</p>

	<p>
		<a name="H"><b>HER2/neu receptors:</b></a>
		A type of protein normally present in very small amounts on the outer surface of normal breast cells. 
		Cells that contain an excess of HER2 proteins stimulate breast cancer growth and are called 
		<i>HER2/neu receptor positive</i>. 
		HER2/neu receptor testing is not routine in all medical practices
	</p>

	<p>
		<b>Hormonal therapy:</b>
		Treatments intended to prevent hormone-receptor positive cells from being exposed to the hormones that cause
		them to grow; used in both prevention and treatment
	</p>

	<p>
		<a name="I"><b>Inflammatory breast cancer:</b></a>
		A rare form of breast cancer in which breast cancer cells block the lymph vessels in the skin of the breast
	</p>

	<p>
		<b>Infraclavicular lymph nodes:</b>
		Lymph nodes located below, but near to, the collar bone
	</p>

	<p>
		<b>Institutional Review Board (IRB):</b>
		also called <i>IRB</i>. 
		A group of scientists, doctors, clergy, and consumers that reviews and approves the protocol for every clinical trial. 
		There is an IRB at every health care facility that does clinical research. 
		IRBs are designed to protect the people who take part in a clinical trial. 
		IRBs check to see that the trial is well designed, legal, ethical, does not involve unnecessary risks, and includes safeguards for patients <a href="#nci">*</a>
	</p>

	<p>
		<b>Intervention group:</b>
		The group receiving the study agent that is being tested in a clinical trial or clinical study. 
		Also know as experimental group <a href="#nci">*</a>
	</p>

	<p>
		<a name="L"><b>Laterality:</b></a>
		The side of the body on which surgery was performed
	</p>

	<p>
		<b>Lumpectomy:</b>
		Surgical removal of breast cancer mass, or lump, from breast tissue
	</p>

	<p>
		<b>Lymphedema:</b>
		A condition in which excess fluid collects in tissue and causes swelling. 
		It may occur in the arm or leg after lymph vessels or lymph nodes in the underarm or groin are removed or treated with radiation <a href="#nci">*</a>
	</p>

	<p>
		<a name="M"><b>Mastectomy:</b></a>
		Surgical removal of entire affected breast.
		Patients with high risk factors for breast cancer may undergo mastectomy for prevention
	</p>

	<p>
		<b>Medically-induced menopause:</b>
		The end of menstrual periods due to medical treatment or surgery
	</p>

	<p>
		<b>Metastatic breast cancer:</b>
		also called <i>Stage IV breast cancer</i>; 
		diagnosis indicates that cancer cells have spread beyond the breast and nearby lymph nodes to other parts of the body,
		most commonly to bone, lung, and/or liver
	</p>

	<p>
		<b>Multi-center study:</b>
		A clinical trial that is carried out at more than one medical institution <a href="#nci">*</a>
	</p>

	<p>
		<a name="N"><b>Natural menopause:</b></a>
		The absence of a monthly menstrual period for 12 months or more
	</p>

	<p>
		<b>Neoadjuvant therapy:</b>
		Treatments received <i>before surgical removal</i> of cancer tumors and affected areas. 
		They are intended to reduce the size of the tumor to help its removal
	</p>

	<p>
		<b>Nonrandomized clinical trial:</b>
		A clinical trial in which the participants are not assigned by chance to different treatment groups. 
		Participants may choose which group they want to be in, or they may be assigned to the groups by the researchers <a href="#nci">*</a>
	</p>

	<p>
		<a name="O"><b>Observational study:</b></a>
		A type of study in which individuals are observed or certain outcomes are measured. 
		No attempt is made to affect the outcome (for example, no treatment is given) <a href="#nci">*</a>
	</p>

	<p>
		<b>Oophrectomy:</b>
		Surgical removal of ovaries
	</p>

	<p>
		<b>Open label study:</b>
		A type of study in which both the health providers and the patients are aware of
		the drug or treatment being given <a href="#nci">*</a>
	</p>

	<p>
		<a name="P"><b>Phase I trial:</b></a>
		The first step in testing a new treatment in humans. 
		These studies test the best way to give a new treatment 
		(for example, by mouth, intravenous infusion, or injection) and the best dose.
		The dose is usually increased a little at a time in order to find the highest
		dose that does not cause harmful side effects. 
		Because little is known about the possible risks and benefits of the treatments being tested, 
		Phase I trials usually include only a small number of patients who have not been helped by other treatments <a href="#nci">*</a>
	</p>

	<p>
		<b>Phase I/II trial:</b>
		A trial to study the safety, dosage levels, and response to a new treatment <a href="#nci">*</a>
	</p>

	<p>
		<b>Phase II trial:</b>
		A study to test whether a new treatment has an anticancer effect 
		(for example, whether it shrinks a tumor or improves blood test results) 
		and whether it works against a certain type of cancer <a href="#nci">*</a>
	</p>

	<p>
		<b>Phase III trial:</b>
		A study to compare the results of people taking a new treatment with the results 
		of people taking the standard treatment
		(for example, which group has better survival rates or fewer side effects). 
		In most cases, studies move into phase III only after a treatment seems to work in phases I and II. 
		Phase III trials may include hundreds of people <a href="#nci">*</a>
	</p>

	<p>
		<b>Phase IV trial:</b>
		After a treatment has been approved and is being marketed, it is studied in a phase IV trial 
		to evaluate side effects that were not apparent in the phase III trial. 
		Thousands of people are involved in a phase IV trial <a href="#nci">*</a>
	</p>

	<p>
		<b>Pilot study:</b>
		The initial study examining a new method or treatment <a href="#nci">*</a>
	</p>

	<p>
		<b>Placebo:</b>
		An inactive substance or treatment that looks the same as, and is given
		the same way as, an active drug or treatment being tested. The effects of the
		active drug or treatment are compared to the effects of the placebo <a href="#nci">*</a>
	</p>

	<p>
		<b>Placebo-controlled:</b>
		Refers to a clinical study in which the control patients receive a placebo <a href="#nci">*</a>
	</p>

	<p>
		<b>Primary breast cancer:</b>
		also called <i>Stage I, II, or III breast cancer;</i> 
		diagnosis indicates discovery of cancer cells arising from either the milk ducts 
		or milk-producing cells (lobules), 
		which have spread into neighboring tissue, 
		such as other areas of the breast and/or nearby lymph nodes. 
		Although cancer cells may spread to other parts of the body, 
		the cancer type does not change when the cells are in a different location of the body. 
		For example, breast cancer cells present in the lungs are not lung cancer
	</p>

	<p>
		<b>Progesterone receptors:</b>
		A type of protein present on some breast cancer cells to which progesterone attaches. 
		Breast cancer cells that grow in response to the attached progesterone are called 
		<i>Progesterone Receptor positive (PR+)</i>
	</p>

	<p>
		<b>Protocol:</b>
		An action plan for a clinical trial. 
		The plan states what the study will do, how, and why. 
		It explains how many people will be in it, who is eligible to participate, 
		what study agents or other interventions they will be given, what tests they will receive and how often,
		and what information will be gathered <a href="#nci">*</a>
	</p>

	<p>
		<a name="Q"><b>Quality of life:</b></a>
		The overall enjoyment of life. 
		Many clinical trials assess the effects of cancer and its treatment on the quality of life.
		These studies measure aspects of an individual's sense of well-being and ability to carry out various activities <a href="#nci">*</a>
	</p>

	<p>
		<a name="R"><b>Radiation therapy:</b></a>
		Cancer treatment in which radiation energy is focused onto a specific area of the body to eradicate cancer cells 
		and shrink tumors. 
		Normal cells are less likely to be damaged by the radiation, and are better able to repair themselves
	</p>

	<p>
		<b>Radio immunotherapy:</b>
		Treatment with a radioactive substance that is linked to an antibody that will attach to the tumor when injected into the body <a href="#nci">*</a>
	</p>

	<p>
		<b>Randomized clinical trials:</b>
		A study in which the participants are assigned by chance to separate groups that compare different treatments; 
		neither the researchers nor the participants can choose which group. 
		Using chance to assign people to groups means that the groups will be similar and that the treatments 
		they receive can be compared objectively. 
		At the time of the trial, it is not known which treatment is best. 
		It is the patient's choice to be in a randomized trial <a href="#nci">*</a>
	</p>

	<p>
		<a name="S"><b>Sentinel lymph node:</b></a>
		The first lymph node to which cancer is likely to spread from the primary breast cancer tumor. 
		Usually located in the armpit (<i>axilla</i>) next to the tumor, 
		among other <i>axillary lymph nodes</i>
	</p>

	<p>
		<b>Single blind study:</b>
		A type of clinical trial in which only the doctor knows whether a patient 
		is taking the standard treatment or the new treatment being tested. 
		This helps prevent bias in treatment studies <a href="#nci">*</a>
	</p>

	<p>
		<b>Stage:</b>
		also called <i>clinical stage;</i> 
		cancer stage describes both the size of a tumor at diagnosis and 
		whether or not cancer cells have spread beyond the initial tumor site
	</p>

	<p>
		<b>Supraclavicular lymph nodes:</b>
		Lymph nodes located above the collar bone (between the neck and the shoulder)
	</p>

	<p>
		<a name="T"><b>Targeted/biological therapy:</b></a>
		also called <i>immune targeted therapies;</i> 
		treatment focuses on blocking the actions of certain normal body proteins that allow
		cancer cells to grow and divide. 
		These treatments target cancer cells, lessening toxicity and reducing side effects
	</p>

	<p>
		<b>Type:</b>
		Cancer type is determined by the location of the abnormal breast cells
		- milk ducts (<i>ductal</i>) or milk-producing glands (<i>lobular</i>) 
		- and if the cells have spread to surrounding breast tissue 
		or other areas of the body (<i>invasive</i>)
	</p>

	<p>
		<a name="V"><b>Vaccine:</b></a>
		A substance or group of substances meant to cause the immune system 
		to respond to a tumor or to microorganisms, such as bacteria or viruses. 
		A vaccine can help the body recognize and destroy cancer cells or microorganisms <a href="#nci">*</a>
	</p>

	<p>
		<b>Vaccine therapy:</b>
		A type of treatment that uses a substance or group of substances to
		stimulate the immune system to destroy a tumor or infectious microorganisms
		such as bacteria or viruses <a href="#nci">*</a>
	</p>

	<blockquote><p><a name="nci">*</a>
		Excerpted from the
		<a href="http://www.cancer.gov/dictionary/" target="_blank">National Cancer Institute Dictionary of Cancer Terms</a>.
	</p></blockquote>

</ui:define>
</ui:composition>
