<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Resources</ui:define>

<ui:define name="contentMain">
	<h1>Resources</h1>
	<ul>
		<li><s:link view="/resources/dictionary.xhtml">Dictionary</s:link><br />
			Frequently used terms.
		</li>
		<li><s:link view="/resources/treatments.xhtml">Commonly Used Drugs</s:link><br />
			Common drugs used in breast cancer treatment.
		</li>
		<li><s:link view="/resources/links.xhtml">Links</s:link><br />
			Breast cancer and clinical trials information.
		</li>
	</ul>
</ui:define>
</ui:composition>
