<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template-secondary.xhtml">

<ui:define name="title">Links</ui:define>

<ui:define name="contentMain">
	<h1>Links</h1>

	<h2>Breast Cancer Information and Resources</h2>
	<p>
		<a href="http://www.cancer.org" target="_blank">American Cancer Society</a><br />
		Comprehensive cancer information.
	</p>
	<p>
		<a href="http://www.areyoudense.org" target="_blank">AreYouDense.org</a><br />
		Educates the public about dense breast tissue and its significance for the early detection of breast cancer.
	</p>
	<p>
		<a href="http://www.bcmets.org" target="_blank">BCMets.org</a><br />
		A message board and listserv for women with metastatic disease.
	</p>
	<p>
		<a href="http://www.BrainMetsBC.org" target="_blank">BrainMetsBC.org</a><br />
		Comprehensive information about brain metastases from a patient perspective.
	</p>
	<p>
		<a href="http://BreastCancer.org" target="_blank">BreastCancer.org</a><br />
		Comprehensive information about breast cancer detection and treatment.
	</p>
	<p>
		<a href="http://www.breastfriends.org/" target="_blank">Breast Friends</a><br />
		A national toll-free hotline staffed by breast cancer survivors. Phone: 1.888.718.3523
	</p>
	<p>
		<a href="http://cancer.net/" target="_blank">Cancer.Net</a><br />
		Developed by the American Society of Clinical Oncology (ASCO), Cancer.Net contains comprehensive 
		and up-to-date information for all people affected by cancer. All content is approved by cancer 
		doctors who are members of ASCO. 
	</p>
	<p>
		<a href="http://cancerandcareers.org/" target="_blank">CancerandCareers.org</a><br />
		A comprehensive website offering free publications in English and Spanish as well as a series of 
		support groups and educational seminars for employees with cancer, their employers, coworkers and 
		healthcare providers. 
	</p>
	<p>
		<a href="http://www.cancercare.org/" target="_blank">CancerCare</a><br />
		CancerCare is a national nonprofit organization that provides free, professional support services 
		to anyone affected by cancer. It's programs, including counseling, education, financial assistance 
		and practical help, are provided by professional oncology social workers and are completely free of charge. 
		CancerCare provided help to more than 108,500 people last year.
	</p>
	<p>
		<a href="http://www.thewellnesscommunity.org" target="_blank">Cancer Support Community</a><br />
		Provides a network of professional programs of emotional support, education and hope for people affected by 
		cancer at no charge so that no one faces cancer alone.
	</p>	
	<p>
		<a href="http://www.DrDonnica.com" target="_blank">DrDonnica.com</a><br />
		A user-friendly, multimedia women's health information site created by Donnica L. Moore, MD.
	</p>
	<p>
		<a href="http://www.dslrf.org" target="_blank">Dr. Susan Love Research Foundation</a><br />
		Comprehensive information about breast cancer prevention, detection, and treatment.
	</p>
	<p>
		<a href="http://www.facingourrisk.org" target="_blank">FORCE: Facing Our Risk of Cancer Empowered</a><br />
		For women with an increased risk of cancer due to family history and genetic status and for families that carry a BRCA mutation.
	</p>
	<p>
		<a href="http://www.ibcresearch.org/" target="_blank">Inflammatory Breast Cancer Research Foundation</a><br />
		The only cancer research organization specifically targeting IBC. 
	</p>
	<p>
		<a href="http://www.ibcsupport.org/" target="_blank">Inflammatory Breast Cancer Support</a><br />
		Provides information and support for individuals with IBC.
	</p>
	<p>
		<a href="http://www.lbbc.org/" target="_blank">Living Beyond Breast Cancer</a><br />
		Provides information and support for women affected by breast cancer.
	</p>
	<p>
		<a href="http://www.metavivor.org/" target="_blank">Metavivor</a><br />
		Nonprofit organization that provides education and support for patients with metastatic breast cancer.
	</p>
	<p>
		<a href="http://www.mbcnetwork.org" target="_blank">Metastatic Breast Cancer Network</a><br />
		Advocacy group for women with metastatic breast cancer.
	</p>
	<p>
		<a href="http://www.cancer.gov/cancertopics/types/breast" target="_blank">National Cancer Institute Breast Cancer Home Page</a><br />
		Educational information about breast cancer.
	</p>
	<p>
		<a href="http://www.navigatingcancer.com/" target="_blank">Navigating Cancer</a><br />
		Helps patients bring together their most important resources to assist them in their care.
	</p>
	<p>
		<a href="http://www.networkofstrength.org/" target="_blank">Network of Strength National Breast Cancer Organization</a> (Formerly Y-ME)<br />
		Comprehensive breast cancer information provided in English, Spanish, Russian, Vietnamese, Tagalog, and Chinese.
	</p>
	<p>
		<a href="http://nueva-vida.org" target="_blank">Nueva Vida</a><br />
		Education and support for Latinas affected by cancer. The website is presented in both English and Spanish.
	</p>
	<p>
		<a href="http://www.patientadvocate.org" target="_blank">Patient Advocate Foundation</a><br />
		Helps patients with chronic, debilitating and life-threatening illnesses remove obstacles to healthcare 
		such as medical debt, access to insurance, and job retention.
	</p>
	<p>
		<a href="http://www.pink-link.org/news.php" target="_blank">Pink-Link</a><br />
		An online breast cancer support network for people affected by breast cancer.
	</p>

	<p>
		<a href="http://www.sharecancersupport.org" target="_blank">Share</a><br />
		New York City self-help support organization for women with breast or ovarian cancer. 
	</p>


	<p>
		<a href="http://www.self.com/health/2008/09/womens-cancer-handbook-resource-guide?currentPage=2" target="_blank">Self.com</a><br />
		Women's Cancer Resource Guide.
	</p>
	<p>
		<a href="http://ww5.komen.org/default.aspx" target="_blank">Susan G. Komen for the Cure</a><br />
		The world&#39;s largest grassroots network of breast cancer survivors and activists, Susan G. Komen for the Cure is fighting to save lives, empower people, ensure quality care for all, and energize science to find cures.  The site features information about breast cancer diagnosis, treatment, and support.

	</p>
	<p>
		<a href="http://www.tnbcfoundation.org/" target="_blank">Triple Negative Breast Cancer Foundation</a><br />
		Provides discussion forums and educational programs for women with triple-negative tumors.
	</p>
	<p>
		<a href="http://www.youngsurvival.org" target="_blank">Young Survival Coalition</a><br />
		Information and support for young women with breast cancer.
	</p>
	<p>
		<a href="http://www.cisncancer.org/" target="_blank">Cancer Information and Support Network</a><br />
		Detailed, patient-friendly information about cancer research, treatment, support, advocacy, and survivorship.
	</p>

	<h2><a name="trials">Breast Cancer Clinical Trials, Research and Research Advocacy</a></h2>
	<p>
		<a href="http://www.cancer.gov/clinicaltrials" target="_blank">National Cancer Institute Clinical Trials Portal</a><br />
		Searchable database of cancer clinical trials.
	</p>
	<p>
		<a href="http://www.cancer.org/docroot/ETO/ETO_6.asp" target="_blank">American Cancer Society</a><br />
		Provides information about the clinical trials process.
	</p>
	<p>
		<a href="http://www.armyofwomen.org" target="_blank">Army of Women</a><br />
		The Love&#47;Avon Army of Women is recruiting ONE MILLION WOMEN who are willing to consider participating in research to find the cause and ways of preventing breast cancer. You can participate in the Army of Women by signing up at <a href="http://www.armyofwomen.org" target="_blank">www.armyofwomen.org</a>.<br />
	</p>
	<p>
		<a href="http://www.centerwatch.com/" target="_blank">CenterWatch</a><br />
		A cancer clinical trials listing service.
	</p>
	<p>
		<a href="http://ClinicalTrials.gov/" target="_blank">ClinicalTrials.gov</a><br />
		National Library of Medicine searchable database of clinical trials.
	</p>
	<p>
		<a href="http://www.controlled-trials.com/" target="_blank">Current Controlled Trials</a><br />
		Provides a listing of randomized clinical trials.
	</p>
	<p>
		<a href="http://www.emergingmed.com/" target="_blank">EmergingMed</a><br />
		Provides a database of clinical trials. 
		Can also be reached by phone: 1.877.601.8601
		8:30 AM - 6:00 PM ET (M-F)
	</p>
	<p>
		<a href="http://ecancertrials.com/" target="_blank">eCancerTrials</a><br />
		A clinical trials service provided by CancerConsultants.com.
	</p>
	<p>
		<a href="http://www.researchadvocacy.org" target="_blank">Research Advocacy Network</a><br />
		Non-profit organization that brings together all participants in the medical research process. Its focus is to 
		educate, support and connect patient advocates with the research community to improve patient care. 
	</p>
	<p>
		<a href="http://trialcheck.org" target="_blank">Trial Check</a><br />
		A clinical trials website and search engine developed by the National Cancer Cooperative Groups
	</p>

	<h2><a name="international">Trials Outside the USA</a></h2>
	<h3>United Kingdom</h3>
	<div><a href="http://public.ukcrn.org.uk/Search/Portfolio.aspx?level1=1&amp;level2=3&amp;titleAcro=&amp;chiefInvStudyCoord=&amp;isrctn=&amp;UKCRNStudyID=&amp;ResearchSummary=&amp;SearchType=Any" target="_blank">UK Clinical Research Network</a></div>
	<h3>Canada</h3>
	<div><a href="http://www.womenshealthmatters.ca/resources/show_res.cfm?ID=39925" target="_blank">Ontario Cancer Trials</a></div>
	<div><a href="http://www.womenshealthmatters.ca/resources/show_res.cfm?ID=43922" target="_blank">Cancer View Canada</a></div>
	<h3>All Countries</h3>
	<div><a href="http://www.cancer.gov/clinicaltrials/search" target="_blank">Cancer.gov</a></div>
</ui:define>
</ui:composition>
