<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Update password</ui:define>

<ui:define name="styles">
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate1">
      <h1><em>Update Password</em></h1>
    </div>
   
    <div class="ContentFramedBox">
	<h:form id="security_edit" prependId="false">
		<ui:include src="security_edit.xhtml" />
		<div class="formActions">
			<h:commandButton id="update" action="#{patientInterface.update}" value="Change My Password" />
			&#xA0;<s:link view="/account.xhtml">Do not change</s:link>
		</div>
	</h:form>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>
</ui:composition>
