<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Change Preferences</ui:define>

<ui:define name="styles">
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
      <h1><em>change </em>Preferences</h1>
    </div>
    
    <div class="ContentFramedBox">
	<div class="instructions">
		<s:div rendered="#{patientInterface.patient.alertNewTrialsEnabled}">
			You are currently subscribed to the Trial Alert Service. To unsubscribe, uncheck the box below and click the button.
		</s:div>
		<p>Your email address is used to log into the BreastCancerTrials.org website
			and to send messages to you about your account.
			<a onclick="$('[id=privacy-hint]').toggle(1500);" class="learnmore" title="Click for privacy information">[We respect your privacy]</a>
		</p>
	</div>
	<div class="hint" id="privacy-hint" style="display: none;">
		<p>BreastCancerTrials.org understands the importance of respecting your privacy.
			Your health history and other personal information will <strong>never be shared</strong> 
			with research sites or others without your <strong>explicit permission</strong>.
			Information is sent to research sites <strong>only when you choose to share it</strong>.
			You may also log in to remove your health history information from our website at any time.</p>
		<p>Providing your email and password will allow you to log in to our website to edit your health history information,
			to share your health history summary with research sites that you select, and to be notified when new trials are available.
			When you choose to share your health history with a trial research site,
			the research site will only have access to the contact information that you choose to send.</p>
		<p><a class="learnmore" onclick="$('[id=privacy-hint]').fadeOut(1500);" title="Click to close">close</a></p>
	</div>
	<h:form id="email_edit" prependId="false">
		<ui:include src="email_edit.xhtml" />
		<div class="formActions">
			<h:commandButton id="update" action="#{patientInterface.update}" value="Save changes" />
			&#xA0;<s:link view="/account.xhtml">Do not change</s:link>
		</div>
	</h:form>
	</div>
</ui:define>

</ui:composition>
