<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
	  	xmlns:c="http://java.sun.com/jstl/core"
	  	xmlns:f="http://java.sun.com/jsf/core"
		xmlns:s="http://jboss.com/products/seam/taglib"
        xmlns:q="http://quantumleaphealth.org/jsf"
		template="/newtemplate.xhtml">

<ui:define name="title">My Account</ui:define>

<ui:define name="styles">
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate2">
      <h1><em>my</em> Account</h1>
    </div>
    
    <!-- Content -->
    <div class="ContentFramedBox">
    	<ui:fragment rendered="#{patientInterface.avatarProfile}">
          	<div class="warningtext">#{bundle['avatarStatement']}</div>
    	</ui:fragment>

		<s:div styleClass="errortext" rendered="#{patientInterface.patientHistoryAgeMonths ge 6}">
			Your health history was last changed #{patientInterface.patientHistoryAgeMonths} months ago.
			Please&#xA0;<s:link view="/history_review.xhtml">review your Health Summary</s:link> for any updates.
		</s:div>
		
		<c:choose>
		<c:when test="#{not patientInterface.patient.patientHistoryComplete}">
		 	<div class="instructions">
				Your health history is <strong>incomplete</strong>.
			</div>
		</c:when>
		<c:when test="#{patientInterface.screenedTrialCount le 0}">
			<div class="instructions">
			<p>
				We're sorry, but we do not have trials that currently match your Health History.
			<h:outputText rendered="#{patientInterface.patient.alertNewTrialsEnabled}">
				We are adding trials on a daily basis, and because you are signed up for our Trial Alert Service, we will send an you email whenever we list new trials that match your Health History. 
			</h:outputText>
			<h:outputText rendered="#{not patientInterface.patient.alertNewTrialsEnabled}">
				Since we are adding trials on a daily basis, we encourage you to&#xA0;<s:link view="/account_change.xhtml">join our Trial Alert Service</s:link>, so we can email you alerts when we list new trials that match your Health History.  
			</h:outputText>
			</p>
			<a onclick="$('[id=nomatch-hint]').toggle(1500);" class="learnmore" title="Click for more information">Why did I not match to a trial? Where else can I find trials?</a>
			</div>
		</c:when>
		<c:otherwise>
		 	<div class="instructions">
			You have <strong>#{patientInterface.screenedTrialCount} matching trial#{patientInterface.screenedTrialCount == 1 ? '' : 's'}</strong>.
			</div>
		</c:otherwise>
		</c:choose>
		
 	<div class="hint" id="nomatch-hint" style="display: none;">
		<div><strong>Why did I not match to a trial on BCT?</strong></div>
		<p>
			At this time the eligibility criteria of our currently listed trials do not match your Health History. 
			Clinical trials use specific eligibility criteria that narrow a study population to individuals who share a common health history. 
			For example, depending upon how a new chemotherapy drug is intended to be used, a clinical trial may exclude patients who have had prior chemotherapy or may only include patients whose cancer has progressed on chemotherapy.
			This ensures that the study focuses specifically on how the drug will be used in the clinical setting and that the study results are not influenced by other factors that may bias its scientific conclusions.
		</p>
		<div><strong>Where else can I find trials?</strong></div>
		We recommend the following resources for finding trials:<ol>
			<li><a href="http://www.cancer.gov/clinicaltrials/search" target="_blank">Cancer.gov</a>: This clinical trial registry from the National Cancer Institute offers a comprehensive listing of clinical trials in the USA and other countries.</li>
			<li><a href="http://www.cancertrialshelp.org/trialcheck/default.aspx?intAppMode=0" target="_blank">TrialCheck</a>: This nonprofit clinical trial matching service is run by the Coalition of Cancer Cooperative Groups.</li>
		</ol>
		If you have more questions, please&#xA0;<s:link view="/contact.xhtml">Contact Us</s:link>. We are happy to help.
		<p><a class="learnmore" onclick="$('[id=nomatch-hint]').fadeOut(1500);" title="Click to close">close</a></p>
	</div>
	
	<ul class="actions">
		<c:choose>
			<c:when test="#{(not patientInterface.patient.patientHistoryComplete) or (patientInterface.history.valueCharacteristics[8].value eq 0)}">
				<li><s:link view="/history_review.xhtml"><strong>Go to your Health Summary to review and update your information</strong></s:link></li>
		</c:when>
		<c:when test="#{patientInterface.screenedTrialCount le 0}">
			<li><s:link view="/history_review.xhtml"><strong>Review or update your Health Summary</strong></s:link></li>
			<li><s:link view="/resources/links.xhtml" fragment="trials">See other resources for finding clinical trials</s:link></li>
		</c:when>
		<c:otherwise>
			<li><s:link view="/my_trials.xhtml"><strong>Review My Trials</strong></s:link></li>
			<li><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FindATrial/QuestionsForResearchers.html" target="_blank">Prepare to talk with a research site</a></li>
			<li><s:link view="/history_review.xhtml">Review your Health Summary</s:link> or&#xA0; 
				<s:link view="/history_forms.xhtml">update your Health History</s:link></li>
		</c:otherwise>
		</c:choose>

		<c:if test="#{not empty patientInterface.patient.invitations}">
			<li><s:link view="/account_invitations.xhtml">Review your SecureCONNECT Activity</s:link>: You have sent&#xA0;#{patientInterface.patient.invitations.size()} message(s)</li>
		</c:if>
		<li><s:link view="/account_change.xhtml">Preferences: </s:link>&#xA0;&#xA0;Email, Zip Code, Trial Alert Service</li> 
		<li><s:link view="/account_security.xhtml">Password Reset</s:link></li>
		<li><s:link view="/browse_trials.xhtml" title="See all trials available on Breast Cancer Trials.org">Browse our clinical trials</s:link></li>
		<c:if test="#{!navigatorInterface.loggedIn}">
			<li><s:link view="/logged_out.xhtml">Logout of BreastCancerTrials.org</s:link></li>
		</c:if>
		<li><s:link view="/account_delete.xhtml" style="color:#FF0000">Delete Account</s:link> &#8212; delete all of your information</li>
	</ul>
	
	</div>	
</ui:define>

</ui:composition>
