<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Message Deleted</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate4">
		<h1>Message Deleted</h1>
    </div>

    <div class="ContentFramedBox">
    
 	<div class="instructions">
		Your interest in <em>#{invitationManager.invitation.trialSite.trial.name}</em> at #{empty invitationManager.invitation.trialSite.site.name ? 'Private practice' : invitationManager.invitation.trialSite.site.name} has been withdrawn.
	</div>
	<p>
		<s:link view="/account.xhtml">My Account</s:link>
		<ui:fragment rendered="#{not empty patientInterface.patient.invitations}">&#xA0;&#xA0;&#xA0;&#xA0;View the&#xA0;<s:link view="/account_invitations.xhtml">other #{patientInterface.patient.invitations.size()} message(s) you have sent to research sites</s:link></ui:fragment>
	</p>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>
</ui:composition>
