<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Personal Information and Health Data Deleted</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate4">
      <h1><em>Personal Information and Health Data Deleted</em></h1>
    </div>

    <div class="ContentFramedBox">
	<p class="ContentFramedBox">
		You have been logged out of your health record and your information has been removed from the system.
		If this is not your computer you should close this window.
		If you do not close the window, others may be able to see your private information by clicking the <em>Back</em> button.
	</p> 
	</div>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>
</ui:composition>
