<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:c="http://java.sun.com/jstl/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
				template="/newtemplate.xhtml">

<ui:define name="title">My SecureCONNECT Activity</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
      <h1><em>review my</em> SecureCONNECT Activity</h1>
    </div>
    
    <div class="ContentFramedBox">	
	<div class="utilNav"><s:link view="/account.xhtml" title="Click to go back to your account">Return to My Account</s:link></div>
	<div class="instructions">
		You have sent #{patientInterface.patient.invitations.size()} message(s) permitting the following research sites to view your Health Summary. 
		You may withdraw your permission at any time.
	</div>
	<c:forEach items="#{invitationManager.trialInvitations}" var="_trialInvitations"><div class="trial">
		<h2><h:outputText value="#{_trialInvitations.trial.name}" escape="true" /></h2>
		<div class="description"><h:outputText value="#{_trialInvitations.trial.title}" escape="true" /></div>
		<table><tr><th align="left">Research Site</th><th align="left">Message Status</th></tr>
		<c:forEach items="#{_trialInvitations.sortedList}" var="_invitation">
			<tr style="border-bottom:1px solid #ccc; padding-bottom: 5px;">
				<table style="border-bottom:1px solid #ccc; padding-bottom: 5px;">
				<tr>
					<td style="text-align:justify;">#{empty _invitation.trialSite.site.name ? 'Private practice' : _invitation.trialSite.site.name},
						#{_invitation.trialSite.site.city}, #{_invitation.trialSite.site.politicalSubUnitName}&#xA0;<h:outputText value="#{_invitation.trialSite.site.postalCode}"><f:convertNumber pattern="00000" /></h:outputText>
						<br />#{q:getFullName(_invitation.trialSite.contact)} #{_invitation.trialSite.contact.phone}
						<ui:fragment rendered="#{!empty _invitation.trialSite.contact.email}">&#xA0;<a href="mailto:#{_invitation.trialSite.contact.email}?subject=BreastCancerTrials.org">#{_invitation.trialSite.contact.email}</a></ui:fragment>
					</td>
					<td style="text-align:justify;">
						<c:choose>
						<c:when test="#{_invitation.dispositionDate != null}">Eligibility determined&#xA0;<h:outputText value="#{_invitation.dispositionDate}" ><s:convertDateTime dateStyle="short" /></h:outputText></c:when>
						<c:when test="#{_invitation.viewed != null}">History viewed&#xA0;<h:outputText value="#{_invitation.viewed}" ><s:convertDateTime dateStyle="short" /></h:outputText></c:when>
						<c:when test="#{_invitation.helpDeskNotified != null and _invitation.viewed == null}"><div class="errortext2" style="text-align:justify;">#{bundle['secureConnect.ContactRequestLine1']}<br />Please contact the <a href="${facesContext.externalContext.requestContextPath}/#{bundle['secureConnect.hrefLink']}">Help Desk</a> for more information.</div></c:when>
				
						<c:when test="#{_invitation.lastReminder != null}">Message resent&#xA0;<h:outputText value="#{_invitation.lastReminder}" ><s:convertDateTime dateStyle="short" /></h:outputText></c:when>
						<c:when test="#{_invitation.getSent() != null}">Message sent&#xA0;<h:outputText value="#{_invitation.sent}" ><s:convertDateTime dateStyle="short" /></h:outputText></c:when>
						<c:otherwise>Message submitted&#xA0;<h:outputText value="#{_invitation.created}" ><s:convertDateTime dateStyle="short" /></h:outputText></c:otherwise>
						</c:choose>
					</td>
				</tr>
				<tr>	
					<td colspan="2" align="left"><span class="hinttext">I am no longer interested in this trial</span>&#xA0;
						<s:button action="#{invitationManager.setTrialSite(null)}" view="/account_withdraw.xhtml" value="Remove permission for this site to view my Health Summary">
						<f:param name="trialSite" value='#{q:concat(q:concat(_invitation.trialId,"|"),_invitation.siteId)}' />
					</s:button>
					</td>
				</tr>	
				</table>
			</tr>
		</c:forEach>
		</table>
	</div></c:forEach>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>
</ui:composition>

