<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:c="http://java.sun.com/jstl/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
				template="/newtemplate.xhtml">

<ui:define name="javascripts">

	<script type="text/javascript">
	//<![CDATA[	
	function clearZipForm() 
	{
		var errorDiv     = document.getElementById( 'errormessages' );
		document.forms.zip.elements['Ecom_ReceiptTo_Postal_PostalCode'].value = ''; 
        // clear the errors.
        errorDiv.innerHTML = '';
        errorDiv.style.display = 'none';
        return false;
	}

    function validateForm(formName, BioMarkerOnly, SiteOnly) 
    {
            var form = document.getElementById(formName);
            if (form === undefined)
            {
                    return false;
            }
            var formErrorDiv = document.getElementById(formName + 'Errors');
            var attributes = form.elements["attributes"];
            var foundBioMarker = false;
            var foundSite = false;
            var errroText = "";
    		formErrorDiv.innerHTML = '';
        	formErrorDiv.style.display = 'none';
            
            for (var i = 0; i< attributes.length; i++)
            {
                	// only checking for biomarkers.  There are three with the values of 16, 32 or 64
                    if (attributes[i].checked == true)
                    {
                    	if (attributes[i].value == 8 || attributes[i].value == 16 || attributes[i].value == 32)
                    	{	
                    		foundBioMarker = true;
                    	}
                    	else if (attributes[i].value == 64 || attributes[i].value == 128 || attributes[i].value == 256 || attributes[i].value == 512)
                    	{
                        	foundSite = true;
                    	}			

                    }               
            } 

//             if ((foundBioMarker == true && foundSite == true)  || (BioMarkerOnly == true && foundBioMarker == true) || (SiteOnly == true && foundSite == true))
            if ((foundBioMarker == true)  || (BioMarkerOnly == true && foundBioMarker == true) || (SiteOnly == true && foundSite == true))
            {
                return true;
            }
            
            formErrorDiv.style.display = 'block';
            if (foundBioMarker == false && SiteOnly == false)
            {
                formErrorDiv.innerHTML = 'Please indicate your biomarker status.';
            }

// No validation here so that an 'OR' can be done if the user does not select any evidence of disease.            
//            if (foundSite == false && BioMarkerOnly == false)
//            {
//                if (foundBioMarker == false && SiteOnly == false)
//                {
//                    formErrorDiv.innerHTML += '<br />';
//                }        
//                formErrorDiv.innerHTML += 'Please select a site with evidence of disease.';
//            }
    		return false;
    }
	
// ]]>
	</script>
</ui:define>

<ui:define name="title">View All Trials for Early and Advanced Breast Cancer<h:outputText rendered="#{!empty newTrialBrowser.postalCode}" value="#{newTrialBrowser.postalCode}"><f:convertNumber pattern=" for Zip code 00000" /></h:outputText></ui:define>

<ui:define name="styles">
	<meta name="description" content="See All Trials: early and advanced breast cancer, Her2-positive breast cancer, triple negative breast cancer, estrogen-positive breast cancer, complementary and alternative medicine…"/>
	<meta name="keywords" content="advanced breast cancer, HER2-positive"/>
</ui:define>

<ui:define name="breadCrumbs">
 	<td class="noHover" align="left" width="99%">
		<s:link view="/home.xhtml" styleClass="noHover" propagation="none">Home&#xa0;&#xa0;</s:link>
		<ui:fragment rendered="#{userProxy.userPatientLoggedIn and not userProxy.navigatorLoggedIn}">
			<s:link view="/account.xhtml" styleClass="noHover">/&#xa0;&#xa0;#{bundle['My_Account']}&#xa0;&#xa0;</s:link>
		</ui:fragment>
		/&#xa0;&#xa0;Find a Trial&#xa0;&#xa0;/&#xa0;&#xa0;<strong>See All Trials</strong>
	</td>
</ui:define>

<ui:define name="contentMain">
      <div class="ContentPageHeader ContentPageHeader-Alternate2">
        <h1><em>see </em>All Trials</h1>
      </div>
    
      <div>
        <table width="100%">
          <tbody>
            <tr style="height:0px;">
            <td style="height:0px;">
          	<table width="100%">
              <tr>
	              <td align="left" width="55%">
	 				<form id="zip" name="zip" method="get" action="/bct_nation/browse_trials.seam" enctype="application/x-www-form-urlencoded">
                  		<h3 class="BrowseTrialsZipSearchHeader">Sort by zip code:&#xA0;&#xA0;</h3>
						<input type="text" id="Ecom_ReceiptTo_Postal_PostalCode" name="Ecom_ReceiptTo_Postal_PostalCode" value="#{newTrialBrowser.postalCode}" title="Enter a zip code to search by" size="5" maxlength="5" style="margin-left:0px; margin-right:10px; width:5em;" />
	                  	<input type="submit" name="go" id="zipGo" value="go" title="start search" onclick="return browseTrialsValidatePostalCode('Ecom_ReceiptTo_Postal_PostalCode', 'errormessages' );" />
	                  	<div id="errormessages" class="errortext" style="display:none"></div>
						<input type="hidden" name="categoryString" value="#{param['categoryString']}"></input>
						<input type="hidden" name="Search_Query_Term1" value="#{param['Search_Query_Term1']}"></input>
						<input type="hidden" name="Search_Operator" value="#{param['Search_Operator']}"></input>
						<input type="hidden" name="Search_Query_Term2" value="#{param['Search_Query_Term2']}"></input>
	                </form>
				  </td>
				  <td>&#xA0;</td>
	              <td align="right" style="padding:0px;height:0px;">
				    <table class="ShareTable" height="0%">
						<tr>
						<td class="BrowseTrialsTestHeader" style="padding:0px;">
							<h3 class="BrowseTrialsTestHeader" style="display:inline">Share</h3>
						</td>
	                    <td><div><a href="http://www.facebook.com/pages/BreastCancerTrialsorg/58924814273/" target="_blank"><img src="/BCTIncludes/images/Global-Facebook.png" alt="Facebook"/></a></div></td>
						<td><div><a href="https://twitter.com/BCTrials" target="_blank"><img src="/BCTIncludes/images/Global-Twitter.png" alt="Twitter"/></a></div></td>
						<td><div><a href="/bct_nation/browse_trials.seam" id="email_form_link"><img src="/BCTIncludes/images/MailThisLink.png" alt="Twitter"/></a></div></td>
						</tr>
				    </table>
	              </td>
              </tr>
            </table>
            </td>
            </tr>
           
           	<tr><td width="100%" height="0px;" style="padding:0px;"><hr style="padding:0px;margin:0px;"/></td></tr> 
           	<!-- Lucene Search. -->
			<tr>
			<table>
			  <tr>
				  <td align="left" width="100%" >
	 				<form id="search" name="search" method="get" action="/bct_nation/browse_trials.seam" enctype="application/x-www-form-urlencoded">
                  		<h3 class="BrowseTrialsZipSearchHeader">Search ALL trials:&#xA0;&#xA0;</h3>
						<input type="text" id="Search_Query_Term1" name="Search_Query_Term1" value="#{newTrialBrowser.searchString1}" title="Enter first term to search by" size="20" maxlength="48" style="margin-left:0px; margin-right:10px;" />
						 <h:selectOneMenu id="Search_Operator" value="#{newTrialBrowser.searchOperator}">
						 	<f:selectItem id="OR" itemLabel="OR" itemValue="OR" />
        					<f:selectItem id="AND" itemLabel="AND" itemValue="AND" />
    					</h:selectOneMenu>
						<input type="text" id="Search_Query_Term2" name="Search_Query_Term2" value="#{newTrialBrowser.searchString2}" title="Enter second term to search by" size="20" maxlength="48" style="margin-left:0px; margin-right:10px;" />
	                  	<input type="submit" name="searchGo" id="searchGo" value="search" title="start search" />
	                  	<div id="errormessages" class="errortext" style="display:none"></div>
	                  	<input type="hidden" name="categoryString" value="Search"></input>
	                  	<input type="hidden" name="Ecom_ReceiptTo_Postal_PostalCode" value="#{param['Ecom_ReceiptTo_Postal_PostalCode']}"></input>
	                </form>
				  </td>
			  </tr>
			</table>	  
			</tr>  
            
          </tbody>
        </table>
        
        <ui:include src="email_link.xhtml">
        	<ui:param name="linktype" value="email_link" />
            <ui:param name="pagetype" value="browsetrials_page" />
            <ui:param name="categoryString" value="#{param['categoryString']}" />
        </ui:include>
 	  </div>

   <!-- Content -->
 	
	&#xA0;
	<div class="ContentFramedBox">
	
	<div class="ContentHeaderText">
		<c:choose>
		<c:when test="#{not empty param['categoryString'] and param['categoryString'] eq 'Search'}">
			<h:outputText value="#{newTrialBrowser.getTrialList().size()} #{bundle[ newTrialBrowser.getCategoryLabel(newTrialBrowser.getCategoryString())]} #{newTrialBrowser.formattedSearchString}" />
		</c:when>
		<c:otherwise>
			<h:outputText value="#{bundle[ newTrialBrowser.getCategoryLabel(newTrialBrowser.getCategoryString())]}" />
		</c:otherwise>
		</c:choose>	
	</div>
	<p></p>
	
	<div class="trial" style="padding-bottom:0px">
 		<p class="description"><h:outputText value="#{newTrialBrowser.getCategoryDescription()}" /></p>
    </div>
	
    <ui:repeat value="#{newTrialBrowser.trialList}" var="prox">
  
    <div class="trial">
        <h2 id="n#{prox.trial.id}"><h:outputText value="#{prox.trialName}" escape="false" /></h2>
        
        <div id="u#{prox.trial.id}" style="display:none">
			<a class="jslink" onclick="$('[id=u#{prox.trial.id}]').fadeOut(1500);$('[id=t#{prox.trial.id}]').fadeIn(1500);" title="Click to unshrink">Show again</a>
		</div>
		
       	<div id="t#{prox.trial.id}">
			<div class="information">
				<p class="description"><h:outputText value="#{prox.trialTitle}" escape="false"/></p>
				<h3>Summary</h3>
				<p><h:outputText value="#{prox.trialPurpose}" escape="false"/><ui:fragment rendered="#{prox.trial.phase.toString() ne 'NA'}"><br />This is a Phase #{bundle[q:concat('label.phase.', prox.trial.phase)]} trial</ui:fragment></p>
				<div id="d#{prox.trial.id}" style="display:none">
					<h3>What's involved:</h3>
					<ui:fragment rendered="#{not empty prox.trialTreatmentPlan}"><h:outputText value="#{prox.trialTreatmentPlan}" escape="false"/></ui:fragment>
					<h3>Additional procedures:</h3>
					<p><h:outputText value="#{prox.trialProcedures}" escape="false"/></p>
					<h3>Trial length:</h3>
					<p><h:outputText value="#{prox.trialDuration}" escape="false"/></p>
					<h3>Post-trial follow-up:</h3>
					<p><h:outputText value="#{prox.trialFollowup}" escape="false"/></p>
					<h3>Sponsor:</h3>
					<p><h:outputText value="#{prox.trialSponsor}" escape="false"/></p>
					<h3>More information</h3>
					<p>View eligibility criteria and additional trial information:						
						<span style="#{prox.trial.primaryID != null ? 'display:' : 'display:none'}">&#xA0;&#xA0;&#xA0;<a href="#{bundle['NCTLinkBaseURL']}#{prox.trial.primaryID}" target="_blank">#{bundle['label.NCTLink']}</a></span></p>
					<p>Related links:<ui:repeat value="#{prox.trial.link}" var="externalLink">&#xA0;&#xA0;&#xA0;<a href="#{externalLink.url}" target="_blank">#{externalLink.label}</a></ui:repeat></p>
				</div>
			</div>
			<div class="summary"><ul style="margin-left: 0px">
			    <div id="novisitsrequired" style="#{prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'}">
			    	<li style="list-style-type: none;" class="time"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" title="[Participation Time]" /> <h:outputText value="#{prox.trialBurden}" escape="false"/></li>						    
					<li style="list-style-type: none;" class="location"><h:graphicImage url="/images/icn_car.png" alt="No Visits Required for this Trial" title="[No Visits Required]" />
						<h:outputText value="#{bundle['label.secondary.novisitsrequired']}" />&#xA0;
					</li>							    								    							    	
				</div>	
				
			    <div id="visitsrequired" style="#{!prox.trial.inNoVisitsRequired() ? 'display:' : 'display:none'}">
			    	<li style="list-style-type: none;" class="time"><h:graphicImage url="/images/icn_time.png" alt="Participation Time" title="[Participation Time]" /> <h:outputText value="#{prox.trialBurden}" escape="false"/></li>
			    							    
					<li style="list-style-type: none;" class="location"><h:graphicImage url="/images/icn_car.png" alt="Participating research sites" title="[Participating research sites]" />
					 	<ui:fragment rendered="#{prox.known and (prox.distance ge 0)}">Nearest research site: #{prox.site.city}, #{prox.site.politicalSubUnitName};&#xA0;
							<h:outputText value="#{prox.distance}"><f:convertNumber maxFractionDigits="0" /></h:outputText> miles from&#xA0;<h:outputText value="#{newTrialBrowser.postalCode}"><f:convertNumber pattern="00000" /></h:outputText>;&#xA0;
						</ui:fragment>
						
						<div>
							<ui:fragment rendered="#{!prox.known and (prox.distance le 0)}">
								Research sites:
								#{prox.trial.trialSite.size()} #{prox.trial.trialSite.size() == 1 ? 'site' : 'sites'} total
								<span class="sitelink">
					 				<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites">
					 					<f:param name="trialId" value="#{prox.trial.id}" />
					 					<f:param name="trialName" value="#{prox.trial.name}" />
					 					Contact information
					 				</s:link>
					 			</span>
							</ui:fragment>
						
					 		<ui:fragment rendered="#{(!prox.known) and prox.available}"><br /><a class="jslink" onclick="window.scrollTo(0,0); fzip();">Enter zip code to see nearest sites</a></ui:fragment>
					 		<ui:fragment rendered="#{prox.distance gt 0}">
					 				<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial" styleClass="viewsites">
					 					<f:param name="trialId" value="#{prox.trial.id}" />
					 					<f:param name="trialName" value="#{prox.trial.name}" />
					 					#{bundle['label.viewlocations']}
					 				</s:link>
							</ui:fragment>
						</div>
					 </li>
				 </div>
			</ul></div>
			
			<div class="actions">
				<div id="s#{prox.trial.id}">
					<a class="jslink" onclick="$('[id=s#{prox.trial.id}]').slideUp(1500);$('[id=d#{prox.trial.id}]').slideDown(1500);$('[id=h#{prox.trial.id}]').slideDown(1500);_gaq.push(['_trackEvent', 'What\'s Involved', 'Click', '#{bundle[newTrialBrowser.getCategoryGoogleAnalyticsCode(newTrialBrowser.getCategoryString())]}',, false]);" title="Click to see details">#{bundle['label.showdetails']}</a>
					<h:outputText value="&#160;&#160;&#160;"/>
					
					<span>
						<span class="sitelink">
							<s:link view="/public_trialsite.xhtml" onclick="checkConfirmCount=true;" title="Click to see the research sites for this trial">
						 		<f:param name="trialId" value="#{prox.trial.id}" />
						 		<f:param name="trialName" value="#{prox.trial.name}" />
						 		Contact information
						 	</s:link>
						</span>
					</span>
				</div>
				<div id="h#{prox.trial.id}" style="display:none">
					<a class="jslink" onclick="$('[id=d#{prox.trial.id}]').slideUp(1500);$('[id=h#{prox.trial.id}]').slideUp(1500);$('[id=s#{prox.trial.id}]').slideDown(1500);" title="Click to hide details">#{bundle['label.hidedetails']}</a>&#xA0;&#xA0;
					<a href="#n#{prox.trial.id}" onclick="$('[id=t#{prox.trial.id}]').fadeOut(1500);$('[id=u#{prox.trial.id}]').slideDown(1500);" title="Click to shrink trial information" class="indent">Not interested</a> 
				</div>
			</div>
		</div>
        
    </div>
    </ui:repeat>

	<ui:fragment rendered="#{ empty param['categoryString'] or (param['categoryString'] eq 'All' and param['ignp'] ne 1) }" >

		<s:link propagation="none">
			<f:param name="categoryString" value="#{newTrialBrowser.categoryString}"/>
			<f:param name="pageRecord" value="0"/>		
			<f:param name="postalCode" value="#{newTrialBrowser.postalCode}"/>
			<h:outputText value="&lt;&lt;" />
		</s:link>
		&#xA0;
		
		<ui:repeat value="#{newTrialBrowser.pagesList}" var="page">
			<s:link disabled="#{((page - 1) * newTrialBrowser.pageRecordIncrement) eq param['pageRecord']? 'true': 'false'}" propagation="none">
				<f:param name="categoryString" value="#{newTrialBrowser.categoryString}"/>
				<f:param name="pageRecord" value="#{(page - 1) * newTrialBrowser.pageRecordIncrement}"/>		
				<f:param name="postalCode" value="#{newTrialBrowser.postalCode}"/>
				<h:outputText style="#{((page - 1) * newTrialBrowser.pageRecordIncrement) eq param['pageRecord']? 'color:black;font-weight:bold;': ''}" value="#{page}" />
			</s:link>
			&#xA0;
		</ui:repeat>
		
		<s:link propagation="none">
			<f:param name="categoryString" value="#{newTrialBrowser.categoryString}"/>
			<f:param name="pageRecord" value="#{newTrialBrowser.lastPage}"/>		
			<f:param name="postalCode" value="#{newTrialBrowser.postalCode}"/>
			<h:outputText value="&gt;&gt;" />
		</s:link>
		&#xA0;

		<s:link propagation="none">
			<f:param name="categoryString" value="#{newTrialBrowser.categoryString}"/>
			<f:param name="postalCode" value="#{newTrialBrowser.postalCode}"/>
			<f:param name="ignp" value="1"/>
			<h:outputText value="Show All Results" />
		</s:link>

	</ui:fragment><br/><br/>
 </div>
</ui:define>

<ui:define name="contentLeft">

	<ui:include src="browse_trials_categories.xhtml">
		<ui:param name="showheader" value="true" />
	</ui:include>

</ui:define>

<ui:define name="javascriptsPageOnload">

	<script type="text/javascript"><!--

			#{avatarProfileInterface.getAvatarAttributesPrincipalMapJavaScriptString()}

			function avatarFormOnSubmit(formName, appliedValue1, appliedValue2)
			{
			    var form = document.getElementById(formName);	
				var avatarNdx = 0;
				for (var i = 0; i < form.attributes.length; ++i) 
				{
					if (form.attributes[i].checked)
					{	
						avatarNdx += parseInt(form.attributes[i].value);
					}	
				}
				// these values are always present for this form
				avatarNdx += appliedValue1;
				avatarNdx += appliedValue2;
				//log the viewing of this page.
				_gaq.push(['_trackEvent', 'Avatar Link', 'Click', avatarCharacteristicMap[avatarNdx],, false]);
			}

			function Metastatic_HER_HormoneOnClick()
			{	
				var HERChecked = $("#MetastaticAttributesHER").attr("checked");
				var HormoneChecked = $("#MetastaticAttributesHormone").attr("checked");
		
				if (HERChecked == true || HormoneChecked == true)
				{ 
					$("#MetastaticAttributesTripleNegative").attr("checked", false);
				}
		    }
		
			function StageIV_HER_HormoneOnClick()
			{
				var HERChecked = $("#StageIV_AttributesHER").attr("checked");
				var HormoneChecked = $("#StageIV_AttributesHormone").attr("checked");
		
				if (HERChecked == true || HormoneChecked == true)
				{ 
					$("#StageIV_AttributesTripleNegative").attr("checked", false);
				}
		    }

			function NewlyDiagnosed_HER_HormoneOnClick()
			{	
				var HERChecked = $("#NewlyDiagnosedAttributesHER").attr("checked");
				var HormoneChecked = $("#NewlyDiagnosedAttributesHormone").attr("checked");
		
				if (HERChecked == true || HormoneChecked == true)
				{ 
					$("#NewlyDiagnosedAttributesTripleNegative").attr("checked", false);
				}
		    }
			
            // Event Handler which is called at the Page Load
            BCT.PageOnLoad = function () {
            	
				$('#BetaLink').click(function () {
        			$('#BetaHint').slideToggle(1500);
        			return false;
    			});
            	
	 			// Attach a click event to the Blue Button
				$("#patient1").click(function () {
        			$(".HomeBlueOverlay", $(this).parent()).fadeIn(1500);
        			return false;
    			});

				$("#patient2").click(function () {
        			$(".HomeBlueOverlay", $(this).parent()).fadeIn(1500);
        			return false;
    			});

				$("#patient3").click(function () {
        			$(".HomeBlueOverlay", $(this).parent()).fadeIn(1500);
        			return false;
    			});
	 			
				$("#email_form_link").click(function() {
					_gaq.push(['_trackEvent', 'Email', 'click', 'Email this page',, false]);
					$("#email_link").slideToggle(1500);
					return false;
				});
				
	 			// Attach a click event to the Blue Button
				$(".ExpandableItemHeader").click(function () {
        			$(".HomeBlueOverlay", $(this).parent()).fadeIn(1500);
        			return false;
    			});

	 			// Attach a click event to the Blue Button
				$(".ButtonBlue").click(function () {
        			$(".HomeBlueOverlay", $(this).parent()).fadeIn(1500);
        			return false;
    			});

	       		// Attach an event to the Close button of the Overlay
    	    	$(".HomeBlueOverlayClose").click(function () {
        			$(this).parent().parent().fadeOut(1500);
       			});

        		// Event handlers for the Newly Diagnosed (Form 1)
				$("#NewlyDiagnosedAttributesHER").click(function () {
					NewlyDiagnosed_HER_HormoneOnClick();
        		});

				$("#NewlyDiagnosedAttributesHormone").click(function () {
					NewlyDiagnosed_HER_HormoneOnClick();									
        		});
			
				$("#NewlyDiagnosedAttributesTripleNegative").click(function () {
					var checked = $("#NewlyDiagnosedAttributesTripleNegative").attr("checked");
					
					if (checked == true)
					{
                   		$("#NewlyDiagnosedAttributesHER").attr("checked", false);
						$("#NewlyDiagnosedAttributesHormone").attr("checked", false);																			
					}
        		});
	       		
        		// Event handlers for the Metastatic (Form 2)
				$("#MetastaticAttributesHER").click(function () {
					Metastatic_HER_HormoneOnClick();
        		});

				$("#MetastaticAttributesHormone").click(function () {
					Metastatic_HER_HormoneOnClick();									
        		});
			
				$("#MetastaticAttributesTripleNegative").click(function () {
					var checked = $("#MetastaticAttributesTripleNegative").attr("checked");
					
					if (checked == true)
					{
                   		$("#MetastaticAttributesHER").attr("checked", false);
						$("#MetastaticAttributesHormone").attr("checked", false);																			
					}
        		});
				
        		// Event handlers for the Inflammatory (Form 3)
				$("#StageIV_AttributesHER").click(function () {
					StageIV_HER_HormoneOnClick();
        		});

				$("#StageIV_AttributesHormone").click(function () {
					StageIV_HER_HormoneOnClick();
        		});
			
				$("#StageIV_AttributesTripleNegative").click(function () {
					var checked = $("#StageIV_AttributesTripleNegative").attr("checked");
					
					if (checked == true)
					{
                		$("#StageIV_AttributesHER").attr("checked", false);
                		$("#StageIV_AttributesHormone").attr("checked", false);										
					}
        		});

				$("#search").submit(function() {
					var Ecom_ReceiptTo_Postal_PostalCode = $("#zip").find('input[name="Ecom_ReceiptTo_Postal_PostalCode"]').val();
					$("#search").find('input[name="Ecom_ReceiptTo_Postal_PostalCode"]').val(Ecom_ReceiptTo_Postal_PostalCode);
				});	

				$("#zip").submit(function() {
					var Search_Query_Term1 = $("#search").find('input[name="Search_Query_Term1"]').val();
					var Search_Operator = $("#search").find('select[name="Search_Operator"]').val();
					var Search_Query_Term2 = $("#search").find('input[name="Search_Query_Term2"]').val();
					var categoryString = $("#search").find('input[name="categoryString"]').val();

					if (Search_Query_Term1 =="") 
				    {
						$("#zip").find('input[name="Search_Query_Term1"]').remove();
	            	}
					else
					{
						$("#zip").find('input[name="Search_Query_Term1"]').val(Search_Query_Term1);
					}	

					if (Search_Operator =="") 
				    {
						$("#zip").find('input[name="Search_Operator"]').remove();
	            	}
					else
					{
						$("#zip").find('input[name="Search_Operator"]').val(Search_Operator);
					}		
					
					if (Search_Query_Term2 =="") 
				    {
						$("#zip").find('input[name="Search_Query_Term2"]').remove();
	            	}
					else
					{
						$("#zip").find('input[name="Search_Query_Term2"]').val(Search_Query_Term1);
					}	

					// set submitted category to Search if there is something to search for.
					if (categoryString == "Search" && (Search_Query_Term1.trim() || Search_Query_Term2.trim()))
					{
						$("#zip").find('input[name="categoryString"]').val(categoryString);
					}
				});	
				
				// This works for the browse trials page, but not on the bct pages that have
				// iframes, so do not do this height comparison in the newtemplate.xhtml file.
				var contentRightHeight = $(".ContentColumnRight").height();
				var contentLeftHeight = $(".ContentColumnLeft").height();

				if (contentLeftHeight < contentRightHeight)
				{	
					$(".ContentColumnLeft").css("height", contentRightHeight + "px");
				}	

				// Add onSubmit interceptors for the avatars that are called by form on the browse_categories include
				$( "#mf" ).submit(function( event ) 
				{
					avatarFormOnSubmit("mf", 1, 256);
				});

				// Add onSubmit interceptors for the avatars that are called by form on the browse_categories include
				$( "#inm" ).submit(function( event ) 
				{
					avatarFormOnSubmit("inm", 2, 256);
				});

				// Add onSubmit interceptors for the avatars that are called by form on the browse_categories include
				$( "#tnm" ).submit(function( event ) 
				{
					avatarFormOnSubmit("tnm", 4, 64);
				});
				
            };
 	--></script>
 </ui:define>
        
</ui:composition>
