<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:s="http://jboss.com/products/seam/taglib">

	<div id="email_link" class="CalloutBox" style="display:none;">
	<h3>Email This Page</h3>
	
	<h:form prependId="false">
		<a4j:outputPanel id="avatarEmailForm">				
		<p>
			<h:outputLabel for="myName">Your name:  </h:outputLabel>
			<h:inputText id="myName" size="34" maxlength="64" value="#{simpleMessage.fromTitleName}" />
			<br/>
			<br/>
			<!--  if we are not logged in then we need to have at least one valid email to send to. -->
			<h:outputLabel for="toList" value="Email address list:" />
			<br />
			<em>Use commas to separate addresses.  You can email up to ten recipients.</em><br />
			<h:inputTextarea id="toList" value="#{emailLinkMessage.to}" cols="60" rows="2" style="width: 100%;" validator="#{emailLinkMessage.validateToList}">
				<f:validateLength maximum="512" />
			</h:inputTextarea>
			<br /><h:message for="toList" styleClass="errortext" layout="table" />
		</p>
		<p>
			<h:outputLabel for="body">Message (Optional)</h:outputLabel>
			<br />
			<h:inputTextarea id="body" value="#{emailLinkMessage.body}" cols="60" rows="10" style="width: 100%;">
				<f:validateLength maximum="512" />
			</h:inputTextarea>
			<br />
			<h:message for="body" styleClass="errortext" />
		</p>
		<div class="formActions">
			<a4j:commandButton type="submit" reRender="avatarEmailForm" value="Send Message" action="#{messageSender.sendLink()}"/>
			&#xA0;
			<a4j:commandButton id="reset" type="submit" reRender="avatarEmailForm" value="Reset" action="#{messageSender.reset()}" />
			<input id="close_email_form" name="close_email_form" value="Close" type="submit" onclick="$('#email_link').slideToggle(1500);return false;" />
		</div>
		<h:messages infoClass="infotext" errorClass="errortext" globalOnly="true" layout="table"/>
		</a4j:outputPanel>
		
		<!--  As only this form will be refreshed we need to pass on the original parameters for the link which will appear in the email. -->
		<!--  Reset should not touch these. -->
		<input id="linktype" name="linktype" type="hidden" value="#{linktype}"/>
		<input id="pagetype" name="pagetype" type="hidden" value="#{pagetype}"/>
		<input id="categoryString" name="categoryString" type="hidden" value="#{categoryString}"/>
		<input id="aid" name="aid" type="hidden" value="#{aid}"/>
		<input id="pid" name="pid" type="hidden" value="#{pid}"/>
	</h:form>
	</div>
	
</ui:composition>
