<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
			xmlns:ui="http://java.sun.com/jsf/facelets"
			xmlns:s="http://jboss.com/products/seam/taglib"
			xmlns:c="http://java.sun.com/jstl/core"
			template="/template-app.xhtml">

<ui:define name="title">Prepare to Talk with a Research Site</ui:define>

<ui:define name="contentMain">
	<h1>Prepare to Talk with a Research Site</h1>
	<p>
		You have found a trial and have scheduled an appointment to speak with a study coordinator. 
		This is an opportunity for the coordinator to learn more about your medical history and for you to become more familiar with the trial and what would be expected of you as a research participant. 
		During the call, you may find out that you do not qualify for the trial. 
		Or, as you learn more about it, you may decide that this trial is not right for you.  
		If you do qualify, and you are interested, the study coordinator will invite you to the research site for the physical examination and/or laboratory tests, which will ultimately determine your eligibility for enrollment.
	</p>
	<p>
		In order to make your call go smoothly, we offer the following suggestions:
	</p>
	<ul><li>Offer to send the research site your BreastCancerTrials.org Health Summary prior to your conversation. 
		You can use SecureCONNECT, if the site is a member of the BreastCancerTrials.org Network. 
		Alternatively, you can save your Health Summary to your computer and email or FAX it to the study coordinator.</li>
		<li>Review your pathology and imaging reports prior to the conversation and have them nearby when you talk to the study coordinator. 
		Our section on &#xA0;
		<s:link view="/start/report.xhtml">Medical Reports</s:link> provides useful tips for reading these documents.</li>
		<li>Learn as much as you can about the trial beforehand so that you can ask detailed questions. 
		Each trial that we list has a link to its record in Cancer.gov, which provides additional information. 
		Review &#xA0;<s:link view="/start/site.xhtml">What to Ask the Research Site</s:link> and keep a copy of the questions nearby for reference.</li>
		<li>Inquire about whether your medical insurance is accepted at the research site and if not, what options may be available to you. 
		Our section on &#xA0;<s:link view="/trials/finance.xhtml">Financial/Insurance Concerns</s:link> provides an overview on this important topic.</li>
	</ul>
	<p>
		Remember: You should feel free to ask any question or bring up any concern with the study coordinator. 
		The more questions you ask, and the more information you provide, the less likely it is that you will find out the trial is not right for you when you are at the research site.
	</p>
</ui:define>

<ui:define name="contentSide">
	<s:div styleClass="section" rendered="#{patientInterface.firstTime}">
		<h2>Find Your Clinical Trial</h2>
		<ul class="wizard">
			<li class="complete">Accept terms and conditions</li>
			<li class="complete"><s:link view="/history_category.xhtml" title="Click to begin finding your clinical trials">Select your Health Concern</s:link></li>
			<li class="complete"><s:link view="/history_forms.xhtml" title="Click to update your health history">Enter your Health History</s:link></li>
			<li class="complete"><s:link view="/history_review.xhtml" title="Click to review your health summary">Review your Health Summary</s:link></li>
			<c:if test="#{patientInterface.patient.patientHistoryComplete}">
				<li class="complete"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></li>
			</c:if>
			<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
				<li class="complete">#{bundle['View_Matched_Trials']}</li>
			</c:if>	
				
		</ul>
	</s:div>
	<s:div styleClass="section" rendered="#{!patientInterface.firstTime}">
		<h2>Find Your Clinical Trial</h2>
		<ul class="sideNav">
			<li><s:link view="/history_forms.xhtml" title="Click to update your health history">Update your Health History</s:link></li>
			<li><s:link view="/history_review.xhtml" title="Click to review your health summary">Review your Health Summary</s:link></li>
			<ui:fragment rendered="#{patientInterface.screenedTrialCount > 0}">
				<li><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></li>
			</ui:fragment>
			<ui:fragment rendered="#{patientInterface.screenedTrialCount le 0}">
				<li>#{bundle['View_Matched_Trials']}</li>
			</ui:fragment>
		</ul>
	</s:div>
	<div class="section">
		<h2>Other options</h2>
		<ul class="sideNav">
			<li><s:link view="/browse_trials.xhtml" title="Click to see all trials available on BreastCancerTrials.org">Browse Our Trials</s:link></li>
			<ui:fragment rendered="#{patientInterface.loggedIn}">
				<li><s:link view="/account.xhtml" title="Click to edit your information, set email preferences and withdraw your information">My Account</s:link></li>
			</ui:fragment>
			<li><s:link view="/home.xhtml" title="Click to see the home page">Home Page</s:link></li>
		</ul>
	</div>
	<s:link view="/tutorial/index.xhtml" styleClass="tutorial" title="Click to view our tutorial">View our tutorial</s:link>
</ui:define>
</ui:composition>
