<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Forgot Password</ui:define>

<ui:define name="contentLeft">
	<div class="SeparatorBlank">&nbsp;</div>
</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate1">
      <h1><em>Forgot Password</em></h1>
    </div>
    
	<div class="ContentFramedBox">
	<p class="instructions">
		Please enter your email address and click the Submit button.
	</p>
	<h:form id="forgot" prependId="false">
	  	<p>
			<span class="savelabel">E-mail:</span>
			<h:inputText id="username" value="#{forgotPasswordInterface.emailAddress}" size="34" maxlength="64"
				required="true" requiredMessage="Please enter your e-mail address">
			</h:inputText>	
			<h:message for="username" errorClass="errortext item" />
		</p>
		<div class="formActions">
			<h:commandButton action="#{forgotPasswordInterface.sendPasswordSuccess}" value="Submit" />
			&#xA0;
			<s:button action="#{forgotPasswordInterface.cancelPasswordReset}" title="Click to go to Home Page" value="Cancel" />
			<h:messages globalOnly="true" styleClass="errortext" ></h:messages>
		</div>
	</h:form>
	</div>
</ui:define>

</ui:composition>
