<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf">

	<div class="dynamicSideBarMenuBox">
    	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Find_Your_Clinical_Trial']}</div>
   		<s:div rendered="#{patientInterface.firstTime}">
       		<ul>
<!--        		
          		<li><div class="EmphasizedLink"><s:link view="/terms.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}"><span>#{bundle['Accept_terms_and_conditions']}</span></s:link></div></li>          		
	    	  	<li><div class="EmphasizedLink"><s:link view="/history_category.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}"><span>#{bundle['Select_Your_Health_Concern']}</span></s:link></div></li>
-->	    	  	
			  	<li><div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}"><span>#{bundle['Update_Your_Health_History']}</span></s:link></div></li>
				<li><div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div></li>
				<ui:fragment rendered="#{patientInterface.screenedTrialCount gt 0 and patientInterface.patient.patientHistoryComplete}">
					<li><div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="#{bundle['Click_to_view_clinical_trials']}"><span>#{bundle['View_Matched_Trials']}</span></s:link></div></li>
				</ui:fragment>	
				<ui:fragment rendered="#{patientInterface.screenedTrialCount le 0 or !patientInterface.patient.patientHistoryComplete}">
					<li><div class="EmphasizedLink"><span>#{bundle['View_Matched_Trials']}</span></div></li>
				</ui:fragment>
	        </ul>
        </s:div>

		<s:div rendered="#{!patientInterface.firstTime}">
			<ul>
 				<li><div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}"><span>#{bundle['Update_Your_Health_History']}</span></s:link></div></li>
				<li><div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div></li>
				<ui:fragment rendered="#{patientInterface.screenedTrialCount gt 0 and patientInterface.patient.patientHistoryComplete}">
					<li><div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="#{bundle['Click_to_view_clinical_trials']}"><span>#{bundle['View_Matched_Trials']}</span></s:link></div></li>
				</ui:fragment>
				<ui:fragment rendered="#{patientInterface.screenedTrialCount le 0 or !patientInterface.patient.patientHistoryComplete}">
					<li><div class="EmphasizedLink"><span>#{bundle['View_Matched_Trials']}</span></div></li>
				</ui:fragment>
			</ul>		
		</s:div>
        
	</div>

	<div class="dynamicSideBarMenuBox">
		<div class="dynamicSideBarMenuBoxHeader">#{bundle['Other_Options']}</div>
		<ul>
			<li><div class="EmphasizedLink"><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FindATrial/QuestionsForResearchers.html" target="_blank"><span>#{bundle['Making_Your_Decision']}</span></a></div></li>
			<li><div class="EmphasizedLink"><s:link view="/browse_trials.xhtml"><span>#{bundle['Browse_Our_Trials']}</span></s:link></div></li>
			<ui:fragment rendered="#{patientInterface.loggedIn}">
				<li><div class="EmphasizedLink"><s:link view="/account.xhtml" title="#{bundle['Click_to_edit_your_information']}"><span>#{bundle['My_Account']}</span></s:link></div></li>
			</ui:fragment>	
			<li><div class="EmphasizedLink"><s:link view="/home.xhtml"><span>#{bundle['Home']}</span></s:link></div></li>
		</ul>		
 	</div>         		        
</ui:composition>		        