<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:q="http://quantumleaphealth.org/jsf">

	<li><label><h:selectBooleanCheckbox id="surloc0" value="#{patientInterface.history.procedures[0].performed or patientInterface.history.procedures[3].performed or patientInterface.history.procedures[4].performed or patientInterface.history.procedures[5].performed or patientInterface.history.procedures[12].performed}" readonly="true" onclick="ac(this);" />#{bundle['Left_Breast_And_Nearby_Nodes']}</label>
		<ul id="surloc0_d" style="#{patientInterface.history.procedures[0].performed or patientInterface.history.procedures[3].performed or patientInterface.history.procedures[4].performed or patientInterface.history.procedures[5].performed or patientInterface.history.procedures[12].performed ? 'display:block' : 'display:none'}">
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[0]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[3]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[4]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[5]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[12]}" /></ui:include>
		</ul>
	</li>
	<li><label><h:selectBooleanCheckbox id="surloc1" value="#{patientInterface.history.procedures[6].performed or patientInterface.history.procedures[9].performed or patientInterface.history.procedures[10].performed or patientInterface.history.procedures[11].performed or patientInterface.history.procedures[13].performed}" readonly="true" onclick="ac(this);" />#{bundle['Right_Breast_And_Nearby_Nodes']}</label>
		<ul id="surloc1_d" style="#{patientInterface.history.procedures[6].performed or patientInterface.history.procedures[9].performed or patientInterface.history.procedures[10].performed or patientInterface.history.procedures[11].performed or patientInterface.history.procedures[13].performed ? 'display:block' : 'display:none'}">
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[6]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[9]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[10]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[11]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[13]}" /></ui:include>
		</ul>
	</li>

</ui:composition>