<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
  	xmlns:h="http://java.sun.com/jsf/html"
  	xmlns:f="http://java.sun.com/jsf/core"
  	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:q="http://quantumleaphealth.org/jsf">
	<c:if test="#{facade.performed}">
		<tr><td>#{therapy}</td><td><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" />#{label}</s:link></td></tr>
		
		<c:if test="#{!facade.therapyOther}">
			<tr><td class="indent">#{bundle['Start_Date']}:</td><td class="indent"><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" />
				<h:outputText value="#{q:formatYearMonth(facade.started,'not answered')}" styleClass="#{facade.started.vacant ? 'errortext' : ''}" />
			</s:link></td></tr>
			<tr><td class="indent">#{bundle['Received']}:</td><td class="indent"><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" /><q:outputBooleanSet prefix="setting" value="#{facade.setting}" resourceBundle="#{bundle}" emptyValue="not answered" emptyClass="errortext" /></s:link></td></tr>
			<tr><td class="indent">#{bundle['Status']}:</td><td class="indent"><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" /><q:outputBooleanSet prefix="summaryStatus" value="#{facade.status}" resourceBundle="#{bundle}" emptyValue="not answered" emptyClass="errortext" /></s:link></td></tr>
			<c:if test="#{q:isSelected(facade.status, 3)}"><tr><td class="indent">#{bundle['Why_Stopped']}?</td><td class="indent"><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" /><q:outputBooleanSet prefix="incomplete" value="#{facade.incomplete}" resourceBundle="#{bundle}" emptyValue="not answered" emptyClass="errortext" subjectiveClass="subjective" /></s:link></td></tr></c:if>
			<c:if test="#{q:isSelected(facade.status, 2) or q:isSelected(facade.status, 3)}"><tr><td class="indent">#{bundle['End_Date']}:</td><td class="indent"><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" />
				<h:outputText value="#{q:formatYearMonth(facade.completed,'not answered')}" styleClass="#{facade.completed.vacant ? 'errortext' : ''}" />
			</s:link></td></tr></c:if>
			<c:if test="#{q:isSelected(facade.status, 1) or q:isSelected(facade.status, 3)}">
				<c:if test="#{facade.chemotherapy}"><tr><td class="indent">#{bundle['Cycles_Received']}:</td><td class="indent"><s:link view="/history_forms.xhtml" onclick="needToConfirm=false;" styleClass="HealthSummaryTable"><f:param name="tab" value="3" /><q:outputBooleanSet prefix="lengthCyclical" value="#{facade.length}" resourceBundle="#{bundle}" emptyValue="not answered" emptyClass="errortext" /></s:link></td></tr></c:if>
			</c:if>
		</c:if>
	</c:if>
</ui:composition>