<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<label>#{bundle['label.Year']}&#xA0;(#{bundle['label.YYYY']}):&#xA0;
		<h:inputText value="#{yearMonth.year}" size="4" maxlength="4" style="margin-left: 10px; width:4em;" />
		</label>&#xA0;
	<label>#{bundle['Month_if_within_12_months']}&#xA0;<h:selectOneMenu value="#{yearMonth.month}">
		<f:selectItem itemLabel="#{bundle['More_Than_12_Months_Ago']}" itemValue="0" />
		<f:selectItem itemLabel="#{bundle['January']}" itemValue="1" /><f:selectItem itemLabel="#{bundle['February']}" itemValue="2" /><f:selectItem itemLabel="#{bundle['March']}" itemValue="3" />
		<f:selectItem itemLabel="#{bundle['April']}" itemValue="4" /><f:selectItem itemLabel="#{bundle['May']}" itemValue="5" /><f:selectItem itemLabel="#{bundle['June']}" itemValue="6" />
		<f:selectItem itemLabel="#{bundle['July']}" itemValue="7" /><f:selectItem itemLabel="#{bundle['August']}" itemValue="8" /><f:selectItem itemLabel="#{bundle['September']}" itemValue="9" />
		<f:selectItem itemLabel="#{bundle['October']}" itemValue="10" /><f:selectItem itemLabel="#{bundle['November']}" itemValue="11" /><f:selectItem itemLabel="#{bundle['December']}" itemValue="12" />
	</h:selectOneMenu></label>
</ui:composition>