<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
	  	xmlns:h="http://java.sun.com/jsf/html"
	  	xmlns:f="http://java.sun.com/jsf/core"
	  	xmlns:c="http://java.sun.com/jstl/core"
	  	xmlns:s="http://jboss.com/products/seam/taglib"
        xmlns:q="http://quantumleaphealth.org/jsf"
		template="/newtemplate.xhtml">

<ui:define name="title">#{bundle['Health_History_Title']}</ui:define>

<ui:define name="contentMain">
	<iframe width="100%"  style="background:#fff;scrollbar-face-color: red; scrollbar-base-color:red;" src="history_forms_content.seam" scrolling="auto"  height="100%" frameborder="0" marginheight="0px">
  		<p>Your browser does not support iframes.  We cannot display your health history.</p>
	</iframe>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>
</ui:composition>
