<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:q="http://quantumleaphealth.org/jsf">

	<li><label><h:selectBooleanCheckbox id="surloc4-6" value="#{patientInterface.history.procedures[14].performed or patientInterface.history.procedures[15].performed or patientInterface.history.procedures[16].performed}" readonly="true" onclick="ac(this);" />#{bundle['Ovaries']}</label>
		<ul id="surloc4-6_d" style="#{patientInterface.history.procedures[14].performed or patientInterface.history.procedures[15].performed or patientInterface.history.procedures[16].performed ? 'display:block' : 'display:none'}">
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[14]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[15]}" /></ui:include>
			<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[16]}" /></ui:include>
		</ul>
	</li>

</ui:composition>