<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
	  	xmlns:h="http://java.sun.com/jsf/html"
	  	xmlns:f="http://java.sun.com/jsf/core"
	  	xmlns:c="http://java.sun.com/jstl/core"
	  	xmlns:s="http://jboss.com/products/seam/taglib"
        xmlns:q="http://quantumleaphealth.org/jsf"
		template="/template_forms2.xhtml">

<ui:define name="javascripts-app">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/tabview/tabview-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_tab.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
	<script type="text/javascript">
	//<![CDATA[	
	function arCurrentlyOnTreatment(isChemo,button) {
		if (isChemo)
			ar(button,'I:3,D:2+3,L:1+3');
		else
			ar(button,'I:3,D:2+3');
	}

	function phaseDiv( selectedItem, hitDiv )
	{
		if ( hitDiv != null )
		{
			if ( selectedItem.checked )
			{	
				Effect.PhaseIn( hitDiv );
			}
			else
			{
				Effect.PhaseOut( hitDiv );
			}			
		}
	}

	function showHintOnce(hintDivID, item)
	{
		if ( !( item === undefined ) && item.id == 'race4' ) // for Hispanic don't show the hint.
		{
			return;
		}
				
		var hintDiv = document.getElementById( hintDivID );
		if ( !(hintDiv === undefined) &&  hintDiv.style.display == 'none' )
		{
			Effect.PhaseIn( hintDivID );
		}	
	}	
	
	function showPrimaryCancerHint(selectedItem)
	{
		var hitDiv = document.getElementById( selectedItem.id + "Hint" );
		phaseDiv( selectedItem, hitDiv );
	}	

	function showOtherHint(selectedItem)
	{
		var hitDiv = document.getElementById(selectedItem.id+'_OtherInformationRequest');
		phaseDiv( selectedItem, hitDiv );
	}	

	function flipAvatarDiagnoses()
	{
		var none = document.getElementById('AvatarDiagnosisAreas0');
		var area2 = document.getElementById('AvatarDiagnosisAreas2');
		var area3 = document.getElementById('AvatarDiagnosisAreas3');
		var area4 = document.getElementById('AvatarDiagnosisAreas4');
		var area5 = document.getElementById('AvatarDiagnosisAreas5');
		
		if (none.checked)
		{
			none.disabled = false;
			area2.disabled = true;
			area3.disabled = true;
			area4.disabled = true;
			area5.disabled = true;
			
			area2.checked = false;
			area3.checked = false;
			area4.checked = false;
			area5.checked = false;
		}		
		else
		{
			area2.disabled = false;
			area3.disabled = false;
			area4.disabled = false;
			area5.disabled = false;
		}		
	}
	// ]]>
	</script>
</ui:define>

<ui:define name="title">#{bundle['Health_History_Title']}</ui:define>

<ui:define name="contentMain">
	<div id="wrapper" style="width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch;">


	<div class="utilNav"><s:link view="/history_category.xhtml" target="_parent">#{bundle['Go_back_to_health_concerns']}</s:link></div>
	<p class="instructions">#{bundle['Enter_your_health_history']}. <a onclick="Effect.Phase('unsure_answer');" class="learnmore" title="#{bundle['Click_for_instructions']}">
		#{bundle['Not_sure_of_an_answer']}
	</a></p>
	<div id="unsure_answer" class="hint" style="display: none;">
		<p><h:outputText value="#{bundle['Unsure_Answer_Instructions']}" escape="false"/>
		<br /><a class="learnmore" onclick="Effect.PhaseOut('unsure_answer');">#{bundle['Close_Learn_More']}</a>
	</p></div>

	<h:form id="frm" prependId="false" target="_parent">
		<h:messages errorClass="errortext" />
		<div id="tabcontainer">
			<c:choose>
			<c:when test="#{patientInterface.patient.avatarProfile}">
				<ul class="yui-nav pageNav">
					<li class="selected"><a href="#aboutme_div">#{bundle['About_Me']}</a></li>
					<li><a href="#myhealth_div">#{bundle['My_Health']}</a></li>
					<li><a href="#mydiagnosis_div">#{bundle['My_Diagnosis']}</a></li>
					<li><a href="#mytreatment_div">#{bundle['My_Treatment']}</a></li>
					<li><a href="#addlinfo_div">#{bundle['Additional_Info']}</a></li>
					<li><a href="#avatar_div">#{bundle['Avatar_Tab']}</a></li>
				</ul>
			</c:when>
			<c:otherwise>
				<ul class="yui-nav pageNav">
					<li class="selected"><a href="#aboutme_div">#{bundle['About_Me']}</a></li>
					<li><a href="#myhealth_div">#{bundle['My_Health']}</a></li>
					<li><a href="#mydiagnosis_div">#{bundle['My_Diagnosis']}</a></li>
					<li><a href="#mytreatment_div">#{bundle['My_Treatment']}</a></li>
					<li><a href="#addlinfo_div">#{bundle['Additional_Info']}</a></li>
				</ul>
			</c:otherwise>
			</c:choose>	
		
		    <div class="yui-content">

				<div id="aboutme_div"><h2>#{bundle['About_Me']}</h2>
					<!--  Avatar Year of Births are handled on the Avatar Configuration Page -->
					<strong>#{bundle['Year_of_Birth']}: </strong>
					<h:inputText id="yearOfBirth" size="4" maxlength="4" value="#{patientInterface.history.yearMonthCharacteristics[0].shortValue}" style="width:4em;" disabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> (#{bundle['label.YYYY']})
					<div class="item" style="margin-bottom:8px;"><strong>#{bundle['Gender']}:</strong>
						<q:selectBooleanSet id="gender" value="#{patientInterface.history.valueCharacteristics[0].value}" onclick="ar(this,'1');">
							<label><f:selectItem itemValue="1" id="gender1" /> #{bundle['gender1']}</label>
							<label><f:selectItem itemValue="2" id="gender2" /> #{bundle['gender2']}</label>
						</q:selectBooleanSet>
					    <ul id="gender1_d" class="item" style="#{q:isSelected(patientInterface.history.valueCharacteristics[0].value, 1) ? 'display:block' : 'display:none'}">
							<li><h3>#{bundle['Your_menopausal_status']}<a onclick="Effect.Phase('menopausal-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a></h3>
								<div id="menopausal-hint" class="hint" style="display: none;">
									<p><h:outputText value="#{bundle['Menopausal_hint']}" escape="false"/>
									<br /><a class="learnmore" onclick="Effect.PhaseOut('menopausal-hint');">#{bundle['Close_Learn_More']}</a></p>
								</div>
								<q:selectBooleanSet id="menopausalStatus" value="#{patientInterface.history.valueCharacteristics[1].value}" onclick="ar(this,'1,3');"><ul>
									<li><label><f:selectItem itemValue="1" id="menopausalStatus1" /> #{bundle['menopausalStatus1']}</label>
										<ul id="menopausalStatus1_d" class="item" style="#{q:isSelected(patientInterface.history.valueCharacteristics[1].value, 1) ? 'display:block' : 'display:none'}">
											<li><strong>#{bundle['label.CurrentlyPregnant']}</strong><q:selectBooleanSet id="pregnant" value="#{patientInterface.history.binaryCharacteristics[0].byteValue}">
												<label class="inline"><f:selectItem itemValue="2" id="pregnant2" /> #{bundle['diagnosis2']}</label>
												<label class="inline"><f:selectItem itemValue="1" id="pregnant1" /> #{bundle['diagnosis1']}</label>
												<a onclick="Effect.Phase('pregnant-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
												</q:selectBooleanSet></li>
											<li><strong>#{bundle['label.CurrentlyNursing']}</strong><q:selectBooleanSet id="nursing" value="#{patientInterface.history.binaryCharacteristics[1].byteValue}">
												<label class="inline"><f:selectItem itemValue="2" id="nursing2" /> #{bundle['diagnosis2']}</label>
												<label class="inline"><f:selectItem itemValue="1" id="nursing1" /> #{bundle['diagnosis1']}</label>
												<a onclick="Effect.Phase('pregnant-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
												</q:selectBooleanSet>
												<div id="pregnant-hint" class="hint" style="display: none;">
													<p><h:outputText value="#{bundle['Pregnant_hint1']}" escape="false"/></p> 
													<p><h:outputText value="#{bundle['Pregnant_hint2']}" escape="false"/>
													<br /><a class="learnmore" onclick="Effect.PhaseOut('pregnant-hint');">#{bundle['Close_Learn_More']}</a></p>
												</div>
											</li>
										</ul>
									</li>
									<li><label><f:selectItem itemValue="2" id="menopausalStatus2" /> #{bundle['menopausalStatus2']}</label></li>
									<li><label><f:selectItem itemValue="3" id="menopausalStatus3" /> #{bundle['menopausalStatus3']}</label>
										<ul id="menopausalStatus3_d" class="item" style="#{q:isSelected(patientInterface.history.valueCharacteristics[1].value, 3) ? 'display:block' : 'display:none'}">
											<li><fieldset><h3>#{bundle['Why_did_your_menstrual_cycle_end']} <a onclick="Effect.Phase('menopause-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a></h3>
												<div id="menopause-hint" class="hint" style="display: none;">
													<p><h:outputText value="#{bundle['Menopause_hint']}" escape="false"/>
													<br /><a class="learnmore" onclick="Effect.PhaseOut('menopause-hint');">#{bundle['Close_Learn_More']}</a></p>
												</div>
												<q:selectBooleanSet id="postMenopausalReason" value="#{patientInterface.history.valueCharacteristics[2].value}"><ul>
													<li><label><f:selectItem itemValue="1" id="postMenopausalReason1" /> #{bundle['postMenopausalReason1']} <span class="fieldformathint">#{bundle['postMenopausalReason1hint']}</span></label></li>
													<li><label><f:selectItem itemValue="2" id="postMenopausalReason2" /> #{bundle['postMenopausalReason2']}</label></li>
													<li><label><f:selectItem itemValue="3" id="postMenopausalReason3" /> #{bundle['postMenopausalReason3']}</label></li>
													<li><label><f:selectItem itemValue="4" id="postMenopausalReason4" /> #{bundle['postMenopausalReason4']}</label></li>
													<li><label><f:selectItem itemValue="5" id="postMenopausalReason5" /> #{bundle['postMenopausalReason5']}</label></li>
												</ul></q:selectBooleanSet>
											</fieldset></li>
											<li><fieldset><h3>#{bundle['Hormone_Therapy_question']}</h3>
												<q:selectBooleanSet id="hormoneReplacementTherapy" value="#{patientInterface.history.valueCharacteristics[3].value}"><ul>
													<li><label><f:selectItem itemValue="1" id="hormoneReplacementTherapy1" /> #{bundle['hormoneReplacementTherapy1']}</label></li>
													<li><label><f:selectItem itemValue="2" id="hormoneReplacementTherapy2" /> #{bundle['hormoneReplacementTherapy2']}</label></li>
													<li><label><f:selectItem itemValue="3" id="hormoneReplacementTherapy3" /> #{bundle['hormoneReplacementTherapy3']}</label></li>
												</ul></q:selectBooleanSet>
											</fieldset></li>
										</ul>
									</li>
								</ul></q:selectBooleanSet>
							</li>
						</ul>
					</div>

					<div class="item"><strong>#{bundle['Genetic_Testing_question']}</strong><q:selectBooleanSet id="geneticTesting" value="#{patientInterface.history.binaryCharacteristics[2].byteValue}" onclick="ar(this,'2');">
						<label><f:selectItem itemValue="2" id="geneticTesting2" /> #{bundle['geneticTesting2']}</label>
						<label><f:selectItem itemValue="1" id="geneticTesting1" /> #{bundle['geneticTesting1']}</label>
						<a onclick="Effect.Phase('genetictesting-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
						</q:selectBooleanSet>
						<div id="genetictesting-hint" class="hint" style="display: none;">
							<p><h:outputText value="#{bundle['GeneticTesting_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('genetictesting-hint');">#{bundle['Close_Learn_More']}</a></p>
						</div>
						<ul id="geneticTesting2_d" style="#{patientInterface.history.binaryCharacteristics[2].booleanValue ? 'display:block' : 'display:none'}">
							<li><strong>#{bundle['BRCA1']}</strong><q:selectBooleanSet id="BRCA1" value="#{patientInterface.history.valueCharacteristics[4].value}">
								<label class="inline"><f:selectItem itemValue="2" id="BRCA12" /> #{bundle['BRCA12']}</label>
								<label class="inline"><f:selectItem itemValue="1" id="BRCA11" /> #{bundle['BRCA11']}</label>
								<a onclick="Effect.Phase('BRCA-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
							</q:selectBooleanSet></li>
							<li><strong>#{bundle['BRCA2']}</strong><q:selectBooleanSet id="BRCA2" value="#{patientInterface.history.valueCharacteristics[5].value}">
								<label class="inline"><f:selectItem itemValue="2" id="BRCA22" /> #{bundle['BRCA22']}</label>
								<label class="inline"><f:selectItem itemValue="1" id="BRCA21" /> #{bundle['BRCA21']}</label>
								<a onclick="Effect.Phase('BRCA-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
								</q:selectBooleanSet>
								<div id="BRCA-hint" class="hint" style="display: none;">
									<p><h:outputText value="#{bundle['BRCA_hint']}" escape="false"/>
									<br /><a class="learnmore" onclick="Effect.PhaseOut('BRCA-hint');">#{bundle['Close_Learn_More']}</a></p>
								</div>
							</li>
						</ul>
					</div>

					<div class="item"><strong>#{bundle['Clinical_Trial_question']}</strong><q:selectBooleanSet id="trialParticipating" value="#{patientInterface.history.binaryCharacteristics[3].byteValue}">
						<label><f:selectItem itemValue="2" id="trialParticipating2" /> #{bundle['trialParticipating2']}</label>
						<label><f:selectItem itemValue="1" id="trialParticipating1" /> #{bundle['trialParticipating1']}</label>
						<a onclick="Effect.Phase('participating-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
						</q:selectBooleanSet>
						<div id="participating-hint" class="hint" style="display: none;">
							<p><h:outputText value="#{bundle['Clinical_Trial_hint1']}" escape="false"/></p>
							<p><h:outputText value="#{bundle['Clinical_Trial_hint2']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('participating-hint');">#{bundle['Close_Learn_More']}</a></p>
						</div>
					</div>
					<input type="button" onclick="window.location.hash='#tabcontainer'; return advancetab();" value="#{bundle['Continue_to_next_tab']}" />
				</div>

				<div id="myhealth_div">
					<h2>#{bundle['My_Current_Health']}</h2>

					<fieldset><h3>#{bundle['General_Wellbeing_question']}</h3><q:selectBooleanSet id="performance" value="#{patientInterface.history.valueCharacteristics[6].value}"><ul>
						<li><label><f:selectItem itemValue="1" id="performance1" /> #{bundle['performance1']}</label></li>
						<li><label><f:selectItem itemValue="2" id="performance2" /> #{bundle['performance2']}</label></li>
						<li><label><f:selectItem itemValue="3" id="performance3" /> #{bundle['performance3']}</label></li>
						<li><label><f:selectItem itemValue="4" id="performance4" /> #{bundle['performance4']}</label></li>
						<li><label><f:selectItem itemValue="5" id="performance5" /> #{bundle['performance5']}</label></li>
					</ul></q:selectBooleanSet></fieldset>

					<h3>#{bundle['Diagnoses_question']}</h3>
					<ul>
						<li><label><h:selectBooleanCheckbox id="primaryCancer" value="#{patientInterface.history.attributeCharacteristics[0].value > 0}" readonly="true" onclick="ac(this);showPrimaryCancerHint(this);" /><a name="primaryCancer" ><h:outputText value="#{bundle['Primary_Cancer']}" escape="false"/></a></label>
							<a onclick="Effect.Phase('primaryCancerInstructions');" class="jslink" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
							<div id="primaryCancerInstructions" class="hintpc" style="display: none;">
								<p><h:outputText value="#{bundle['Primary_Cancer_hint1']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('primaryCancerInstructions');">#{bundle['Close_Learn_More']}</a></p>
							</div>							
							<div id="primaryCancerHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Primary_Cancer_hint0']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('primaryCancerHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
							<ul id="primaryCancer_d" style="#{patientInterface.history.attributeCharacteristics[0].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="primaryCancerSelect" value="#{patientInterface.history.attributeCharacteristics[0].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="primaryCancer1" /> #{bundle['primaryCancer1']}</label>
									<div id="primaryCancer1Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint1']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer1Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="2" id="primaryCancer2" /> #{bundle['primaryCancer2']}</label>
									<div id="primaryCancer2Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer2Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="3" id="primaryCancer3" /> #{bundle['primaryCancer3']}</label>
									<div id="primaryCancer3Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer3Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="4" id="primaryCancer4" /> #{bundle['primaryCancer4']}</label>
									<div id="primaryCancer4Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer4Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="5" id="primaryCancer5" /> #{bundle['primaryCancer5']}</label>
									<div id="primaryCancer5Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer5Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="6" id="primaryCancer6" /> #{bundle['primaryCancer6']}</label>
									<div id="primaryCancer6Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer6Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="7" id="primaryCancer7" /> #{bundle['primaryCancer7']}</label>
									<div id="primaryCancer7Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer7Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="8" id="primaryCancer8" /> #{bundle['primaryCancer8']}</label>
									<div id="primaryCancer8Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer8Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="9" id="primaryCancer9" /> #{bundle['primaryCancer9']}</label>
									<div id="primaryCancer9Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer9Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="10" id="primaryCancer10" /> #{bundle['primaryCancer10']}</label>
									<div id="primaryCancer10Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer10Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="11" id="primaryCancer11" /> #{bundle['primaryCancer11']}</label>
									<div id="primaryCancer11Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer11Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="12" id="primaryCancer12" /> #{bundle['primaryCancer12']}</label>
									<div id="primaryCancer12Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer12Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="13" id="primaryCancer13" /> #{bundle['primaryCancer13']}</label>
									<div id="primaryCancer13Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer13Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="14" id="primaryCancer14" /> #{bundle['primaryCancer14']}</label>
									<div id="primaryCancer14Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer14Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="15" id="primaryCancer15" /> #{bundle['primaryCancer15']}</label>
									<div id="primaryCancer15Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer15Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="16" id="primaryCancer16" /> #{bundle['primaryCancer16']}</label>
									<div id="primaryCancer16Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer16Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="17" id="primaryCancer17" /> #{bundle['primaryCancer17']}</label>
									<div id="primaryCancer17Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer17Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</li>
								<li><label><f:selectItem itemValue="18" id="primaryCancer18" /> #{bundle['primaryCancer18']}</label>
									<div id="primaryCancer18Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer18Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>
									(endometrial)								
								</li>
								<li><label><f:selectItem itemValue="0" id="primaryCancer0" /> #{bundle['primaryCancer0']} </label>
									<h:inputText id="primaryCancerOther" value="#{patientInterface.history.attributeCharacteristics[0].other}" size="15" maxlength="32" /></li>
									<div id="primaryCancer0Hint" class="hint" style="display: none">
										<p><h:outputText value="#{bundle['Primary_Cancer_hint2']}" escape="false"/>
										<br /><a class="learnmore" onclick="Effect.PhaseOut('primaryCancer0Hint');">#{bundle['Close_Learn_More']}</a></p>
									</div>								
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="hiv" value="#{patientInterface.history.binaryCharacteristics[4].booleanValue}" onclick="showPrimaryCancerHint(this);"/> <a name="hiv">#{bundle['hiv']}</a></label>
							<div id="hivHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('hivHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						</li>	
						
						<li><label><h:selectBooleanCheckbox id="hematopoietic" value="#{patientInterface.history.attributeCharacteristics[1].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> <a name="hematopoietic">#{bundle['Diagnoses_Anemia']}</a></label>
							<div id="hematopoieticHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('hematopoieticHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
							<ul id="hematopoietic_d" style="#{patientInterface.history.attributeCharacteristics[1].value > 0 ? 'display:block' : 'display:none'}">
							
								<q:selectBooleanSet id="hematopoieticSelect" value="#{patientInterface.history.attributeCharacteristics[1].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="hematopoietic1" /> #{bundle['hematopoietic1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="hematopoietic2" /> #{bundle['hematopoietic2']}</label></li>
								<li><label><f:selectItem itemValue="0" id="hematopoietic0" /> #{bundle['hematopoietic0']} </label>
									<h:inputText id="hematopoieticOther" value="#{patientInterface.history.attributeCharacteristics[1].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="autoimmune" value="#{patientInterface.history.attributeCharacteristics[2].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Autoimmune']}</label>
							<div id="autoimmuneHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('autoimmuneHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						
							<ul id="autoimmune_d" style="#{patientInterface.history.attributeCharacteristics[2].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="autoimmuneSelect" value="#{patientInterface.history.attributeCharacteristics[2].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="autoimmune1" /> #{bundle['autoimmune1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="autoimmune2" /> #{bundle['autoimmune2']}</label></li>
								<li><label><f:selectItem itemValue="0" id="autoimmune0" /> #{bundle['autoimmune0']} </label>
									<h:inputText id="autoimmuneOther" value="#{patientInterface.history.attributeCharacteristics[2].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="pulmonary" value="#{patientInterface.history.attributeCharacteristics[3].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Breathing']}</label>
							<div id="pulmonaryHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('pulmonaryHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						
							<ul id="pulmonary_d" style="#{patientInterface.history.attributeCharacteristics[3].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="pulmonarySelect" value="#{patientInterface.history.attributeCharacteristics[3].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="pulmonary1" /> #{bundle['pulmonary1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="pulmonary2" /> #{bundle['pulmonary2']}</label></li>
								<li><label><f:selectItem itemValue="3" id="pulmonary3" /> #{bundle['pulmonary3']}</label></li>
								<li><label><f:selectItem itemValue="0" id="pulmonary0" /> #{bundle['pulmonary0']} </label>
									<h:inputText id="pulmonaryOther" value="#{patientInterface.history.attributeCharacteristics[3].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="digestive" value="#{patientInterface.history.attributeCharacteristics[4].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Digestive']}</label>
							<div id="digestiveHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('digestiveHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						
							<ul id="digestive_d" style="#{patientInterface.history.attributeCharacteristics[4].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="digestiveSelect" value="#{patientInterface.history.attributeCharacteristics[4].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="digestive1" /> #{bundle['digestive1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="digestive2" /> #{bundle['digestive2']}</label></li>
								<li><label><f:selectItem itemValue="3" id="digestive3" /> #{bundle['digestive3']}</label></li>
								<li><label><f:selectItem itemValue="0" id="digestive0" /> #{bundle['digestive0']} </label>
									<h:inputText id="digestiveOther" value="#{patientInterface.history.attributeCharacteristics[4].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="diabetes" value="#{patientInterface.history.binaryCharacteristics[5].booleanValue}" onclick="showPrimaryCancerHint(this);"/> #{bundle['diabetes']}</label>
							<div id="diabetesHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('diabetesHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						</li>
						<li><label><h:selectBooleanCheckbox id="cardiovascular" value="#{patientInterface.history.attributeCharacteristics[5].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Cardiovascular']}</label>
							<div id="cardiovascularHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('cardiovascularHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
							<ul id="cardiovascular_d" style="#{patientInterface.history.attributeCharacteristics[5].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="cardiovascularSelect" value="#{patientInterface.history.attributeCharacteristics[5].value}" multiple="true" onclick="ac(this);">
								<li><label><f:selectItem itemValue="1" id="cardiovascular1" /> #{bundle['cardiovascular1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="cardiovascular2" /> #{bundle['cardiovascular2']}</label></li>
								<li><label><f:selectItem itemValue="3" id="cardiovascular3" /> #{bundle['cardiovascular3']}</label></li>
								<li><label><f:selectItem itemValue="4" id="cardiovascular4" /> #{bundle['cardiovascular4']}</label></li>
								<li><label><f:selectItem itemValue="5" id="cardiovascular5" /> #{bundle['cardiovascular5']}</label>
									<div id="cardiovascular5_d" style="#{q:isSelected(patientInterface.history.attributeCharacteristics[5].value, 5) ? 'display:block' : 'display:none'}">
										<label>#{bundle['Year_Of_Most_Recent_Heart_Attack']} (#{bundle['label.YYYY']})&#xA0;
											<span class="inline"><h:inputText id="cardiovascularYear" value="#{patientInterface.history.yearMonthCharacteristics[2].shortValue}" size="4" maxlength="4" style="width:4em;" /></span> 
										</label> 
										<label>#{bundle['Month_if_within_12_months']}&#xA0;
											<h:selectOneMenu id="cardiovascularMonth" value="#{patientInterface.history.yearMonthCharacteristics[2].byteValue}">
												<f:selectItem itemLabel="#{bundle['More_Than_12_Months_Ago']}" itemValue="0" />
												<f:selectItem itemLabel="#{bundle['January']}" itemValue="1" /><f:selectItem itemLabel="#{bundle['February']}" itemValue="2" /><f:selectItem itemLabel="#{bundle['March']}" itemValue="3" />
												<f:selectItem itemLabel="#{bundle['April']}" itemValue="4" /><f:selectItem itemLabel="#{bundle['May']}" itemValue="5" /><f:selectItem itemLabel="#{bundle['June']}" itemValue="6" />
												<f:selectItem itemLabel="#{bundle['July']}" itemValue="7" /><f:selectItem itemLabel="#{bundle['August']}" itemValue="8" /><f:selectItem itemLabel="#{bundle['September']}" itemValue="9" />
												<f:selectItem itemLabel="#{bundle['October']}" itemValue="10" /><f:selectItem itemLabel="#{bundle['November']}" itemValue="11" /><f:selectItem itemLabel="#{bundle['December']}" itemValue="12" />
											</h:selectOneMenu>
										</label>
									</div>
								</li>
								<li><label><f:selectItem itemValue="6" id="cardiovascular6" /> #{bundle['cardiovascular6']}</label></li>
								<li><label><f:selectItem itemValue="0" id="cardiovascular0" /> #{bundle['cardiovascular0']} </label>
									<h:inputText id="cardiovascularOther" value="#{patientInterface.history.attributeCharacteristics[5].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="renal" value="#{patientInterface.history.attributeCharacteristics[6].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Urinary']}</label>
							<div id="renalHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('renalHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>					
							<ul id="renal_d" style="#{patientInterface.history.attributeCharacteristics[6].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="renalSelect" value="#{patientInterface.history.attributeCharacteristics[6].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="renal1" /> #{bundle['renal1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="renal2" /> #{bundle['renal2']}</label></li>
								<li><label><f:selectItem itemValue="0" id="renal0" /> #{bundle['renal0']} </label>
									<h:inputText id="renalOther" value="#{patientInterface.history.attributeCharacteristics[6].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="neuropsychiatric" value="#{patientInterface.history.attributeCharacteristics[7].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Nervous_system']}</label>
							<div id="neuropsychiatricHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('neuropsychiatricHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>					
							<ul id="neuropsychiatric_d" style="#{patientInterface.history.attributeCharacteristics[7].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="neuropsychiatricSelect" value="#{patientInterface.history.attributeCharacteristics[7].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="neuropsychiatric1" /> #{bundle['neuropsychiatric1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="neuropsychiatric2" /> #{bundle['neuropsychiatric2']}</label></li>
								<li><label><f:selectItem itemValue="0" id="neuropsychiatric0" /> #{bundle['neuropsychiatric0']} </label>
									<h:inputText id="neuropsychiatricOther" value="#{patientInterface.history.attributeCharacteristics[7].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="osteoporosis" value="#{patientInterface.history.binaryCharacteristics[6].booleanValue}" onclick="showPrimaryCancerHint(this);"/> #{bundle['osteoporosis']}</label>
							<div id="osteoporosisHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('osteoporosisHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						</li>	
						
						<li><label><h:selectBooleanCheckbox id="hormonal" value="#{patientInterface.history.attributeCharacteristics[8].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Thyroid']}</label>
							<div id="hormonalHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('hormonalHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						
							<ul id="hormonal_d" style="#{patientInterface.history.attributeCharacteristics[8].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="hormonalSelect" value="#{patientInterface.history.attributeCharacteristics[8].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="hormonal1" /> #{bundle['hormonal1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="hormonal2" /> #{bundle['hormonal2']}</label></li>
								<li><label><f:selectItem itemValue="0" id="hormonal0" /> #{bundle['hormonal0']} </label>
									<h:inputText id="hormonalOther" value="#{patientInterface.history.attributeCharacteristics[8].other}" styleClass="inline" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
						<li><label><h:selectBooleanCheckbox id="gynecologic" value="#{patientInterface.history.attributeCharacteristics[9].value > 0}" readonly="true" onclick="showPrimaryCancerHint(this);ac(this);" /> #{bundle['Diagnoses_Gynecologic']}</label>
							<div id="gynecologicHint" class="errortext" style="display: none;">
								<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
								<br /><a class="jslink" onclick="Effect.PhaseOut('gynecologicHint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
						
							<ul id="gynecologic_d" style="#{patientInterface.history.attributeCharacteristics[9].value > 0 ? 'display:block' : 'display:none'}">
								<q:selectBooleanSet id="gynecologicSelect" value="#{patientInterface.history.attributeCharacteristics[9].value}" multiple="true">
								<li><label><f:selectItem itemValue="1" id="gynecologic1" /> #{bundle['gynecologic1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="gynecologic2" /> #{bundle['gynecologic2']}</label></li>
								<li><label><f:selectItem itemValue="3" id="gynecologic3" /> #{bundle['gynecologic3']}</label></li>
								<li><label><f:selectItem itemValue="0" id="gynecologic0" /> #{bundle['gynecologic0']} </label>
									<h:inputText id="gynecologicOther" value="#{patientInterface.history.attributeCharacteristics[9].other}" size="15" maxlength="32" /></li>
								</q:selectBooleanSet>
							</ul>
						</li>
					</ul>
					<h3><a id="otherIssues" name="otherIssues" onclick="showPrimaryCancerHint(this);">#{bundle['Other_Health_Conditions']}</a></h3>
						<div id="otherIssuesHint" class="errortext" style="display: none;">
							<p><h:outputText value="#{bundle['Other_Condition_hint']}" escape="false"/>
							<br /><a class="jslink" onclick="Effect.PhaseOut('otherIssuesHint');">#{bundle['Close_Learn_More']}</a></p>
						</div>
					
						<p><h:inputTextarea cols="40" rows="4" id="otherIssues" value="#{patientInterface.history.stringCharacteristics[0].value}" style="width: 100%;" /></p>

					<input type="button" onclick="window.location.hash='#tabcontainer'; return advancetab();" value="#{bundle['Continue_to_next_tab']}" />
				</div>

				<div id="mydiagnosis_div">
					<h2>#{bundle['My_Diagnosis']}</h2>
					<c:choose>
					<c:when test="#{q:isSelected(patientInterface.history.category, 3)}">
						<ui:include src="history_diagnosis_year.xhtml">
							<ui:param name="label" value="#{bundle['Date_of_metastatic_cancer_diagnosis']}" />
							<ui:param name="hint" value="#{bundle['Metastatic_Diagnosis_Year_hint']}" />
						</ui:include>
						<fieldset><h3><a name="#MetastaticinflammatoryBreast"><h:outputText value="#{bundle['Inflammatory_Breast_Cancer_question']}" escape="false"/></a>
							<a onclick="Effect.Phase('inflammatoryMetastatic-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a></h3>
							<div id="inflammatoryMetastatic-hint" class="hint" style="display: none;">
								<p><h:outputText value="#{bundle['Inflammatory_Breast_Cancer_hint']}" escape="false"/>
									<br /><a class="learnmore" onclick="Effect.PhaseOut('inflammatoryMetastatic-hint');">#{bundle['Close_Learn_More']}</a>
								</p>
							</div>
							<q:selectBooleanSet id="inflammatoryMetastatic" value="#{patientInterface.history.diagnoses[0].valueCharacteristics[4].value}"><ul>
								<li><label><f:selectItem itemValue="1" id="inflammatoryMetastatic1" /> #{bundle['inflammatoryBreast1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="inflammatoryMetastatic2" /> #{bundle['inflammatoryBreast2']}</label></li>
								<li><label><f:selectItem itemValue="0" id="inflammatoryMetastatic0" /> #{bundle['inflammatoryBreast0']}</label></li>
							</ul></q:selectBooleanSet>
						</fieldset>
						
						<ui:include src="history_marker_input.xhtml"><ui:param name="diagnosis" value="#{patientInterface.history.diagnoses[0]}" /><ui:param name="laterality" value="metastatic" /></ui:include>
						<div>
						<fieldset>
							<h3><a name="diagnosisAreasSpread">#{bundle['Areas_Cancer_Has_Spread']}</a>
								<a onclick="Effect.Phase('diagnosisAreasSpread-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
							</h3>
							<div id="diagnosisAreasSpread-hint" class="hint" style="display: none;">
								<p><h:outputText value="#{bundle['Diagnosis_Area_Spread_hint']}" escape="false"/>
								<br /><a class="learnmore" onclick="Effect.PhaseOut('diagnosisAreasSpread-hint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
							<q:selectBooleanSet id="diagnosisAreasSpread" value="#{patientInterface.history.diagnoses[0].attributeCharacteristics[1].value}" multiple="true" onclick="ac(this);showOtherHint(this);"><ul>
								<li><label><f:selectItem itemValue="6" id="diagnosisAreasSpread6" /> #{bundle['diagnosisAreas6']}</label></li>
								<li><label><f:selectItem itemValue="4" id="diagnosisAreasSpread4" /> #{bundle['diagnosisAreas4']}</label></li>
								<li><label><f:selectItem itemValue="3" id="diagnosisAreasSpread3" /> #{bundle['diagnosisAreas3']}</label></li>
								<li><label><f:selectItem itemValue="7" id="diagnosisAreasSpread7" /> #{bundle['diagnosisAreas7']}</label></li>
								<li><label><f:selectItem itemValue="8" id="diagnosisAreasSpread8" /> #{bundle['diagnosisAreas8']}</label></li>
								<li><label><f:selectItem itemValue="11" id="diagnosisAreasSpread11" /> #{bundle['diagnosisAreas11']}</label></li>							
								<li><label><f:selectItem itemValue="10" id="diagnosisAreasSpread10" /> #{bundle['diagnosisAreas10']}</label></li>
								<li><label><f:selectItem itemValue="9" id="diagnosisAreasSpread9" /> #{bundle['diagnosisAreas9']}</label></li>
								<li><label><f:selectItem itemValue="5" id="diagnosisAreasSpread5" /> #{bundle['diagnosisAreas5']}</label></li>
								<li><label><f:selectItem itemValue="13" id="diagnosisAreasSpread13" /> #{bundle['diagnosisAreas13']}</label></li>
							</ul></q:selectBooleanSet>
							<div id="diagnosisAreasSpread13_OtherInformationRequest" class="hint" style="display:none">
								<h:outputText value="#{bundle['Diagnosis_Area_Spread_0']}" escape="false"/>
							</div>
							
						</fieldset>
						<fieldset>
							<h3>
								<h:outputText value="#{bundle['Areas_With_Current_Evidence']}" escape="false"/>
								<a onclick="Effect.Phase('diagnosisAreas-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
							</h3>
							<div id="diagnosisAreas-hint" class="hint" style="display: none;">
								<p><h:outputText value="#{bundle['Diagnosis_Areas_hint']}" escape="false"/>
								<br /><a class="learnmore" onclick="Effect.PhaseOut('diagnosisAreas-hint');">#{bundle['Close_Learn_More']}</a></p>
							</div>
							<q:selectBooleanSet id="diagnosisAreas" value="#{patientInterface.history.attributeCharacteristics[10].value}" multiple="true"><ul>
								<li id="diagnosisAreasSpread12_d" style="display:block">
									<label><f:selectItem itemValue="12" id="diagnosisAreas12" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas12']}</label></li>
							
								<li id="diagnosisAreasSpread6_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 6) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="6" id="diagnosisAreas6" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas6']}</label></li>
								<li id="diagnosisAreasSpread4_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 4) or patientInterface.patient.avatarProfile? 'display:block' : 'display:none'}">
									<label><a name="brainMetastases"><f:selectItem itemValue="4" id="diagnosisAreas4" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas4']}</a></label>
									<q:selectBooleanSet id="brainMetastases" value="#{patientInterface.history.diagnoses[0].valueCharacteristics[7].value}"><ul>
										<li><label><f:selectItem itemValue="1" id="brainMetastases1" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['brainMetastases1']}</label></li>
										<li><label><f:selectItem itemValue="2" id="brainMetastases2" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['brainMetastases2']}</label></li>
										<li><label><f:selectItem itemValue="3" id="brainMetastases3" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['brainMetastases3']}</label></li>
									</ul></q:selectBooleanSet>
									</li>
								<li id="diagnosisAreasSpread3_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 3) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="3" id="diagnosisAreas3" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas3']}</label></li>
								<li id="diagnosisAreasSpread7_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 7) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="7" id="diagnosisAreas7" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas7']}</label></li>
								<li id="diagnosisAreasSpread8_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 8) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="8" id="diagnosisAreas8" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas8']}</label></li>
								<li id="diagnosisAreasSpread11_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 11) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="11" id="diagnosisAreas11" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas11']}</label></li>																											
								<li id="diagnosisAreasSpread10_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 10) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="10" id="diagnosisAreas10" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas10']}</label></li>									
								<li id="diagnosisAreasSpread9_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 9) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="9" id="diagnosisAreas9" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas9']}</label></li>
								<li id="diagnosisAreasSpread5_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 5) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="5" id="diagnosisAreas5" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas5']}</label></li>

								<li id="diagnosisAreasSpread13_d" style="#{q:isSelected(patientInterface.history.diagnoses[0].attributeCharacteristics[1].value, 13) ? 'display:block' : 'display:none'}">
									<label><f:selectItem itemValue="13" id="diagnosisAreas13" itemDisabled="#{patientInterface.patient.avatarProfile ? 'true':'false'}"/> #{bundle['diagnosisAreas13']}</label></li>
									
							</ul></q:selectBooleanSet>
						</fieldset>
						</div>
					</c:when>
					<c:otherwise>
						<c:choose><c:when test="#{(patientInterface.history.category eq 4) and (patientInterface.history.primary eq 2)}">
							<ui:include src="history_diagnosis_year.xhtml">
								<ui:param name="label" value="#{bundle['label.DiagnosisDate']}" />
								<ui:param name="hint" value="#{bundle['Diagnosis_Year1_hint']}" />
							</ui:include>
						</c:when><c:when test="#{(patientInterface.history.category eq 4) and (patientInterface.history.primary eq 4)}">
							<ui:include src="history_diagnosis_year.xhtml">
								<ui:param name="label" value="#{bundle['label.YearOfMostRecentRecurrence']}" />
								<ui:param name="hint" value="#{bundle['Diagnosis_Year2_hint']}" />
							</ui:include>
						</c:when><c:when test="#{patientInterface.history.category eq 16}">
							<ui:include src="history_diagnosis_year.xhtml">
								<ui:param name="label" value="#{bundle['label.YearOfMostRecentDiagnosis']}" />
								<ui:param name="hint" value="#{bundle['Diagnosis_Year3_hint']}" />
							</ui:include>
						</c:when><c:otherwise>
							<ui:include src="history_diagnosis_year.xhtml">
								<ui:param name="label" value="#{bundle['label.YearOfMostRecentDiagnosis']}" />
								<ui:param name="hint" value="#{bundle['Diagnosis_Year4_hint']}" />
							</ui:include>
						</c:otherwise></c:choose>
						<ui:include src="history_diagnosis_input.xhtml"><ui:param name="diagnosis" value="#{patientInterface.history.diagnoses[1]}" /><ui:param name="laterality" value="left" /></ui:include>
						<ui:include src="history_diagnosis_input.xhtml"><ui:param name="diagnosis" value="#{patientInterface.history.diagnoses[2]}" /><ui:param name="laterality" value="right" /></ui:include>
						<div id="diagnosisleft1_d" style="display: none;"><div id="diagnosisright1_d" style="display: none;" class="errortext">#{bundle['You_Must_Have_Breast_Cancer_Diagnosis']}</div></div>
						<fieldset>
							<h3>
								<c:choose><c:when test="#{(patientInterface.history.category eq 4) and (patientInterface.history.primary eq 4)}">#{bundle['For_This_Recurrence_Select']}</c:when>
								<c:otherwise>#{bundle['Select_All_Areas_Where_Cancer_Found']}</c:otherwise></c:choose>
								<a onclick="Effect.Phase('diagnosisAreas-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
							</h3>
							<div id="diagnosisAreas-hint" class="hint" style="display: none;">
								<p><h:outputText value="#{bundle['Diagnosis_Areas2_hint']}" escape="false"/>
									<br /><a class="learnmore" onclick="Effect.PhaseOut('diagnosisAreas-hint');">#{bundle['Close_Learn_More']}</a>
								</p>
							</div>
							<q:selectBooleanSet id="diagnosisAreas" value="#{patientInterface.history.attributeCharacteristics[10].value}" multiple="true"><ul>
								<li><label><f:selectItem itemValue="1" id="diagnosisAreas1" /> #{bundle['diagnosisAreas1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="diagnosisAreas2" /> #{bundle['diagnosisAreas2']}</label></li>
								<li><label><f:selectItem itemValue="3" id="diagnosisAreas3" /> #{bundle['diagnosisAreas3']}</label></li>
								<li><label><f:selectItem itemValue="0" id="diagnosisAreas0" /> #{bundle['diagnosisAreas0']} </label>
									<h:inputText id="diagnosisAreasOther" value="#{patientInterface.history.attributeCharacteristics[10].other}" size="10" maxlength="30" /></li>
							</ul></q:selectBooleanSet>
						</fieldset>
					</c:otherwise></c:choose>
					<h3>
						#{bundle['Have_You_Ever_Been_Diagnosed_With_Lymphedema']}
						<a onclick="Effect.Phase('lymphedema-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
					</h3>
					<div id="lymphedema-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Lymphedema_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('lymphedema-hint');">#{bundle['Close_Learn_More']}</a>
						</p>
					</div>
					<q:selectBooleanSet id="lymphedema" value="#{patientInterface.history.valueCharacteristics[8].value}" ><ul>
						<li><label><f:selectItem itemValue="1" id="lymphedema1" /> #{bundle['lymphedema1']}</label></li>
						<li><label><f:selectItem itemValue="2" id="lymphedema2" /> #{bundle['lymphedema2']}</label></li>
						<li><label><f:selectItem itemValue="0" id="lymphedema0" /> #{bundle['lymphedema0']}</label></li>
					</ul></q:selectBooleanSet>
					
					<h3><a name="diagnosisOther">#{bundle['Additional_Information_Related_To_Diagnosis']}</a></h3>
					<p class="instructions">
						<h:outputText value="#{bundle['Diagnosis_Other_instructions']}" escape="false"/>
					</p>
					<p><h:inputTextarea cols="40" rows="4" id="diagnosisOther" value="#{patientInterface.history.stringCharacteristics[1].value}" style="width: 100%;" /></p>

					<input type="button" onclick="window.location.hash='#tabcontainer'; return advancetab();" value="#{bundle['Continue_to_next_tab']}" />
				</div>

				<!-- Treatment starts here. -->
				<div id="mytreatment_div">
					<h2>#{bundle['My_Treatment']}</h2>
					<h3>#{bundle['Treatment_Any_Of_The_Following']}</h3>
					<p><strong>&#8230;#{bundle['Surgery_For_Breast_Cancer']}<h:outputText rendered="#{!q:isSelected(patientInterface.history.category, 3)}">&#xA0;#{bundle['Or_Prevention']}</h:outputText>?</strong><br />
					<q:selectBooleanSet id="treatment0" value="#{patientInterface.history.treatmentPerformed[0].byteValue}" onclick="ar(this,'2');">
						<label><f:selectItem itemValue="2" id="treatment02" /> #{bundle['Yes']}</label>
						<label><f:selectItem itemValue="1" id="treatment01" /> #{bundle['No']}</label>
						<a onclick="Effect.Phase('surgery-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
					</q:selectBooleanSet></p>
					<div id="surgery-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Surgery_hint1']}" escape="false"/></p>
						<p><h:outputText value="#{bundle['Surgery_hint2']}" escape="false"/>
						<br /><a class="learnmore" onclick="Effect.PhaseOut('surgery-hint');">#{bundle['Close_Learn_More']}</a></p>
					</div>
					<div id="treatment02_d" class="item" style="#{patientInterface.history.treatmentPerformed[0].booleanValue ? 'display:block' : 'display:none'}">
						<c:if test="#{q:isSelected(patientInterface.history.category, 3)}">
							<h3>#{bundle['Select_All_Surgery_Breast_Cancer']}</h3>
							<ul>
								<ui:include src="history_procedure_ovaries_input.xhtml" />
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[17]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[18]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[19]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[20]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[21]}" /></ui:include>
							</ul>
							<h3>#{bundle['Among_Following_Surgery_Within_12_Months']}</h3>
							<ul>
								<ui:include src="history_procedure_local_input.xhtml" />
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[22]}" /></ui:include>
							</ul>
						</c:if>
						<c:if test="#{!q:isSelected(patientInterface.history.category, 3)}">
							<h3>#{bundle['Select_All_Sites_Surgery']}</h3>
							<ul>
								<ui:include src="history_procedure_local_input.xhtml" />
								<ui:include src="history_procedure_ovaries_input.xhtml" />
							</ul>
						</c:if>
						<p class="instructions">#{bundle['End_Of_Surgery_Questions']}</p>
					</div>

					<p><a name="radiation"><strong>&#8230;#{bundle['Radiation_Therapy_For_Breast_Cancer']}</strong></a><br />
					<q:selectBooleanSet id="treatment1" value="#{patientInterface.history.treatmentPerformed[1].byteValue}" onclick="ar(this,'2');">
						<label><f:selectItem itemValue="2" id="treatment12" />#{bundle['Yes']}</label>
						<label><f:selectItem itemValue="1" id="treatment11" />#{bundle['No']}</label>
						<a onclick="Effect.Phase('radiation-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
					</q:selectBooleanSet></p>
					<div id="radiation-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Radiation_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('radiation-hint');">#{bundle['Close_Learn_More']}</a>
						</p>
					</div>
					<div id="treatment12_d" class="item" style="#{patientInterface.history.treatmentPerformed[1].booleanValue ? 'display:block' : 'display:none'}">
						<h3>#{bundle['Which_Site_Received_Radiation']}</h3>
						<ul>
							<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[23]}" /></ui:include>
							<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[24]}" /></ui:include>
							<c:choose><c:when test="#{q:isSelected(patientInterface.history.category, 3)}">
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[25]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[26]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[27]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[28]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[29]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[33]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[30]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[31]}" /></ui:include>
								<ui:include src="history_procedure_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.procedures[32]}" /></ui:include>
							</c:when><c:otherwise>
							<li><fieldset><h3>#{bundle['Received_Radiation_For_Any_Following']}</h3><q:selectBooleanSet id="radiationDisease" value="#{patientInterface.history.attributeCharacteristics[11].value}" multiple="true"><ul>
								<li><label><f:selectItem itemValue="1" id="radiationDisease1" /> #{bundle['radiationDisease1']}</label></li>
								<li><label><f:selectItem itemValue="2" id="radiationDisease2" /> #{bundle['radiationDisease2']}</label></li>
								<li><label><f:selectItem itemValue="3" id="radiationDisease3" /> #{bundle['radiationDisease3']}</label></li>
								<li><label><f:selectItem itemValue="0" id="radiationDisease0" /> #{bundle['radiationDisease0']} </label>
									<h:inputText id="radiationDiseaseOther" value="#{patientInterface.history.attributeCharacteristics[11].other}" size="10" maxlength="30" /></li>
							</ul></q:selectBooleanSet></fieldset></li>
						</c:otherwise></c:choose>
						</ul>
						<p class="instructions">#{bundle['End_Of_Radiation_Questions']}</p>
					</div>

					<p><a name="chemo"><strong>&#8230;#{bundle['Chemotherapy_For_Breast_Cancer']}</strong></a><br /><q:selectBooleanSet id="treatment2" value="#{patientInterface.history.treatmentPerformed[2].byteValue}" onclick="ar(this,'2');">
						<label><f:selectItem itemValue="2" id="treatment22" /> #{bundle['Yes']}</label>
						<label><f:selectItem itemValue="1" id="treatment21" /> #{bundle['No']}</label>
						<a onclick="Effect.Phase('chemo-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
					</q:selectBooleanSet></p>
					<div id="chemo-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Chemotherapy_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('chemo-hint');">#{bundle['Close_Learn_More']}</a>
						</p>
					</div>
					<div id="treatment22_d" class="item" style="#{patientInterface.history.treatmentPerformed[2].booleanValue ? 'display:block' : 'display:none'}">
						<h3>#{bundle['Select_All_Treatments_Received']}</h3>
						<s:div rendered="#{q:isSelected(patientInterface.history.category, 3)}">#{bundle['Chemotherapy_Regimens']}</s:div>
						<ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[16]}" /><ui:param name="id" value="chemoRegimen16" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[15]}" /><ui:param name="id" value="chemoRegimen15" /></ui:include>						
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[0]}" /><ui:param name="id" value="chemoRegimen1" /><ui:param name="hint" value="#{bundle['chemoRegimen1Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[1]}" /><ui:param name="id" value="chemoRegimen2" /><ui:param name="hint" value="#{bundle['chemoRegimen2Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[2]}" /><ui:param name="id" value="chemoRegimen3" /><ui:param name="hint" value="#{bundle['chemoRegimen3Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[3]}" /><ui:param name="id" value="chemoRegimen4" /><ui:param name="hint" value="#{bundle['chemoRegimen4Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[4]}" /><ui:param name="id" value="chemoRegimen5" /><ui:param name="hint" value="#{bundle['chemoRegimen5Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[5]}" /><ui:param name="id" value="chemoRegimen6" /><ui:param name="hint" value="#{bundle['chemoRegimen6Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[6]}" /><ui:param name="id" value="chemoRegimen7" /><ui:param name="hint" value="#{bundle['chemoRegimen7Hint']}" /></ui:include>
							<!-- BCT-431 Add Ixempra as a single chemotherapy for non-metastatic patients -->
							<c:if test="#{!q:isSelected(patientInterface.history.category, 3)}">
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[40]}" /><ui:param name="id" value="chemoAgent23a" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[27]}" /><ui:param name="id" value="chemoAgent22a" /></ui:include>
							</c:if>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[7]}" /><ui:param name="id" value="chemoRegimen17" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[8]}" /><ui:param name="id" value="chemoRegimen8" /><ui:param name="hint" value="#{bundle['chemoRegimen8Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[9]}" /><ui:param name="id" value="chemoRegimen9" /><ui:param name="hint" value="#{bundle['chemoRegimen9Hint']}" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[10]}" /><ui:param name="id" value="chemoRegimen10" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[11]}" /><ui:param name="id" value="chemoRegimen11" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[12]}" /><ui:param name="id" value="chemoRegimen12" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[13]}" /><ui:param name="id" value="chemoRegimen13" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[14]}" /><ui:param name="id" value="chemoRegimen14" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[17]}" /><ui:param name="id" value="chemoRegimenOther" /></ui:include>
<!-- 							
							<li><label><input type="checkbox" id="chemoRegimenOther" onclick="ac(this)" /> Other</label></li>
-->							
						</ul>
						<div id="chemoRegimenOther_d" class="hint" style="display:none">
							<h:outputText value="#{bundle['Specify_Additional_Info_At_Bottom']}" escape="false"/>
						</div>
						<c:if test="#{q:isSelected(patientInterface.history.category, 3)}"><h3>#{bundle['Chemotherapy_Received_As_Individual_Drugs']}</h3>
							<ul>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[18]}" /><ui:param name="id" value="chemoAgent1" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[19]}" /><ui:param name="id" value="chemoAgent2" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[20]}" /><ui:param name="id" value="chemoAgent3" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[25]}" /><ui:param name="id" value="chemoAgent8" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[21]}" /><ui:param name="id" value="chemoAgent4" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[22]}" /><ui:param name="id" value="chemoAgent5" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[23]}" /><ui:param name="id" value="chemoAgent6" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[24]}" /><ui:param name="id" value="chemoAgent7" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[40]}" /><ui:param name="id" value="chemoAgent23" /></ui:include>
								
 								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[26]}" /><ui:param name="id" value="chemoAgent22" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[27]}" /><ui:param name="id" value="chemoAgent9" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[28]}" /><ui:param name="id" value="chemoAgent10" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[29]}" /><ui:param name="id" value="chemoAgent11" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[30]}" /><ui:param name="id" value="chemoAgent12" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[31]}" /><ui:param name="id" value="chemoAgent13" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[32]}" /><ui:param name="id" value="chemoAgent14" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[33]}" /><ui:param name="id" value="chemoAgent15" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[34]}" /><ui:param name="id" value="chemoAgent16" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[35]}" /><ui:param name="id" value="chemoAgent17" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[36]}" /><ui:param name="id" value="chemoAgent18" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[37]}" /><ui:param name="id" value="chemoAgent19" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[38]}" /><ui:param name="id" value="chemoAgent20" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[39]}" /><ui:param name="id" value="chemoAgent21" /></ui:include>
								<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[41]}" /><ui:param name="id" value="chemoAgentOther" /></ui:include>
<!-- 								
								<li><label><input type="checkbox" id="chemoAgentOther" onclick="ac(this)" /> Other</label></li>
-->								
							</ul>
							<div id="chemoAgentOther_d" class="hint" style="display:none">
								<h:outputText value="#{bundle['Specify_Additional_Info_At_Bottom']}" escape="false"/>
							</div>
						</c:if>
						<p class="instructions">#{bundle['End_Of_Chemotherapy_Questions']}</p>
					</div>
					<p><a name="biological"><strong>&#8230;#{bundle['Biological_Therapy_For_Breast_Cancer']} (e.g. Herceptin&#174;, Avastin&#174;, or Tykerb&#174;/Lapatinib)</strong></a><br />
						<q:selectBooleanSet id="treatment3" value="#{patientInterface.history.treatmentPerformed[3].byteValue}" onclick="ar(this,'2');">
							<label><f:selectItem itemValue="2" id="treatment32" /> #{bundle['Yes']}</label> 
							<label><f:selectItem itemValue="1" id="treatment31" /> #{bundle['No']}</label>
							<a onclick="Effect.Phase('biological-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
						</q:selectBooleanSet>
					</p>
					<div id="biological-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Biological_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('biological-hint');">#{bundle['Close_Learn_More']}</a>
						</p>
					</div>
					<div id="treatment32_d" class="item" style="#{patientInterface.history.treatmentPerformed[3].booleanValue ? 'display:block' : 'display:none'}">
						<h3>#{bundle['Select_All_Biological_Therapy']}</h3><ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[42]}" /><ui:param name="id" value="biological1" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[43]}" /><ui:param name="id" value="biological2" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[44]}" /><ui:param name="id" value="biological3" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[45]}" /><ui:param name="id" value="biological4" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[46]}" /><ui:param name="id" value="biological5" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[47]}" /><ui:param name="id" value="biological6" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[48]}" /><ui:param name="id" value="biologicalOther" /></ui:include>
<!-- 							
							<li><label><input type="checkbox" id="biologicalOther" onclick="ac(this)" /> Other</label></li>
-->							
						</ul>
						<div id="biologicalOther_d" class="hint" style="display:none">
							<h:outputText value="#{bundle['Specify_Additional_Info_At_Bottom']}" escape="false"/>
						</div>
						<p class="instructions">#{bundle['End_Of_Biological_Questions']}</p>
					</div>

					<p><a name="endocrine"><strong>&#8230;#{bundle['Hormone_Therapy_For_Breast_Cancer']}</strong></a><br /><q:selectBooleanSet id="treatment4" value="#{patientInterface.history.treatmentPerformed[4].byteValue}" onclick="ar(this,'2');">
						<label><f:selectItem itemValue="2" id="treatment42" /> #{bundle['Yes']}</label>
						<label><f:selectItem itemValue="1" id="treatment41" /> #{bundle['No']}</label>
						<a onclick="Effect.Phase('endocrine-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
					</q:selectBooleanSet></p>
					<div id="endocrine-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Hormone_Therapy_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('endocrine-hint');">#{bundle['Close_Learn_More']}</a>
						</p>
					</div>
					<div id="treatment42_d" class="item" style="#{patientInterface.history.treatmentPerformed[4].booleanValue ? 'display:block' : 'display:none'}">
						<h3>#{bundle['Select_All_Medications_Received']}</h3>
						<h4>#{bundle['Anti_Estrogen_Drugs']}&#xA0;
							<a onclick="Effect.Phase('antiestrogen-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
						</h4>
						<div id="antiestrogen-hint" class="hint" style="display: none;">
							<p><h:outputText value="#{bundle['Anti_Estrogen_hint']}" escape="false"/>
								<br /><a class="learnmore" onclick="Effect.PhaseOut('antiestrogen-hint');">#{bundle['Close_Learn_More']}</a>
							</p>
						</div>
						<ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[49]}" /><ui:param name="id" value="endocrine1" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[50]}" /><ui:param name="id" value="endocrine2" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[51]}" /><ui:param name="id" value="endocrine3" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[52]}" /><ui:param name="id" value="endocrine4" /></ui:include>
						</ul>
						<h4>#{bundle['Aromatase_Inhibitors']}&#xA0;
							<a onclick="Effect.Phase('aromataseinhibitors-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
						</h4>
						<div id="aromataseinhibitors-hint" class="hint" style="display: none;">
							<p><h:outputText value="#{bundle['Aromatase_hint']}" escape="false"/>
								<br /><a class="learnmore" onclick="Effect.PhaseOut('aromataseinhibitors-hint');">#{bundle['Close_Learn_More']}</a>
							</p>
						</div>
						<ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[53]}" /><ui:param name="id" value="endocrine5" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[54]}" /><ui:param name="id" value="endocrine6" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[55]}" /><ui:param name="id" value="endocrine7" /></ui:include>
						</ul>
						<h4>#{bundle['Ovarian_Suppression']}&#xA0;
							<a onclick="Effect.Phase('ovariansuppression-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
						</h4>
						<div id="ovariansuppression-hint" class="hint" style="display: none;">
							<p><h:outputText value="#{bundle['Ovarian_Suppression_hint']}" escape="false"/>
								<br /><a class="learnmore" onclick="Effect.PhaseOut('ovariansuppression-hint');">#{bundle['Close_Learn_More']}</a>
							</p>
						</div>
						<ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[56]}" /><ui:param name="id" value="endocrine8" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[57]}" /><ui:param name="id" value="endocrine9" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[58]}" /><ui:param name="id" value="endocrine10" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[59]}" /><ui:param name="id" value="endocrine11" /></ui:include>
						</ul>
						<h4>#{bundle['Other_Endocrine']}</h4><ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[60]}" /><ui:param name="id" value="endocrine12" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[61]}" /><ui:param name="id" value="endocrineOther" /></ui:include>
							
<!-- 							
							<li><label><input type="checkbox" id="endocrineOther" onclick="ac(this)" /> #{bundle['Other']}</label></li>
-->							
						</ul>
						<div id="endocrineOther_d" class="hint" style="display:none">
							<h:outputText value="#{bundle['Specify_Additional_Info_At_Bottom']}" escape="false"/>
						</div>
						<p class="instructions">#{bundle['End_Of_Hormone_Therapy_Questions']}</p>
					</div>

					<p><a name="bisphosphonate"><strong>&#8230;#{bundle['Biophosphonate_Therapy']}</strong></a><br /><q:selectBooleanSet id="treatment5" value="#{patientInterface.history.treatmentPerformed[5].byteValue}" onclick="ar(this,'2');">
						<label><f:selectItem itemValue="2" id="treatment52" /> #{bundle['Yes']}</label>
						<label><f:selectItem itemValue="1" id="treatment51" /> #{bundle['No']}</label>
						<a onclick="Effect.Phase('bisphosphonate-hint');" class="learnmore" title="#{bundle['Click_for_instructions']}">#{bundle['Learn_More']}</a>
					</q:selectBooleanSet></p>
					<div id="bisphosphonate-hint" class="hint" style="display: none;">
						<p><h:outputText value="#{bundle['Biophosphonate_Therapy_hint']}" escape="false"/>
							<br /><a class="learnmore" onclick="Effect.PhaseOut('bisphosphonate-hint');">#{bundle['Close_Learn_More']}</a>
						</p>
					</div>
					<div id="treatment52_d" class="item" style="#{patientInterface.history.treatmentPerformed[5].booleanValue ? 'display:block' : 'display:none'}">
						<h3>#{bundle['Select_All_Medications_Received']}</h3>
						<ul>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[62]}" /><ui:param name="id" value="bisphosphonate1" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[63]}" /><ui:param name="id" value="bisphosphonate2" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[64]}" /><ui:param name="id" value="bisphosphonate3" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[65]}" /><ui:param name="id" value="bisphosphonate4" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[66]}" /><ui:param name="id" value="bisphosphonate5" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[67]}" /><ui:param name="id" value="bisphosphonate6" /></ui:include>
							<ui:include src="history_therapy_input.xhtml"><ui:param name="facade" value="#{patientInterface.history.therapies[68]}" /><ui:param name="id" value="bisphosphonateOther" /></ui:include>
							
<!-- 							
							<li><label><input type="checkbox" id="bisphosphonateOther" onclick="ac(this)" /> #{bundle['Other']}</label></li>
-->							
						</ul>
						<div id="bisphosphonateOther_d" class="hint" style="display:none">
							<h:outputText value="#{bundle['Specify_Additional_Info_At_Bottom']}" escape="false"/>
						</div>
						<p class="instructions">#{bundle['End_Of_Biophosphonate_Questions']}</p>
					</div>

					<h3><a name="additionalTreatment">#{bundle['Additional_Info_Regarding_Treatments']}</a></h3>
					<p class="instructions">
						<h:outputText value="#{bundle['Additional_Info_Treatment_Instructions']}" escape="false"/>
					</p>
					<p><h:inputTextarea cols="40" rows="4" id="additionalTreatment" value="#{patientInterface.history.stringCharacteristics[2].value}" style="width: 100%;" /></p>

					<input type="button" onclick="window.location.hash='#tabcontainer'; return advancetab();" value="#{bundle['Continue_to_next_tab']}" />
				</div>

				<div id="addlinfo_div">
					<h2>#{bundle['Additional_Information']}</h2>
					<div class="instructions">
						<h:outputText value="#{bundle['Additional_Information_Instructions']}" escape="false"/>
					</div>
					<fieldset><h3>#{bundle['Highest_Level_Of_Schooling']}</h3><q:selectBooleanSet id="education" value="#{patientInterface.history.valueCharacteristics[7].value}"><ul>
						<li><label><f:selectItem itemValue="1" id="education1" /> #{bundle['education1']}</label></li>
						<li><label><f:selectItem itemValue="2" id="education2" /> #{bundle['education2']}</label></li>
						<li><label><f:selectItem itemValue="3" id="education3" /> #{bundle['education3']}</label></li>
						<li><label><f:selectItem itemValue="4" id="education4" /> #{bundle['education4']}</label></li>
						<li><label><f:selectItem itemValue="5" id="education5" /> #{bundle['education5']}</label></li>
					</ul></q:selectBooleanSet></fieldset>
					
					<fieldset>
						<h3>#{bundle['RaceEthnicityHeader']}</h3>
						<q:selectBooleanSet id="race" value="#{patientInterface.history.attributeCharacteristics[12].value}" onclick="flip_radio_info_div(this,'7','race7_d');" multiple="true">
						
						<ul>
						<li><label><f:selectItem itemValue="1" id="race1" /> #{bundle['race1']}</label></li>
						<li><label><f:selectItem itemValue="2" id="race2" /> #{bundle['race2']}</label></li>
						<li><label><f:selectItem itemValue="3" id="race3" /> #{bundle['race3']}</label></li>
						<li><label><f:selectItem itemValue="5" id="race5" /> #{bundle['race5']}</label></li>
						<li><label><f:selectItem itemValue="6" id="race6" /> #{bundle['race6']}</label></li>
						<li><label><f:selectItem itemValue="8" id="race8" /> #{bundle['race0']}</label></li>
						<li><label><f:selectItem itemValue="7" id="race7" /> #{bundle['label.skip']}</label></li>
						</ul>
						</q:selectBooleanSet>
						<div id="race7_d" class="hint" style="display:none;">
							<p>
								#{bundle['RaceEthnicity.Skip.Warning']}
							</p>	
							<p><a class="learnmore" onclick="Effect.PhaseOut('race7_d');">Close</a></p>
						</div>	
					</fieldset>
					
					<div class="item">
						<strong>#{bundle['Are_You_Hispanic']}</strong>
						<q:selectBooleanSet id="hispanicQuestion" value="#{patientInterface.history.attributeCharacteristics[13].value}" onclick="flip_radio_info_div(this,'3','hispanicQuestion3_d');" multiple="false">
							<label><f:selectItem itemValue="1" id="hispanicQuestion1" /> #{bundle['Yes']}</label>
							<label><f:selectItem itemValue="2" id="hispanicQuestion2" /> #{bundle['No']}</label>
							<label><f:selectItem itemValue="3" id="hispanicQuestion3" /> #{bundle['label.skip']}</label>
						</q:selectBooleanSet>
					</div>
					<div class="hint" id="hispanicQuestion3_d" style="display:none;">
					<p>
						#{bundle['Hispanic.Skip.Warning']}
					</p>
					<p><a onclick="Effect.PhaseOut('hispanicQuestion3_d');" class="learnmore" title="Close">close</a></p>
					</div>	
					
					<fieldset><h3>#{bundle['How_Did_You_Hear_About_BCT']}</h3><q:selectBooleanSet id="referral" value="#{patientInterface.patient.referral}" multiple="true"><ul>
						<li><label><f:selectItem itemValue="1" id="referral1" /> #{bundle['referral1']}</label></li>
						<li><label><f:selectItem itemValue="2" id="referral2" /> #{bundle['referral2']}</label></li>
						<li><label><f:selectItem itemValue="3" id="referral3" /> #{bundle['referral3']}</label></li>
						<li><label><f:selectItem itemValue="4" id="referral4" /> #{bundle['referral4']}</label></li>
						<li><label><f:selectItem itemValue="5" id="referral5" /> #{bundle['referral5']} </label>
									<h:inputText id="referralLink" value="#{patientInterface.patient.referralLink}" size="25" maxlength="20" /></li>
						<li><label><f:selectItem itemValue="6" id="referral6" /> #{bundle['referral6']} </label>
									<h:inputText id="referralOrganization" value="#{patientInterface.patient.referralOrganization}" size="25" maxlength="32" /></li>
						<li><label><f:selectItem itemValue="7" id="referral7" /> #{bundle['referral7']}</label></li>
						<li><label><f:selectItem itemValue="0" id="referral0" /> #{bundle['referral0']} </label>
									<h:inputText id="referralOther" value="#{patientInterface.patient.referralOther}" size="25" maxlength="20" /></li>
					</ul></q:selectBooleanSet></fieldset>
					<c:if test="#{not patientInterface.loggedIn}">
						<div class="formActions"><h:commandButton action="#{patientInterface.updateHistory}" value="${bundle['Review_Your_Health_Summary']}" /></div>
					</c:if>
				</div>

				<div id="avatar_div" style="#{patientInterface.patient.avatarProfile? 'display:block;': 'display:none;'}">
					<h1>Avatar Specific Configuration</h1>
					<div>
						<ui:include src="history_avatar_tab_input.xhtml"><ui:param name="diagnosis" value="#{patientInterface.history.diagnoses[1]}" /></ui:include>
					</div>
				</div>

			</div>
		</div>

		<div class="formActions">
			<c:choose><c:when test="#{patientInterface.loggedIn}">
				<h:commandLink target="_parent" action="#{patientInterface.updateHistory}" value="#{bundle['Save_your_changes']}" />&#xA0;#{bundle['label.Or']}&#xA0;
				<s:link target="_parent" view="/account.xhtml" value="#{bundle['Cancel']}" />
			</c:when><c:otherwise>
				<h:commandLink target="_parent" action="/history_save_finish.xhtml" value="#{bundle['Save_And_Finish_Later']}" />&#xA0;or&#xA0;
				<h:commandLink target="_parent" action="#{patientInterface.updateHistory}" value="#{bundle['Review_Your_Health_Summary']}" />&#xA0;or&#xA0;
				<s:link target="_parent" view="/cancel.xhtml" value="#{bundle['Cancel_And_Delete']}" />
			</c:otherwise></c:choose>
		</div>
	</h:form>
	
	</div>
</ui:define>

<ui:define name="NotUsed_contentSide">
	<s:div styleClass="section" rendered="#{patientInterface.firstTime}">
		<h2>#{bundle['Find_Your_Clinical_Trial']}</h2>
		<ul class="wizard">
			<li class="complete">#{bundle['Accept_terms_and_conditions']}</li>
			<li class="complete"><s:link view="/history_category.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}">#{bundle['Select_Your_Health_Concern']}</s:link></li>
			<li class="current">#{bundle['Enter_Your_Health_History']}</li>
			<li>#{bundle['Review_Your_Health_Summary']}</li>
			<li>#{bundle['View_Matched_Trials']}</li>
		</ul>
	</s:div>
	<s:div styleClass="section" rendered="#{!patientInterface.firstTime}">
		<h2>#{bundle['Find_Your_Clinical_Trial']}</h2>
		<ul class="sideNav">
			<li>#{bundle['Update_Your_Health_History']}</li>
			<li><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}">#{bundle['Review_Your_Health_Summary']}</s:link></li>
			<ui:fragment rendered="#{patientInterface.screenedTrialCount > 0}">
				<li><s:link view="/my_trials.xhtml" title="#{bundle['Click_to_view_clinical_trials']}">#{bundle['View_Matched_Trials']}</s:link></li>
			</ui:fragment>
			<ui:fragment rendered="#{patientInterface.screenedTrialCount le 0}">
				<li>#{bundle['View_Matched_Trials']}</li>
			</ui:fragment>
		</ul>
	</s:div>
	<div class="section">
		<h2>#{bundle['Other_Options']}</h2>
		<ul class="sideNav">
			<li><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FindATrial/QuestionsForResearchers.html">#{bundle['Prepare_to_talk_with_research_site']}</a></li>
			<li><s:link view="/browse_trials.xhtml" title="#{bundle['See_All_BCT_Trials']}">#{bundle['Browse_Our_Trials']}</s:link></li>
			<ui:fragment rendered="#{patientInterface.loggedIn}">
				<li><s:link view="/account.xhtml" title="#{bundle['Click_For_Account']}">#{bundle['My_Account']}</s:link></li>
			</ui:fragment>
			<li><s:link view="/home.xhtml" title="#{bundle['Click_For_Home_Page']}">#{bundle['Home_Page']}</s:link></li>
		</ul>
	</div>
	<s:link view="/tutorial/index.xhtml" styleClass="tutorial" title="#{bundle['Click_For_Tutorial']}">#{bundle['View_Tutorial']}</s:link>
	<div><a href="forms/category#{patientInterface.history.category}.pdf" class="blankform" title="#{bundle['Click_To_Download_Blank_Form']}" target="_form">#{bundle['Download_Blank_Form']}</a></div>
</ui:define>
</ui:composition>
