<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
	  			xmlns:c="http://java.sun.com/jstl/core"
				template="/newtemplate.xhtml">

<ui:define name="title">#{bundle['Save_My_Health_History_Now']}</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1>#{bundle['Save_My_Health_History']}</h1>
    </div>
    
    <div class="ContentFramedBox">
		<div><a onclick="$('[id=privacy-hint]').slideToggle(1500);" class="learnmore" title="#{bundle['Click_for_privacy_information']}">#{bundle['We_Respect_Your_Privacy']}</a></div>
		<div class="hint" id="privacy-hint" style="display: none;">
			<p><h:outputText value="#{bundle['Privacy_Policy1']}" escape="false" /></p>
			<p><h:outputText value="#{bundle['Privacy_Policy2']}" escape="false" /></p>
			<p><a class="learnmore" onclick="$('[id=privacy-hint]').fadeOut(1500);" title="#{bundle['Click_to_close']}">#{bundle['Close_Learn_More']}</a></p>
		</div>
		<p />
		<h:form id="frm" prependId="false">
			<ui:include src="history_save.xhtml" />
			<div class="formActions">
				<h:commandButton id="persist" action="#{patientInterface.persist}" value="#{bundle['Save_And_Finish_Later']}" />
				&#xA0;<s:link view="/cancel.xhtml">#{bundle['Cancel_And_Delete']}</s:link>
			</div>
		</h:form>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<div class="ContentColumnLeft">
    	 <div class="dynamicSideBarMenuBox">
    	   	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Find_Your_Clinical_Trial']}</div>
           	<ul class="wizard">
<!--            	
           		<li class="complete">
               		<div class="EmphasizedLink">#{bundle['Accept_terms_and_conditions']}</div>
           		</li>
           		<li class="complete">
           			<div class="EmphasizedLink"><s:link view="/history_category.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}">#{bundle['Select_Your_Health_Concern']}</s:link></div>
           		</li>
-->           		
           		<li class="complete">
              		<div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}">#{bundle['Enter_Your_Health_History']}</s:link></div>
               	</li>
               	<li class="complete">
                	<div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}">#{bundle['Review_Your_Health_Summary']}</s:link></div>
              	</li>
           		<li class="current">
               		<div class="EmphasizedLink"><span>#{bundle['Save_Your_Information']}</span></div>
           		</li>
           		
           		<c:if test="#{patientInterface.patient.patientHistoryComplete}">
                	<li><div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></div></li>
                </c:if>
                <c:if test="#{!patientInterface.patient.patientHistoryComplete}">
                	<li>
               			<div class="EmphasizedLink"><span>#{bundle['View_Matched_Trials']}</span></div>
               		</li>
                </c:if> 
            </ul>
      	</div>
        <div class="dynamicSideBarMenuBox">
        	<div class="dynamicSideBarMenuBoxHeader">Other options</div>
            <ul>
            	<li>
                	<div class="EmphasizedLink"><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FAQs/BCT-FAQ.html" title="#{bundle['Making_Your_Decision']}"><span>#{bundle['Making_Your_Decision']}</span></a></div>
              	</li>
                <li>
                	<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/browse_trials.seam" title="#{bundle['Browse_Our_Trials']}"><span>#{bundle['Browse_Our_Trials']}</span></a></div>
               	</li>
                <li>
                	<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/account.seam" title="#{bundle['Home']}"><span>#{bundle['Home']}</span></a></div>
               	</li>
          	</ul>
    	</div>
	</div>
</ui:define>

</ui:composition>
