<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">#{bundle['Save_My_Health_History_Now']}</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1>#{bundle['Save_My_Health_History_Now']}</h1>
    </div>

    <div class="ContentFramedBox">
		<div><a onclick="$('[id=privacy-hint]').toggle(1500);" class="learnmore" title="C#{bundle['Click_for_privacy_information']}">#{bundle['We_Respect_Your_Privacy']}</a></div>
		<div class="hint" id="privacy-hint" style="display: none;">
			<p><h:outputText value="#{bundle['Privacy_Policy1']}" escape="false" /></p>
			<p><h:outputText value="#{bundle['Privacy_Policy2']}" escape="false" /></p>
			<p><a class="learnmore" onclick="$('[id=privacy-hint]').fadeOut(1500);" title="#{bundle['Click_to_close']}">#{bundle['Close_Learn_More']}</a></p>
		</div>
		<p />
		<h:form id="frm" prependId="false">
			<ui:include src="history_save.xhtml" />
			<div class="formActions">
				<h:commandButton id="persist" action="#{patientInterface.persist}" value="#{bundle['Continue']}" />
				&#xA0;<s:link view="/my_trialsite.xhtml">#{bundle['Do_Not_Save']}</s:link>
			</div>
		</h:form>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<ui:include src="general_sidebar_include.xhtml"></ui:include>
</ui:define>
</ui:composition>
