<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
	  	xmlns:h="http://java.sun.com/jsf/html"
	  	xmlns:f="http://java.sun.com/jsf/core"
	  	xmlns:c="http://java.sun.com/jstl/core"
	  	xmlns:s="http://jboss.com/products/seam/taglib"
        xmlns:q="http://quantumleaphealth.org/jsf"
		template="/newtemplate.xhtml">

<ui:define name="title">#{bundle['Health_History_Title']}</ui:define>

<ui:define name="javascripts">
	<script type="text/javascript">
	//<![CDATA[	
	function hideProgress()
	{
		document.getElementById('loader').style.display = 'none';

		var winW = 630, winH = 460;
		if (document.body && document.body.offsetWidth) {
		 winW = document.body.offsetWidth;
		 winH = document.body.offsetHeight;
		}
		if (document.compatMode=='CSS1Compat' &&
		    document.documentElement &&
		    document.documentElement.offsetWidth ) {
		 winW = document.documentElement.offsetWidth;
		 winH = document.documentElement.offsetHeight;
		}
		if (window.innerWidth && window.innerHeight) {
		 winW = window.innerWidth;
		 winH = window.innerHeight;
		}
		document.getElementById('framediv').style.height = (winH + 10) + 'px';
		document.getElementById('form_history_iframe').style.height = winH + 'px';
	}
	// ]]></script>
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
      <h1><em>#{bundle['FemaleMy']}</em> #{bundle['Health_History_Title']}</h1>
    </div>
    
    <h2 id="loader" style="position: absolute; top: 200px; color: black; display: none;"><blink>Health History Form loading. Please wait...</blink></h2>

	<div id="framediv" style="height:100%;">    
	<iframe id="form_history_iframe" name="form_history_iframe" width="100%" onload="hideProgress();" src="history_forms_content.seam" scrolling="auto"  height="250%" frameborder="0" marginheight="0px">
  		<p>Your browser does not support iframes.  We cannot display your health history.</p>
	</iframe>
	</div>
</ui:define>

<ui:define name="contentLeft">

	<c:choose>
	<c:when test="#{navigatorInterface.isLoggedIn()}">
		<ui:include src="/navigator/navigator_general_sidebar.xhtml"></ui:include>
	</c:when>
	<c:otherwise>

	<div class="ContentColumnLeft">
		
		
    	 <div class="dynamicSideBarMenuBox">
    	   	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Find_Your_Clinical_Trial']}</div>
    	 
    		<ui:fragment rendered="#{patientInterface.firstTime}">
            	<ul class="wizard">
<!--             	
            		<li class="complete">
                		<div class="EmphasizedLink">#{bundle['Accept_terms_and_conditions']}</div>
              		</li>
                  	<li class="complete">
                  		<div class="EmphasizedLink">
                  			<s:link view="/history_category.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}">#{bundle['Select_Your_Health_Concern']}</s:link>
                  		</div>	
                  	</li>
-->                  	
               		<li class="current">
               			<div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}"><span>#{bundle['Enter_Your_Health_History']}</span></s:link></div>
               		</li>

                   	<c:if test="#{patientInterface.patient.patientHistoryComplete}">
                   		<li class="complete">
                			<div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div>
                		</li>
                   	
                   		<li class="complete">
                        	<div class="EmphasizedLink">
                                <s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link>
                          	</div>
                       	</li>	      
                 	</c:if>
                 	
                  	<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
	               		<li>
    	            		<div class="EmphasizedLink"><span>#{bundle['Review_Your_Health_Summary']}</span></div>
        	        	</li>
                  		<li>
                        	<div class="EmphasizedLink">
                                <span>#{bundle['View_Matched_Trials']}</span>
                           	</div>
                      	</li>     	     
                  	</c:if> 
                	
            	</ul>
			</ui:fragment>
			
    		<ui:fragment rendered="#{!patientInterface.firstTime}">
            	<ul>
            		<li>
                		<div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}"><span>#{bundle['Update_Your_Health_History']}</span></s:link></div>
              		</li>
              		<li>
               			<div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}">#{bundle['Review_Your_Health_Summary']}</s:link></div>
               		</li>
                   	<ui:fragment rendered="#{patientInterface.screenedTrialCount > 0 or patientInterface.patient.patientHistoryComplete}">
                   		<li>
 		            	<div class="EmphasizedLink">
 		                	<s:link view="/my_trials.xhtml" title="#{bundle['Click_to_view_clinical_trials']}">#{bundle['View_Matched_Trials']}</s:link>
 		                </div>
 		                </li>	
                    </ui:fragment>
 
 	               	<ui:fragment rendered="#{patientInterface.screenedTrialCount le 0 or !patientInterface.patient.patientHistoryComplete}">
               			<li>
                			<div class="EmphasizedLink">
                				<span>#{bundle['View_Matched_Trials']}</span>
                			</div>
              			</li>
              		</ui:fragment>	
            	</ul>
			</ui:fragment>
      	</div>
      	
        <div class="dynamicSideBarMenuBox">
        	<div class="dynamicSideBarMenuBoxHeader">Other options</div>
            <ul>
            	<li>
                	<div class="EmphasizedLink"><a href="/BCTIncludes/FindATrial/MakingYourDecision.html"><span>Making Your Decision</span></a></div>
              	</li>
                <li>
                	<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/browse_trials.seam"><span>#{bundle['Browse_Our_Trials']}</span></a></div>
               	</li>
  				<ui:fragment rendered="#{patientInterface.loggedIn}">             	
                	<li>
                		<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/account.seam"><span>My Account</span></a></div>
               		</li>
               	</ui:fragment>
                <li>
                	<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/home.seam"><span>Home</span></a></div>
               	</li>
          	</ul>
    	</div>
	</div>
    </c:otherwise>
	</c:choose>
</ui:define>
</ui:composition>
