<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:q="http://quantumleaphealth.org/jsf"
		xmlns:s="http://jboss.com/products/seam/taglib">

	<head>
		<title>Learn About Breast Cancer Trials at BreastCancerTrials.org</title>
	</head>
	<ui:include src="http://127.0.0.1:8889/BCT/index.html.html"></ui:include>
</html>
