<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
			xmlns:ui="http://java.sun.com/jsf/facelets"
  			xmlns:h="http://java.sun.com/jsf/html"
  			xmlns:f="http://java.sun.com/jsf/core"
		  	xmlns:c="http://java.sun.com/jstl/core"
			xmlns:s="http://jboss.com/products/seam/taglib"
	        xmlns:q="http://quantumleaphealth.org/jsf"
			template="/newtemplate.xhtml">

<!--  IMPORTANT: any changes to this file may need to be changed in my_trialsite.xhtml as well.  -->

<ui:define name="title">#{invitationManager.invitation.trialSite.trial.primaryID}</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1><em>view </em>Research Sites</h1>
    </div>
    
<!-- 
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1><em>#{invitationManager.invitation.trialSite.trial.primaryID}&#xA0;#{invitationManager.invitation.trialSite.trial.name}</em></h1>
    </div>
-->    
 
   	<div class="ContentFramedBox">
 
		<div class="utilNav"><s:link view="/my_trial.xhtml" title="Click to go back to list of research sites"><f:param name="trialId" value="#{invitationManager.invitation.trialSite.trial.id}" />Return to research site list</s:link></div>
		<div class="instructions">
			<table cellpadding="5" style="width: auto" >
				<tr valign="top"><td colspan="2"><h2>#{empty invitationManager.invitation.trialSite.site.name ? 'Private practice' : invitationManager.invitation.trialSite.site.name}</h2></td></tr>
				<ui:fragment rendered="#{!empty q:getFullName(invitationManager.invitation.trialSite.contact)}"><tr valign="top"><td style="width: 20em;">#{empty invitationManager.invitation.trialSite.contact.title ? 'Contact person' : invitationManager.invitation.trialSite.contact.title}:</td><td>#{q:getFullName(invitationManager.invitation.trialSite.contact)}</td></tr></ui:fragment>
				<ui:fragment rendered="#{!empty invitationManager.invitation.trialSite.contact.phone}"><tr valign="top"><td style="width: 20em;">Phone:</td><td>#{invitationManager.invitation.trialSite.contact.phone}</td></tr></ui:fragment>
				<ui:fragment rendered="#{!empty invitationManager.invitation.trialSite.contact.email}"><tr valign="top"><td style="width: 20em;">Email:</td><td><a href="mailto:#{invitationManager.invitation.trialSite.contact.email}?subject=BreastCancerTrials.org">#{invitationManager.invitation.trialSite.contact.email}</a></td></tr></ui:fragment>
				<ui:fragment rendered="#{(empty invitationManager.invitation.trialSite.contact.phone) and (empty invitationManager.invitation.trialSite.contact.email)}"><tr valign="top"><td colspan="2" class="hinttext">Contact information is currently not available for this site. Please contact BreastCancerTrials.org for assistance.</td></tr></ui:fragment>
				<ui:fragment rendered="#{empty invitationManager.invitation.trialSite.screenerGroup}"><tr valign="top"><td colspan="2" class="hinttext">
					<p>If you speak with this site, please mention that you were referred by <strong>BreastCancerTrials.org</strong></p>
					<p><strong>Tip:</strong> Offer to email or FAX the research coordinator a copy of your Health Summary prior to your first conversation. 
						Use the&#xA0;<s:link view="/pdf_review.xhtml" title="Click to save your health summary as a PDF document">Print/Save Health Summary</s:link> feature to print your Health Summary or save it to your computer.</p>
				</td></tr></ui:fragment>
			</table>
			<h:form id="form" prependId="false" rendered="#{!empty invitationManager.invitation.trialSite.screenerGroup}"><input type="hidden" name="trialSite" value='#{q:concat(q:concat(invitationManager.invitation.trialId,"|"),invitationManager.invitation.siteId)}' /><table cellpadding="5" style="width: auto"> 
				<tr valign="top"><td colspan="2">
					<h2 style="display: inline;">Contact #{q:getFullName(invitationManager.invitation.trialSite.contact)} via SecureCONNECT</h2>&#xA0;
					<a onclick="$('[id=messageservice-hint]').toggle(1500);" class="learnmore" title="Click for more information">[Learn More]</a>
				</td></tr>
				<tr valign="top"><td colspan="2">
					<div id="messageservice-hint" class="hint" style="display: none;">
					<p>
						Sending a message through SecureCONNECT gives the research coordinator your personal contact information and permission to view your BCT Health Summary.
						This makes it easier when you first speak to a research coordinator. 
						You will not have to review your entire health history and the coordinator will already have had a preliminary opportunity to determine if you are a match for their trial.
					</p>
					<p>
						<em>How it works:</em>
						When you use SecureCONNECT, BCT sends the research coordinator an email on your behalf inviting the coordinator to view your Health Summary. 
						Once notified, the coordinator can logon to BCT and review your Health Summary, which remains on our secure computers. 
						Only research sites that belong to the BCT Research Network can use SecureCONNECT. 
						As a condition of membership, they have agreed to respect the privacy of your personal health information.
					</p>
					<p>
						You should expect a research coordinator to contact you by phone or email within 3 business days. 
						<em>If you have not heard from a coordinator after 3 days, contact us for help.</em>
					</p>
					<p>
						You can withdraw permission for a research site to view your Health Summary at any time. 
						Simply go to&#xA0;<s:link view="/account.xhtml" title="Click to edit your information, set email preferences and withdraw your information">My Account</s:link> and select SecureCONNECT to view your messages.
						<br /><a class="learnmore" onclick="$('[id=messageservice-hint]').fadeOut(1500);">close</a>
					</p></div>
				</td></tr>
				<ui:fragment rendered="#{!patientInterface.loggedIn}"><tr valign="top"><td colspan="2" class="errortext">
					You must save your information and provide an email address to use the contact form.&#xA0;
					<s:link view="/history_save_trialsite.xhtml" title="Click to save your history">Click here to save your information and register.</s:link></td></tr></ui:fragment>
				<tr valign="top"><td>Trial:</td><td>#{invitationManager.invitation.trialSite.trial.primaryID}&#xA0;#{invitationManager.invitation.trialSite.trial.name}</td></tr>
				<tr valign="top"><td>Your name:</td><td><h:inputText id="patientName" value="#{invitationManager.patientName}" 
					disabled="#{!patientInterface.loggedIn}" style="width: 40em;" maxlength="50"
					required="true" requiredMessage="Please enter your name"
					validatorMessage="Your name must be at least 3 and at most 50 characters long">
					<f:validateLength minimum="3" maximum="50" />
					</h:inputText>&#xA0;&#xA0;<div class="hinttext">between 3 and 50 characters</div>
					<h:message for="patientName" errorClass="errortext item" /></td></tr>
				<tr valign="top"><td>How to contact:</td><td><h:inputText id="patientContact" value="#{invitationManager.patientContact}" 
					disabled="#{!patientInterface.loggedIn}" style="width: 40em;" maxlength="127"
					required="true" requiredMessage="Please enter your contact information, such as your email address or telephone number"
					validatorMessage="Your contact information must be at least 6 and at most 127 characters long">
					<f:validateLength minimum="6" maximum="127" />
					</h:inputText>&#xA0;&#xA0;<div class="hinttext">email and/or phone number</div>
					<h:message for="patientContact" errorClass="errortext item" /></td></tr>
				<tr valign="top"><td>Message:</td><td><h:inputTextarea id="message" value="#{invitationManager.message}" 
					disabled="#{!patientInterface.loggedIn}" style="width: 40em;" cols="30" rows="5"
					required="true" requiredMessage="Please enter a message for the research site"
					validatorMessage="Your message must be at most 255 characters long">
					<f:validateLength maximum="255" />
					</h:inputTextarea>
					<!-- BCT-446 hardcode text for USC/Norris Cancer Center -->
					<c:choose><c:when test="#{invitationManager.invitation.trialSite.site.id eq 30646}">
						<br/>
						<font color="#ff352f">You must indicate your county of residence and your insurance company name. If you do not have health insurance, enter "none".</font>
					</c:when><c:otherwise>
						<div class="hinttext">
							<strong>Tip:</strong> use this box to inquire about your insurance or suggest times that you would be available to talk; at most 255 characters
						</div>
					</c:otherwise></c:choose>
					<h:message for="message" errorClass="errortext item" /></td></tr>
				<tr valign="top"><td colspan="2">
					By clicking <strong>Send</strong>, you are permitting this site to view your BreastCancerTrials.org Health Summary.
				</td></tr>
				<tr valign="top"><td colspan="2"><div><h:commandButton id="invite" action="#{invitationManager.invite}" value="Send" disabled="#{!patientInterface.loggedIn}" />
					&#xA0;&#xA0;<s:link id="cancel" view="/my_trial.xhtml"><f:param name="trialId" value="#{invitationManager.invitation.trialSite.trial.id}" />Cancel</s:link></div></td></tr>
				<tr valign="top"><td colspan="2">
					<a href="/BCTIncludes/PrivacyPolicy.htm" title="Click to view our privacy policy">Our privacy policy</a>
				</td></tr>
			</table></h:form>
		</div>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<div class="dynamicSideBarMenuBox">
    	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Find_Your_Clinical_Trial']}</div>
   		<s:div rendered="#{patientInterface.firstTime}">
       		<ul>
<!--        		
          		<li class="complete"><div class="EmphasizedLink"><span>#{bundle['Accept_terms_and_conditions']}</span></div></li>          		
	    	  	<li class="complete"><div class="EmphasizedLink"><s:link view="/history_category.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}"><span>#{bundle['Select_Your_Health_Concern']}</span></s:link></div></li>
-->	    	  	
			  	<li class="complete"><div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}"><span>#{bundle['Enter_Your_Health_History']}</span></s:link></div></li>
				<li class="complete"><div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div></li>
				<c:if test="#{patientInterface.patient.patientHistoryComplete}">
					<li class="complete">
						<div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></div>
					</li>
				</c:if>
				<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
					<li class="complete">
						<div class="EmphasizedLink">#{bundle['View_Matched_Trials']}</div>
					</li>
				</c:if>	
	        </ul>
        </s:div>

		<s:div rendered="#{!patientInterface.firstTime}">
			<ul>
 				<li><div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}"><span>#{bundle['Update_Your_Health_History']}</span></s:link></div></li>
				<li><div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div></li>
				<c:if test="#{patientInterface.patient.patientHistoryComplete}">
					<li>
						<div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></div>
					</li>
				</c:if>
				<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
					<li class="complete">
						<div class="EmphasizedLink">#{bundle['View_Matched_Trials']}</div>
					</li>
				</c:if>	
			</ul>		
		</s:div>
	</div>        
	
	<div class="dynamicSideBarMenuBox">
		<div class="dynamicSideBarMenuBoxHeader">#{bundle['Other_Options']}</div>
		<ul>
		<li><div class="EmphasizedLink"><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FindATrial/QuestionsForResearchers.html" target="_blank"><span>#{bundle['Prepare_to_talk_with_research_site']}</span></a></div></li>
		<li><div class="EmphasizedLink"><s:link view="/browse_trials.xhtml"><span>#{bundle['Browse_Our_Trials']}</span></s:link></div></li>
			
		<ui:fragment rendered="#{patientInterface.loggedIn}">
			<li><div class="EmphasizedLink"><s:link view="/account.xhtml" title="#{bundle['Click_to_edit_your_information']}"><span>#{bundle['My_Account']}</span></s:link></div></li>
		</ui:fragment>	
	
		<!-- BCT-285 Display warning for unsaved patient data -->
		<ui:fragment rendered="#{!patientInterface.loggedIn}">
			<script type="text/javascript">
				var needToConfirm = true;
			</script>
			<li>
				<span class="errortext" style="display:inline;">Your data: <strong>Unsaved</strong></span>&#xa0;&#xa0;
				<div class="EmphasizedLink" style="display:inline;">						
					<s:link view="/history_save_trials.xhtml" onclick="needToConfirm=false;" style="text-decoration: underline;" title="Click here to save your information"><strong>Save</strong></s:link>
				</div>	
				<br />
			</li>
			<li>
				<div class="EmphasizedLink">						
					<s:link view="/cancel.xhtml" onclick="needToConfirm=false;" title="Click here to cancel your session and delete all of your information">Cancel and Delete</s:link>
				</div>
			</li>
		</ui:fragment>
			
		<li><div class="EmphasizedLink"><s:link view="/home.xhtml"><span>#{bundle['Home_Page']}</span></s:link></div></li>
		</ul>
		
	</div>

</ui:define>
</ui:composition>
