<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:c="http://java.sun.com/jstl/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
		        xmlns:q="http://quantumleaphealth.org/jsf"
				template="/newtemplate.xhtml">

<!-- Page-specific styling -->
<ui:define name="styles">
	<link rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/legacyTable.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/css/contact.css" media="screen" />
</ui:define>

<!-- Load map; note that FireFox needs contentType text/html for Google to work -->
<ui:define name="javascripts">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_map.js"></script>
	<c:if test="#{patientInterface.sortedTrialSites.isAvailable()}"><c:choose>
		<c:when test="#{request.serverName=='test.breastcancertrials.org'}"><script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAMbuCfoSI1o99tLo-N37-LhTz5PGtK5WF7sz05-kkFciYck-95RRUM6TjmmmdRRQfMdDtTvh5-WwaQw"></script></c:when>
		<c:when test="#{request.serverName=='deploy.breastcancertrials.org'}"><script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAMbuCfoSI1o99tLo-N37-LhTJSbqSOQOQbtgZTexqDiFGTuDiIRTuT4FHfxiYNz4hTB36KH6OyTlKFQ"></script></c:when>
		<c:otherwise><script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAdtwNPyuDp52z1YeQRUKrthTzcIdDet_MhR5yNJKYkBLRIXGpDBQvOpEioACMdeKBiGD7R3-rCHRAgg"></script></c:otherwise>
	</c:choose></c:if>
	<f:view contentType="text/html"/>
</ui:define>

<ui:define name="title">#{patientInterface.sortedTrialSites[0].trialSite.trial.primaryID}</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1><em>view </em>Research Sites</h1>
    </div>
    
    <div class="ContentFramedBox">
		<h2>Research Sites: <strong>#{patientInterface.sortedTrialSites[0].trialSite.trial.name}</strong></h2>
		<div class="utilNav" style="margin-bottom: 2em;"><s:link view="/my_trials.xhtml" title="Click to go back to list of trials">Return to My Trials</s:link></div>
		<c:if test="#{patientInterface.sortedTrialSites.isAvailable()}">
			<div id="show_map"><c:if test="#{!empty patientInterface.trials.geocoding}">
				<a onclick="$('[id=map_div]').slideDown(1500);$('[id=show_map]').slideUp(1500);animap('#{patientInterface.sortedTrialSites[0].trialSite.trial.id}',#{patientInterface.sortedTrialSites[0].trialSite.site.geocoding.latitude},#{patientInterface.sortedTrialSites[0].trialSite.site.geocoding.longitude},'#{patientInterface.postalCode}',#{patientInterface.trials.geocoding.latitude},#{patientInterface.trials.geocoding.longitude});"><span class="jslink">View sites on map</span>&#xA0;&#xA0;<h:graphicImage url="/images/btn_google_map.png" alt="Click to see Google map of sites" title="Click to see Google map of sites" /></a>
			</c:if><c:if test="#{empty patientInterface.trials.geocoding}">
				<a onclick="$('[id=map_div]').slideDown(1500);$('[id=show_map]').slideUp(1500);animap('#{patientInterface.sortedTrialSites[0].trialSite.trial.id}',#{patientInterface.sortedTrialSites[0].trialSite.site.geocoding.latitude},#{patientInterface.sortedTrialSites[0].trialSite.site.geocoding.longitude},null,null,null);"><span class="jslink">View sites on map</span>&#xA0;&#xA0;<h:graphicImage url="/images/btn_google_map.png" alt="Click to see Google map of sites" title="Click to see Google map of sites" /></a>
			</c:if>
			</div>
			<div id="map_div" style="display:none;">
				<div id="map" style="width: 520px; height: 420px; display:block;"><img src="http://maps.google.com/staticmap?center=#{patientInterface.sortedTrialSites[0].trialSite.site.geocoding.latitude},#{patientInterface.sortedTrialSites[0].trialSite.site.geocoding.longitude}&amp;zoom=9&amp;size=520x420&amp;key=ABQIAAAAdtwNPyuDp52z1YeQRUKrthTzcIdDet_MhR5yNJKYkBLRIXGpDBQvOpEioACMdeKBiGD7R3-rCHRAgg" alt="Google map is loading" /></div>
				<div><a class="jslink" onclick="$('[id=map_div]').slideUp(1500);$('[id=show_map]').slideDown(1500);">Close map</a></div>
			</div>
		</c:if>
		<c:forEach items="#{patientInterface.sortedTrialSites}" var="prox">
			<div class="site" id="s#{prox.trialSite.site.id}" style="font-size: 90%">
				<table><tr valign="top"><td>
					<!-- BCT-365 Add EL expression to distinguish a SecureConnect site and view a different page -->
					<s:link styleClass="sitename" action="#{invitationManager.setTrialSite(null)}" view="#{empty prox.trialSite.screenerGroup ? '/my_trialsite.xhtml' : '/my_trialsite_sc.xhtml'}" title="Click to view contact information for this research site"><f:param name="trialSite" value='#{q:concat(q:concat(prox.trialSite.trial.id,"|"),prox.trialSite.site.id)}' />#{empty prox.trialSite.site.name ? 'Private practice' : prox.trialSite.site.name}</s:link>,
					#{prox.trialSite.site.city}, #{prox.trialSite.site.politicalSubUnitName}&#xA0;<h:outputText value="#{prox.trialSite.site.postalCode}"><f:convertNumber pattern="00000" /></h:outputText>
					<h:outputText styleClass="limitation" rendered="#{!empty prox.trialSite.screenerGroup.enrollmentLimitation}" value="#{prox.trialSite.screenerGroup.enrollmentLimitation}" />
				</td><td align="right">
					<s:div rendered="#{prox.known}">&#xA0;(<h:outputText value="#{prox.distance}"><f:convertNumber maxFractionDigits="0" /></h:outputText> miles away)</s:div>
				</td></tr>
				<c:if test="#{!empty prox.trialSite.screenerGroup}"><tr valign="top"><td colspan="2"><s:link styleClass="sitename" action="#{invitationManager.setTrialSite(null)}" view="/my_trialsite.xhtml" title="Click to view contact information for this research site"><f:param name="trialSite" value='#{q:concat(q:concat(prox.trialSite.trial.id,"|"),prox.trialSite.site.id)}' />
					<h:graphicImage url="/images/icn_messagesvc.gif" alt="Click to view contact information for this research site" title="Click to view contact information for this research site" /></s:link>
					<span class="sitems">SecureCONNECT is available for contacting this research site</span>
				</td></tr></c:if>
				<c:if test="#{!empty prox.trialSite.principalInvestigator}"><tr valign="top"><td colspan="2"><div><strong class="principaltext">Principal investigator:</strong> #{q:getFullName(prox.trialSite.principalInvestigator)}</div></td></tr></c:if>
				</table>
			</div>
		</c:forEach>
	</div>
</ui:define>

<ui:define name="contentLeft">
	
	<div class="ContentColumnLeft">
		
    	 <div class="dynamicSideBarMenuBox">
    	   	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Find_Your_Clinical_Trial']}</div>
    	 
    		<ui:fragment rendered="#{patientInterface.firstTime}">
            	<ul class="wizard">
<!--             	
            		<li class="complete"><div class="EmphasizedLink"><span>#{bundle['Accept_terms_and_conditions']}</span></div></li>
              		<li class="complete"><div class="EmphasizedLink"><s:link view="/history_category.xhtml" title="#{bundle['Click_to_begin_finding_your_clinical_trials']}" onclick="needToConfirm=false;">#{bundle['Select_Your_Health_Concern']}</s:link></div></li>
-->              		
              		<li class="complete"><div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}" onclick="needToConfirm=false;">#{bundle['Enter_Your_Health_History']}</s:link></div></li>
               		<li class="complete"><div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div></li>
               		
					<c:if test="#{patientInterface.patient.patientHistoryComplete}">
						<li class="complete">
							<div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></div>
						</li>
					</c:if>
					<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
						<li class="complete">
							<div class="EmphasizedLink">#{bundle['View_Matched_Trials']}</div>
						</li>
					</c:if>	
            	</ul>
			</ui:fragment>

    		<ui:fragment rendered="#{!patientInterface.firstTime}">
            	<ul>
            		<li><div class="EmphasizedLink"><s:link view="/history_forms.xhtml" title="#{bundle['Click_to_update_your_health_history']}" >#{bundle['Update_Your_Health_History']}</s:link></div></li>
              		<li><div class="EmphasizedLink"><s:link view="/history_review.xhtml" title="#{bundle['Click_to_review_your_health_summary']}"><span>#{bundle['Review_Your_Health_Summary']}</span></s:link></div></li>
					<c:if test="#{patientInterface.patient.patientHistoryComplete}">
						<li>
							<div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></div>
						</li>
					</c:if>
					<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
						<li class="complete">
							<div class="EmphasizedLink">#{bundle['View_Matched_Trials']}</div>
						</li>
					</c:if>	
				</ul>
			</ui:fragment>	
      	</div>

        <div class="dynamicSideBarMenuBox">
        	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Other_Options']}</div>
            <ul>
            	<li><div class="EmphasizedLink"><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FAQs/BCT-FAQ.html"><span>Making Your Decision</span></a></div></li>
                <li><div class="EmphasizedLink"><s:link view="/browse_trials.seam" title="#{bundle['Click_to_see_all_trials_available_on_BreastCancerTrials.org']}"><span>#{bundle['Browse_Our_Trials']}</span></s:link></div></li>
               	
               	<ui:fragment rendered="#{patientInterface.loggedIn}">
                	<li><div class="EmphasizedLink"><s:link view="/account.seam" title="Click to edit your information, set email preferences and withdraw your information"><span>My Account</span></s:link></div></li>
               	</ui:fragment>

				<!-- BCT-285 Display warning for unsaved patient data -->
				<ui:fragment rendered="#{!patientInterface.loggedIn}">
					<li>
						<span class="errortext" style="display:inline;">Your data: <strong>Unsaved</strong></span>&#xa0;&#xa0;
						<div class="EmphasizedLink" style="display:inline;"><s:link view="/history_save_trials.xhtml" onclick="needToConfirm=false;" style="text-decoration: underline;" title="Click here to save your information"><strong>Save</strong></s:link></div>	
						<br />
					</li>
					<li>
						<div class="EmphasizedLink">						
							<s:link view="/cancel.xhtml" onclick="needToConfirm=false;" title="Click here to cancel your session and delete all of your information">Cancel and Delete</s:link>
						</div>
					</li>
				</ui:fragment>
               	
                <li><div class="EmphasizedLink"><s:link view="/home.xhtml" title="Click to see the home page"><span>#{bundle['Home']}</span></s:link></div></li>
          	</ul>
    	</div>
	</div>
	
</ui:define>
</ui:composition>
