<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Forgot Password</ui:define>

<ui:define name="contentLeft">
	<div class="SeparatorBlank">&nbsp;</div>
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate1">
		<h1>Forgot Password</h1>
    </div>

	<div class="ContentFramedBox">
	<p class="instructions">
		Please answer the secret question that you gave us when you first registered.
	</p>
	<h:form id="forgot" prependId="false">
		<p>
			<h:outputLabel for="username" styleClass="savelabel">E-mail:</h:outputLabel>
			<em><h:outputText id="username" value="#{patientInterface.patient.principal}" /></em>
		</p>
		<p>
			<h:outputLabel for="secretQuestion" styleClass="savelabel">Secret question:</h:outputLabel>
			<em><h:outputText id="secretQuestion" value="#{patientInterface.patient.secretQuestion}" /></em>
		</p>
		<p>
			<h:outputLabel for="secretAnswer" styleClass="savelabel">Secret answer:</h:outputLabel>
			<h:inputSecret id="secretAnswer" value="#{patientInterface.patient.secretAnswer}" size="10" maxlength="20"
				required="true" requiredMessage="Please enter the answer to your secret question"
				validatorMessage="Your secret answer must be at least 3 and at most 20 characters long">
				<f:validateLength minimum="3" maximum="20" />
			</h:inputSecret>
			<h:message for="secretAnswer" errorClass="errortext" />
			<br />Forgot your secret answer: Call (415) 476-5777 for assistance
		</p>
		<div class="formActions">
			<h:commandButton action="#{patientInterface.login}" value="Reset password" />
			&#xA0;
			<s:button action="#{patientInterface.logout}" title="Click to go to Home Page" value="Do not reset password" />
			<h:messages globalOnly="true" errorClass="errortext" />
		</div>
	</h:form>
	</div>
</ui:define>
</ui:composition>
