<p:document xmlns:p="http://jboss.com/products/seam/pdf"
            xmlns:s="http://jboss.com/products/seam/taglib"
    		xmlns:ui="http://java.sun.com/jsf/facelets"
  			xmlns:f="http://java.sun.com/jsf/core"
			xmlns:q="http://quantumleaphealth.org/jsf"
	        pageSize="LETTER" title="Breast Cancer Health Summary" disposition="attachment"
	        creator="BreastCancerTrials.org" author="BreastCancerTrials.org">
    <f:facet name="header">
        <p:font size="10" style="italic">
            <p:footer borderWidthTop="1" borderColorTop="blue" borderWidthBottom="0" alignment="center">
            	BreastCancerTrials.org - Health history dated
            	<p:text value=" " />
            	<p:text value="#{patientInterface.patient.patientHistoryLastModified}">
            		<s:convertDateTime type="both" dateStyle="full" timeStyle="full" />
            	</p:text>
            	<p:text value=" - Page " />
            	<p:pageNumber />
            </p:footer>
        </p:font>
    </f:facet>

	<ui:include src="pdf_summary.xhtml"><ui:param name="title" value="My Health Summary" /><ui:param name="history" value="#{patientInterface.history}" /><ui:param name="patientHistoryLastModified" value="#{patientInterface.patient.patientHistoryLastModified}" /></ui:include>

	<ui:fragment rendered="#{(patientInterface.history.valueCharacteristics[7].value+patientInterface.history.attributeCharacteristics[11].value+patientInterface.patient.referral > 0) || patientInterface.history.binaryCharacteristics[7].booleanValue}">
		<p:table columns="2" widths="1 2" widthPercentage="100" spacingBefore="10" headerRows="1"><f:facet name="defaultCell"><p:cell border="0" /></f:facet>
			<p:cell colspan="2" border="2"><p:font size="16">Additional Information</p:font></p:cell>
			<ui:fragment rendered="#{patientInterface.history.valueCharacteristics[7].value != 0}"><p:cell><p:font style="bold,italic">Highest level of schooling:</p:font></p:cell><p:cell>#{q:formatBooleanSet(patientInterface.history.valueCharacteristics[7].value,bundle,'education',null,null,null)}</p:cell></ui:fragment>
			<ui:fragment rendered="#{patientInterface.history.attributeCharacteristics[12].value != 0}"><p:cell><p:font style="bold,italic">Racial background:</p:font></p:cell><p:cell>#{q:formatBooleanSet(patientInterface.history.attributeCharacteristics[12].value,bundle,'race',', ',' and ',null)}</p:cell></ui:fragment>
			<ui:fragment rendered="#{patientInterface.history.binaryCharacteristics[7].booleanValue}"><p:cell><p:font style="bold,italic">Latino/Hispanic background:</p:font></p:cell><p:cell>#{q:formatBooleanSet(patientInterface.history.binaryCharacteristics[7].byteValue,bundle,'diagnosis',null,null,null)}</p:cell></ui:fragment>
			<ui:fragment rendered="#{patientInterface.patient.referral != 0}">
				<p:cell><p:font style="bold,italic">How did you hear about Breast Cancer Trials?</p:font></p:cell><p:cell>#{q:formatBooleanSet(patientInterface.patient.referral,bundle,'referral',', ',' and ',null)}</p:cell>
				<ui:fragment rendered="#{not empty patientInterface.patient.referralLink}"><p:cell paddingLeft="20"><p:font style="bold,italic">Link:</p:font></p:cell><p:cell>#{patientInterface.patient.referralLink}</p:cell></ui:fragment>
				<ui:fragment rendered="#{not empty patientInterface.patient.referralOrganization}"><p:cell paddingLeft="20"><p:font style="bold,italic">Organization:</p:font></p:cell><p:cell>#{patientInterface.patient.referralOrganization}</p:cell></ui:fragment>
				<ui:fragment rendered="#{not empty patientInterface.patient.referralOther}"><p:cell paddingLeft="20"><p:font style="bold,italic">Other:</p:font></p:cell><p:cell>#{patientInterface.patient.referralOther}</p:cell></ui:fragment>
			</ui:fragment>
		</p:table>
	</ui:fragment>
</p:document>