<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
			xmlns:ui="http://java.sun.com/jsf/facelets"
  			xmlns:h="http://java.sun.com/jsf/html"
  			xmlns:f="http://java.sun.com/jsf/core"
		  	xmlns:c="http://java.sun.com/jstl/core"
			xmlns:s="http://jboss.com/products/seam/taglib"
	        xmlns:q="http://quantumleaphealth.org/jsf"
			template="/newtemplate.xhtml">

<!--  IMPORTANT: any changes to this file may need to be changed in my_trialsite_sc.xhtml as well.  -->

<ui:define name="title">View Contact Inforamtion</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1><em>view </em>Contact Information</h1>
    </div>
    
    <div class="ContentFramedBox">
		<div class="utilNav"><s:link view="/browse_trials.xhtml" title="Click to go back to the Browse Trial Page">Return to Trials</s:link></div><br/>
		<h2>Contact Information for #{param['trialName']}</h2>
		
		<ui:fragment rendered="#{!empty siteBrowser.getTrialSites()}">
			<p><i>The sites for this trial are listed below. <br/>
			If you speak with a site, please mention that you were referred by <strong>BreastCancerTrials.org</strong></i></p>
		
			<ui:repeat value="#{siteBrowser.getTrialSites()}" var="trialSite">
				<div class="site" id="s#{trialSite.site.id}" style="font-size: 90%">
					<h3>#{empty trialSite.site.name ? 'Private practice' : trialSite.site.name}, 
							#{trialSite.site.city}, 
							#{trialSite.site.politicalSubUnitName},
							&#xA0;<h:outputText value="#{trialSite.site.postalCode}"><f:convertNumber pattern="00000" />
							</h:outputText>
					</h3>
					<div class="instructions">
						<table cellpadding="3" style="width: auto" >
							<ui:fragment rendered="#{!empty trialSite.principalInvestigator and q:getFullName(trialSite.contact) ne q:getFullName(trialSite.principalInvestigator)}">
								<tr valign="top">
									<td style="width: 20em;"><strong>Principal Investigator:</strong></td>
									<td>#{q:getFullName(trialSite.principalInvestigator)}</td>
								</tr>
							</ui:fragment>
							
							<ui:fragment rendered="#{!empty q:getFullName(trialSite.contact) }">
								<tr valign="top">
									<td style="width: 20em;">#{empty trialSite.contact.title ? 'Contact person' : trialSite.contact.title}:</td>
									<td>#{q:getFullName(trialSite.contact)}</td>
								</tr>
							</ui:fragment>
							
							<ui:fragment rendered="#{!empty trialSite.contact.phone}">
								<tr valign="top">
									<td style="width: 20em;">Phone:</td><td>#{trialSite.contact.phone}</td>
								</tr>
							</ui:fragment>
							
							<ui:fragment rendered="#{!empty trialSite.contact.email}">
								<tr valign="top">
									<td style="width: 20em;">Email:</td>
									<td>#{trialSite.contact.email}</td>
								</tr>
							</ui:fragment>
							
							<ui:fragment rendered="#{(empty trialSite.contact.phone) and (empty trialSite.contact.email)}">
								<tr valign="top">
									<td colspan="2" class="hinttext">Contact information is currently not available for this site. Please contact BreastCancerTrials.org for assistance.</td>
								</tr>
							</ui:fragment>
						</table>
					</div>
					
				</div>
			</ui:repeat>
		</ui:fragment>
		
	</div>
</ui:define>

<ui:define name="contentLeft">
	<div class="dynamicSideBarMenuBox">
		<div class="dynamicSideBarMenuBoxHeader">#{bundle['Other_Options']}</div>
		<ul>
		<li><div class="EmphasizedLink"><s:link view="/browse_trials.xhtml" title="Click to see all trials available on BreastCancerTrials.org"><span>#{bundle['Browse_Our_Trials']}</span></s:link></div></li>
		<li><div class="EmphasizedLink"><s:link view="/home.xhtml"><span>#{bundle['Home']}</span></s:link></div></li>
		</ul>
	</div>
</ui:define>
</ui:composition>
