<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">New Password Sent</ui:define>

<ui:define name="styles">
		<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/legacyStyles.css" />
</ui:define>

<ui:define name="contentLeft">
	<div class="SeparatorBlank">&nbsp;</div>
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
      <h1><em>New Password Sent</em></h1>
    </div>
  
    <div class="ContentFramedBox">
	<p class="instructions">
		A new password has been sent to your email address.
		Please log in with this new password and then change it to one more meaningful to you.
		<em>To ensure that our messages arrive in your email InBox, please adjust your email account's spam filter to accept messages sent by <strong>bctrials.org</strong>.</em>
		<br />
		If you do not receive a message shortly please call us at <strong>(415) 476-5777</strong>.
	</p>
	<p><s:link view="/home.xhtml">Home Page</s:link></p>
	</div>
</ui:define>

</ui:composition>
