<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template.xhtml">

<!-- Styles: application and styles-app -->
<ui:define name="styles">
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/application.css" media="screen" />
<ui:insert name="styles-app" />
</ui:define>

<!-- ScriptAculoUs library (http://script.aculo.us/) -->
<ui:define name="javascripts">
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/prototype.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/effects.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/scriptaculous/phase.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_app.js"></script>
<ui:insert name="javascripts-app" />
</ui:define>

<!-- Content: contentMain with text size to the right of contentSide -->
<ui:define name="content">
	<div class="contentMain" id="contentMain">
		<div class="textSize">text size:<ul>
			<li class="smaller"><a href="#" title="Make text size smaller" onclick="sizeTextSmaller('contentMain');">A</a></li>
			<li class="larger"><a href="#" title="Make text size larger" onclick="sizeTextLarger('contentMain');">A</a></li></ul>
			<!-- BCT-427 Spanish / English switch placeholder.  To be implemented in v1.?.  -->
			<ui:fragment rendered="#{patientInterface.loggedIn}">&#xa0;|&#xa0;<s:link view="/logged_out.xhtml">logout</s:link></ui:fragment>
   		</div>
		<ui:insert name="contentMain" />
	</div>
	<div class="contentSide"><ui:insert name="contentSide" /></div>
	<div class="stretcher"></div>
</ui:define>
</ui:composition>
