<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/template.xhtml">

<!-- Content: contentmain to the right of contentside with custom width and floating print button -->
<ui:define name="content">
	<div class="contentMain" style="width: 640px;" id="contentMain">
		<div style="float: right; margin-top: 26px;"><a style="text-decoration: underline; cursor: pointer;" onclick="prt();"><h:graphicImage url="/images/print_article.gif" alt="Click to print page" title="Click to print page" />&#xA0;Printer Friendly</a></div>
		<ui:insert name="contentMain" />
	</div>
	<div class="contentSide" style="width: 180px;">
		<div class="highlight">
			<ul>
				<li><s:link view="/tutorial/index.xhtml">Take a Tour</s:link></li>
				<li><s:link view="/login.xhtml">Return Users</s:link></li>
				<li><s:link view="/rs/index.xhtml">Research Sites/Trial Sponsors</s:link></li>
				<li><s:link view="/start/find.xhtml">Match to Trials</s:link></li>
			</ul>
		</div>
	</div>
	<div class="stretcher"></div>
</ui:define>
</ui:composition>
