<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:s="http://jboss.com/products/seam/taglib">
<head>
	<title><ui:insert name="title" /> - BreastCancerTrials.org</title>	
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/reset-fonts-grids/reset-fonts-grids.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/base/base-min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/menu/assets/skins/sam/menu.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/screen.css" />

	<ui:insert name="styles" />

	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/element/element-beta-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/container/container-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/menu/menu-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_main.js"></script>
	<ui:insert name="javascripts" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="robots" content="all, index, follow" />
	<meta name="*" content="cache" />
	<meta name="revisit-after" content="14 days" />
	<meta name="resource-type" content="document" />
	<meta name="rating" content="general" />
	<meta name="google-site-verification" content="E9Wyjwp8ipM5nd2qKv5ru9mRuKixe0Hpykk4n3kuUC8" />
	<meta name="msvalidate.01" content="83E0B6FA18A9D68C99FBC823241CF127" />
</head>

<body style="background: none; scrollbar-face-color: red; scrollbar-base-color:red;">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQ5KLJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&#38;l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQ5KLJ');</script>
<!-- End Google Tag Manager -->
<div class="container" style="background: none">
	<div><ui:insert name="content" /></div>
</div>

</body>

</html>
