<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
	  	xmlns:c="http://java.sun.com/jstl/core"
		xmlns:s="http://jboss.com/products/seam/taglib"
		template="/newtemplate.xhtml">

<ui:define name="title">Before You Start</ui:define>

<ui:define name="contentMain">

	<div class="ContentPageHeader ContentPageHeader-Alternate3">
		<h1><em>some</em> Helpful Hints</h1>
    </div>
    
    <div class="ContentFramedBox" style="font-size:90%">
		<ol class="actions">
			<li><b>Gather your medical information: </b>
				Having your&#xA0; 
	            <a href="/BCTIncludes/FindATrial/PathologyReports.html" title="Information about how to read a pathology report">pathology report</a> 
	            and treatment history nearby will make it easier to complete your BCT&#xA0; 
				<a href="/BCTIncludes/FindATrial/WhatYoullNeed.html#SampleForm" title="Help find the information you need to match to trials on our website">Health History</a> 		
				<a onclick="$('[id=details_hint]').slideToggle(1500);" class="learnmore" title="Click to learn more">[Learn more]</a>
				<div class="hint" id="details_hint" style="display: none;">
					<p>
						For accurate matching, we ask for diagnostic information such as tumor stage, size, and hormone/HER2 
	                    receptor status. We also ask for details about your treatment history. Completing our questionnaire 
	                    could take 15 minutes or longer depending upon your situation.
					</p>
					<p><a onclick="$('[id=details_hint]').fadeOut(1500);" class="learnmore" title="Close">close</a></p>
				</div>
			</li>
			<li><b>Take your time: </b>
				You can save your information at any point and return to finish later.
			</li>
			<li><b>Review your privacy options: </b>
	            You can save your personal health information to our secure servers or use our matching tool as a one-time guest.
				<a onclick="$('[id=member_hint]').slideToggle(1500);" class="learnmore" title="Click to learn more">[Learn more]</a>
				<div class="hint" id="member_hint" style="display: none;">
					<p>
						Users who save their personal health history have access to additional features: they can update their record at any time, 
	                    receive Trial Alerts, or contact participating research sites via SecureCONNECT.<br />                    
	                    Guests can match to trials without saving any personal health information, but they will have to recreate their 
	                    health history if they want to use the matching tool at another time.
					</p>
					<p><a onclick="$('[id=member_hint]').fadeOut(1500);" class="learnmore" title="Close">close</a></p>
				</div>
			</li>
		</ol>
	
		<h:form id="terms" prependId="false">
			<div class="formActions">
				<div class="item">
					<label for="termsAccepted">
						<h:selectBooleanCheckbox id="termsAccepted" value="#{patientInterface.patient.termsAccepted}" validator="#{patientInterface.validateTermsAccepted}" />
						&nbsp;I have read and agree to the&#xA0;<a href="/BCTIncludes/TermsAndConditions.html">Terms &amp; Conditions</a>.
					</label>
				</div>
				<div class="item">
					<label for="countryCode">Residence:<h:selectOneListbox id="countryCode" value="#{patientInterface.patient.countryCode}" size="1" validator="#{patientInterface.validateCountryCode}"
						onchange="if (this.value == 'US') $('[id=postalCode_div]').fadeIn(1500); else {cl(document.getElementById('postalCode_div')); $('[id=postalCode_div]').fadeOut(1500);}">
						<f:selectItem itemValue="US" itemLabel="United States" />
						<f:selectItem itemValue="CA" itemLabel="Canada" />
						<f:selectItem itemValue="MX" itemLabel="Mexico" />
						<f:selectItem itemValue="NA" itemLabel="North America" />
						<f:selectItem itemValue="SA" itemLabel="South America" />
						<f:selectItem itemValue="EU" itemLabel="Europe" />
						<f:selectItem itemValue="AF" itemLabel="Africa" />
						<f:selectItem itemValue="AS" itemLabel="Asia" />
						<f:selectItem itemValue="OC" itemLabel="Oceania" />
					</h:selectOneListbox> <i> Used only for demographic reports</i></label>
				</div>
				<div class="description">
				    Note: We only list research sites in the United States.<br />
					To search for trials outside the United States,&#xA0;<a href="/BCTIncludes/Resources/OtherResources.html#International" fragment="international">click here</a>		
				</div>
				<div class="item" id="postalCode_div" style="#{(empty patientInterface.patient.countryCode) or (patientInterface.patient.countryCode eq 'US') ? 'display:block' : 'display:none'}">
					<label for="privatePostalCode">First 3 digits of Zip Code:<h:inputText id="privatePostalCode" value="#{patientInterface.patient.privatePostalCode}"
						size="3" maxlength="3" style="width:3em;"
						converterMessage="Please enter the first three digits of your zip code, such as 941"
						validatorMessage="Zip code must be between 006 and 999">
						<f:convertNumber pattern="000" />
						<f:validateLongRange minimum="006" maximum="999" />
					</h:inputText></label>
				</div>
				<p>
					<h:commandButton action="/history_forms.xhtml" value="Start" />
					<s:button action="/home.xhtml" value="Cancel" /><br />
					<h:messages styleClass="errortext" showDetail="true" showSummary="false" />
				</p>
			</div>
		</h:form>
	</div>
</ui:define>

<ui:define name="contentLeft">
	<div class="ContentColumnLeft">
    	 <div class="dynamicSideBarMenuBox">
         	<div class="dynamicSideBarMenuBoxHeader">#{bundle['Find_Your_Clinical_Trial']}</div>
            <ul class="wizard">
<!--             
            	<li class="current">
                	<div class="EmphasizedLink"><span>#{bundle['Accept_terms_and_conditions']}</span></div>
              	</li>
-->              	
              	<li>
              		<div class="EmphasizedLink"><span>#{bundle['Enter_Your_Health_History']}</span></div>
               	</li>
               	<li>
               		<div class="EmphasizedLink"><span>#{bundle['Review_Your_Health_Summary']}</span></div>
                </li>
                
				<c:if test="#{patientInterface.patient.patientHistoryComplete}">
					<li class="complete">
						<div class="EmphasizedLink"><s:link view="/my_trials.xhtml" title="Click to view clinical trials">#{bundle['View_Matched_Trials']}</s:link></div>
					</li>
				</c:if>
				<c:if test="#{!patientInterface.patient.patientHistoryComplete}">
					<li>
						<div class="EmphasizedLink"><span>#{bundle['View_Matched_Trials']}</span></div>
					</li>
				</c:if>	
            </ul>
      	</div>
        <div class="dynamicSideBarMenuBox">
        	<div class="dynamicSideBarMenuBoxHeader">Other options</div>
            <ul>
            	<li>
                	<div class="EmphasizedLink"><a href="${q:getFetchURL(request.serverName, request.serverPort)}/BCTIncludes/FAQs/BCT-FAQ.html"><span>#{bundle['Making_Your_Decision']}</span></a></div>
              	</li>
                <li>
                	<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/browse_trials.seam" title="#{bundle['Browse_Our_Trials']}"><span>#{bundle['Browse_Our_Trials']}</span></a></div>
               	</li>
               	<ui:fragment rendered="#{patientInterface.loggedIn}">
					<li>
						<div class="EmphasizedLink"><s:link view="/account.xhtml" title="#{bundle['Click_to_edit_your_information']}"><span>#{bundle['My_Account']}</span></s:link></div>
					</li>
				</ui:fragment>	
                <li>
                	<div class="EmphasizedLink"><a href="${facesContext.externalContext.requestContextPath}/home.seam" title="#{bundle['Home']}"><span>#{bundle['Home']}</span></a></div>
               	</li>
          	</ul>
    	</div>
	</div>
</ui:define>
</ui:composition>
