<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/newtemplate.xhtml">

<ui:define name="title">Logged Off</ui:define>

<ui:define name="styles">
		<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/legacyStyles.css" />
</ui:define>

<ui:define name="contentLeft">
	<div class="SeparatorBlank">&nbsp;</div>
</ui:define>

<ui:define name="contentMain">
	<div class="ContentPageHeader ContentPageHeader-Alternate3">
      <h1><em>Logged Off</em></h1>
    </div>
    
    <div class="ContentFramedBox">
	<p class="instructions">
		You have been logged off the Match To Trials service because our computers did not detect any activity from you for more than sixty minutes.
		If you had not saved your information with an email address and password, your information is unavailable; 
		you can
		&#xA0;<s:link view="/terms.xhtml">re-enter the matching service</s:link>.
		If you had saved your information,
		&#xA0;<s:link view="/login.xhtml">login</s:link> to resume the service.
		<br />If you need assistance please
		&#xA0;<s:link view="/contact.xhtml">contact us</s:link>.
	</p>
	</div>
</ui:define>

</ui:composition>
