<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
				xmlns:s="http://jboss.com/products/seam/taglib"
				template="/su/template-app.xhtml">

<ui:define name="title">Patient security for #{administratorInterface.patient.principal}</ui:define>

<ui:define name="contentMain">
	<h1>Patient security for #{administratorInterface.patient.principal}</h1>
	<p class="instructions">
		After verifying the patient's secret answer, enter a new password and click "Update".
		<br /><s:link view="/su/patients.xhtml">Return to patient list</s:link>
		<br /><s:link view="/su/menu.xhtml">Return to administrator menu</s:link>
		<br /><s:button view="/su/logged_out.xhtml" title="Click to log out" value="Logout" />
	</p>
	<h:form id="update" prependId="false">
		<p>
			<strong>E-mail address:</strong> #{administratorInterface.patient.principal}<br />
			<strong>Country:</strong> #{administratorInterface.patient.countryCode}<br />
			<strong>3-digit zip code:</strong> #{administratorInterface.patient.privatePostalCode}<br />
			<strong>Secret question:</strong> #{administratorInterface.patient.secretQuestion}<br />
			<strong>Secret answer:</strong> #{administratorInterface.patient.secretAnswer}
		</p>
		<p>
			<h:outputLabel for="new_password" styleClass="savelabel">New password:</h:outputLabel>
			<h:inputText id="new_password" value="#{administratorInterface.credentials}" size="10" maxlength="20"
				required="true" requiredMessage="Please enter a new password"
				validatorMessage="The new password must be at least 6 and at most 20 characters long">
				<f:validateLength minimum="6" maximum="20" />
			</h:inputText>&#xA0;&#xA0;<span class="hinttext">between 6 and 20 characters</span>
			<h:message for="new_password" errorClass="errortext" />
		</p>
		<div class="formActions">
			<h:commandButton action="#{administratorInterface.updateUserPatientCredentials}" value="Update" />
			<h:messages globalOnly="true" errorClass="errortext" />
		</div>
	</h:form>
</ui:define>
</ui:composition>
