<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:s="http://jboss.com/products/seam/taglib"
				template="/su/template-app.xhtml">

<ui:define name="title">Patient #{administratorInterface.patient.principal} invalidated</ui:define>

<ui:define name="contentMain">
	<h1>Patient #{administratorInterface.patient.principal} invalidated</h1>
	<p class="instructions">
		The patient's email address has been invalidated.
		The patient will not receive email messages until s/he logs in and changes her/his email address.
	</p>
	<p>
		<s:link view="/su/patients.xhtml">Patient list</s:link>&#xa0;-&#xa0;
		<s:link view="/su/menu.xhtml">Home Page</s:link>
	</p>
</ui:define>
</ui:composition>
