<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:s="http://jboss.com/products/seam/taglib">
<head>
	<title><ui:insert name="title" /> - BreastCancerTrials.org</title>	
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/reset-fonts-grids/reset-fonts-grids.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/base/base-min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/js/yui/menu/assets/skins/sam/menu.css" />
	<link rel="stylesheet" type="text/css" href="${facesContext.externalContext.requestContextPath}/css/screen.css" />

	<ui:insert name="styles" />

	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/element/element-beta-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/container/container-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/yui/menu/menu-min.js"></script>
	<script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/js/bct_main.js"></script>
	<ui:insert name="javascripts" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="robots" content="all, index, follow" />
	<meta name="*" content="cache" />
	<meta name="revisit-after" content="14 days" />
	<meta name="resource-type" content="document" />
	<meta name="rating" content="general" />
	<meta name="google-site-verification" content="E9Wyjwp8ipM5nd2qKv5ru9mRuKixe0Hpykk4n3kuUC8" />
	<meta name="msvalidate.01" content="83E0B6FA18A9D68C99FBC823241CF127" />
</head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQ5KLJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&#38;l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MQ5KLJ');</script>
<!-- End Google Tag Manager -->
<div class="container">
	<a href="#contentMain" class="skipToContent" tabindex="1" accesskey="C">Skip to the Content</a>
	<a href="#firstNav" accesskey="N"></a>
	<a href="#firstSideNav" accesskey="S"></a>
	<div class="header">
		<s:link tabindex="2" view="/home.xhtml" styleClass="branding"><h:graphicImage url="/images/logo_bct.gif" alt="BreastCancerTrials.org Logo" title="BreastCancerTrials.org Logo" /></s:link>
		<a href="http://www.surveymonkey.com/s.aspx?sm=Sh_2fnDnTpc1myc8ZeQuHVyA_3d_3d" id="feedbacklink" tabindex="3" target="_survey" class="sendFeedback"><h:graphicImage url="/images/btn_improve.png" alt="Help us improve" title="Help us improve" /></a>
		<div class="navigation">
			<div id="sitemenu" class="nav yui-module yui-overlay yuimenubar visible" style="z-index: 0; position: static; display: block; visibility: visible;">
				<div class="bd">
					<ul class="first-of-type">
						<li class="yuimenubaritem-hassubmenu yuimenubaritem first-of-type"><s:link view="/about/index.xhtml" id="firstNav" tabindex="4" styleClass="yuimenubaritemlabel-hassubmenu yuimenubaritemlabel"><h:graphicImage url="/images/nav_aboutus.gif" alt="About Us" /></s:link><div class="yuimenu yui-module yui-overlay" style="z-index: 1; position: absolute; visibility: hidden;"><div class="bd"><ul>
							<li class="yuimenuitem"><s:link view="/about/message.xhtml" styleClass="yuimenuitemlabel">Message to Patients</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/story.xhtml" styleClass="yuimenuitemlabel">Our Story</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/faq.xhtml" styleClass="yuimenuitemlabel">FAQ</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/staff.xhtml" styleClass="yuimenuitemlabel">Staff &amp; Advisors</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/sponsors.xhtml" styleClass="yuimenuitemlabel">Partners &amp; Sponsors</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/network.xhtml" styleClass="yuimenuitemlabel">Research Site Network</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/contact.xhtml" styleClass="yuimenuitemlabel">Contact Us</s:link></li>
							<li class="yuimenuitem"><s:link view="/about/donate.xhtml" styleClass="yuimenuitemlabel">Donate</s:link></li>
							</ul></div></div></li>
						<li class="yuimenubaritem-hassubmenu yuimenubaritem"><s:link view="/trials/index.xhtml" tabindex="5" styleClass="yuimenubaritemlabel-hassubmenu yuimenubaritemlabel"><h:graphicImage url="/images/nav_abouttrials.gif" alt="About Clinical Trials" /></s:link><div class="yuimenu yui-module yui-overlay" style="z-index: 1; position: absolute; visibility: hidden;"><div class="bd"><ul>
							<li class="yuimenuitem"><s:link view="/trials/index.xhtml" styleClass="yuimenuitemlabel">Overview</s:link></li>
							<li class="yuimenuitem"><s:link view="/trials/types.xhtml" styleClass="yuimenuitemlabel">Understanding Clinical Trials</s:link></li>
							<li class="yuimenuitem"><s:link view="/trials/improved.xhtml" styleClass="yuimenuitemlabel">How Trials Have Improved Care</s:link></li>
							<li class="yuimenuitem"><s:link view="/trials/faq.xhtml" styleClass="yuimenuitemlabel">Clinical Trials FAQ</s:link></li>
							<li class="yuimenuitem"><s:link view="/trials/why.xhtml" styleClass="yuimenuitemlabel">Why Take Part?</s:link></li>
							<li class="yuimenuitem"><s:link view="/trials/questions.xhtml" styleClass="yuimenuitemlabel">Questions For My Doctor</s:link></li>
							<li class="yuimenuitem"><s:link view="/trials/finance.xhtml" styleClass="yuimenuitemlabel">Financial/Insurance Concerns</s:link></li>
							</ul></div></div></li>
						<li class="yuimenubaritem-hassubmenu yuimenubaritem"><s:link view="/start/index.xhtml" tabindex="6" styleClass="yuimenubaritemlabel-hassubmenu yuimenubaritemlabel"><h:graphicImage url="/images/nav_usingsite.gif" alt="Using Our Website" /></s:link><div class="yuimenu yui-module yui-overlay" style="z-index: 1; position: absolute; visibility: hidden;"><div class="bd"><ul>
							<li class="yuimenuitem"><s:link view="/start/index.xhtml" styleClass="yuimenuitemlabel">Overview</s:link></li>
							<li class="yuimenuitem"><s:link view="/start/how.xhtml" styleClass="yuimenuitemlabel">How It Works</s:link></li>
							<li class="yuimenuitem"><s:link view="/start/tool.xhtml" styleClass="yuimenuitemlabel">Use Our Matching Tool</s:link></li>
							<li class="yuimenuitem"><s:link view="/start/history.xhtml" styleClass="yuimenuitemlabel">Your Breast History</s:link></li>
							<li class="yuimenuitem"><s:link view="/start/report.xhtml" styleClass="yuimenuitemlabel">Medical Reports</s:link></li>
							<li class="yuimenuitem"><s:link view="/start/site.xhtml" styleClass="yuimenuitemlabel">What to Ask the Research Site</s:link></li>
							<li class="yuimenuitem"><s:link view="/start/decision.xhtml" styleClass="yuimenuitemlabel">Making Your Decision</s:link></li>
							</ul></div></div></li>
						<li class="yuimenubaritem-hassubmenu yuimenubaritem"><s:link view="/privacy/index.xhtml" tabindex="7" styleClass="yuimenubaritemlabel-hassubmenu yuimenubaritemlabel"><h:graphicImage url="/images/nav_privacypolicy.gif" alt="Privacy Policy" /></s:link><div class="yuimenu yui-module yui-overlay" style="z-index: 1; position: absolute; visibility: hidden;"><div class="bd"><ul>
							<li class="yuimenuitem"><s:link view="/privacy/index.xhtml" styleClass="yuimenuitemlabel">Overview</s:link></li>
							<li class="yuimenuitem"><s:link view="/privacy/faq.xhtml" styleClass="yuimenuitemlabel">Privacy Policy FAQ</s:link></li>
							<li class="yuimenuitem"><s:link view="/privacy/details.xhtml" styleClass="yuimenuitemlabel">Privacy Policy Details</s:link></li>
							</ul></div></div></li>
						<li class="yuimenubaritem-hassubmenu yuimenubaritem"><s:link view="/resources/index.xhtml" tabindex="8" styleClass="yuimenubaritemlabel-hassubmenu yuimenubaritemlabel"><h:graphicImage url="/images/nav_resources.gif" alt="Resources" /></s:link><div class="yuimenu yui-module yui-overlay" style="z-index: 1; position: absolute; visibility: hidden;"><div class="bd"><ul>
							<li class="yuimenuitem"><s:link view="/resources/dictionary.xhtml">Dictionary</s:link></li>
							<li class="yuimenuitem"><s:link view="/resources/treatments.xhtml">Commonly Used Drugs</s:link></li>
							<li class="yuimenuitem"><s:link view="/resources/links.xhtml">Links</s:link></li>
							</ul></div></div></li>
					</ul>
				</div>
			</div>      
		</div>
	</div>

	<div id="content"><ui:insert name="content" /></div>

	<div class="footer">
		<p>&#169; 2002-2011 BreastCancerTrials.org (v@BCT-NATION-VERSION@) All rights reserved.<br />
			All artwork on this site was donated by the <acronym title="University of California, San Francisco">UCSF</acronym> Art for Recovery Program</p>
	</div>
<a href="#" class="skipToContent" tabindex="20">Return to the Top</a>
</div>
</body></html>
